<div data-ng-show="!canWrite">
    <span class="status-circle" data-ng-class="{'white': model == 0, 'red': model == 1, 'yellow': model == 2, 'green': model == 3}"></span>
</div>

<div data-uib-dropdown data-ng-show="canWrite">
    <a class="btn btn-default btn-xs" data-uib-dropdown-toggle>
        <span class="status-circle" data-ng-class="{'white': model == 0, 'red': model == 1, 'yellow': model == 2, 'green': model == 3}"></span>
        <span class="status-arrow-down"></span>
    </a>
    <ul class="traffic-light" role="menu" uib-dropdown-menu>
        <li role="menuitem"><a data-ng-click="setModel(0);" class="status-circle white"></a></li>
        <li role="menuitem"><a data-ng-click="setModel(1);" class="status-circle red"></a></li>
        <li role="menuitem"><a data-ng-click="setModel(2);" class="status-circle yellow"></a></li>
        <li role="menuitem"><a data-ng-click="setModel(3);" class="status-circle green"></a></li>
    </ul>
</div>
