<h2>Profil indstillinger</h2>

<form name="profileForm" class="form-horizontal">
    <div>
        <div class="form-group">
            <label for="default-unit" class="col-md-3 control-label">
                Standard valgt enhed
            </label>
            <div class="col-md-8">
                <select id="default-unit" data-ng-model="user.defaultOrganizationUnitId" data-ng-change="patch('defaultOrganizationUnitId', user.defaultOrganizationUnitId)"
                    class="form-control" data-ng-options="orgUnit.id as orgUnit.qualifiedName for orgUnit in orgUnits">
                </select>

                <div data-ng-if="!user.isUsingDefaultOrgUnit" class="help-block text-primary">
                    <i class="glyphicon glyphicon-exclamation-sign"></i>
                    Bemærk: Du har valgt en standard enhed, som hører under en anden organisation end den, som du er logget ind i nu.
                        Så længe du er logget ind i {{user.currentOrganizationName}} anvendes enheden {{user.currentOrganizationUnitName}} som standard enhed.
                        
                </div>


            </div>
        </div>
        <div class="form-group">
            <label for="username" class="col-md-3 control-label">
                Navn
            </label>
            <div class="col-md-8">
                <input type="text" id="username" data-ng-model="user.name" class="form-control" data-ng-blur="patch('name', user.name)"/>
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-md-3 control-label">
                Efternavn
            </label>
            <div class="col-md-8">
                <input type="text" id="lastname" data-ng-model="user.lastName" class="form-control" data-ng-blur="patch('lastName', user.lastName)"/>
            </div>
        </div>
        <div class="form-group">
            <label for="phone" class="col-md-3 control-label">
                Telefon
            </label>
            <div class="col-md-8">
                <input type="text" id="phone" data-ng-model="user.phoneNumber" class="form-control" data-ng-blur="patch('phoneNumber', user.phoneNumber)" />
            </div>
        </div>
        <div class="form-group">
            <label for="usermail" class="col-md-3 control-label">
                Email
            </label>
            <div class="col-md-8">
                <input type="text" id="usermail" data-ng-model="user.email" class="form-control" data-ng-blur="patch('email', user.email)" />
            </div>
        </div>
    </div>
</form>
