<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <!-- About -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Om KITOS?</h3>
                </div>
                <div class="panel-body">
                    <textarea data-ng-model="about" class="resize-vertical" cols="56" rows="8" data-autosave="api/text/1" data-field="value" data-ng-if="user.isGlobalAdmin"></textarea>
                    <div data-ng-bind-html="about" data-ng-if="!user.isGlobalAdmin"></div>
                </div>
                <div class="panel-footer">
                    <a href="http://os2web.dk/document/kitos" target="_blank">Klik her for at læse mere</a>
                </div>
            </div>
            
            <!-- Join -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Hvordan kommer I med på løsningen?</h3>
                </div>
                <div class="panel-body">
                    <p>Vi er i &oslash;jeblikket 24 (pilot) kommuner p&aring; Kitos l&oslash;sningen.</p>
                    <p>Vi forventer at 2. b&oslash;lge af kommuner kan komme p&aring; Kitos i l&oslash;bet af januar 2015.</p>
                    <p>Hvis I er interesserede i at ibrugtage Kitos l&oslash;sningen, s&aring; er der f&oslash;lgende muligheder:</p>
                    <p>Hvis I vil have mere info om tilslutningsprocessen og Kitos l&oslash;sningen generelt:</p>
                    <ol>
                        <li>L&aelig;se mere om Kitos l&oslash;sningen <a href="http://os2web.dk/document/kitos">her</a>, her finder I ogs&aring; tilslutningsaftalen og screenshots af Kitos.</li>
                        <li>L&aelig;se tilslutningsaftalen <a href="http://os2web.dk/sites/default/files/KITOS%20tilslutningsaftale%20-%20Skabelon.pdf">her</a>.</li>
                        <li>Skriv til <a href="mailto:info@kitos.dk">info@kitos.dk</a> , med de sp&oslash;rgsm&aring;l I har omkring l&oslash;sningen.&nbsp; I kan evt. efterlade et telefonnummer vi kan kontakte jer p&aring; s&aring;fremt I &oslash;nsker at blive ringet op.</li>
                    </ol>
                    <p>Hvis I &oslash;nsker at tilslutte jer til Kitos l&oslash;sningen, s&aring; skal I g&oslash;re f&oslash;lgende:</p>
                    <ol>
                        <li>L&aelig;se tilslutningsaftalen <a href="http://os2web.dk/sites/default/files/KITOS%20tilslutningsaftale%20-%20Skabelon.pdf">her</a>.</li>
                        <li>Hvis I &oslash;nsker at tilmelde jer l&oslash;sningen, s&aring; udfyld og underskriv tilslutningsaftalen og send den til <a href="mailto:info@kitos.dk">info@kitos.dk</a> skriv evt hvorn&aring;r I &oslash;nsker jeres tilslutning skal tr&aelig;de i kraft.</li>
                        <li>Herefter vil vi tage kontakt til jer og fort&aelig;lle jer om hvad der skal ske fremover og hvordan I bedst muligt f&aring;r taget v&aelig;rkt&oslash;jet i brug i jeres kommune.</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Hjælp og vejledning til KITOS</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li><a href="/docs/Vejledning til slutbrugeren.pdf" target="_blank">Hjælp til login og brugerkonto</a></li>
                        <li><a href="/docs/vejledningerOrganisation.pdf" target="_blank">Hjælp til modulet Organisation</a></li>
                        <li><a href="/docs/vejledningerITProjekter.pdf" target="_blank">Hjælp til modulet IT Projekter</a></li>
                        <li><a href="/docs/vejledningerITSystemer.pdf" target="_blank">Hjælp til modulet IT Systemer</a></li>
                        <li><a href="/docs/vejledningerITKontrakter.pdf" target="_blank">Hjælp til modulet IT Kontrakter</a></li>
                        <li><a href="/docs/html/index.html" target="_blank">Kitos kode dokumentation</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4">
            <!-- login -->
            <div class="panel panel-default" data-ng-show="!user">
                <div class="panel-heading">
                    <h3 class="panel-title">Log ind</h3>
                </div>
                <div class="panel-body">
                    <div class="text-left col-md-10">
                        <form name="loginForm" class="form-horizontal" autocomplete="off" novalidate="novalidate">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label for="email" class="control-label">Email</label></div>
                                <div class="col-md-9">
                                    <input name="email" data-ng-model="email" type="email" class="form-control input-sm" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label for="password" class="control-label">Password</label></div>
                                <div class="col-md-9">
                                    <input name="password" data-ng-model="password" type="password" class="form-control input-sm" required>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <label class="checkbox">
                                        <input name="remember" data-ng-model="remember" type="checkbox">
                                        Log mig ikke ud
                                    </label>
                                </div>
                                <div class="col-md-3">
                                    <input type="submit" class="btn btn-default btn-sm pull-right" data-ng-click="submitLogin()" value="Log ind">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel-footer">
                    Hvis du har glemt dit password, <a data-ui-sref="forgot-password">kan du anmode om at nulstille det.</a>
                </div>
            </div>
            
            <!-- Support -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Support</h3>
                </div>
                <div class="panel-body">
                    Hvis du oplever problemer med KITOS skal du kontakte din lokale adm.
                </div>
                <div class="panel-footer">
                    <a href="/docs/LokaladministratoreroversigtKitos.pdf" target="_blank">klik her for kontaktinfo på din lokale administrator</a>
                </div>
            </div>
            
            <!-- Status -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Driftstatus</h3>
                </div>
                <div class="panel-body">
                    <textarea class="resize-vertical" data-ng-model="status" cols="56" data-autosave="api/text/2" data-field="value" data-ng-if="user.isGlobalAdmin"></textarea>
                    <div data-ng-bind-html="status" data-ng-if="!user.isGlobalAdmin"></div>
                </div>
            </div>
        </div>
    </div>
</div>
