<div class="well">
    <h4>Generelt</h4>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-5">
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Vis fanen 'IT Kontracter'
                </label>
            </div>
        </div>
    </div>
                
    <div id="contract-module-names"></div>

    <div id="contract-show-guide">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
                <div class="checkbox">
                    <label>
                        <input type="checkbox">
                        Medtag vejledning
                    </label>
                </div>
            </div>
        </div>
    </div>
                
    <div class="form-group">
        <label for="input-contract-url" class="col-sm-2 control-label">IT Kontrakt vejledning</label>
        <div class="col-sm-5">
            <input type="url" name="ItSystemGuide" class="form-control" id="input-contract-url" />
        </div>
    </div>
</div>
            
<hr>
            
<div class="well">
    <h4>Reference</h4>
    <div class="form-group">
        <label for="input-contract-ref1" class="col-sm-2 control-label">ESDH ref.</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="input-contract-ref1" />
            <p class="help-block">Ref. til ESDH system, hvor der er projektdokumenter</p>
        </div>
    </div>
                
    <div class="form-group">
        <label for="input-contract-ref3" class="col-sm-2 control-label">Mappe ref.</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="input-contract-ref3" />
            <p class="help-block">Ref. til andre steder, hvor der er projektdokumenter</p>
        </div>
    </div>
</div>

<div class="well">
    <h4>Kontrakttype</h4>
    <div id="contract-type"></div>
</div>
            
<div class="well">
    <h4>kontraktskabalon</h4>
    <div id="contract-template"></div>
</div>
            
<div class="well">
    <h4>Indkøbsform</h4>
    <div id="purchase-form"></div>
</div>
            
<div class="well">
    <h4>Overtagelsesprøver</h4>
    <div id="contract-..."></div>
</div>
            
<div class="well">
    <h4>Betalignsmodeller</h4>
    <div id="payment-model"></div>
</div>
            
<div class="well">
    <h4>Aftaleelementer</h4>
    <div id="agreement-elements"></div>
</div>