<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Presentation.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<section name="Federation" type="dk.nita.saml20.config.ConfigurationReader, kitos.dk.nita.saml20" />
		<section name="SAML20Federation" type="dk.nita.saml20.config.ConfigurationReader, kitos.dk.nita.saml20" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<add name="KitosContext" connectionString="Server=.\SQLEXPRESS;Integrated Security=true;Initial Catalog=Kitos;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="kitos_HangfireDB" connectionString="Server=.\SQLEXPRESS;Integrated Security=true;Initial Catalog=kitos_HangfireDB;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<!-- For enabling our custom membership and role providers -->
		<add key="enableSimpleMembership" value="false" />
		<add key="autoFormsAuthentication" value="false" />
		<add key="serilog:minimum-level" value="Verbose" />
		<add key="serilog:using" value="Serilog.Sinks.Elasticsearch" />
		<add key="serilog:write-to:Elasticsearch.nodeUris" value="http://localhost:9200/" />
		<!--If elasticsearch typeName is not set to _doc, the Elasticsearch 7.17.2 won't accept the request, as it will have an incorrect type-->
		<add key="serilog:write-to:Elasticsearch.typeName" value="_doc" />
		<add key="enableSerilogSelfLog" value="false" />
		<add key="SecurityKeyString" value="localNotASecret-localNotASecret-localNotASecret-localNotASecret-localNotASecret-localNotASecret-localNotASecret-localNotASecret" />
	</appSettings>
	<system.net>
		<mailSettings>
			<smtp from="noreply@kitos.dk" deliveryMethod="SpecifiedPickupDirectory">
				<specifiedPickupDirectory pickupDirectoryLocation="c:\temp\maildrop\" />
			</smtp>
		</mailSettings>
	</system.net>
	<location path="." inheritInChildApplications="false">
		<system.web>
			<!--<customErrors mode="Off"/>-->
			<compilation targetFramework="4.8" debug="true" />
			<httpRuntime targetFramework="4.8" executionTimeout="300" />
			<authentication mode="Forms">
				<forms loginUrl="~/Authorize/Login" timeout="2880" />
			</authentication>
			<!-- For enabling our custom membership and role providers -->
			<membership defaultProvider="CustomMembershipProvider">
				<providers>
					<clear />
					<add name="CustomMembershipProvider" type="Presentation.Web.Infrastructure.CustomMembershipProvider" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="1" applicationName="/" />
				</providers>
			</membership>
			<profile>
				<providers>
					<clear />
					<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
				</providers>
			</profile>
			<roleManager enabled="true" defaultProvider="CustomRoleProvider">
				<providers>
					<clear />
					<add name="CustomRoleProvider" type="Presentation.Web.Infrastructure.CustomRoleProvider" />
				</providers>
			</roleManager>
			<pages>
				<namespaces>
					<add namespace="System.Web.Helpers" />
					<add namespace="System.Web.Mvc" />
					<add namespace="System.Web.Mvc.Ajax" />
					<add namespace="System.Web.Mvc.Html" />
					<add namespace="System.Web.Routing" />
					<add namespace="System.Web.WebPages" />
				</namespaces>
			</pages>
		</system.web>
		<system.webServer>
			<modules runAllManagedModulesForAllRequests="true" />
			<!-- Removes "Resource interpreted as Font but transferred with MIME type application/x-font-woff"-nonsense from browser console -->
			<staticContent>
				<remove fileExtension=".woff" />
				<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
				<remove fileExtension=".woff2" />
				<mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
			</staticContent>
			<validation validateIntegratedModeConfiguration="false" />
			<handlers>
				<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
				<remove name="OPTIONSVerbHandler" />
				<remove name="TRACEVerbHandler" />
				<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			</handlers>
			<security>
				<requestFiltering allowDoubleEscaping="true" />
			</security>
			<httpProtocol>
				<customHeaders>
					<add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
					<add name="X-Frame-Options" value="SAMEORIGIN" />
					<add name="X-Content-Type-Options" value="nosniff" />
					<add name="Content-Security-Policy" value="default-src 'self'; style-src 'self' 'unsafe-inline' https://kendo.cdn.telerik.com; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://kendo.cdn.telerik.com https://code.jquery.com; font-src 'self' https://kendo.cdn.telerik.com; img-src 'self' https://kendo.cdn.telerik.com data:; " />
					<add name="Referrer-Policy" value="strict-origin" />
					<add name="X-XSS-Protection" value="1; mode=block" />
				</customHeaders>
			</httpProtocol>
			<rewrite>
				<rules>
					<rule name="RedirectWwwToNonWww" stopProcessing="true">
						<match url=".*" />
						<conditions>
							<add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
						</conditions>
						<action type="Redirect" url="https://{C:2}{REQUEST_URI}" redirectType="Permanent" />
					</rule>
				</rules>
				<outboundRules>
					<clear />
					<rule name="Add SameSite Strict" preCondition="SameSite Strict">
						<match serverVariable="RESPONSE_Set_Cookie" pattern=".*" negate="false" />
						<action type="Rewrite" value="{R:0}; SameSite=strict" />
					</rule>
					<rule name="Add SameSite Lax" preCondition="SameSite Lax">
						<match serverVariable="RESPONSE_Set_Cookie" pattern=".*" negate="false" />
						<action type="Rewrite" value="{R:0}; SameSite=lax" />
					</rule>
					<rule name="SameSite Exception" preCondition="OIOSAML cookie">
						<match serverVariable="RESPONSE_Set_Cookie" pattern=".*" negate="false" />
						<action type="Rewrite" value="{R:0}; SameSite=none" />
					</rule>
					<preConditions>
						<preCondition name="SameSite Strict">
							<add input="{RESPONSE_Set_Cookie}" pattern="^.ASPXAUTH" />
							<add input="{RESPONSE_Set_Cookie}" pattern="^XSRF-TOKEN" />
							<add input="{RESPONSE_Set_Cookie}" pattern="; SameSite=strict" negate="true" />
						</preCondition>
						<preCondition name="SameSite Lax">
							<add input="{RESPONSE_Set_Cookie}" pattern="^oiosaml" negate="true" />
							<add input="{RESPONSE_Set_Cookie}" pattern="; SameSite=lax" negate="true" />
						</preCondition>
						<preCondition name="OIOSAML cookie">
							<add input="{RESPONSE_Set_Cookie}" pattern="^oiosaml" />
						</preCondition>
					</preConditions>
				</outboundRules>
			</rewrite>
		</system.webServer>
	</location>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.12.2.0" newVersion="7.12.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.12.2.0" newVersion="7.12.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.12.2.0" newVersion="7.12.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.6.0" newVersion="3.3.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.22.0.0" newVersion="6.22.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.22.0.0" newVersion="6.22.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNet.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.5.14.0" newVersion="7.5.14.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.22.0.0" newVersion="6.22.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.JsonWebTokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.22.0.0" newVersion="6.22.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Serilog.Sinks.File" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<applicationSettings>
		<Presentation.Web.Properties.Settings>
   <setting name="ResetPasswordTTL" serializeAs="String">
    <value>10.00:00:00</value>
   </setting>
   <setting name="BaseUrl" serializeAs="String">
    <value>https://localhost:44300/</value>
   </setting>
   <setting name="MailSuffix" serializeAs="String">
    <value>(i dev)</value>
   </setting>
   <setting name="Environment" serializeAs="String">
    <value>Dev</value>
   </setting>
   <setting name="DeploymentVersion" serializeAs="String">
    <value>unknown</value>
   </setting>
   <setting name="DefaultUserPassword" serializeAs="String">
    <value>arne123</value>
   </setting>
   <setting name="UseDefaultPassword" serializeAs="String">
    <value>true</value>
   </setting>
   <setting name="SsoCertificateThumbprint" serializeAs="String">
    <value>5a96f4868fb67ef4829a91588a0cf0de4d2290ea</value>
   </setting>
   <setting name="SsoServiceProviderId" serializeAs="String">
    <value>https://kitos-local.strongminds.dk</value>
   </setting>
   <setting name="StsIssuer" serializeAs="String">
    <value>https://n2adgangsstyring.eksterntest-stoettesystemerne.dk/</value>
   </setting>
   <setting name="StsCertificateEndpoint" serializeAs="String">
    <value>https://n2adgangsstyring.eksterntest-stoettesystemerne.dk/runtime/services/kombittrust/14/certificatemixed</value>
   </setting>
   <setting name="StsOrganisationEndpointHost" serializeAs="String">
    <value>exttest-stoettesystemerne.dk</value>
   </setting>
   <setting name="ServiceCertificateAliasOrg" serializeAs="String">
    <value>ORG_EXTTEST_Organisation_1</value>
   </setting>
   <setting name="StsCertificateAlias" serializeAs="String">
    <value>ADG_EXTTEST_Adgangsstyring_1</value>
   </setting>
   <setting name="StsCertificateThumbprint" serializeAs="String">
    <value>0aa7a193f18d095f7e2ce09d892178c9682b7924</value>
   </setting>
   <setting name="OrgService6EntityId" serializeAs="String">
    <value>http://stoettesystemerne.dk/service/organisation/3</value>
   </setting>
   <setting name="StsVirksomhedPort" serializeAs="String">
    <value>https://organisation.eksterntest-stoettesystemerne.dk/organisation/virksomhed/6</value>
   </setting>
   <setting name="StsOrganisationPort" serializeAs="String">
    <value>https://organisation.eksterntest-stoettesystemerne.dk/organisation/organisation/6</value>
   </setting>
   <setting name="StsOrganisationSystemPort" serializeAs="String">
    <value>https://organisation.eksterntest-stoettesystemerne.dk/organisation/organisationsystem/6</value>
   </setting>
   <setting name="StsOrganisationCertificateThumbprint" serializeAs="String">
    <value>2c34be56b35d993160df525c36146336ea2b2801</value>
   </setting>
   <setting name="StsAdressePort" serializeAs="String">
    <value>https://organisation.eksterntest-stoettesystemerne.dk/organisation/adresse/6</value>
   </setting>
   <setting name="StsBrugerPort" serializeAs="String">
    <value>https://organisation.eksterntest-stoettesystemerne.dk/organisation/bruger/6</value>
   </setting>
   <setting name="StsPersonPort" serializeAs="String">
    <value>https://organisation.eksterntest-stoettesystemerne.dk/organisation/person/6</value>
   </setting>
   <setting name="PubSubBaseUrl" serializeAs="String">
    <value>https://localhost/</value>
   </setting>
  </Presentation.Web.Properties.Settings>
	</applicationSettings>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
				<listeners>
					<add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\Temp\Traces.svclog" />
				</listeners>
			</source>
		</sources>
		<trace autoflush="true">
			<listeners>
				<add name="SerilogTrace" type="Presentation.Web.Infrastructure.Tracelistener.SerilogTraceListener, Presentation.Web" />
				<remove name="Default" />
			</listeners>
		</trace>
	</system.diagnostics>
	<system.serviceModel>
		<extensions>
			<bindingExtensions>
				<add name="SoapBinding" type="Digst.OioIdws.Soap.Bindings.SoapBindingCollectionElement, Digst.OioIdws.Soap" />
			</bindingExtensions>
			<behaviorExtensions>
				<add name="SoapBehavior" type="Digst.OioIdws.Soap.Behaviors.SoapClientBehaviorExtensionElement, Digst.OioIdws.Soap" />
				<add name="MessageInspectorBehaviorExtension" type="Digst.OioIdws.Soap.Behaviors.ClientMessageInspectorBehavior, Digst.OioIdws.Soap" />
			</behaviorExtensions>
		</extensions>
		<behaviors>
			<endpointBehaviors>
				<behavior name="SoapBehaviourConfiguration">
					<clientCredentials>
						<serviceCertificate>
							<!--ORG_EXTTEST certificate-->
							<defaultCertificate findValue="2c34be56b35d993160df525c36146336ea2b2801" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />
						</serviceCertificate>
					</clientCredentials>
					<MessageInspectorBehaviorExtension />
					<!--Endpoints can only point to a single behaviour configuration. Hence, we need to include the SoapBehavior in a existing behavior-->
					<SoapBehavior />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
			<SoapBinding>
				<!-- The binding configuration is used to set the maxReceivedMessageSize. The maxReceivedMessageSize is set to 28MB, which is the maximum size of a SOAP message.-->
				<binding name="SoapBindingConfiguration" useHttps="true" maxReceivedMessageSize="29360128">
				</binding>
			</SoapBinding>
		</bindings>
		<!--Add your endpoints below 
         Simply copy another endpoint and change address, contract and name-->
		<client>
			<endpoint address="https://organisation.eksterntest-stoettesystemerne.dk/organisation/bruger/6" behaviorConfiguration="SoapBehaviourConfiguration" binding="SoapBinding" bindingConfiguration="SoapBindingConfiguration" contract="Kombit.InfrastructureSamples.BrugerService.BrugerPortType" name="BrugerPort" />
			<endpoint address="https://organisation.eksterntest-stoettesystemerne.dk/organisation/adresse/6" behaviorConfiguration="SoapBehaviourConfiguration" binding="SoapBinding" bindingConfiguration="SoapBindingConfiguration" contract="Kombit.InfrastructureSamples.AdresseService.AdressePortType" name="AdressePort" />
			<endpoint address="https://organisation.eksterntest-stoettesystemerne.dk/organisation/person/6" behaviorConfiguration="SoapBehaviourConfiguration" binding="SoapBinding" bindingConfiguration="SoapBindingConfiguration" contract="Kombit.InfrastructureSamples.PersonService.PersonPortType" name="PersonPort" />
			<endpoint address="https://organisation.eksterntest-stoettesystemerne.dk/organisation/virksomhed/6" behaviorConfiguration="SoapBehaviourConfiguration" binding="SoapBinding" bindingConfiguration="SoapBindingConfiguration" contract="Kombit.InfrastructureSamples.VirksomhedService.VirksomhedPortType" name="VirksomhedPort" />
			<endpoint address="https://organisation.eksterntest-stoettesystemerne.dk/organisation/organisation/6" behaviorConfiguration="SoapBehaviourConfiguration" binding="SoapBinding" bindingConfiguration="SoapBindingConfiguration" contract="Kombit.InfrastructureSamples.OrganisationService.OrganisationPortType" name="OrganisationPort" />
			<endpoint address="https://organisation.eksterntest-stoettesystemerne.dk/organisation/organisationsystem/6" behaviorConfiguration="SoapBehaviourConfiguration" binding="SoapBinding" bindingConfiguration="SoapBindingConfiguration" contract="Kombit.InfrastructureSamples.OrganisationSystemService.OrganisationSystemPortType" name="OrganisationSystemPort" />
		</client>
		<diagnostics>
			<messageLogging logEntireMessage="true" logMalformedMessages="true" logKnownPii="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="2147483647" maxSizeOfMessageToLog="2147483647" />
		</diagnostics>
	</system.serviceModel>
	<Federation sessionType="dk.nita.saml20.Session.InProcSessionStoreProvider, kitos.dk.nita.saml20" xmlns="urn:dk.nita.saml20.configuration">
		<SessionTimeout>30</SessionTimeout>
		<PreventOpenRedirectAttack>true</PreventOpenRedirectAttack>
		<SigningCertificates>
			<SigningCertificate findValue="5a96f4868fb67ef4829a91588a0cf0de4d2290ea" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />
		</SigningCertificates>
		<MetaDataShaHashingAlgorithm>SHA256</MetaDataShaHashingAlgorithm>
		<AllowedAudienceUris>
			<Audience>https://kitos-local.strongminds.dk</Audience>
		</AllowedAudienceUris>
		<Actions>
			<clear />
			<add name="SetSamlPrincipal" type="dk.nita.saml20.Actions.SamlPrincipalAction, kitos.dk.nita.saml20 " />
			<add name="Redirect" type="dk.nita.saml20.Actions.RedirectAction, kitos.dk.nita.saml20" />
		</Actions>
	</Federation>
	<SAML20Federation xmlns="urn:dk.nita.saml20.configuration" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata">
		<MinimumAssuranceLevel>2</MinimumAssuranceLevel>
		<AllowAssuranceLevel>true</AllowAssuranceLevel>
		<ShowError>true</ShowError>
		<ServiceProvider id="https://kitos-local.strongminds.dk" server="https://localhost:44300">
			<ServiceEndpoint localpath="Login.ashx" type="signon" redirectUrl="SSO" index="0" />
			<ServiceEndpoint localpath="Logout.ashx" type="logout" redirectUrl="SSO" index="1" />
			<ServiceEndpoint localpath="Logout.ashx" type="soaplogout" errorBehaviour="throwexception" />
			<ServiceEndpoint localpath="Metadata.ashx" type="metadata" />
			<md:ContactPerson contactType="administrative">
				<md:Company>STRONGMINDS</md:Company>
				<md:EmailAddress>admin@strongminds.dk</md:EmailAddress>
			</md:ContactPerson>
		</ServiceProvider>
		<RequestedAttributes>
			<att name="urn:oid:0.9.2342.19200300.100.1.1" isRequired="true" />
			<!--sAMAcountName, AD username-->
		</RequestedAttributes>
		<NameIdFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:X509SubjectName</NameIdFormat>
		<IDPEndPoints metadata="idp-metadata">
			<add id="https://saml.n2adgangsstyring.eksterntest-stoettesystemerne.dk" ShaHashingAlgorithm="SHA256" default="true" />
		</IDPEndPoints>
		<CommonDomain enabled="false" localReaderEndpoint="https://pfs04/demo/cdcreader.ashx" />
	</SAML20Federation>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->

</configuration>