<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Presentation.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="Federation" type="dk.nita.saml20.config.ConfigurationReader, dk.nita.saml20" />
    <section name="SAML20Federation" type="dk.nita.saml20.config.ConfigurationReader, dk.nita.saml20"/>
  </configSections>
  <connectionStrings>
    <add name="KitosContext" connectionString="Server=.\SQLEXPRESS;Integrated Security=true;Initial Catalog=Kitos;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="kitos_HangfireDB" connectionString="Server=.\SQLEXPRESS;Integrated Security=true;Initial Catalog=kitos_HangfireDB;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- For enabling our custom membership and role providers -->
    <add key="enableSimpleMembership" value="false" />
    <add key="autoFormsAuthentication" value="false" />
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="C:\Logs\Kitos-{Date}.txt" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />
    <add key="serilog:using" value="Serilog.Sinks.Elasticsearch" />
    <add key="serilog:write-to:Elasticsearch.nodeUris" value="http://localhost:9200/" />
    <add key="SSOGateway" value="http://todo.sso.kitos.dk" />
    <add key="SSOAudience" value="kitos_client" />
    <add key="SecurityKeyString" value="localNotASecret-localNotASecret-localNotASecret-localNotASecret-localNotASecret-localNotASecret-localNotASecret-localNotASecret" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="noreply@kitos.dk" deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\temp\maildrop\" />
      </smtp>
    </mailSettings>
  </system.net>
  <location path="." inheritInChildApplications="false">
    <system.web>
      <!--<customErrors mode="Off"/>-->
      <compilation targetFramework="4.6.1" debug="true" />
      <httpRuntime targetFramework="4.5" />
      <authentication mode="Forms">
        <forms loginUrl="~/Authorize/Login" timeout="2880" />
      </authentication>
      <!-- For enabling our custom membership and role providers -->
      <membership defaultProvider="CustomMembershipProvider">
        <providers>
          <clear />
          <add name="CustomMembershipProvider" type="Presentation.Web.Infrastructure.CustomMembershipProvider" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="1" applicationName="/" />
        </providers>
      </membership>
      <profile>
        <providers>
          <clear />
          <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
        </providers>
      </profile>
      <roleManager enabled="true" defaultProvider="CustomRoleProvider">
        <providers>
          <clear />
          <add name="CustomRoleProvider" type="Presentation.Web.Infrastructure.CustomRoleProvider" />
        </providers>
      </roleManager>
      <pages>
        <namespaces>
          <add namespace="System.Web.Helpers" />
          <add namespace="System.Web.Mvc" />
          <add namespace="System.Web.Mvc.Ajax" />
          <add namespace="System.Web.Mvc.Html" />
          <add namespace="System.Web.Routing" />
          <add namespace="System.Web.WebPages" />
        </namespaces>
      </pages>
    </system.web>
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true"></modules>
      <!-- Removes "Resource interpreted as Font but transferred with MIME type application/x-font-woff"-nonsense from browser console -->
      <staticContent>
        <remove fileExtension=".woff" />
        <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
        <remove fileExtension=".woff2" />
        <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
      </staticContent>
      <validation validateIntegratedModeConfiguration="false" />
      <handlers>
        <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
        <remove name="OPTIONSVerbHandler" />
        <remove name="TRACEVerbHandler" />
        <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      </handlers>
      <security>
        <requestFiltering allowDoubleEscaping="true" />
      </security>
      <httpProtocol>
        <customHeaders>
          <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
          <add name="X-Frame-Options" value="SAMEORIGIN" />
          <add name="X-Content-Type-Options" value="nosniff" />
          <add name="Content-Security-Policy" value="default-src 'self'; style-src 'self' 'unsafe-inline' https://kendo.cdn.telerik.com; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://kendo.cdn.telerik.com https://code.jquery.com; font-src 'self' https://kendo.cdn.telerik.com; img-src 'self' data:; " />
          <add name="Referrer-Policy" value="strict-origin" />
          <add name="X-XSS-Protection" value="1; mode=block" />
        </customHeaders>
      </httpProtocol>
      <rewrite>
        <outboundRules>
          <clear />
          <rule name="Add SameSite" preCondition="No SameSite">
            <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" negate="false" />
            <action type="Rewrite" value="{R:0}; SameSite=strict" />
          </rule>
          <rule name="SameSite Exception" preCondition="OIOSAML cookie">
            <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" negate="false" />
            <action type="Rewrite" value="{R:0}; SameSite=none" />
          </rule>
          <preConditions>
            <preCondition name="No SameSite">
              <add input="{RESPONSE_Set_Cookie}" pattern="." />
              <add input="{RESPONSE_Set_Cookie}" pattern="; SameSite=strict" negate="true" />
            </preCondition>
            <preCondition name="OIOSAML cookie">
              <add input="{RESPONSE_Set_Cookie}" pattern="^oiosaml"/>
            </preCondition>
          </preConditions>
        </outboundRules>
      </rewrite>
    </system.webServer>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.5.0.20627" newVersion="7.5.0.20627" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.5.0.20627" newVersion="7.5.0.20627" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.5.0.20627" newVersion="7.5.0.20627" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.28" newVersion="4.0.2.28" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <Presentation.Web.Properties.Settings>
      <setting name="ResetPasswordTTL" serializeAs="String">
        <value>10.00:00:00</value>
      </setting>
      <setting name="BaseUrl" serializeAs="String">
        <value>https://localhost:44300/</value>
      </setting>
      <setting name="MailSuffix" serializeAs="String">
        <value>(i dev)</value>
      </setting>
      <setting name="Environment" serializeAs="String">
        <value>Dev</value>
      </setting>
      <setting name="DeploymentVersion" serializeAs="String">
        <value>unknown</value>
      </setting>
      <setting name="DefaultUserPassword" serializeAs="String">
        <value>arne123</value>
      </setting>
      <setting name="UseDefaultPassword" serializeAs="String">
        <value>true</value>
      </setting>
    </Presentation.Web.Properties.Settings>
  </applicationSettings>
  <!--<system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="SerilogTrace" type="Presentation.Web.Infrastructure.Tracelistener.SerilogTraceListener, Presentation.Web" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>-->
  <Federation xmlns="urn:dk.nita.saml20.configuration" sessionType="dk.nita.saml20.Session.InProcSessionStoreProvider, dk.nita.saml20">
    <SessionTimeout>30</SessionTimeout>
    <PreventOpenRedirectAttack>true</PreventOpenRedirectAttack>
    <SigningCertificate findValue="1793d097f45b0acea258f7fe18d5a4155799da26" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
    <MetaDataShaHashingAlgorithm>SHA256</MetaDataShaHashingAlgorithm>
    <AllowedAudienceUris>
      <Audience>https://kitos-local.strongminds.dk</Audience>
    </AllowedAudienceUris>
    <Actions>
      <clear/>
      <add name="SetSamlPrincipal" type="dk.nita.saml20.Actions.SamlPrincipalAction, dk.nita.saml20 "/>
      <add name="Redirect" type="dk.nita.saml20.Actions.RedirectAction, dk.nita.saml20"/>
    </Actions>
  </Federation>
  <SAML20Federation xmlns="urn:dk.nita.saml20.configuration" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata">
    <MinimumAssuranceLevel>2</MinimumAssuranceLevel>
    <ShowError>true</ShowError>
    <ServiceProvider id="https://kitos-local.strongminds.dk" server="https://localhost:44300">
      <ServiceEndpoint localpath="Login.ashx" type="signon" redirectUrl="SSO" index="0"/>
      <ServiceEndpoint localpath="Logout.ashx" type="logout" redirectUrl="SSO" index="1"/>
      <ServiceEndpoint localpath="Logout.ashx" type="soaplogout" errorBehaviour="throwexception"/>
      <ServiceEndpoint localpath="Metadata.ashx" type="metadata"/>
      <md:ContactPerson contactType="administrative">
        <md:Company>STRONGMINDS</md:Company>
        <md:EmailAddress>admin@strongminds.dk</md:EmailAddress>
      </md:ContactPerson>
    </ServiceProvider>
    <RequestedAttributes>
      <att name="urn:oid:0.9.2342.19200300.100.1.1" isRequired="true"/>
      <!--sAMAcountName, AD username-->
    </RequestedAttributes>
    <NameIdFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:X509SubjectName</NameIdFormat>
    <IDPEndPoints metadata="idp-metadata">
      <add id="https://saml.adgangsstyring.eksterntest-stoettesystemerne.dk" ShaHashingAlgorithm="SHA256" default="true"/>
    </IDPEndPoints>
    <CommonDomain enabled="false" localReaderEndpoint="https://pfs04/demo/cdcreader.ashx"/>
  </SAML20Federation>
</configuration>
