<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an atrribute "name" that has a value of "MyDB".
  -->
  <connectionStrings>
    <add name="KitosContext"
      connectionString="Server=10.7.4.93\SQLEXPRESS;User ID=kitos;Password=kitos;Initial Catalog=kitos;MultipleActiveResultSets=True"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="kitos_HangfireDB"
      connectionString="Server=10.7.4.93\SQLEXPRESS;User ID=kitos;Password=kitos;Initial Catalog=kitos_HangfireDB;MultipleActiveResultSets=True"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="serilog:write-to:Elasticsearch.nodeUris" value="http://10.7.4.164:9200/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
    <!-- 20190801 MHS Temporarely Pointing at TEST LOG server, since we're only deploying Release configurations at the momement-->
    <add key="serilog:write-to:Elasticsearch.nodeUris" value="http://10.7.24.131:9200/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp from="kitostest@miracle.dk" deliveryMethod="Network">
        <!--
          defaultCredentials="false" sendes mails as anonymous
          enableSsl="false" disables TSL
          Both of these are required
        -->
        <network host="10.7.99.80" defaultCredentials="false" enableSsl="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <applicationSettings>
    <Presentation.Web.Properties.Settings>
      <setting name="BaseUrl" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>https://kitostest.miracle.dk/</value>
      </setting>
      <setting name="MailSuffix" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>(i testmiljøet)</value>
      </setting>
      <setting name="Environment" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>Test</value>
      </setting>
    </Presentation.Web.Properties.Settings>
  </applicationSettings>
</configuration>
