<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="KitosContext"
      connectionString="Server=localhost;Database=kitos;Uid=root;Pwd=Password12!;Convert Zero Datetime=True;AllowUserVariables=True;"
      providerName="MySql.Data.MySqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <entityFramework>
    <contexts xdt:Transform="Insert">
      <context type="Infrastructure.DataAccess.KitosContext, Infrastructure.DataAccess">
        <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[Infrastructure.DataAccess.KitosContext, Infrastructure.DataAccess], [Infrastructure.DataAccess.Migrations.Configuration, Infrastructure.DataAccess]], EntityFramework" />
      </context>
    </contexts>
  </entityFramework>
</configuration>
