<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="Person">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://kombit.dk/sts/organisation/person"
                binding="customBinding" bindingConfiguration="Person" contract="Kombit.InfrastructureSamples.PersonService.PersonPortType"
                name="Person" />
        </client>
    </system.serviceModel>
</configuration>