<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="OrganisationSystem">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://kombit.dk/sts/organisation/organisationssystem"
                binding="customBinding" bindingConfiguration="OrganisationSystem"
                contract="Kombit.InfrastructureSamples.OrganisationSystemService.OrganisationSystemPortType"
                name="OrganisationSystem" />
        </client>
    </system.serviceModel>
</configuration>