<div class="object-section-container">
    <h4>{{projectEditVm.project.name}}</h4>
    <div class="panel panel-default">
        <div class="row">
            <div class="col-xs-12">
                <form role="form">
                    <div class="form-group">
                        <label for="description">Beskriv hvordan/hvad der gælder ifm. overlevering af dette projekt</label>
                        <textarea id="description"
                                  class="form-control input-sm"
                                  data-ng-disabled="!projectEditVm.hasWriteAccess"
                                  data-ng-model="handover.description"
                                  data-autosave="{{autosaveUrl}}"
                                  data-field="description"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="meeting">Overleveringsmøde afholdt den</label>
                        <input type="text" id="meeting" class="form-control"
                               data-kendo-date-picker
                               data-k-options="datepickerOptions"
                               data-ng-disabled="!projectEditVm.hasWriteAccess"
                               data-ng-model="handover.meetingDate"
                               data-autosave="{{autosaveUrl}}"
                               data-field="meetingDate">
                    </div>

                    <div class="form-group">
                        <label for="agreement-elements">Deltagere</label>
                        <select2-multiple-option data-id="participants"
                                                 data-placeholder="Vælg deltagere"
                                                 data-selected="selectedUsers"
                                                 data-ng-disabled="!projectEditVm.hasWriteAccess"
                                                 data-ng-model="participants"
                                                 data-options="availableUsers">
                        </select2-multiple-option>
                    </div>

                    <div class="form-group">
                        <label for="summary">Resume af hvad der er aftalt ifm. overleveringsmødet</label>
                        <textarea id="summary"
                                  class="form-control input-sm"
                                  data-ng-model="handover.summary"
                                  data-ng-disabled="!projectEditVm.hasWriteAccess"
                                  data-autosave="{{autosaveUrl}}" data-field="summary"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>