<div class="object-section-container">
    <h4>{{projectEditVm.project.name}}</h4>
    <div class="panel-default">
        <div class="panel-heading">
            <div class="panel-title">Projektet knytter an til</div>
        </div>
        <div class="panel-body">
            <form role="form">
                <div class="form-group">
                    <label for="jointDrop" class="control-label">Fælleskommunel digitaliseringsstrategi</label>
                    <select-simple data-id="jointDrop"
                                   data-placeholder="Vælg fælleskommunel projekt"
                                   data-options="jointMunicipalProjects"
                                   data-ng-model="jointMunicipalProjectId"
                                   data-function="savejoint"
                                   data-ng-disabled="!projectEditVm.hasWriteAccess">
                    </select-simple>
                </div>
                <div class="form-group">
                    <label for="commonDrop" class="control-label">Fællesoffentlig digitaliseringsstrategi</label>
                    <select-simple data-id="commonDrop"
                                   data-placeholder="Vælg fællesoffentlig projekt"
                                   data-options="commonPublicProjects"
                                   data-ng-model="commonPublicProjectId"
                                   data-function="savecommon"
                                   data-ng-disabled="!projectEditVm.hasWriteAccess">
                    </select-simple>
                </div>
            </form>
        </div>
    </div>
</div>