<div class="clearfix">
    <div class="form-group pull-right">
        <help-text data-key="it_project_strategy" data-default-title="IT system - Strategy"></help-text>
    </div>
</div>

<div class="object-section-container">
    <h4>{{projectEditVm.project.name}}</h4>
    <div class="panel-default">
        <div class="panel-heading">
            <div class="panel-title">Projektet knytter an til</div>
        </div>
        <div class="panel-body">
            <form role="form">

                <div class="form-group">
                    <label for="jointDrop" class="control-label">Fælleskommunel digitaliseringsstrategi</label>
                    <select id="jointDrop" class="form-control input-sm"
                            data-ui-select2="Options"
                            data-placeholder="Vælg fælleskommunel projekt"
                            data-ng-disabled="!projectEditVm.hasWriteAccess"
                            data-ng-model="jointMunicipalProjectId"
                            data-ng-change="savejoint()">
                        <option value=""></option>
                        <option data-ng-repeat="jointMunicipalProject in jointMunicipalProjects" value="{{jointMunicipalProject.id}}">{{jointMunicipalProject.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="commonDrop" class="control-label">Fællesoffentlig digitaliseringsstrategi</label>
                    <select class="form-control input-sm" id="commonDrop"
                            data-ui-select2="Options"
                            data-placeholder="Vælg fællesoffentlig projekt"
                            data-ng-model="commonPublicProjectId"
                            data-ng-change="savecommon()"
                            data-ng-disabled="!projectEditVm.hasWriteAccess">
                        <option value=""></option>
                        <option data-ng-repeat="commonPublicProject in commonPublicProjects" value="{{commonPublicProject.id}}">{{commonPublicProject.name}}</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>