<div class="clearfix">
    <div class="form-group pull-right">
        <help-text data-key="it_project_description" data-default-title="IT system - Projektbeskrivelse"></help-text>
    </div>
</div>

<div class="object-section-container">
    <h4>Projektbeskrivelse</h4>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <textarea rows="6"
                      class="form-control"
                      data-ng-model="projectDescriptionVm.project.description"
                      data-autosave="api/itproject/{{projectDescriptionVm.project.id}}"
                      data-field="description"
                      data-ng-disabled="!projectEditVm.hasWriteAccess"></textarea>
            </div>
        </div>
    </div>
</div>