<div class="modal-header">
    Mål: {{ goal.name }}
</div>
<form name="goalForm" class="form-horizontal" data-ng-submit="save()">
    <div class="modal-body">
        <div class="form-group">
            <!-- Name -->
            <label for="name" class="col-xs-2 control-label small">
                Målnavn:
            </label>
            <div class="col-xs-6">
                <input type="text" id="name" class="form-control input-sm"
                       data-ng-model="goal.name"
                       autofocus>
            </div>

            <!-- Human readable ID -->
            <label for="humanReadableId" class="col-xs-1 control-label small">
                ID:
            </label>
            <div class="col-xs-3">
                <input type="text" id="humanReadableId" class="form-control input-sm"
                       data-ng-model="goal.humanReadableId">
            </div>
        </div>

        <div class="form-group">
            <!-- Goal type -->
            <label for="type" class="col-xs-2 control-label small">
                Type:
            </label>
            <div class="col-xs-4">
                <select2-option data-id="goal-type"
                                data-options="goalTypes"
                                data-ng-model="goalType"
                                data-placeholder="Vælg type"
                                data-required="true">
                </select2-option>
            </div>

            <!-- Measurable -->
            <div class="col-xs-2">
                <label class="checkbox checkbox-inline">
                    <input type="checkbox" id="measurable"
                           data-ng-model="goal.measurable">
                    <strong>Målbart</strong>
                </label>
            </div>

            <!-- Status traffic light -->
            <label class="control-label col-xs-1">
                Status:
            </label>
            <div class="col-xs-3">
                <span id="statusGoal"
                      data-select-status2=""
                      data-ng-model="goal.status"
                      data-can-write="true">
                </span>
            </div>
        </div>

        <div class="form-group">
            <!-- Description -->
            <label for="description" class="col-xs-2 control-label small">
                Beskrivelse
            </label>
            <div class="col-xs-10">
                <textarea id="description" class="form-control input-sm" rows="4"
                          data-ng-model="goal.description"></textarea>
            </div>
        </div>

        <!-- sub goal 1 -->
        <div class="well well-sm">
            <p>Delmål 1</p>

            <div class="form-group">
                <label for="subGoalDate1" class="col-xs-1 control-label small">Dato</label>
                <div class="col-xs-3">
                    <input type="text" class="form-control" id="subGoalDate1" 
                           data-kendo-date-picker
                           ng-blur="checkDate('subGoalDate1', goal.subGoalDate1)"
                           data-k-options="datepickerOptions"
                           data-ng-model="goal.subGoalDate1">
                </div>
                <label for="subGoal1" class="col-xs-1 control-label small">Mål</label>
                <div class="col-xs-3">
                    <input type="text" class="form-control input-sm" id="subGoal1"
                           data-ng-model="goal.subGoal1">
                </div>

                <label for="subGoalRea1" class="col-xs-1 control-label small">Rea</label>
                <div class="col-xs-3">
                    <input type="text" class="form-control input-sm" id="subGoalRea1"
                           data-ng-model="goal.subGoalRea1">
                </div>
            </div>
        </div>

        <!-- sub goal 2 -->
        <div class="well well-sm">
            <p>Delmål 2</p>

            <div class="form-group">
                <label for="subGoalDate2" class="col-xs-1 control-label small">Dato</label>
                <div class="col-xs-3">
                    <input type="text" class="form-control" id="subGoalDate2" 
                           ng-blur="checkDate('subGoalDate2', goal.subGoalDate2)"
                           data-kendo-date-picker
                           data-k-options="datepickerOptions"
                           data-ng-model="goal.subGoalDate2">
                </div>
                <label for="subGoal2" class="col-xs-1 control-label small">Mål</label>
                <div class="col-xs-3">
                    <input type="text" class="form-control input-sm" id="subGoal2"
                           data-ng-model="goal.subGoal2">
                </div>

                <label for="subGoalRea2" class="col-xs-1 control-label small">Rea</label>
                <div class="col-xs-3">
                    <input type="text" class="form-control input-sm" id="subGoalRea2"
                           data-ng-model="goal.subGoalRea2">
                </div>
            </div>
        </div>

        <!-- sub goal 3 -->
        <div class="well well-sm">
            <p>Delmål 3</p>

            <div class="form-group">
                <label for="subGoalDate3" class="col-xs-1 control-label small">Dato</label>
                <div class="col-xs-3">
                    <input type="text" class="form-control" id="subGoalDate3" 
                           ng-blur="checkDate('subGoalDate3', goal.subGoalDate3)"
                           data-kendo-date-picker
                           data-k-options="datepickerOptions"
                           data-ng-model="goal.subGoalDate3">
                </div>
                <label for="subGoal3" class="col-xs-1 control-label small">Mål</label>
                <div class="col-xs-3">
                    <input type="text" class="form-control input-sm" id="subGoal3"
                           data-ng-model="goal.subGoal3">
                </div>

                <label for="subGoalRea3" class="col-xs-1 control-label small">Rea</label>
                <div class="col-xs-3">
                    <input type="text" class="form-control input-sm" id="subGoalRea3"
                           data-ng-model="goal.subGoalRea3">
                </div>
            </div>
        </div>

        <div class="form-group">
            <!-- Note -->
            <label for="note" class="col-xs-2 control-label small">
                Note
            </label>
            <div class="col-xs-10">
                <textarea id="note" class="form-control input-sm" rows="4"
                          data-ng-model="goal.note"></textarea>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-success" ng-disabled="dateFail" data-disabled-on-busy="">Gem</button>
            <button type="button" class="btn btn-warning" data-ng-click="dismiss()" data-disabled-on-busy="">Annuller</button>
        </div>
    </div>
</form>
