<div class="object-section-container">
    <h4>{{projectEditVm.project.name}}</h4>
    <div class="panel panel-default">
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <select-simple data-id="statusMethod"
                                   data-label="Metode"
                                   data-options="projectStatusVm.methodOptions"
                                   data-ng-model="projectStatusVm.showCombinedChart"
                                   data-function="onSelectStatusMethod"
                                   data-ng-disabled="!projectEditVm.hasWriteAccess">
                    </select-simple>
                </div>
                <div class="form-group" data-ng-if="projectStatusVm.currentStatusUpdate">
                    <table>
                        <thead>
                        <tr class="small">
                            <th>
                                <p style="font-weight:normal">Dato for sidste status</p>
                            </th>
                            <th>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!-- Dato for status -->
                                <td>
                                    <p data-ng-bind="projectStatusVm.moment(projectStatusVm.currentStatusUpdate.Created).format('DD-MM-YYYY')"></p>
                                </td>
                                <!-- Rediger dato -->
                                <td>
                                    <button id="dateEdit" class="glyphicon glyphicon-edit fa-lg" data-ui-sref="it-project.edit.status-project.status-edit-modal" data-ng-hide="!projectEditVm.hasWriteAccess"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
               </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" data-ng-disabled="!projectEditVm.hasWriteAccess" ui-sref="it-project.edit.status-project.status-update-modal">Opret ny status</button>
                    <button class="btn btn-primary btn-block" data-ng-if="projectStatusVm.currentStatusUpdate" ui-sref="it-project.edit.status-project.status-history-modal">Historik</button>
                </div>
            </div>
            <div class="col-xs-4 text-center" data-ng-if="projectStatusVm.currentStatusUpdate">
                <div id="splitted-triangle-wrapper" data-ng-if="!projectStatusVm.showCombinedChart.val">
                    <div id="text1">
                        T
                    </div>
                    <div id="text2">
                        R
                    </div>
                    <div id="text3">
                        K
                    </div>
                    <div id="part1" class="{{ projectStatusVm.currentStatusUpdate.TimeStatus | lowercase }}">
                        <div id="part2_1" class="{{ projectStatusVm.currentStatusUpdate.QualityStatus | lowercase }}">
                        </div>
                        <div id="part3" class="{{ projectStatusVm.currentStatusUpdate.ResourcesStatus | lowercase }}">
                            <div id="part2_2" class="{{ projectStatusVm.currentStatusUpdate.QualityStatus | lowercase }}">
                            </div>
                        </div>
                    </div>
                </div>

                <div id="combined-triangle-wrapper" data-ng-if="projectStatusVm.showCombinedChart.val">
                    <div id="part1" class="{{ projectStatusVm.currentStatusUpdate.CombinedStatus | lowercase }}">
                        <div class="text">
                            S
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4" data-ng-if="projectStatusVm.currentStatusUpdate">
                <div class="form-group">
                    <label class="control-label small">Bemærkning</label>
                    <p class="small" data-ng-bind="projectStatusVm.currentStatusUpdate.Note"></p>
                </div>
                <div class="form-group">
                    <label class="control-label small">Afsluttende</label>
                    <p class="small" data-ng-if="projectStatusVm.currentStatusUpdate.IsFinal">Ja</p>
                    <p class="small" data-ng-if="!projectStatusVm.currentStatusUpdate.IsFinal">Nej</p>
                </div>
            </div>
        </div>
    </div>
</div>
<form class="form-horizontal fix-label-padding">
    <div class="object-section-container">
        <div class="panel panel-default">
            <div class="panel-heading small">
                Milepæle og opgaver
            </div>
            <table class="table table-condensed table-striped">
                <thead>
                    <tr class="small">
                        <th>
                            Type
                        </th>
                        <th>
                            Navn
                            <button data-order-by="'name'" data-paging="projectStatusVm.pagination"></button>
                        </th>
                        <th>Note</th>
                        <th>
                            ID
                            <button data-order-by="'humanReadableId'" data-paging="projectStatusVm.pagination"></button>
                        </th>
                        <th>
                            Projektfase
                            <button data-order-by="'associatedPhaseId'" data-paging="projectStatusVm.pagination"></button>
                        </th>
                        <th>
                            Start
                        </th>
                        <th>
                            Slut
                        </th>
                        <th>Status</th>
                        <th>
                            Ansvarlig: Navn
                            <button data-order-by="'associatedUser.fullName'" data-paging="projectStatusVm.pagination"></button>
                        </th>
                        <th>Ansvarlig: Projektrolle</th>
                        <th class="text-right">Rediger/slet</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="activity in projectStatusVm.milestonesActivities | filter:{show:true}" class="small">
                        <!-- Type -->
                        <td>
                            <span data-ng-show="activity.isTask">Opgave</span>
                            <span data-ng-show="activity.isMilestone">Milepæl</span>
                        </td>
                        <!-- Navn -->
                        <td>
                            <a data-ng-click="activity.edit()">{{activity.name}}</a>
                        </td>
                        <!-- Note -->
                        <td>
                            <a data-ng-click="activity.edit()">
                                <span class="glyphicon glyphicon-comment" data-ng-class="{'faded': !(activity.note || activity.description) }"></span>
                            </a>
                        </td>
                        <!-- ID -->
                        <td>{{activity.humanReadableId}}</td>
                        <!-- Projektfase -->
                        <td>{{projectStatusVm.getPhaseName(activity.associatedPhaseNum)}}</td>
                        <!-- Start -->
                        <td>
                            <span data-datereader="" data-ng-show="activity.isTask" data-ng-model="activity.startDate"></span>
                            <span data-ng-show="activity.isMilestone">-</span>
                        </td>
                        <!-- Slut -->
                        <td>
                            <span data-datereader="" data-ng-show="activity.isTask" data-ng-model="activity.endDate"></span>
                            <span data-datereader="" data-ng-show="activity.isMilestone" data-ng-model="activity.date"></span>
                        </td>
                        <!-- Status -->
                        <td>
                            <span data-ng-show="activity.isTask">
                                {{activity.statusProcentage}}%
                            </span>
                            <span data-ng-show="activity.isMilestone">
                                <span data-select-status2="" data-ng-model="activity.status"></span>
                            </span>
                        </td>
                        <!-- Ansvarlig: Navn -->
                        <td>{{activity.associatedUser.fullName}}</td>
                        <!-- Ansvarlig: Projektrolle -->
                        <td>{{activity.associatedUser.roleNames | joinBy:', '}}</td>
                        <!-- Control -->
                        <td class="text-right">
                            <a class="btn btn-link btn-xs view-activity"
                               data-ng-click="activity.edit()"
                               data-ng-hide="projectEditVm.hasWriteAccess">
                                <i class="glyphicon glyphicon-eye-open"></i>
                            </a>
                            <a class="btn btn-link btn-xs edit-activity"
                               data-ng-click=" activity.edit()"
                               data-ng-show="projectEditVm.hasWriteAccess">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a class="btn btn-link btn-xs delete-activity"
                               data-confirmed-click="activity.delete()"
                               data-confirm-click="Er du sikker på at du vil slette?"
                               data-ng-show="projectEditVm.hasWriteAccess">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="11" class="text-center">
                            <span data-pagination-buttons="projectStatusVm.pagination" data-pagination-total-count="projectStatusVm.totalCount"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="11" class="text-right">
                            <button id="addAssignment" class="btn btn-success btn-sm" data-ui-sref="it-project.edit.status-project.modal({type: 'assignment', activityId: ''})" data-ng-hide="!projectEditVm.hasWriteAccess">Tilføj opgave</button>
                            <button id="addMilestone" class="btn btn-success btn-sm" data-ui-sref="it-project.edit.status-project.modal({type: 'milestone', activityId: ''})" data-ng-hide="!projectEditVm.hasWriteAccess">Tilføj milepæl</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</form>