<div class="object-section-container">
    <h4>{{projectEditVm.project.name}}</h4>
    <div class="panel panel-default">
        <div class="panel-heading">Organisation</div>
        <div class="panel-body">
            <div>
                <div class="form-group">
                    <label class="control-label">Vælg ansvarlig organisationsenhed i blandt nedenstående</label>
                    <select-simple data-id="responsibleOrg"
                                   data-placeholder="Vælg ansvarlig organisationsenhed"
                                   data-options="selectedOrgUnits"
                                   data-ng-model="responsibleOrgUnit"
                                   data-function="saveResponsible"
                                   data-ng-disabled="!projectEditVm.hasWriteAccess">
                    </select-simple>
                </div>
            </div>
            <div data-ng-repeat="orgUnit in orgUnitsTree" data-ng-include="'app/shared/organization-tree-item.html'"></div>
        </div>
    </div>
</div>