<div>
    <form class="form-horizontal fix-label-padding">
        <div class="row">
            <div class="col-md-5">
                <!-- Status traffic light -->
                <div class="form-group">
                    <label class="col-md-5 control-label small" for="statusProject">Status projekt (økonomi, tid og kvalitet):</label>
                    <div class="col-md-7">
                        <span id="statusProject"
                              data-select-status2=""
                              data-ng-model="projectStatusVm.project.statusProject"
                              data-can-write="projectEditVm.hasWriteAccess"
                              data-field="statusProject"
                              data-autosave="{{projectStatusVm.project.updateUrl}}">
                        </span>
                    </div>
                </div>

                <!-- Date for status update -->
                <div class="form-group">
                    <label class="col-md-5 control-label small" for="statusDate">Dato for statusopdatering:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="statusDate"
                               data-kendo-date-picker
                               data-k-options="projectStatusVm.datepickerOptions"
                               data-ng-disabled="!projectEditVm.hasWriteAccess"
                               data-ng-model="projectStatusVm.project.statusDate"
                               data-autosave="{{projectStatusVm.project.updateUrl}}"
                               data-field="statusDate">
                    </div>
                </div>
            </div>

            <!-- Notes to status of project -->
            <div class="col-md-7">
                <div class="form-group">
                    <label class="col-md-2 control-label small" for="note">Bemærkning til samlet status på projekt:</label>
                    <div class="col-md-10">
                        <textarea id="note" class="form-control input-sm" rows="4"
                                  data-ng-model="projectStatusVm.project.statusNote"
                                  data-field="statusNote"
                                  data-autosave="{{projectStatusVm.project.updateUrl}}"
                                  data-ng-disabled="!projectEditVm.hasWriteAccess"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading small">
                Milepæle og opgaver
            </div>
            <table class="table table-condensed table-striped">
                <thead>
                    <tr class="small">
                        <th>
                            Type
                        </th>
                        <th>
                            Navn
                            <button data-order-by="'name'" data-paging="projectStatusVm.pagination"></button>
                        </th>
                        <th>Note</th>
                        <th>
                            ID
                            <button data-order-by="'humanReadableId'" data-paging="projectStatusVm.pagination"></button>
                        </th>
                        <th>
                            Projektfase
                            <button data-order-by="'associatedPhaseId'" data-paging="projectStatusVm.pagination"></button>
                        </th>
                        <th>
                            Start
                        </th>
                        <th>
                            Slut
                        </th>
                        <th>Status</th>
                        <th>
                            Ansvarlig: Navn
                            <button data-order-by="'associatedUser.fullName'" data-paging="projectStatusVm.pagination"></button>
                        </th>
                        <th>Ansvarlig: Projektrolle</th>
                        <th class="text-right">Rediger/slet</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="activity in projectStatusVm.milestonesActivities | filter:{show:true}" class="small">
                        <!-- Type -->
                        <td>
                            <span data-ng-show="activity.isTask">Opgave</span>
                            <span data-ng-show="activity.isMilestone">Milepæl</span>
                        </td>
                        <!-- Navn -->
                        <td>
                            <a data-ng-click="activity.edit()">{{activity.name}}</a>
                        </td>
                        <!-- Note -->
                        <td>
                            <a data-ng-click="activity.edit()">
                                <span class="glyphicon glyphicon-comment" data-ng-class="{'faded': !(activity.note || activity.description) }"></span>
                            </a>
                        </td>
                        <!-- ID -->
                        <td>{{activity.humanReadableId}}</td>
                        <!-- Projektfase -->
                        <td>{{projectStatusVm.getPhaseName(activity.associatedPhaseNum)}}</td>
                        <!-- Start -->
                        <td>
                            <span data-datereader="" data-ng-show="activity.isTask" data-ng-model="activity.startDate"></span>
                            <span data-ng-show="activity.isMilestone">-</span>
                        </td>
                        <!-- Slut -->
                        <td>
                            <span data-datereader="" data-ng-show="activity.isTask" data-ng-model="activity.endDate"></span>
                            <span data-datereader="" data-ng-show="activity.isMilestone" data-ng-model="activity.date"></span>
                        </td>
                        <!-- Status -->
                        <td>
                            <span data-ng-show="activity.isTask">
                                {{activity.statusProcentage}}%
                            </span>
                            <span data-ng-show="activity.isMilestone">
                                <span data-select-status2="" data-ng-model="activity.status"></span>
                            </span>
                        </td>
                        <!-- Ansvarlig: Navn -->
                        <td>{{activity.associatedUser.fullName}}</td>
                        <!-- Ansvarlig: Projektrolle -->
                        <td>{{activity.associatedUser.roleNames | joinBy:', '}}</td>
                        <!-- Control -->
                        <td class="text-right">
                            <a class="btn btn-link btn-xs view-activity"
                               data-ng-click="activity.edit()"
                               data-ng-hide="projectEditVm.hasWriteAccess">
                                <i class="glyphicon glyphicon-eye-open"></i>
                            </a>
                            <a class="btn btn-link btn-xs edit-activity"
                               data-ng-click=" activity.edit()"
                               data-ng-show="projectEditVm.hasWriteAccess">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a class="btn btn-link btn-xs delete-activity"
                               data-confirmed-click="activity.delete()"
                               data-confirm-click="Er du sikker på at du vil slette?"
                               data-ng-show="projectEditVm.hasWriteAccess">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="11" class="text-center">
                            <span data-pagination-buttons="projectStatusVm.pagination" data-pagination-total-count="projectStatusVm.totalCount"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="11" class="text-right">
                            <button id="addAssignment" class="btn btn-success btn-sm" data-ui-sref="it-project.edit.status-project.modal({type: 'assignment', activityId: ''})" data-ng-hide="!projectEditVm.hasWriteAccess">Tilføj opgave</button>
                            <button id="addMilestone" class="btn btn-primary btn-sm" data-ui-sref="it-project.edit.status-project.modal({type: 'milestone', activityId: ''})" data-ng-hide="!projectEditVm.hasWriteAccess">Tilføj milepæl</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </form>
</div>
