<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>
                Status
            </th>
            <th>
                Navn
            </th>
            <th>
                Email
            </th>
            <th>
                <!--Edit user column-->
            </th>
            <th>
                Default org.enhed 
            </th>
            <th>
                Advis
            </th>
            <th>
                Oprettet af
            </th>
        </tr>
    </thead>

    <tbody>
        <tr data-ng-repeat="user in users">
            <td >
                <button type="button" class="btn btn-link btn-xs" data-ng-click="toggleStatus(user)">
                    <span data-ng-if="user.isLocked" class="glyphicon glyphicon-lock text-warning"></span>
                    <span data-ng-if="!user.isLocked" class="glyphicon glyphicon-ok text-success"></span>
                </button>
            </td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>
                <button type="button" class="btn btn-info btn-xs" data-ng-click="createUser">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </td>
            <td>{{user.defaultOrganizationUnitName}}</td>
            <td>advis</td>
            <td>{{user.objectOwnerName}}</td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td>
            </td>
        </tr>
    </tfoot>
</table>