<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OrganisationEnhedBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="OrganisationEnhedBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:8080/service/Organisation/OrganisationEnhed/5"
                binding="basicHttpBinding" bindingConfiguration="OrganisationEnhedBinding"
                contract="ServiceReference.OrganisationEnhedPortType" name="OrganisationEnhedPort" />
        </client>
    </system.serviceModel>
</configuration>