<div class="object-section-container">

    <h4>{{contract.name}}</h4>

    <form role="form">
        <div class="panel panel-default">
            <div class="panel-heading">Betalingsmodel</div>
            <div class="panel-body">
                <div class="form-group col-xs-6">
                    <label for="agreement-operation" class="control-label small">Driftsvederlag påbegyndt</label>
                    <input type="text" class="form-control" id="agreement-operation"
                           data-kendo-date-picker
                           data-k-options="datepickerOptions"
                           data-ng-disabled="!hasWriteAccess"
                           data-ng-model="contract.operationRemunerationBegun"
                           ng-blur="patchDate('operationRemunerationBegun', contract.operationRemunerationBegun)"
                           data-field="operationRemunerationBegun">
                </div>
                <div class="form-group col-xs-6">
                    <select2-option data-id="agreement-freq"
                                   data-label="Betalingsfrekvens"
                                   data-placeholder="Vælg betalingsfrekvens"
                                   data-selected-text="{{ contract.paymentFreqencyName }}"
                                   data-ng-disabled="!hasWriteAccess"
                                   data-ng-model="contract.paymentFreqencyId"
                                   data-options="paymentFrequencies"
                                   data-auto-save-url="{{ autosaveUrl }}"
                                   data-field="paymentFreqencyId">
                    </select2-option>
                </div>
                <div class="form-group col-xs-12">
                    <select2-option data-id="agreement-payment"
                                   data-label="Betalingsmodel"
                                   data-placeholder="Vælg betalingsmodel"
                                   data-selected-text="{{ contract.paymentModelName }}"
                                   data-ng-disabled="!hasWriteAccess"
                                   data-ng-model="contract.paymentModelId"
                                   data-options="paymentModels"
                                   data-auto-save-url="{{ autosaveUrl }}"
                                   data-field="paymentModelId">
                    </select2-option>
                </div>
                <div class="form-group col-xs-12">
                    <select2-option data-id="agreement-price"
                                   data-label="Prisregulering"
                                   data-placeholder="Vælg prisregulering"
                                   data-selected-text="{{ contract.priceRegulationName }}"
                                   data-ng-disabled="!hasWriteAccess"
                                   data-ng-model="contract.priceRegulationId"
                                   data-options="priceRegulations"
                                   data-auto-save-url="{{ autosaveUrl }}"
                                   data-field="priceRegulationId">
                    </select2-option>
                </div>
            </div>
        </div>
    </form>
</div>