<script type="text/ng-template" id="tree_item_template">
    <div class="org-node" data-ng-class="{'selected': node.id == contract.id}">
        <span class="org-node-info">
            <a data-ui-sref="it-contract.edit.main({ id: node.id })">{{ node.name }}</a>
        </span>
        <ul>
            <li data-ng-repeat="node in node.children">
                <div data-ng-include="'tree_item_template'"></div>
            </li>
        </ul>
    </div>
</script>

<div class="object-section-container">
    <h4 data-ng-bind="contract.name"></h4>
    <div class="panel panel-default">
        <div class="row">
            <div class="col-xs-12">
                <div data-ng-repeat="node in hierarchy" data-ng-include="'tree_item_template'"></div>
            </div>
        </div>
    </div>
</div>
<div class="object-section-container">
    <div class="panel panel-default">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <!-- 1st column -->
                    <div class="col-xs-6">
                        <!-- Parent -->
                        <div class="form-group">
                            <label for="contract-parent" class="control-label small">Overordnet kontrakt</label>
                            <input type="hidden" id="contract-parent" class="form-control input-sm" style="overflow-y: auto;"
                                   data-ui-select2="itContractsSelectOptions"
                                   data-ng-model="contract.parent"
                                   ng-click="updateHierarchy('parentId', contract.parent)"
                                   data-field="parentId"
                                   data-ng-disabled="!hasWriteAccess">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>