<div class="object-section-container">
    <h4>{{contract.name}}</h4>
    <div class="panel panel-default">
        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Anskaffelse</div>
                    <form role="form" name="trialForm">
                        <table class="table table-condensed small">
                            <thead>
                                <tr>
                                    <th class="col-xs-4">Overtagelsesprøver</th>
                                    <th class="col-xs-4">Forventet</th>
                                    <th class="col-xs-4">Godkendt</th>
                                    <th><!-- control --></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="ht in handoverTrials">
                                    <td>
                                        <div class="form-group">
                                            <select2-option data-id="contract-handover-trial"
                                                           data-placeholder="Vælg overtagelsesprøve"
                                                           data-selected-text="{{ ht.handoverTrialTypeName }}"
                                                           data-ng-disabled="!hasWriteAccess"
                                                           data-ng-model="ht.handoverTrialTypeId"
                                                           data-options="handoverTrialTypes"
                                                           data-auto-save-url="api/handoverTrial/{{ ht.id }}"
                                                           data-field="handoverTrialTypeId">
                                            </select2-option>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text"
                                               class="form-control handover-trial-expected-date"
                                               data-kendo-date-picker
                                               data-k-options="datepickerOptions"
                                               data-ng-disabled="!hasWriteAccess"
                                               data-ng-model="ht.expected"
                                               ng-blur="patchDateProcurement('expected', ht.expected, ht.id, 'api/handoverTrial/')"
                                               data-field="expected">
                                    </td>
                                    <td>
                                        <input type="text"
                                               class="form-control handover-trial-approved-date"
                                               data-kendo-date-picker
                                               data-k-options="datepickerOptions"
                                               data-ng-disabled="!hasWriteAccess"
                                               data-ng-model="ht.approved"
                                               ng-blur="patchDateProcurement('approved', ht.approved, ht.id, 'api/handoverTrial/')"
                                               data-field="approved">
                                    </td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-danger btn-sm handover-trial-delete"
                                                data-ng-show="hasWriteAccess"
                                                data-ng-click="deleteTrial(ht.id)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot data-ng-show="hasWriteAccess">
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <select2-option data-id="handover-trial"
                                                           data-placeholder="Vælg overtagelsesprøve"
                                                           data-ng-model="handoverTrial.handoverTrialTypeId"
                                                           data-options="handoverTrialTypes">
                                            </select2-option>
                                        </div>
                                    </td>
                                    <td>
                                        <input id="handover-trial-expected-date"
                                               type="text"
                                               class="form-control"
                                               data-kendo-date-picker
                                               data-k-options="datepickerOptions"
                                               data-ng-disabled="!hasWriteAccess"
                                               data-ng-model="handoverTrial.expected">
                                    </td>
                                    <td>
                                        <input id="handover-trial-approved-date"
                                               type="text"
                                               class="form-control"
                                               data-kendo-date-picker
                                               data-k-options="datepickerOptions"
                                               data-ng-disabled="!hasWriteAccess"
                                               data-ng-model="handoverTrial.approved">
                                    </td>
                                    <td>
                                        <button id="handover-trial-add"
                                                class="btn btn-success btn-sm"
                                                ng-disabled="!(handoverTrial.handoverTrialTypeId != undefined)"
                                                data-ng-click="saveTrial(handoverTrial)">
                                            Gem {{handoverTrial.handoverTrialTypeId}}
                                        </button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </form>

                    <form role="form" name="milestoneForm">
                        <table class="table table-condensed small">
                            <thead>
                                <tr>
                                    <th class="col-xs-4">Betalingsmilepæle</th>
                                    <th class="col-xs-4">Forventet</th>
                                    <th class="col-xs-4">Godkendt</th>
                                    <th><!-- control --></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="item in paymentMilestones">
                                    <td>
                                        <input type="text"
                                               class="form-control input-sm payment-milestone"
                                               data-ng-disabled="!hasWriteAccess"
                                               data-ng-model="item.title"
                                               data-autosave="api/paymentMilestone/{{item.id}}"
                                               data-field="title" required>
                                    </td>
                                    <td>
                                        <input type="text"
                                               class="form-control payment-milestone-expected-date"
                                               data-kendo-date-picker
                                               data-k-options="datepickerOptions"
                                               data-ng-disabled="!hasWriteAccess"
                                               data-ng-model="item.expected"
                                               ng-blur="patchDateProcurement('expected', item.expected, item.id, 'api/paymentMilestone/')"
                                               data-field="expected">
                                    </td>
                                    <td>
                                        <input type="text"
                                               class="form-control payment-milestone-approved-date"
                                               data-kendo-date-picker
                                               data-k-options="datepickerOptions"
                                               data-ng-disabled="!hasWriteAccess"
                                               data-ng-model="item.approved"
                                               ng-blur="patchDateProcurement('approved', item.approved, item.id, 'api/paymentMilestone/')"
                                               data-field="approved">
                                    </td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-danger btn-sm payment-milestone-delete"
                                                data-ng-show="hasWriteAccess"
                                                data-ng-click="deleteMilestone(item.id)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot data-ng-show="hasWriteAccess">
                                <tr>
                                    <td>
                                        <input id="payment-milestone"
                                               type="text"
                                               class="form-control input-sm"
                                               data-ng-model="paymentMilestone.title">
                                    </td>
                                    <td>
                                        <input id="payment-milestone-expected-date"
                                               type="text"
                                               class="form-control"
                                               data-kendo-date-picker
                                               data-k-options="datepickerOptions"
                                               data-ng-disabled="!hasWriteAccess"
                                               data-ng-model="paymentMilestone.expected">
                                    </td>
                                    <td>
                                        <input id="payment-milestone-approved-date"
                                               type="text"
                                               class="form-control"
                                               data-kendo-date-picker
                                               data-k-options="datepickerOptions"
                                               data-ng-disabled="!hasWriteAccess"
                                               data-ng-model="paymentMilestone.approved">
                                    </td>
                                    <td>
                                        <button id="payment-milestone-add"
                                                class="btn btn-success btn-sm"
                                                ng-disabled="!(paymentMilestone.title != undefined && paymentMilestone.title.length > 0)"
                                                data-ng-click="saveMilestone(paymentMilestone)">
                                            Gem 
                                        </button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
            </div>

            <div class="col-xs-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Aftalefrister</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="agreement-duration" class="control-label">Varighed</label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-6 col-lg-4">
                                <input type="text" id="year" class="form-control input-sm"
                                       data-ng-model="durationYears"
                                       data-ng-disabled="!hasWriteAccess || durationOngoing"
                                       data-ng-blur="saveDurationYears()" />
                            </div>
                            <div class="col-xs-6 contractDurationLabelContainer">
                                <label class="control-label small contractDurationLabel" for="year">År</label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-6 col-lg-4">
                                <input type="text" id="month" class="form-control input-sm"
                                       data-ng-model="durationMonths"
                                       data-ng-disabled="!hasWriteAccess || durationOngoing"
                                       data-ng-blur="saveDurationMonths()" />
                            </div>
                            <div class="col-xs-6 contractDurationLabelContainer">
                                <label class="control-label small contractDurationLabel" for="month">Måneder</label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-1">
                                <input type="checkbox" id="idl" class=""
                                       data-ng-checked="durationOngoing"
                                       data-ng-click="saveOngoingStatus()"
                                       data-ng-model="durationOngoing"
                                       data-ng-disabled="!hasWriteAccess" />
                            </div>
                            <div class="col-xs-9">
                                <label class="control-label small" for="idl">Løbende</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <select2-option data-id="agreement-option-extend"
                                           data-label="Option forlæng"
                                           data-placeholder="Vælg forlængelse"
                                           data-selected-text="{{ contract.optionExtendName }}"
                                           data-ng-disabled="!hasWriteAccess"
                                           data-ng-model="contract.optionExtendId"
                                           data-options="optionExtensions"
                                           data-auto-save-url="{{ autosaveUrl }}"
                                           data-field="optionExtendId">
                            </select2-option>
                        </div>
                        <div class="form-group">
                            <label for="agreement-option-extend-multiplier" class="control-label small">Antal brugte optioner</label>
                            <input id="agreement-option-extend-multiplier"
                                   type="number"
                                   min="0"
                                   class="form-control input-sm"
                                   data-ng-disabled="!hasWriteAccess"
                                   data-ng-model="contract.extendMultiplier"
                                   data-autosave="{{autosaveUrl}}"
                                   data-field="extendMultiplier">
                        </div>
                        <div class="form-group">
                            <label for="agreement-irrevocable" class="control-label small">Uopsigelig til</label>
                            <input type="text" class="form-control" id="agreement-irrevocable"
                                   data-kendo-date-picker
                                   data-k-options="datepickerOptions"
                                   data-ng-disabled="!hasWriteAccess"
                                   data-ng-model="contract.irrevocableTo"
                                   ng-blur="patchDate('irrevocableTo', contract.irrevocableTo)"
                                   data-field="irrevocableTo">
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xs-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Opsigelse</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="agreement-terminated" class="control-label small">Kontrakten opsagt</label>
                            <input type="text" class="form-control" id="agreement-terminated"
                                   data-kendo-date-picker
                                   data-k-options="datepickerOptions"
                                   data-ng-disabled="!hasWriteAccess"
                                   data-ng-model="contract.terminated"
                                   ng-blur="patchDate('terminated', contract.terminated)"
                                   data-field="terminated">
                        </div>

                        <div class="form-group">
                            <select2-option data-id="agreement-notice"
                                           data-label="Opsigelsesfrist (måneder)"
                                           data-placeholder="Vælg opsigelsesfrist"
                                           data-selected-text="{{ contract.terminationDeadlineName }}"
                                           data-ng-disabled="!hasWriteAccess"
                                           data-ng-model="contract.terminationDeadlineId"
                                           data-options="terminationDeadlines"
                                           data-auto-save-url="{{ autosaveUrl }}"
                                           data-field="terminationDeadlineId">
                            </select2-option>
                        </div>

                        <div class="form-group">
                            <label for="agreement-running" class="control-label small">Løbende</label>
                            <select id="agreement-running"
                                    class="form-control input-sm"
                                    data-ui-select2="{ allowClear: true }"
                                    data-placeholder="Vælg varighed"
                                    data-ng-disabled="!hasWriteAccess"
                                    data-ng-model="contract.running"
                                    data-autosave="{{autosaveUrl}}"
                                    data-field="running">
                                <option value=""></option>
                                <option value="calendarYear">Kalenderår</option>
                                <option value="quater">Kvartal</option>
                                <option value="month">Måned</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="agreement-by-ending" class="control-label small">Inden udgangen af</label>
                            <select id="agreement-by-ending"
                                    class="form-control input-sm"
                                    data-ui-select2="{ allowClear: true }"
                                    data-placeholder="Vælg varighed"
                                    data-ng-disabled="!hasWriteAccess"
                                    data-ng-model="contract.byEnding"
                                    data-autosave="{{autosaveUrl}}"
                                    data-field="byEnding">
                                <option value=""></option>
                                <option value="calendarYear">Kalenderår</option>
                                <option value="quater">Kvartal</option>
                                <option value="month">Måned</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>