<div class="object-section-container">
    <h4>{{contract.name}}</h4>
    <div class="panel panel-default">
        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        IT Kontrakten gælder flg. IT Systemer
                    </div>
                    <table class="table table-condensed table-striped small">
                        <thead>
                            <tr>
                                <th class="col-xs-8" style="padding-left: 15px">
                                    IT System
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="associatedSystemUsage in associatedSystemUsages | filter:{'show':true}">
                                <!-- the system -->
                                <td style="padding-left: 15px">
                                    <a data-ui-sref="it-system.usage.main({ id: associatedSystemUsage.id })">{{ associatedSystemUsage.itSystemName }} <span data-ng-if="associatedSystemUsage.itSystemDisabled">(Slettes)</span></a>
                                </td>

                                <td>
                                    <div class="pull-right" data-ng-show="hasWriteAccess">
                                        <a class="btn btn-danger btn-xs delete-system-usage"
                                           data-confirmed-click="associatedSystemUsage.delete()"
                                           data-confirm-click="Er du sikker på at du vil slette rækken?">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>


                        </tbody>
                        <tfoot data-ng-show="hasWriteAccess">
                            <!-- new row -->
                            <tr>
                                <td colspan="3">
                                    <input type="hidden"
                                           id="new-system-usage"
                                           class="form-control input-sm"
                                           data-ui-select2="itSystemUsagesSelectOptions"
                                           data-ng-model="newAssociatedSystemUsage.selectedSystem"
                                           data-ng-change="newAssociatedSystemUsage.save()"
                                           data-placeholder="Vælg IT system">
                                </td>
                            </tr>
                        </tfoot>


                    </table>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        IT Kontrakten omfatter flg. aftaleelementer
                    </div>
                    <!-- Agreement elements -->
                    <div class="form-group" style="padding: 0 10px 0 10px">

                        <select-multiple-option data-id="agreement-elements"
                                                data-placeholder="Vælg aftaleelementer"
                                                data-selected-texts="selectedAgreementElementNames"
                                                data-ng-disabled="!hasWriteAccess"
                                                data-ng-model="selectedAgreementElementIds"
                                                data-options="agreementElements"
                                                data-auto-save-url="{{ autoSaveUrl }}"
                                                data-field="elemId">
                        </select-multiple-option>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            IT Kontrakten gælder flg. relationer
        </div>
        <table class="table table-condensed table-striped table-fixed relation">
            <thead>
                <tr>
                    <th style="padding-left: 15px">
                        IT System (anvender)
                    </th>
                    <th>
                        IT System (udstiller)
                    </th>
                    <th>
                        Snitflade
                    </th>
                    <th>
                        Beskrivelse
                    </th>
                    <th>
                        Reference
                    </th>
                    <th>
                        Frekvens
                    </th>
                    <th class="buttonColumn">

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="relation in usageRelations">
                    <td style="overflow-wrap: break-word;padding-left: 15px"><a data-ui-sref="it-system.usage.main({ id: relation.FromSystem.Id})" title="{{relation.FromSystem.Name}}">{{relation.FromSystem.Name}}</a></td>
                    <td style="overflow-wrap: break-word"><a data-ui-sref="it-system.usage.main({ id: relation.ToSystem.Id})" title="{{relation.ToSystem.Name}}">{{relation.ToSystem.Name}}</a></td>
                    <td style="overflow-wrap: break-word;max-width: 200px"><a ng-if="relation.Interface" data-ui-sref="it-system.interface-edit.main({ id: relation.Interface.Id })" title="{{relation.Interface.Name}}">{{relation.Interface.Name}}</a></td>
                    <td style="width: 300px">
                        <p ng-if="relation.Description" ng-show="!relation.Description.LongText" data-element-type="relationDescription">{{relation.Description.Description}}</p>
                        <p ng-if="relation.Description" ng-show="relation.Description.LongText" style="height: {{relation.Description.ShortTextLineCount}}em; overflow: hidden" class="readMoreParagraph">{{relation.Description.Description}}</p>
                        <a ng-if="relation.Description" ng-show="relation.Description.LongText" ng-click="expandParagraph($event)">Se mere</a>
                    </td>
                    <td style="overflow-wrap: break-word; width: 150px">
                        <a ng-if="relation.Reference" ng-show="relation.Reference.ValidUrl" title="{{relation.Reference.Reference}}" href="{{relation.Reference.Reference}}" target="_blank"><img alt="{{relation.Reference.Reference}}" src="/Content/img/EksterneReferencer.svg" style="width: 1em"></a>
                        <p ng-if="relation.Reference" ng-show="relation.Reference.LongText" style="height: {{relation.Reference.ShortTextLineCount}}em; overflow: hidden" class="readMoreParagraph">{{relation.Reference.Reference}}</p>
                        <a ng-if="relation.Reference" ng-show="relation.Reference.LongText" ng-click="expandParagraph($event)">Se mere</a>
                        <p ng-if="relation.Reference" ng-show="!relation.Reference.ValidUrl && !relation.Reference.LongText" data-element-type="relationReference">{{relation.Reference.Reference}}</p>
                    </td>
                    <td>
                        <p ng-if="relation.Frequency" data-element-type="relationFrequencyType">{{relation.Frequency.Name}}</p>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>