<div class="object-section-container">
    <h4>{{vm.contract.name}}</h4>

    <div class="panel panel-default">
        <div class="panel-heading">
            IT Kontrakten gælder flg. databehandlingsregisteringer
        </div>
        <table id="dateProcessingRegistrationsTable" class="table table-striped">
            <thead>
                <tr>
                    <th class="element-selection-list_header--padding">
                        <p>Registering</p>
                    </th>
                    <th class="element-selection-list_header--padding noLeftBorder"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dataProcessingRegistration in vm.dataProcessingRegistrations.selectedElements">
                    <td><a date-element-type="assigned-data-processing-registration-link" data-ui-sref="data-processing.edit-registration.main({ id: dataProcessingRegistration.id })">{{::dataProcessingRegistration.name }}</a></td>
                    <td class="text-right noLeftBorder" style="width: 20px;">
                        <button type="button"
                                class="btn btn-danger btn-xs"
                                data-confirmed-click="vm.dataProcessingRegistrations.removeItemRequested({{::dataProcessingRegistration}})"
                                data-confirm-click="Er du sikker på at du vil slette tilknytningen?"
                                ng-if="vm.dataProcessingRegistrations.allowRemoval">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot ng-if="vm.dataProcessingRegistrations.allowAddition">
                <tr>
                    <td colspan="2">
                        <single-select-select2 data-placeholder="Vælg databehandlerregistrering"
                                               id="data-processing-registration_select-new"
                                               ng-model="vm.dataProcessingRegistrations.newItemSelectionConfig"
                                               ng-disabled="!vm.dataProcessingRegistrations.allowAddition" />
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>