<div class="object-section-container">
    <h4>{{contract.name}}</h4>
    <div class="panel panel-default">
        <div class="row">
            <!-- Left side -->
            <div class="col-xs-6">
                <div class="row">
                    <!-- 1st column -->
                    <div class="col-xs-6">
                        <!-- Name -->
                        <div class="form-group">
                            <label for="contract-name" class="control-label small">IT kontraktnavn</label>
                            <input type="text" id="contract-name" class="form-control input-sm" autofocus required
                                   data-ng-disabled="!hasWriteAccess"
                                   data-ng-model="contract.name"
                                   data-autosave="{{ autoSaveUrl }}"
                                   data-field="name"
                                   maxlength="200">
                        </div>

                        <!-- Id -->
                        <div class="form-group" ng-if="isContractIdEnabled">
                            <label for="contract-id" class="control-label small">KontraktID</label>
                            <input type="text" id="contract-id" class="form-control input-sm"
                                   data-ng-disabled="!hasWriteAccess"
                                   data-ng-model="contract.itContractId"
                                   data-autosave="{{ autoSaveUrl }}"
                                   data-field="itContractId">
                        </div>

                        <!-- Type -->
                        <div class="form-group" ng-if="isContractTypeEnabled">
                            <select2-option data-id="contract-type"
                                            data-label="Kontrakttype"
                                            data-placeholder="Vælg kontrakttype"
                                            data-selected-text="{{ contract.contractTypeName }}"
                                            data-ng-disabled="!hasWriteAccess"
                                            data-ng-model="contract.contractTypeId"
                                            data-options="contractTypes"
                                            data-auto-save-url="{{ autoSaveUrl }}"
                                            data-field="contractTypeId">
                            </select2-option>
                        </div>

                        <!-- Contract template -->
                        <div class="form-group" ng-if="isContractTemplateEnabled">
                            <select2-option data-id="contract-template"
                                            data-label="Kontraktskabelon"
                                            data-placeholder="Vælg kontraktskabelon"
                                            data-selected-text="{{ contract.contractTemplateName }}"
                                            data-ng-disabled="!hasWriteAccess"
                                            data-ng-model="contract.contractTemplateId"
                                            data-options="contractTemplates"
                                            data-auto-save-url="{{ autoSaveUrl }}"
                                            data-field="contractTemplateId">
                            </select2-option>
                        </div>

                        <!--Criticality type-->
                        <div class="form-group" ng-if="isCritialityEnabled">
                            <label for="criticality" class="control-label small">Kritikalitet</label>
                            <single-select-select2 id="criticality"
                                                   data-placeholder="Vælg kritikalitet"
                                                   ng-model="criticality"
                                                   ng-disabled="!hasWriteAccess"/>
                        </div>
                    </div>

                    <!-- 2nd column -->
                    <div class="col-xs-6">
                        <!-- Object owner -->
                        <div class="form-group">
                            <label for="object-owner" class="control-label small">Oprettet af</label>
                            <input type="text" id="object-owner" class="form-control input-sm"
                                   data-ng-disabled="true"
                                   value="{{contract.objectOwnerFullName}}">
                        </div>

                        <!-- Purchase form -->
                        <div class="form-group" ng-if="isPurchaseFormEnabled">
                            <select2-option data-id="contract-purchaseform"
                                            data-label="Indkøbsform"
                                            data-placeholder="Vælg indkøbsform"
                                            data-selected-text="{{ contract.purchaseFormName }}"
                                            data-ng-disabled="!hasWriteAccess"
                                            data-ng-model="contract.purchaseFormId"
                                            data-options="purchaseForms"
                                            data-auto-save-url="{{ autoSaveUrl }}"
                                            data-field="purchaseFormId"
                                            data-help-text-key="it-contract.edit.main.purchase-form">
                            </select2-option>
                        </div>

                        <!-- Procurement strategy -->
                        <div id="selectProcurementStrategy" class="form-group" ng-if="showProcurementStrategySelection">
                            <select2-option data-id="contract-strat"
                                            data-label="Genanskaffelsesstrategi"
                                            data-placeholder="Vælg genanskaffelsesstrategi"
                                            data-selected-text="{{ contract.procurementStrategyName }}"
                                            data-ng-disabled="!hasWriteAccess"
                                            data-ng-model="contract.procurementStrategyId"
                                            data-options="procurementStrategies"
                                            data-auto-save-url="{{ autoSaveUrl }}"
                                            data-field="procurementStrategyId"
                                            data-help-text-key="it-contract.edit.main.procurement-strategy">
                            </select2-option>
                        </div>

                        <!-- Procurement plan -->
                        <div id="selectProcurementPlan" class="form-group" ng-if="showprocurementPlanSelection">
                            <select-simple data-id="contract-plan"
                                           data-label="Genanskaffelsesplan"
                                           data-placeholder="Vælg genanskaffelsesplan"
                                           data-options="procurementPlans"
                                           data-ng-model="procurementPlanId"
                                           data-function="saveProcurement"
                                           data-ng-disabled="!hasWriteAccess">
                            </select-simple>
                        </div>

                        <!-- Procurement initiated-->
                        <div id="selectProcurementInitiated" class="form-group" ng-if="showProcurementInitiated">
                            <label for="procurement-initiated" class="control-label small">Genanskaffelse igangsat</label>
                            <single-select-select2 id="procurement-initiated" ng-model="procurementInitiated" ng-disabled="!hasWriteAccess" />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="contract-note" class="control-label small">Bemærkning</label>
                            <textarea id="contract-note" class="form-control input-sm" rows="4"
                                      data-ng-disabled="!hasWriteAccess"
                                      data-ng-model="contract.note"
                                      data-autosave="{{ autoSaveUrl }}"
                                      data-field="note">
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right side -->
            <div class="col-xs-6">

                <div class="row">

                    <!-- 3rd column -->
                    <div class="col-xs-6">
                        <!-- Supplier -->
                        <div class="form-group">
                            <label for="contract-supplier" class="control-label small">Leverandør</label>
                            <input type="hidden" id="contract-supplier" class="form-control input-sm"
                                   data-ui-select2="suppliersSelectOptions"
                                   data-ng-model="contract.supplier"
                                   data-placeholder="Vælg leverandør"
                                   data-autosave="{{ autoSaveUrl }}" data-field="supplierId"
                                   data-ng-disabled="!hasWriteAccess">
                        </div>
                        <!-- Extern contract signer -->
                        <div class="form-group" ng-if="isExternalSignerEnabled">
                            <label for="contract-ext-signer" class="control-label small">Leverandørs kontraktunderskriver</label>
                            <input type="text" id="contract-ext-signer" class="form-control input-sm"
                                   data-ng-disabled="!hasWriteAccess"
                                   data-ng-model="contract.supplierContractSigner"
                                   data-autosave="{{ autoSaveUrl }}"
                                   data-field="supplierContractSigner">
                        </div>

                        <!-- Extern contract is signed -->
                        <div class="checkbox" ng-if="isExternalSignerEnabled">
                            <label>
                                <input type="checkbox" id="contract-ext-signed"
                                       data-ng-model="contract.hasSupplierSigned"
                                       data-ng-disabled="!hasWriteAccess"
                                       data-autosave="{{ autoSaveUrl }}"
                                       data-field="hasSupplierSigned">
                                Underskrevet
                            </label>
                        </div>

                        <!-- Extern contract signed date -->
                        <div class="form-group" ng-if="isExternalSignerEnabled">
                            <label for="contract-ext-date" class="control-label small">Dato</label>
                            <input type="text" id="contract-ext-date" class="form-control"
                                   data-kendo-date-picker
                                   data-k-options="datepickerOptions"
                                   data-ng-disabled="!hasWriteAccess"
                                   data-ng-model="contract.supplierSignedDate"
                                   ng-blur="patchDate('supplierSignedDate', contract.supplierSignedDate)"
                                   data-field="supplierSignedDate">
                        </div>
                    </div>

                    <!-- 4th column -->
                    <div class="col-xs-6">
                        <!-- Responsible org unit -->
                        <div class="form-group">
                            <select2-org-unit data-id="contract-orgunit"
                                              data-label="Ansvarlig enhed"
                                              data-placeholder="Vælg ansvarlig enhed"
                                              data-options="orgUnits"
                                              data-ng-model="contract.responsibleOrganizationUnitId"
                                              data-auto-save-url="{{ autoSaveUrl }}"
                                              data-field="responsibleOrganizationUnitId"
                                              data-ng-disabled="!hasWriteAccess"
                                              data-allow-clear="allowClear">
                            </select2-org-unit>
                        </div>

                        <div class="form-group" ng-if="isInternalSignerEnabled">
                            <!-- Intern contract signer -->
                            <label for="contract-int-signer" class="control-label small">Kontraktunderskriver</label>
                            <typeahead id="contract-int-signer"
                                       data-ng-disabled="!hasWriteAccess"
                                       data-autosave-url="{{ autoSaveUrl }}"
                                       data-items="kitosUsers"
                                       data-ng-model="contract.contractSigner"
                                       data-field="contractSigner"
                                       data-user-has-write-access="hasWriteAccess" />
                        </div>

                        <!-- Intern contract is signed -->
                        <div class="checkbox" ng-if="isInternalSignerEnabled">
                            <label>
                                <input type="checkbox" id="contract-int-signed"
                                       data-ng-model="contract.isSigned"
                                       data-ng-disabled="!hasWriteAccess"
                                       data-autosave="{{ autoSaveUrl }}"
                                       data-field="isSigned">
                                Underskrevet
                            </label>
                        </div>

                        <!-- Intern contract signed date -->
                        <div class="form-group" ng-if="isInternalSignerEnabled">
                            <label for="contract-int-date" class="control-label small">Dato</label>
                            <input type="text" id="contract-int-date" class="form-control"
                                   data-kendo-date-picker
                                   data-k-options="datepickerOptions"
                                   data-ng-disabled="!hasWriteAccess"
                                   data-ng-model="contract.signedDate"
                                   ng-blur="patchDate('signedDate', contract.signedDate)"
                                   data-field="signedDate">
                        </div>
                    </div>

                    <div class="col-xs-12 no-padding">
                        <div class="col-xs-6 form-group" ng-if="isagreementPeriodEnabled">
                            <label for="agreement-concluded" class="control-label small">
                                Gyldig fra
                            </label>
                            <input id="agreement-concluded"
                                   type="text"
                                   class="form-control"
                                   data-kendo-date-picker
                                   data-k-options="datepickerOptions"
                                   data-ng-disabled="!hasWriteAccess"
                                   data-ng-model="contract.concluded"
                                   data-ng-blur="checkContractValidity('concluded', contract.concluded)"
                                   data-field="concluded">
                        </div>

                        <div class="col-xs-6 form-group" ng-if="isagreementPeriodEnabled">
                            <label for="agreement-expiration" class="control-label small">
                                Gyldig til
                            </label>
                            <input type="text" class="form-control" id="agreement-expiration"
                                   data-kendo-date-picker
                                   data-k-options="datepickerOptions"
                                   data-ng-disabled="!hasWriteAccess"
                                   data-ng-model="contract.expirationDate"
                                   data-ng-blur="checkContractValidity('expirationDate', contract.expirationDate)"
                                   data-field="expirationDate">
                        </div>
                    </div>

                    <div class="col-xs-12" ng-if="isActiveEnabled">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="contractIsActive"
                                       data-ng-model="contract.active"
                                       data-ng-disabled="!hasWriteAccess"
                                       data-ng-click="toggleOverride()">
                                Gennemtving gyldighed
                            </label>
                        </div>
                    </div>

                    <div class="col-xs-12" ng-if="validationStatus">
                        <label class="control-label small">Status</label>
                        <!-- Show the simple version of the status if there are no details to explain-->
                        <div class="form-group object-status-active-summary" ng-if="validationStatus.valid && validationStatus.errors.length === 0">
                            <span ng-if="validationStatus.valid">Kontrakten er <strong>gyldig</strong></span>
                        </div>
                        <!-- Show the detailed summary if there are errors involved at all-->
                        <div class="form-group object-status-active-summary" ng-if="validationStatus.errors.length > 0">
                            <a id="expand_collapse_contract_status" class="task-fold control-label" data-ng-click="isValidationDetailsExpanded = !isValidationDetailsExpanded">
                                <span ng-if="validationStatus.valid">Kontrakten er <strong>gyldig</strong></span>
                                <span ng-if="!validationStatus.valid">Kontrakten er <strong>ikke gyldig</strong></span>
                                <i class="faded-gray fa pull-right" data-ng-class="{'fa-minus-square-o': isValidationDetailsExpanded, 'fa-plus-square-o': !isValidationDetailsExpanded}"></i>
                            </a>
                            <p ng-if="isValidationDetailsExpanded && validationStatus.enforcedValid && validationStatus.errors.length > 0" style="margin-top: 5px;">
                                Gyldigheden er <strong>gennemtvunget</strong> og kontrakten er derfor gyldig på trods af at:
                            </p>
                            <p ng-if="isValidationDetailsExpanded && !validationStatus.enforcedValid && validationStatus.errors.length > 0" style="margin-top: 5px;">
                                Følgende gør kontrakten ugyldig:
                            </p>
                            <ul ng-if="isValidationDetailsExpanded && validationStatus.errors.length > 0" ng-repeat="error in validationStatus.errors">
                                <li ng-if="error === 0">'Gyldig fra' er endnu ikke passeret</li>
                                <li ng-if="error === 1">'Gyldig til' er overskredet</li>
                                <li ng-if="error === 2">Kontrakten er opsagt og evt. opsigelsesfrist er overskredet</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="last-changed-by-name" class="control-label small">Sidst redigeret: Bruger</label>
                            <input type="text"
                                   id="last-changed-by-name"
                                   value="{{contract.lastChangedByName}}"
                                   class="form-control input-sm"
                                   disabled>
                        </div>
                        <div class="form-group">
                            <label for="last-changed" class="control-label small">Sidst redigeret: Dato</label>
                            <input type="text"
                                   id="last-changed"
                                   value="{{ ::lastChanged }}"
                                   class="form-control input-sm"
                                   disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>