<div class="object-section-container">
    <h4>{{contract.name}}</h4>
    <div class="row" style="background-color: white">
        <div class="col-xs-3">
            <!-- access modifier -->
            <label for="economyStream-visibility" class="control-label small">Synlighed</label>
            <form class="form-inline">
                <div class="form-group">
                    <div id="economyStream-visibility" class="btn-group"
                         data-ng-model="visibility">
                        <label class="btn btn-default" ng-model="visibility" uib-btn-radio="0" style="width: 100px;" data-ng-click="changeVisibility()" data-ng-disabled="!hasWriteAccess || noEconomyStreams">Lokal 
                            <span data-ng-show="visibility == 0">&nbsp;<i class="fa fa-check" aria-hidden="true"></i></span></label>
                        <label class="btn btn-default" ng-model="visibility" uib-btn-radio="1" style="width: 100px;" data-ng-click="changeVisibility()" data-ng-disabled="!hasWriteAccess || noEconomyStreams">Offentlig
                            <span data-ng-show="visibility == 1">&nbsp;<i class="fa fa-check" aria-hidden="true"></i></span></label>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="panel panel-default">

        <div class="panel-heading">Ekstern betaling</div>
        <table class="table table-condensed small">
            <thead>
                <tr>
                    <th>Organisationsenhed</th>
                    <th>EAN</th>
                    <th>Anskaffelse</th>
                    <th>Drift/år</th>
                    <th>Andet</th>
                    <th>Kontering</th>
                    <th>Audit</th>
                    <th class="col-xs-2">Dato</th>
                    <th>Note</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="stream in externEconomyStreams | filter:{'show':true}">
                    <!-- ORG UNIT -->
                    <td>
                        <select2-org-unit data-id="stream.id"
                                          data-placeholder="Vælg ansvarlig enhed"
                                          data-options="orgUnits"
                                          data-ng-model="stream.organizationUnitId"
                                          data-function="stream.updateEan"
                                          data-auto-save-url="{{ stream.updateUrl }}"
                                          data-field="organizationUnitId"
                                          data-ng-disabled="!hasWriteAccess">
                        </select2-org-unit>
                    </td>

                    <!-- EAN # -->
                    <td>
                        {{stream.ean}}
                    </td>

                    <!-- ACQUISITION "Anskaffelse" -->
                    <td>
                        <input type="number"
                               class="input-sm form-control extern-acquisition"
                               data-ng-model="stream.acquisition"
                               data-ng-disabled="!hasWriteAccess"
                               data-field="acquisition"
                               data-autosave="{{stream.updateUrl}}" />
                    </td>

                    <!-- Operation "drift" -->
                    <td>
                        <input type="number"
                               class="input-sm form-control extern-operation"
                               data-ng-model="stream.operation"
                               data-ng-disabled="!hasWriteAccess"
                               data-field="operation"
                               data-autosave="{{stream.updateUrl}}" />
                    </td>

                    <!-- Other -->
                    <td>
                        <input type="number"
                               class="input-sm form-control extern-other"
                               data-ng-model="stream.other"
                               data-ng-disabled="!hasWriteAccess"
                               data-field="other"
                               data-autosave="{{stream.updateUrl}}" />
                    </td>

                    <!-- Accounting entry "kontering" -->
                    <td>
                        <input type="text"
                               class="input-sm form-control extern-accounting-entry"
                               data-ng-model="stream.accountingEntry"
                               data-ng-disabled="!hasWriteAccess"
                               data-field="accountingEntry"
                               data-autosave="{{stream.updateUrl}}" />
                    </td>

                    <!-- Audit trafficlight -->
                    <td>
                        <span class="extern-audit-status"
                              data-select-status2=""
                              data-ng-model="stream.auditStatus"
                              data-can-write="hasWriteAccess"
                              data-field="auditStatus"
                              data-autosave="{{stream.updateUrl}}"></span>
                    </td>

                    <!-- Audit date -->
                    <td>
                        <input type="text"
                               class="form-control extern-audit-date"
                               data-kendo-date-picker
                               data-k-options="datepickerOptions"
                               data-ng-disabled="!hasWriteAccess"
                               data-ng-model="stream.auditDate"
                               ng-blur="patchDate('auditDate', stream.auditDate, stream.id)"
                               data-field="auditDate">
                    </td>

                    <!-- Note -->
                    <td>
                        <input type="text"
                               class="input-sm form-control extern-note"
                               data-ng-model="stream.note"
                               data-ng-disabled="!hasWriteAccess"
                               data-field="note"
                               data-autosave="{{stream.updateUrl}}" />
                    </td>

                    <!-- delete button -->
                    <td>
                        <div class="pull-right" data-ng-hide="!hasWriteAccess">
                            <a class="btn btn-link btn-xs extern-delete"
                               data-confirmed-click="stream.delete()"
                               data-confirm-click="Er du sikker på at du vil slette?">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot data-ng-show="hasWriteAccess">
                <tr>
                    <td colspan="10">
                        <div class="pull-right">
                            <button class="btn btn-success btn-sm new-extern" data-ng-click="newExtern()">
                                <i class="glyphicon glyphicon-plus small"></i> Ny
                            </button>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Intern betaling</div>
        <table class="table table-condensed small">
            <thead>
                <tr>
                    <th>Organisationsenhed</th>
                    <th>EAN</th>
                    <th>Anskaffelse</th>
                    <th>Drift/år</th>
                    <th>Andet</th>
                    <th>Kontering</th>
                    <th>Audit</th>
                    <th class="col-xs-2">Dato</th>
                    <th>Note</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="stream in internEconomyStreams | filter:{'show':true}">
                    <!-- ORG UNIT -->
                    <td>
                        <select2-org-unit data-id="stream.id"
                                          data-placeholder="Vælg ansvarlig enhed"
                                          data-options="orgUnits"
                                          data-ng-model="stream.organizationUnitId"
                                          data-function="stream.updateEan"
                                          data-auto-save-url="{{ stream.updateUrl }}"
                                          data-field="organizationUnitId"
                                          data-ng-disabled="!hasWriteAccess">
                        </select2-org-unit>
                    </td>

                    <!-- EAN #  -->
                    <td>
                        {{stream.ean}}
                    </td>

                    <!-- ACQUISITION "Anskaffelse" -->
                    <td>
                        <input type="number"
                               class="input-sm form-control intern-acquisition"
                               data-ng-model="stream.acquisition"
                               data-ng-disabled="!hasWriteAccess"
                               data-field="acquisition"
                               data-autosave="{{stream.updateUrl}}" />
                    </td>

                    <!-- Operation "drift" -->
                    <td>
                        <input type="number"
                               class="input-sm form-control intern-operation"
                               data-ng-model="stream.operation"
                               data-ng-disabled="!hasWriteAccess"
                               data-field="operation"
                               data-autosave="{{stream.updateUrl}}" />
                    </td>

                    <!-- Other -->
                    <td>
                        <input type="number"
                               class="input-sm form-control intern-other"
                               data-ng-model="stream.other"
                               data-ng-disabled="!hasWriteAccess"
                               data-field="other"
                               data-autosave="{{stream.updateUrl}}" />
                    </td>

                    <!-- Accounting entry "kontering" -->
                    <td>
                        <input type="text"
                               class="input-sm form-control intern-accounting-entry"
                               data-ng-model="stream.accountingEntry"
                               data-ng-disabled="!hasWriteAccess"
                               data-field="accountingEntry"
                               data-autosave="{{stream.updateUrl}}" />
                    </td>

                    <!-- Audit trafficlight -->
                    <td>
                        <span class="intern-audit-status"
                              data-select-status2=""
                              data-ng-model="stream.auditStatus"
                              data-can-write="hasWriteAccess"
                              data-field="auditStatus"
                              data-autosave="{{stream.updateUrl}}"></span>
                    </td>

                    <!-- Audit date -->
                    <td>
                        <input type="text"
                               class="form-control intern-audit-date"
                               data-kendo-date-picker
                               data-k-options="datepickerOptions"
                               data-ng-disabled="!hasWriteAccess"
                               data-ng-model="stream.auditDate"
                               ng-blur="patchDate('auditDate', stream.auditDate, stream.id)"
                               data-field="auditDate">
                    </td>

                    <!-- Note -->
                    <td>
                        <input type="text"
                               class="input-sm form-control intern-note"
                               data-ng-model="stream.note"
                               data-ng-disabled="!hasWriteAccess"
                               data-field="note"
                               data-autosave="{{stream.updateUrl}}">
                    </td>

                    <!-- delete button -->
                    <td>
                        <div class="pull-right" data-ng-hide="!hasWriteAccess">
                            <a class="btn btn-link btn-xs intern-delete"
                               data-confirmed-click="stream.delete()"
                               data-confirm-click="Er du sikker på at du vil slette?">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot data-ng-show="hasWriteAccess">
                <tr>
                    <td colspan="10">
                        <div class="pull-right">
                            <button class="btn btn-success btn-sm new-intern" data-ng-click="newIntern()">
                                <i class="glyphicon glyphicon-plus small"></i> Ny
                            </button>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
