<div class="row">
    <div class="col-xs-6">
        <div class="row">
            <!-- 1st column -->
            <div class="col-xs-6">
                <!-- Parent -->
                <div class="form-group">
                    <label for="contract-parent" class="control-label small">Overordnet kontrakt</label>
                    <input type="hidden" id="contract-parent" class="form-control input-sm"
                           data-ui-select2="itContractsSelectOptions"
                           data-ng-model="contract.parent"
                           data-autosave="{{ autoSaveUrl }}"
                           data-field="parentId"
                           data-ng-disabled="!hasWriteAccess">
                </div>
            </div>
        </div>
    </div>
</div>
            <script type="text/ng-template" id="tree_item_template">
                <a data-ui-sref="it-contract.edit.systems({ id: contract.id })">{{ contract.name }}</a>
                <ul>
                    <li ng-repeat="contract in contract.children" ng-include="'tree_item_template'"></li>
                </ul>
            </script>

            <ul>
                <li data-ng-repeat="contract in hierarchy" data-ng-include="'tree_item_template'"></li>
            </ul>
