<div class="modal-header">
    <div class="clearfix">
        <help-text data-key="org_user_delete_modal" data-default-title="Slet bruger" class="pull-left"></help-text>
        <button type="button" class="close" data-ng-click="ctrl.cancel()" data-dismiss="modal">
            &times;
        </button>
    </div>
    <h3 align="center">Slet bruger fra organisation</h3>
    <h5>
        Roller for {{ctrl.firstName}} {{ctrl.lastName}}, {{ctrl.email}}
    </h5>
</div>
<div class="modal-body">
    <h5 ng-if="!ctrl.noRights">
        Der ønskes at fjerne <b>{{ctrl.firstName}} {{ctrl.lastName}}</b> fra organisationen <b>{{ctrl.curOrganization}}</b>, der er fundet roller for vedkommende.
        Her ses brugerens tildelte roller.<br>
        Disse roller kan tildeles andre brugere eller slettes helt fra organisationen.
    </h5>

    <div class="well" ng-bind-html="ctrl.vmText"></div>

    <h5 ng-if="ctrl.noRights">Brugeren har ikke nogen tildelte roller i denne organisation</h5>

    <div ng-if="!ctrl.noRights">
        <div class="form-group">
            <label for="selectedUserId">Tildel roller til: &nbsp;</label>
            <select id="selectedUserId" ng-model="ctrl.selectedUser" class="form-control" ng-change="ctrl.setSelectedUser()" ng-options="user as user.Name + ' ' + user.LastName for user in ctrl.vmUsersInOrganization">
                {{user.Name}} {{user.LastName}}
            </select>
        </div>
    </div>

    <!-- Table containing organization data -->
    <table class="table table-hover" ng-if="ctrl.vmOrgRights.length > 0">
        <thead>
            <tr>
                <th class="col-xs-1">Vælg</th>
                <th class="col-xs-3">Organisation</th>
                <th class="col-xs-3">Rolle</th>
                <th class="col-xs-4">Tildel til</th>
                <th class="col-xs-1">Slet</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="right in ctrl.vmOrgRights | orderBy: 'right.roleName'">
            <td><input type="checkbox" ng-model="right.selected" /></td>
            <td>{{right.right.businessObjectName}}</td>
            <td>{{right.right.roleName}}</td>
            <td ng-if="right.selected && ctrl.selectedUser">{{ctrl.selectedUser.Name}} {{ctrl.selectedUser.LastName}}</td>
            <td ng-if="!(right.selected && ctrl.selectedUser)"> </td>
            <td><button class="glyphicon glyphicon-trash" ng-click="ctrl.deleteRight(right.right.scope, right)"></button></td>
        </tr>
        </tbody>
    </table>
    <!-- Table containing project data -->
    <table class="table table-hover" ng-if="ctrl.vmProjectRights.length > 0">
        <thead>
            <tr>
                <th class="col-xs-1">Vælg</th>
                <th class="col-xs-3">Projektnavn</th>
                <th class="col-xs-3">Rolle</th>
                <th class="col-xs-4">Tildel til</th>
                <th class="col-xs-1">Slet</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="right in ctrl.vmProjectRights | orderBy: 'right.roleName'">
                <td><input type="checkbox" ng-model="right.selected" /></td>
                <td>{{right.right.businessObjectName}}</td>
                <td>{{right.right.roleName}}</td>
                <td ng-if="right.selected && ctrl.selectedUser">{{ctrl.selectedUser.Name}} {{ctrl.selectedUser.LastName}}</td>
                <td ng-if="!(right.selected && ctrl.selectedUser)"> </td>
                <td><button class="glyphicon glyphicon-trash" ng-click="ctrl.deleteRight(right.right.scope, right)"></button></td>
            </tr>
        </tbody>
    </table>
    <!-- Table containing ItSystem data -->
    <table class="table table-hover" ng-if="ctrl.vmSystemRights.length > 0">
        <thead>
            <tr>
                <th class="col-xs-1">Vælg</th>
                <th class="col-xs-3">Systemnavn</th>
                <th class="col-xs-3">Rolle</th>
                <th class="col-xs-4">Tildel til</th>
                <th class="col-xs-1">Slet</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="right in ctrl.vmSystemRights | orderBy: 'right.roleName'">
                <td><input type="checkbox" ng-model="right.selected" /></td>
                <td>{{right.right.businessObjectName}}</td>
                <td>{{right.right.roleName}}</td>
                <td ng-if="right.selected && ctrl.selectedUser">{{ctrl.selectedUser.Name}} {{ctrl.selectedUser.LastName}}</td>
                <td ng-if="!(right.selected && ctrl.selectedUser)"> </td>
                <td><button class="glyphicon glyphicon-trash" ng-click="ctrl.deleteRight(right.right.scope, right)"></button></td>
            </tr>
        </tbody>
    </table>
    <!-- Table containing ItContract data -->
    <table class="table table-hover" ng-if="ctrl.vmContractRights.length > 0">
        <thead>
            <tr>
                <th class="col-xs-1">Vælg</th>
                <th class="col-xs-3">Kontraktnavn</th>
                <th class="col-xs-3">Rolle</th>
                <th class="col-xs-4">Tildel til</th>
                <th class="col-xs-1">Slet</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="right in ctrl.vmContractRights | orderBy: 'right.roleName'">
                <td><input type="checkbox" ng-model="right.selected" /></td>
                <td>{{right.right.businessObjectName}}</td>
                <td>{{right.right.roleName}}</td>
                <td ng-if="right.selected && ctrl.selectedUser">{{ctrl.selectedUser.Name}} {{ctrl.selectedUser.LastName}}</td>
                <td ng-if="!(right.selected && ctrl.selectedUser)"> </td>
                <td><button class="glyphicon glyphicon-trash" ng-click="ctrl.deleteRight(right.right.scope, right)"></button></td>
            </tr>
        </tbody>
    </table>

    <!-- Table containing DPR data -->
    <table class="table table-hover" ng-if="ctrl.vmDprRights.length > 0">
        <thead>
            <tr>
                <th class="col-xs-1">Vælg</th>
                <th class="col-xs-3">Databehandling</th>
                <th class="col-xs-3">Rolle</th>
                <th class="col-xs-4">Tildel til</th>
                <th class="col-xs-1">Slet</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="right in ctrl.vmDprRights | orderBy: 'right.roleName'">
                <td><input type="checkbox" ng-model="right.selected" /></td>
                <td>{{right.right.businessObjectName}}</td>
                <td>{{right.right.roleName}}</td>
                <td ng-if="right.selected && ctrl.selectedUser">{{ctrl.selectedUser.Name}} {{ctrl.selectedUser.LastName}}</td>
                <td ng-if="!(right.selected && ctrl.selectedUser)"> </td>
                <td><button class="glyphicon glyphicon-trash" ng-click="ctrl.deleteRight(right.right.scope, right)"></button></td>
            </tr>
        </tbody>
    </table>

    <!-- Table containing administrative roller data -->
    <table class="table table-hover" ng-if="ctrl.vmAdminRights.length > 0">
        <thead>
            <tr>
                <th class="col-xs-1">Vælg</th>
                <th class="col-xs-6">Adminstrative rettigheder</th>
                <th class="col-xs-4">Tildel til</th>
                <th class="col-xs-1">Slet</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="admin in ctrl.vmAdminRights | orderBy: 'role'">
                <td><input type="checkbox" ng-model="admin.selected" /></td>
                <td>
                    <div ng-if="admin.role === 'LocalAdmin'">
                        Lokal admin
                    </div>
                    <div ng-if="admin.role === 'OrganizationModuleAdmin'">
                        Organisations admin
                    </div>
                    <div ng-if="admin.role === 'ProjectModuleAdmin'">
                        Projekt admin
                    </div>
                    <div ng-if="admin.role === 'SystemModuleAdmin'">
                        System admin
                    </div>
                    <div ng-if="admin.role === 'ContractModuleAdmin'">
                        Kontrakt admin
                    </div>
                    <div ng-if="admin.role === 'GlobalAdmin'">
                        Global admin
                    </div>
                    <div ng-if="admin.role === 'RightsHolderAccess'">
                        Rettighedshaveradgang
                    </div>
                </td>
                <td ng-if="admin.selected && ctrl.selectedUser">{{ctrl.selectedUser.Name}} {{ctrl.selectedUser.LastName}}</td>
                <td ng-if="!(admin.selected && ctrl.selectedUser)"> </td>
                <td><button class="glyphicon glyphicon-trash" ng-click="ctrl.deleteAdminRole(admin.role)"></button></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-danger" data-ng-click="ctrl.deleteSelectedRoles()" data-disabled-on-busy>Slet valgte roller</button>
    <button type="submit" class="btn btn-danger" data-element-type="userDeleteButton" data-ng-click="ctrl.deleteUser()" data-disabled-on-busy>Slet bruger</button>
    <button type="submit" ng-disabled="ctrl.disabled" id="btnAssign" class="btn btn-warning" data-ng-click="ctrl.assign()" data-disabled-on-busy>Tildel valgte</button>
    <button type="submit" class="btn btn-default" data-ng-click="ctrl.cancel()" data-disabled-on-busy>Luk</button>
</div>