<div class="modal-header">
    <div class="clearfix">
        <help-text data-key="org_user_delete_modal" data-default-title="Slet bruger" class="pull-left"></help-text>
        <button type="button" class="close" data-ng-click="ctrl.cancel()" data-dismiss="modal">
            &times;
        </button>
    </div>
    <h3 align="center">Slet bruger fra organisation</h3>
    <h5>
        Roller for {{ctrl.firstName}} {{ctrl.lastName}}, {{ctrl.email}}
    </h5>
</div>
<div class="modal-body">
    <h5 ng-if="!ctrl.noRights">
        Der ønskes at fjerne <b>{{ctrl.firstName}} {{ctrl.lastName}}</b> fra organisationen <b>{{ctrl.curOrganization}}</b>, der er fundet roller for vedkommende.
        Her ses brugerens tildelte roller.<br>
        Disse roller kan tildeles andre brugere eller slettes helt fra organisationen.
    </h5>

    <div class="well" ng-bind-html="ctrl.vmText"></div>

    <h5 ng-if="ctrl.noRights">Brugeren har ikke nogen tildelte roller i denne organisation</h5>

    <div ng-if="!ctrl.noRights">
        <div class="form-group">
            <label for="selectedUserId">Tildel roller til: &nbsp;</label>
            <select id="selectedUserId" ng-model="ctrl.selectedUser" class="form-control" ng-change="ctrl.setSelectedUser()" ng-options="user as user.Name + ' ' + user.LastName for user in ctrl.vmUsersInOrganization">
                {{user.Name}} {{user.LastName}}
            </select>
        </div>
    </div>

    <!-- Table containing organization data -->
    <org-user-roles-table ng-model="ctrl.vmOrgRoot"
                          data-role-type-name="Organisation"
                          data-callbacks="ctrl.roleViewModelCallbacks"
                          data-selected-user="ctrl.selectedUser"/>

    <!-- Table containing ItSystem data -->
    <org-user-roles-table ng-model="ctrl.vmSystemRoot"
                          data-role-type-name="Systemnavn"
                          data-callbacks="ctrl.roleViewModelCallbacks"
                          data-selected-user="ctrl.selectedUser"/>

    <!-- Table containing ItContract data -->
    <org-user-roles-table ng-model="ctrl.vmContractRoot"
                          data-role-type-name="Kontraktnavn"
                          data-callbacks="ctrl.roleViewModelCallbacks"
                          data-selected-user="ctrl.selectedUser"/>

    <!-- Table containing DPR data -->
    <org-user-roles-table ng-model="ctrl.vmDprRoot"
                          data-role-type-name="Databehandling"
                          data-callbacks="ctrl.roleViewModelCallbacks"
                          data-selected-user="ctrl.selectedUser"/>

    <!-- Table containing administrative roller data -->
    <table class="table table-hover" ng-if="ctrl.vmAdminRoot.rights.length > 0">
        <thead>
            <tr>
                <th class="col-xs-1">
                    <input type="checkbox" ng-model="ctrl.vmAdminRoot.selected" ng-checked="ctrl.vmAdminRoot.selected" ng-change="ctrl.selectOrDeselectGroup(ctrl.vmAdminRoot.rights)"/>
                </th>
                <th class="col-xs-6">Adminstrative rettigheder</th>
                <th class="col-xs-4">Tildel til</th>
                <th class="col-xs-1">Slet</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="admin in ctrl.vmAdminRoot.rights | orderBy: 'role'">
                <td><input type="checkbox" ng-model="admin.selected" ng-change="ctrl.updateAnySelections()" /></td>
                <td>
                    <div ng-if="admin.role === 'LocalAdmin'">
                        Lokal admin
                    </div>
                    <div ng-if="admin.role === 'OrganizationModuleAdmin'">
                        Organisations admin
                    </div>
                    <div ng-if="admin.role === 'SystemModuleAdmin'">
                        System admin
                    </div>
                    <div ng-if="admin.role === 'ContractModuleAdmin'">
                        Kontrakt admin
                    </div>
                    <div ng-if="admin.role === 'GlobalAdmin'">
                        Global admin
                    </div>
                    <div ng-if="admin.role === 'RightsHolderAccess'">
                        Rettighedshaveradgang
                    </div>
                </td>
                <td ng-if="admin.selected && ctrl.selectedUser">{{ctrl.selectedUser.Name}} {{ctrl.selectedUser.LastName}}</td>
                <td ng-if="!(admin.selected && ctrl.selectedUser)"> </td>
                <td><button class="glyphicon glyphicon-trash" ng-click="ctrl.deleteAdminRole(admin.role)"></button></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" ng-if="!ctrl.allSelections" data-ng-click="ctrl.selectAll()" data-disabled-on-busy>Vælg alle</button>
    <button type="button" class="btn btn-default pull-left" ng-if="ctrl.allSelections" data-ng-click="ctrl.deselectAll()" data-disabled-on-busy>Fravælg alle</button>
    <button type="submit" ng-disabled="!ctrl.anySelections" class="btn btn-danger" data-ng-click="ctrl.deleteSelectedRoles()" data-disabled-on-busy>Slet valgte roller</button>
    <button type="submit" class="btn btn-danger" data-element-type="userDeleteButton" data-ng-click="ctrl.deleteUser()" data-disabled-on-busy>Slet bruger</button>
    <button type="submit" ng-disabled="!ctrl.anySelections || !ctrl.selectedUser" id="btnAssign" class="btn btn-warning" data-ng-click="ctrl.assign()" data-disabled-on-busy>Tildel valgte</button>
    <button type="submit" class="btn btn-default" data-ng-click="ctrl.cancel()" data-disabled-on-busy>Luk</button>
</div>