<div class="modal-header">
    <div class="clearfix">
        <help-text data-key="org_user_delete_modal" data-default-title="Slet bruger" class="pull-left"></help-text>
        <button type="button" class="close" data-ng-click="ctrl.cancel()" data-dismiss="modal">
            &times;
        </button>
    </div>
    <h3 align="center">Slet bruger fra organisation</h3>
    <h5> Roller for {{ctrl.firstName}} {{ctrl.lastName}}, {{ctrl.email}}
    </h5></div>
<div class="modal-body">
    <h5 ng-show="ctrl.vmProject.length || ctrl.vmSystem.length || ctrl.vmItContracts.length || ctrl.vmOrgUnits.length || ctrl.vmOrgAdmin.length">
        Der ønskes at fjerne <b>{{ctrl.firstName}} {{ctrl.lastName}}</b> fra organisationen <b>{{ctrl.curOrganization}}</b>, der er fundet roller for vedkommende.
        Her ses brugerens tildelte roller.<br>
        Disse roller kan tildeles andre brugere eller slettes helt fra organisationen.
    </h5>

    <div class="well" ng-bind-html="ctrl.vmText"></div>

    <h5 ng-hide="ctrl.vmProject.length || ctrl.vmSystem.length || ctrl.vmItContracts.length || ctrl.vmOrgUnits.length || ctrl.vmOrgAdmin.length">Brugeren har ikke nogen tildelte roller i denne organisation</h5>
    
    <div ng-show="ctrl.vmProject.length || ctrl.vmSystem.length || ctrl.vmItContracts.length || ctrl.vmOrgUnits.length || ctrl.vmOrgAdmin.length">
        <div class="form-group">
            <label for="selectedUserId">Tildel roller til: &nbsp;</label>
            <select id="selectedUserId" ng-model="ctrl.selectedUser" class="form-control" ng-change="ctrl.setSelectedUser()" ng-options="user as user.Name + ' ' + user.LastName for user in ctrl.vmUsersInOrganization">
                <!--<option selected disabled>Vælg bruger</option>
                <option ng-repeat="user in ctrl.vmUsersInOrganization | orderBy: user.LastName" ng-value="user">
                    {{user.Name}} {{user.LastName}}
                </option>-->
            </select>
        </div>
    </div>

    <!-- Table containing organization data -->
    <table class="table table-hover" ng-show="{{ctrl.orgUnit.length}}">
        <thead>
            <tr>
                <th class="col-xs-1">Vælg</th>
                <th class="col-xs-3">Organisation</th>
                <th class="col-xs-3">Rolle</th>
                <th class="col-xs-4">Tildel til</th>
                <th class="col-xs-1">Slet</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="orgUnit in ctrl.vmOrgUnits | orderBy: 'Rolle'">
            <!--<tr ng-repeat="orgUnit in ctrl.vmOrgRoles.items | orderBy: 'Role.Name'">-->  
                <!--ng-true-value doesn't accept dynamically allocated values-->
                <td><input type="checkbox" ng-model="orgUnitModel" ng-change="ctrl.collectionUpdate('OrganizationUnitRights', orgUnit, orgUnitModel)" /></td>
                <td>{{orgUnit.Object.Name}}</td>
                <td>{{orgUnit.Role.Name}}</td>
                <td ng-show="orgUnitModel">{{ctrl.selectedUser.Name}} {{ctrl.selectedUser.LastName}}</td>
                <td ng-hide="orgUnitModel"> </td>
                <td><button class="glyphicon glyphicon-trash" ng-click="ctrl.delete('OrganizationUnitRights', orgUnit)"></button></td>
            </tr>
        </tbody>
    </table>
    <!-- Table containing project data -->
    <table class="table table-hover" ng-show="{{ctrl.vmProject.length}}">
        <thead>
            <tr>
                <th class="col-xs-1">Vælg</th>
                <th class="col-xs-3">Projektnavn</th>
                <th class="col-xs-3">Rolle</th>
                <th class="col-xs-4">Tildel til</th>
                <th class="col-xs-1">Slet</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="project in ctrl.vmProject | orderBy: 'project.Role.Name'">
                <td><input type="checkbox" ng-model="projUnitModel" ng-change="ctrl.collectionUpdate('ItProjectRights', project, projUnitModel)"/></td>
                <td>{{project.Object.Name}}</td>
                <td>{{project.Role.Name}}</td>
                <td ng-show="projUnitModel">{{ctrl.selectedUser.Name}} {{ctrl.selectedUser.LastName}}</td>
                <td ng-hide="projUnitModel"> </td>
                <td><button class="glyphicon glyphicon-trash" ng-click="ctrl.delete('ItProjectRights', project)"></button></td>
            </tr>
        </tbody>
    </table>
    <!-- Table containing ItSystem data -->
    <table class="table table-hover" ng-show="{{ctrl.vmSystem.length}}">
        <thead>
            <tr>
                <th class="col-xs-1">Vælg</th>
                <th class="col-xs-3">Systemnavn</th>
                <th class="col-xs-3">Rolle</th>
                <th class="col-xs-4">Tildel til</th>
                <th class="col-xs-1">Slet</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="system in ctrl.vmSystem | orderBy: 'Rolle'">
                <td><input type="checkbox" ng-model="systemUnitModel" ng-change="ctrl.collectionUpdate('ItSystemRights', system, systemUnitModel)" /></td>
                <td>{{system.Object.ItSystem.Name}}</td>
                <td>{{system.Role.Name}}</td>
                <td ng-show="systemUnitModel">{{ctrl.selectedUser.Name}} {{ctrl.selectedUser.LastName}}</td>
                <td ng-hide="systemUnitModel"> </td>
                <td><button class="glyphicon glyphicon-trash" ng-click="ctrl.delete('ItSystemRights', system)"></button></td>
            </tr>
        </tbody>
    </table>
    <!-- Table containing ItContract data -->
    <table class="table table-hover" ng-show="ctrl.vmItContracts.length">
        <thead>
            <tr>
                <th class="col-xs-1">Vælg</th>
                <th class="col-xs-3">Kontraktnavn</th>
                <th class="col-xs-3">Rolle</th>
                <th class="col-xs-4">Tildel til</th>
                <th class="col-xs-1">Slet</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="Contract in ctrl.vmItContracts | orderBy: 'Rolle'">
                <td><input type="checkbox" ng-model="ContractUnitModel" ng-change="ctrl.collectionUpdate('ItContractRights', Contract, ContractUnitModel)" /></td>
                <td>{{Contract.Object.Name}}</td>
                <td>{{Contract.Role.Name}}</td>
                <td ng-show="ContractUnitModel">{{ctrl.selectedUser.Name}} {{ctrl.selectedUser.LastName}}</td>
                <td ng-hide="ContractUnitModel"> </td>
                <td><button class="glyphicon glyphicon-trash" ng-click="ctrl.delete('ItContractRights', Contract)"></button></td>
            </tr>
        </tbody>
    </table>
    <!-- Table containing administrative roller data -->
    <table class="table table-hover" ng-show="{{ctrl.vmOrgAdmin.length}}">
        <thead>
            <tr>
                <th class="col-xs-1">Vælg</th>
                <th class="col-xs-6">Adminstrative rettigheder</th>
                <th class="col-xs-4">Tildel til</th>
                <th class="col-xs-1">Slet</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="admin in ctrl.vmOrgAdmin">
                <td><input type="checkbox" ng-model="adminModel" ng-change="ctrl.collectionUpdate('OrganizationRights', admin, adminModel)" /></td>
                <td>
                    <div ng-show="admin.Role === 'LocalAdmin'">
                        Lokal admin
                    </div>
                    <div ng-show="admin.Role === 'OrganizationModuleAdmin'">
                        Organisations admin
                    </div>
                    <div ng-show="admin.Role === 'ProjectModuleAdmin'">
                        Projekt admin
                    </div>
                    <div ng-show="admin.Role === 'SystemModuleAdmin'">
                        System admin
                    </div>
                    <div ng-show="admin.Role === 'ContractModuleAdmin'">
                        Kontrakt admin
                    </div>
                    <div ng-show="admin.Role === 'ReportModuleAdmin'">
                        Rapport admin
                    </div>
                    <div ng-show="admin.Role === 'GlobalAdmin'">
                        Global admin
                    </div>
                    <div ng-show="admin.Role === 'ApiAccess'">
                        API Adgang
                    </div>
                </td>
                <td ng-show="adminModel">{{ctrl.selectedUser.Name}} {{ctrl.selectedUser.LastName}}</td>
                <td ng-hide="adminModel"> </td>
                <td><button class="glyphicon glyphicon-trash" ng-click="ctrl.delete('OrganizationRights', admin)"></button></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-danger" data-ng-click="ctrl.deleteSelectedRoles()" data-disabled-on-busy>Slet valgte roller</button>
    <button type="submit" class="btn btn-danger" data-element-type="userDeleteButton" data-ng-click="ctrl.deleteUser()" data-disabled-on-busy>Slet bruger</button>
    <!--<button type="submit" ng-disabled="ctrl.disabled" id="btnOk" class="btn btn-warning" data-ng-click="ctrl.ok()" data-disabled-on-busy>Tildel valgte og returner</button>-->
    <button type="submit" ng-disabled="ctrl.disabled" id="btnAssign" class="btn btn-warning" data-ng-click="ctrl.assign()" data-disabled-on-busy>Tildel valgte</button>
    <button type="submit" class="btn btn-default" data-ng-click="ctrl.cancel()" data-disabled-on-busy>Luk</button>
</div>