<div class="modal-header">
    <div class="clearfix">
        <h3 class="modal-title pull-left">Opret bruger</h3>
        <help-text class="pull-right" data-key="user_create" data-default-title="Opret bruger"></help-text>
    </div>
</div>
<div class="modal-body">
    <form name="createUser.form" novalidate="novalidate" class="form-horizontal">
        <div class="form-group">
            <label for="email" class="col-xs-3 control-label">
                Email-adresse
            </label>
            <div class="col-xs-8">
                <input type="email" name="email" id="email" data-ng-model="ctrl.vm.email" class="form-control" data-ng-required="true" data-unique-org-user data-unique-email autofocus data-ng-disabled="ctrl.busy" maxlength="100">
                <span class="glyphicon form-control-feedback" data-ng-class="{ 'glyphicon-remove': ctrl.createForm.name.$invalid && ctrl.createForm.name.$dirty, 'glyphicon-ok': ctrl.createForm.name.$valid }"></span>
            </div>
        </div>
        <div class="form-group" data-ng-hide="emailExists">
            <label for="repeatEmail" class="col-xs-3 control-label">
                Gentag email-adresse
            </label>
            <div class="col-xs-8">
                <input type="email" name="repeatEmail" id="repeatEmail" data-ng-model="ctrl.repeatEmail" class="form-control" data-match="ctrl.vm.email" data-ng-required="true" data-ng-disabled="ctrl.busy" maxlength="100">
            </div>
        </div>
        <div class="form-group" data-ng-hide="emailExists">
            <label for="name" class="col-xs-3 control-label">
                Fornavn
            </label>
            <div class="col-xs-8">
                <input type="text" name="name" id="name" data-ng-model="ctrl.vm.name" class="form-control" data-ng-required="true" data-ng-disabled="ctrl.busy" maxlength="100">
            </div>
        </div>
        <div class="form-group" data-ng-hide="emailExists">
            <label for="lastName" class="col-xs-3 control-label">
                Efternavn
            </label>
            <div class="col-xs-8">
                <input type="text" name="lastName" id="lastName" data-ng-model="ctrl.vm.lastName" class="form-control" data-ng-required="true" data-ng-disabled="ctrl.busy" maxlength="100">
            </div>
        </div>
        <div class="form-group" data-ng-hide="emailExists">
            <label for="phoneNumber" class="col-xs-3 control-label">
                Telefon
            </label>
            <div class="col-xs-8">
                <input type="text" name="phoneNumber" id="phoneNumber" data-ng-model="ctrl.vm.phoneNumber" class="form-control" data-ng-required="false" data-ng-disabled="ctrl.busy" />
            </div>
        </div>
        <div class="form-group" data-ng-hide="userExists">
            <label for="roller" class="col-xs-3 control-label">
                Roller
            </label>
            <div class="col-xs-8">
                <div class="checkbox" ng-show="ctrl.isUserGlobalAdmin || ctrl.isUserLocalAdmin">
                    <label><input type="checkbox" value="" data-ng-model="ctrl.vm.isLocalAdmin">Lokal admin</label>
                </div>
                <div class="checkbox" ng-show="ctrl.isUserGlobalAdmin || ctrl.isUserLocalAdmin || ctrl.isUserOrgAdmin">
                    <label><input type="checkbox" value="" data-ng-model="ctrl.vm.isOrgAdmin">Organisations admin</label>
                </div>
                <div class="checkbox" ng-show="ctrl.isUserGlobalAdmin || ctrl.isUserLocalAdmin || ctrl.isUserProjectAdmin">
                    <label><input type="checkbox" value="" data-ng-model="ctrl.vm.isProjectAdmin">Projekt admin</label>
                </div>
                <div class="checkbox" ng-show="ctrl.isUserGlobalAdmin || ctrl.isUserLocalAdmin || ctrl.isUserSystemAdmin">
                    <label><input type="checkbox" value="" data-ng-model="ctrl.vm.isSystemAdmin">System admin</label>
                </div>
                <div class="checkbox" ng-show="ctrl.isUserGlobalAdmin || ctrl.isUserLocalAdmin || ctrl.isUserContractAdmin">
                    <label><input type="checkbox" value="" data-ng-model="ctrl.vm.isContractAdmin">Kontrakt admin</label>
                </div>
                <div class="checkbox" ng-show="ctrl.isUserGlobalAdmin || ctrl.isUserLocalAdmin || ctrl.isUserReportAdmin">
                    <label><input type="checkbox" value="" data-ng-model="ctrl.vm.isReportAdmin">Rapport admin</label>
                </div>
            </div>
        </div>
        <div class="form-group" data-ng-hide="userExists || !ctrl.isUserGlobalAdmin">
            <div ng-if="ctrl.isUserGlobalAdmin">
                <label class="col-xs-3 control-label">Særlige roller i organisationen</label>
                <div class="col-xs-8">
                    <div class="checkbox">
                        <label><input type="checkbox" value="" data-ng-model="ctrl.vm.isRightsHolder">Rettighedshaveradgang</label>
                    </div>
                    <span ng-if="ctrl.vm.isRightsHolder" class="help-block small">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        Bemærk: Særlig rettighed der ikke bør kombineres med andre udover API adgang.
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group" data-ng-hide="userExists || !ctrl.isUserGlobalAdmin">
            <div ng-if="ctrl.isUserGlobalAdmin">
                <label class="col-xs-3 control-label">Tværgående rettigheder</label>
                <div class="col-xs-8">
                    <div class="checkbox">
                        <label><input ng-disabled="emailExists" type="checkbox" value="" data-ng-model="ctrl.vm.hasApi">API Adgang</label>
                    </div>
                    <span class="help-block small">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        Aktiverer mulighed for udstedelse af KITOS Tokens.
                    </span>
                    <div class="checkbox">
                        <label><input ng-disabled="emailExists" type="checkbox" value="" data-ng-model="ctrl.vm.hasStakeHolderAccess">Interessentadgang</label>
                    </div>
                    <span ng-if="emailExists" class="help-block small">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        Brugeren findes allerede. Gennemfør tilknytningen og rediger brugeren efterfølgende for at indstille tværgående rettigheder.
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <p class="help-block col-xs-offset-3" data-ng-hide="emailExists">
                En ny bruger vil blive oprettet i systemet.
            </p>
            <span class="help-block col-xs-offset-3" data-ng-show="emailExists && !userExists">Brugeren findes allerede.</span>
            <span class="help-block col-xs-offset-3" data-ng-show="userExists">Brugeren er allerede tilknyttet.</span>
            <span class="help-block col-xs-offset-3" data-ng-show="ctrl.createUser.form.email.$error.lookup">Der skete en fejl ved tjek om E-Mail er i brug!</span>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" data-ng-show="emailExists" data-ng-disabled="userExists && emailExists" data-ng-click="ctrl.attachUser()">Tilknyt bruger</button>
    <button class="btn btn-primary" data-ng-hide="emailExists" data-ng-click="ctrl.create(false)" data-ng-disabled="ctrl.createUser.form.$invalid || ctrl.createUser.form.$pristine || ctrl.busy" data-disabled-on-busy="">Opret bruger</button>
    <button class="btn btn-success" data-ng-hide="emailExists" data-ng-click="ctrl.create(true)" data-ng-disabled="ctrl.createUser.form.$invalid || ctrl.createUser.form.$pristine || ctrl.busy" data-disabled-on-busy="">Opret bruger og send advis</button>
    <button class="btn btn-warning" data-ng-click="ctrl.cancel()" data-ng-disabled="ctrl.busy" data-disabled-on-busy="">Annuller</button>
</div>
