@{
    ViewBag.Title = "Project";
}

<h2>Konfiguration af IT Projekt</h2>
<div class="container-fluid">
    <form class="form-horizontal config-form">

        <div class="row">
            <div class="col-md-1">
                <h4>Generelt</h4>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <div class="form-group">
                    <label for="input-project-navn" class="col-md-2 control-label">Modulnavn</label>
                    <div class="col-md-6">
                        <select class="form-control" id="input-project-name"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="input-project-url" class="col-md-2 control-label">IT Projekt vejledning</label>
                    <div class="col-md-6">
                        <input type="url" name="ItProjectGuide" class="form-control" id="input-project-url" />
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-2">
                <h4>Referencer</h4>
                Navngiv, hvis feltnavn er andet end KITOS default.
            </div>

            <div class="col-md-9 col-md-offset-1">
                <div class="row h4">
                    <div class="col-md-4">KITOS default</div>
                    <div class="col-md-4">Kommunespecifikt navn</div>
                </div>
                <div id="project-ref">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <h4>Projektfaser</h4>
                Navngiv, hvis faser er andet end KITOS default.
            </div>

            <div class="col-md-9 col-md-offset-1">
                <div class="row h4">
                    <div class="col-md-4">KITOS default</div>
                    <div class="col-md-4">Kommunespecifikt navn</div>
                </div>
                <div id="project-phase">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <h4>Projektkategorier</h4>
                
                <div class="add-suggest-box" data-url="/api/projectCategory"></div>
            </div>

            <div class="col-md-9 col-md-offset-1">
                <div id="project-cat"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <h4>Roller</h4>
                <div class="add-suggest-box" data-url="/api/projectRole"></div>
            </div>

            <div class="col-md-9 col-md-offset-1">
                <div id="project-roles"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <h4>Portfølje</h4>
            </div>

            <div class="col-md-9 col-md-offset-1">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="ShowPortfolio" value="">
                            Medtag IKKE fanen 'Portfølje'
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="ShowBC" value="">
                            Medtag kolonnen 'BC'
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="config-clone config-edit form-group">
    <div class="col-md-4">
        <input class="form-control config-edit-original" type="text" value="" disabled />
        <p class="help-block"></p>
    </div>
    <div class="col-md-4">
        <input class="form-control config-edit-custom" type="text" value="" />
    </div>
</div>

<div class="config-clone config-list form-group">
    <div class="col-md-8">
        <input class="config-list form-control" type="text" disabled />
        <p class="help-block"></p>
    </div>
</div>

<div class="config-clone suggest-box container-fluid col-md-3">
    <a href="#" class="toggle-suggest-form btn btn-default">+ Foreslå ny ...</a>

    <div class="suggest-extended">
        <p class="small">Hvis du synes at der mangler et væsentlig element, kan du foreslå det her. Alle foreslag skal godkendes af en global administrator før de bliver tilgengængelige til brug.</p>
        <form class="suggest-form form-horizontal" data-url="">
            <div class="form-group">
                <label class="control-label">
                    Forslag:
                </label>
                <input type="text" name="nametext" class="form-control input-sm" required/>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-sm btn-primary" value="Foreslå"/>
            </div>
        </form>
    </div>
</div>

@section scripts
{
    <script>

        function ajax(url, data, type, onSuccess) {
            console.log(data);
            $.ajax({
                url: url,
                type: type,
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json',
                success: onSuccess
            });
        };

        var appendList = function (target, i, title, note) {
            var clone = $("div.config-clone.config-list").clone();

            clone.removeClass("config-clone");
            clone.attr("id", "" + target + i);

            clone.find("input.config-list").val(title);
            clone.find("p.help-block").text(note);

            clone.appendTo("#" + target);
        };

        var appendEdit = function (target, i, originalText, customText, note, itemid, localeUri) {
            var clone = $("div.config-clone.config-edit").clone();

            clone.removeClass("config-clone");
            clone.attr("id", "" + target + i);

            clone.find("input.config-edit-original").val(originalText);
            clone.find("input.config-edit-custom")
                .val("")
                .attr("placeholder", originalText)
                .attr("data-new", "new")
                .attr("data-itemid", itemid)
                .change(function () {
                    var val = $(this).val();
                    var type = $(this).attr("data-new") == "new" ? "POST" : "PUT";
                    ajax(localeUri, { "Original_Id": itemid, "Name": val }, type,
                        function (result) {
                            $(this).highlight();
                        }
                    );
                });

            clone.find("p.help-block").text(note);

            clone.appendTo("#" + target);
        };
        
        function getLocale(uri, targetId) {
            $.getJSON(uri)
                .done(function (data) {
                    var target = $("#" + targetId);
                    $.each(data, function (i, e) {
                        target.find("input.config-edit-custom[data-itemid=" + e.Original_Id + "]")
                            .val(e.Name)
                            .removeAttr("data-new");
                    });
                })
                .fail(function(jqXHR, textStatus, err) {
                    console.log(jqXHR, textStatus, err);
                });
        }

        function makeEdit(originalUri, localeUri, targetId) {
            $.getJSON(originalUri)
                .done(function (data) {
                    $.each(data, function (i, e) {
                        appendEdit(targetId, i, e.Name, "A", e.Note, e.Id, localeUri);
                    });
                    getLocale(localeUri, targetId);
                })
                .fail(function (jqXHR, textStatus, err) {
                    console.log(jqXHR, textStatus, err);
                });
        }

        function makeList(uri, targetId) {
            $.getJSON(uri)
                .done(function (data) {
                    $.each(data, function (i, e) {
                        appendList(targetId, i, e.Name, e.Note);
                    });
                })
                .fail(function (jqXHR, textStatus, err) {
                    console.log(jqXHR, textStatus, err);
                });
        }

        $(document).ready(function () {

            makeEdit("/api/extReferenceType", "/api/extReferenceTypeLocale", "project-ref");
            makeEdit("/api/projectPhase", "/api/projectPhaseLocale", "project-phase");
            makeList("/api/projectCategory", "project-cat");
            makeList("/api/itProjectRole", "project-roles");

            $("div.add-suggest-box").each(function() {
                var clone = $(".config-clone.suggest-box").clone();
                clone.removeClass("config-clone");
                clone.find("form").attr("data-url", $(this).attr("data-url"));
                clone.appendTo($(this));
            });

            $(".toggle-suggest-form").click(function () {
                $(this).next().slideToggle("fast");
                return false;
            });

            $("form.suggest-form").each(function () {
                var form = $(this);
                form.simpleAjax({
                    url: form.data("url"),
                    getData: function () {
                        return {
                            "Name": form.find("input[name=nametext]").val(),
                            "IsActive": false,
                            "IsSuggestion": true
                        };
                    }
                });
            });

        });

    </script>
}
