<input type="text" data-autosave-typeahead=""
       class="typeahead-input form-control input-sm"
       data-model-value="{{ model }}"
       data-autosave="{{ autosaveUrl }}"
       data-ng-model="searchInput"
       data-placeholder="{{placeholder}}"
       data-ng-keydown="onKeypress($event)"
       data-ng-focus="onFocus()"
       data-ng-blur="onBlur()"
       data-field="{{ field }}"
       data-ng-disabled="!userHasWriteAccess" />

<div class="typeahead-items" data-ng-show="showItems">
    <div class="item" ng-repeat="item in items | filter:searchInput track by $index" ng-click="handleSelection(item)" style="cursor:pointer" ng-class="{active:isCurrent($index)}" ng-mouseenter="setCurrent($index)">
        <p class="title">{{item.Name}} {{item.LastName}} </p>
    </div>
</div>