.notify {
    position: fixed;
    bottom: 0px;
    right: 15px;
    float: right;
    width: 250px;
    z-index: 1338;
}

.notify-item.ng-enter,
.notify-item.ng-leave {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;
}

.notify-item.ng-enter,
.notify-item.ng-leave.ng-leave-active {
    opacity:0;
}
.notify-item.ng-leave,
.notify-item.ng-enter.ng-enter-active {
    opacity:1;
}