<div class="row task-usage-row task-foldout-leaf">
    
    <!-- org unit name -->
    <div class="col-md-8">
        <span class="indent">{{ indent(usage.level) }}</span>
        <i class="glyphicon glyphicon-asterisk invisible"></i>
        {{ usage.usage.orgUnit.name }}
    </div>
    
    <!-- status -->
    <div class="col-md-2">
        <div class="status-column" data-ng-if="user.currentConfig.showColumnTechnology">
            <input data-select-status="usage.usage.technologyStatus" data-can-write="usage.usage.orgUnit.hasWriteAccess"/>
        </div>
        <div class="status-column" data-ng-if="user.currentConfig.showColumnUsage">
            <input data-select-status="usage.usage.usageStatus" data-can-write="usage.usage.orgUnit.hasWriteAccess"/>
        </div>
        <div class="status-column">
            <button class="btn btn-link btn-xs"
                data-tooltip-html-unsafe="<small>{{ usage.usage.comment && 'Læs kommentar' || 'Tilføj kommentar' }}</small>"
                data-tooltip-trigger="mouseenter"
                data-tooltip-placement="right"
                data-ng-click="openComment(usage)"
                data-ng-if="usage.usage.orgUnit.hasWriteAccess">
                <i class="glyphicon glyphicon-comment" data-ng-class="{'faded': !usage.usage.comment}"></i>
            </button>
            <button class="btn btn-link btn-xs"
                data-tooltip-html-unsafe="<small>Læs kommentar</small>"
                data-tooltip-trigger="mouseenter"
                data-tooltip-placement="right"
                data-ng-click="openComment(usage)"
                data-ng-if="!usage.usage.orgUnit.hasWriteAccess && usage.usage.comment">
                <i class="glyphicon glyphicon-comment"></i>
            </button>
        </div>
    </div>
    
    <!-- it project / it system -->
    <div class="col-md-1 text-center"></div>
    <div class="col-md-1 text-center"></div>
</div>
