@font-face {
    font-family: 'Roboto'; /*a name to be used later*/
    src: url('Roboto-Black.ttf'); /*URL to font*/
font-weight: normal;
    
             font-style: normal;
}

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: #e8e8e8;
  overflow-y: hidden;
}

table.Main {
	width: 100%;
	height: 100%;
	background: white;
}

table.LeftPanel {
	width: 150px;
	height: 100%;
	background: white;
}

table.LeftPanel td {
	vertical-align: top;
}

div.Buttons {
	width: 150px;
	overflow-x: hidden;
	overflow-y: scroll;
	position: absolute;
	top: 70px;
	bottom: 4px;
}

a.ReportButton {
	width: 100%;
	cursor: pointer;
	display: block;
	text-align: center;
}

a.ReportButton table {
	margin: 5px auto;
}

a.ReportButton img {
	text-align: center;
	border: 1px solid gray;
	margin : 3px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

a.ReportButton.Over img {
	text-align: center;
	border: 1px solid #7dbbb3;
	margin : 3px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

a.ReportButton.Selected img {
	text-align: center;
	border: 2px solid #7dbbb3;
	margin : 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

a.ReportButton td.Caption {
	padding: 0 5px 0 5px;
	font-family: Arial;
	font-size: 11pt;
	color: #4a465c;
	display: block;
	text-align: center;
}

.js_loader, .jsloader::after {
    border-radius: 50%;
    height: 64px;
    width: 64px;
}
.js_loader, .js_loader::after {
    border-radius: 50%;
    height: 64px;
    width: 64px;
}
.js_loader {
    animation: 1.1s linear 0s normal none infinite running load8;
    border-color: rgba(25, 71, 138, 0.2) rgba(25, 71, 138, 0.2) rgba(25, 71, 138, 0.2) #0070b8;
    border-style: solid;
    border-width: 6px;
    font-size: 10px;
    margin: 60px auto;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0px);
}
