<div class="object-section-container">
    <h4>{{systemNameHeader}}</h4>
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-tasks"></i>
            Tilknyttede opgaver
        </div>
        <div class="panel-body">
            <div data-kle-filter="selectedTaskGroup" data-has-write-access="hasWriteAccess"></div>
        </div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>
                        <a id="change-task-view" data-ng-click="changeTaskView()">
                            <span data-ng-if="!showAllTasks">Vis alle</span>
                            <span data-ng-if="showAllTasks">Vis valgte</span>
                        </a>
                    </th>
                    <th class="col-xs-2">
                        KLE ID
                        <button data-order-by="'taskKey'" data-paging="pagination"></button>
                    </th>
                    <th class="col-xs-9">
                        KLE Navn
                        <button data-order-by="'description'" data-paging="pagination"></button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="task in tasklist">
                    <!-- selected -->
                    <td>
                        <input type="checkbox"
                               id="{{task.taskRef.id}}"
                               data-ng-checked="task.isSelected"
                               data-ng-click="save(task)"
                               data-ng-disabled="!hasWriteAccess" />
                    </td>
                    <td>
                        <label for="{{task.taskRef.id}}">{{task.taskRef.taskKey}}</label>
                    </td>
                    <td>
                        <label for="{{task.taskRef.id}}">{{task.taskRef.description}}</label>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-center">
                        <span data-pagination-buttons="pagination" data-pagination-total-count="totalCount"></span>
                        <span>
                            <button id="select-all-pages"
                                    class="btn btn-success btn-sm"
                                    data-confirmed-click="selectTaskGroup()"
                                    data-confirm-click="Er du sikker?"
                                    data-ng-if="hasWriteAccess">
                                Vælg alle sider
                            </button>
                            <button id="select-all"
                                    class="btn btn-success btn-sm"
                                    data-confirmed-click="selectAllTasks()"
                                    data-confirm-click="Er du sikker?"
                                    data-ng-if="hasWriteAccess">
                                Vælg alle
                            </button>
                            <button id="deselect-all"
                                    class="btn btn-danger btn-sm"
                                    data-confirmed-click="removeAllTasks()"
                                    data-confirm-click="Er du sikker?"
                                    data-ng-if="hasWriteAccess">
                                Fjern alle
                            </button>
                            <button id="deselect-all-pages"
                                    class="btn btn-danger btn-sm"
                                    data-confirmed-click="removeTaskGroup()"
                                    data-confirm-click="Er du sikker?"
                                    data-ng-if="hasWriteAccess">
                                Fjern alle sider
                            </button>
                        </span>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>