<div class="object-section-container">
    <h4>{{systemNameHeader}}</h4>
    <div class="panel panel-default">
        <div class="row">
            <!-- Left side -->
            <div class="col-xs-8">
                <div class="row">
                    <div class="col-xs-6">
                        <!--System name-->
                        <div class="form-group">
                            <label for="system-name" class="control-label small">IT System</label>
                            <input type="text" id="system-name" class="form-control input-sm" required
                                   data-ng-disabled="!hasWriteAccess"
                                   data-autosave="{{system.updateUrl}}"
                                   data-field="name"
                                   data-ng-model="system.name">
                        </div>
                        <!--Parent system name-->
                        <div class="form-group">
                            <label for="system-parent" class="control-label small">Overordnet system</label>
                            <input type="hidden" id="system-parent" class="form-control input-sm"
                                   data-ui-select2="itSystemsSelectOptions"
                                   data-ng-disabled="!hasWriteAccess"
                                   data-autosave="{{system.updateUrl}}"
                                   data-field="parentId"
                                   data-placeholder="Vælg system"
                                   data-ng-model="system.parent">
                        </div>
                        <!--Previous system name-->
                        <div class="form-group">
                            <label for="system-previousname" class="control-label small">Tidligere systemnavn</label>
                            <input type="text" id="system-previousname" class="form-control input-sm"
                                   data-ng-disabled="!hasWriteAccess"
                                   data-autosave="{{system.updateUrl}}"
                                   data-field="previousname"
                                   data-ng-model="system.previousName">
                        </div>
                        <!-- belongs to -->
                        <div class="form-group">
                            <label for="system-belongs-to" class="control-label small">Rettighedshaver</label>
                            <input type="hidden" id="system-belongs-to" class="form-control input-sm"
                                   data-ui-select2="organizationSelectOptions"
                                   data-placeholder="Vælg organisation"
                                   data-ng-disabled="!hasWriteAccess"
                                   data-autosave="{{system.updateUrl}}"
                                   data-field="belongsToId"
                                   data-ng-model="system.belongsTo">
                        </div>
                        <!-- Access modifier -->
                        <div class="form-group">
                            <label for="system-access" class="control-label small">Synlighed</label>
                            <input id="system-access" class="form-control input-sm"
                                   data-autosave="{{system.updateUrl}}"
                                   data-field="accessModifier"
                                   data-ng-disabled="!hasWriteAccess"
                                   data-ng-model="system.accessModifier"
                                   data-select-access-modifier="">
                        </div>
                    </div>

                    <!-- Middle -->
                    <div class="col-xs-6">
                        <!-- Description -->
                        <div class="form-group">
                            <label for="system-description" class="control-label small">Beskrivelse</label>
                            <textarea id="system-description" class="form-control input-sm" rows="12"
                                      data-autosave="{{system.updateUrl}}"
                                      data-field="description"
                                      data-ng-disabled="!hasWriteAccess"
                                      data-ng-model="system.description"></textarea>
                        </div>
                        <!-- Reference -->
                        <div class="form-group">
                            <label for="system-referencer" class="control-label small">Referencer vedr. systemet</label>
                            <table id="system-referencer" class="table table-condensed table-striped table-fixed table-bordered">
                                <tr ng-if="system.externalReferences.length == 0">
                                    <td>
                                        <p class="noMargin">Ingen referencer</p>
                                    </td>
                                </tr>
                                <tr ng-repeat="reference in system.externalReferences">
                                    <td>
                                        <p class="noMargin" ng-show="!isValidUrl(reference.url)">{{reference.title}}</p>
                                        <a ng-show="isValidUrl(reference.url)" href="{{reference.url}}">{{reference.title}}</a>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Right side -->
            <div class="col-xs-4">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- Business type -->
                        <div class="form-group">
                            <select-option data-id="system-business-type"
                                           data-label="Forretningstype"
                                           data-placeholder="Vælg forretningstype"
                                           data-selected-text="{{ system.businessTypeName }}"
                                           data-ng-disabled="!hasWriteAccess"
                                           data-ng-model="system.businessTypeId"
                                           data-options="businessTypes"
                                           data-auto-save-url="{{ system.updateUrl }}"
                                           data-field="businessTypeId">
                            </select-option>
                        </div>

                        <!-- KLE ID and Name -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <table id="system-kle" class="table table-condensed table-striped table-fixed table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="col-xs-2">
                                                    KLE ID
                                                </th>
                                                <th class="col-xs-10">
                                                    KLE Navn
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="system.taskRefs.length == 0">
                                                <td colspan="2">
                                                    <p class="noMargin">Ingen KLE valgt</p>
                                                </td>
                                            </tr>
                                        <tr ng-repeat="kle in system.taskRefs">
                                            <td>
                                                <p class="noMargin">{{kle.taskKey}}</p>
                                            </td>
                                            <td>
                                                <p class="noMargin">{{kle.description}}</p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- Archive duty -->
                        <div class="form-group">
                            <label for="archiveDuty" class="control-label small">Rigsarkivets vejledning</label>
                            <select class="form-control input-sm" id="archiveDuty"
                                    ui-select2="{minimumResultsForSearch: -1}"
                                    data-ng-model="system.archiveDuty"
                                    data-autosave="{{system.updateUrl}}"
                                    data-field="ArchiveDuty"
                                    data-ng-disabled="!hasWriteAccess">
                                <option value="1">B</option>
                                <option value="2">K</option>
                                <option value="3">Ved ikke</option>
                            </select>
                            <p>Læs mere hos <a href="https://www.sa.dk/da/offentlig-forvaltning/kommuner-og-regioner/bevaring-kassation-it-systemer/">Rigsarkivet</a></p>
                        </div>
                        <!-- UUID -->
                        <div class="form-group">
                            <label for="system-uuid" class="control-label small">UUID</label>
                            <input id="system-uuid" type="text" value="{{system.uuid}}" class="form-control input-sm" disabled="disabled" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
