<div class="panel panel-default">
    <div class="panel-heading">IT systemet kan anvende disse snitflader:</div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th class="col-xs-12">Snitflade</th>
                <th>Fjern</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="interface in canUseInterfaces | filter: {show:true}">
                <td>
                    <a data-ui-sref="it-system.interface-edit.interface-details({ id: interface.id })">{{ interface.name }} <span data-ng-if="interface.disabled">(udgået)</span></a>
                </td>
                <td>
                    <button class="btn btn-danger btn-xs delete-interface"
                            data-ng-if="hasWriteAccess"
                            data-uib-tooltip="Fjern kan-anvende"
                            data-confirmed-click="interface.delete()"
                            data-confirm-click="{{ system.isUsed && 'Der er IT Systemer, som er i Lokal anvendelse som har denne snitfladerelation tilknyttet. Er du sikker på at du vil fjerne relationen?' || 'Er du sikker på at du vil fjerne opmærkingen? Dette sletter ikke snitfladen.' }}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot data-ng-show="hasWriteAccess">
            <tr>
                <td colspan="2">
                    <input id="select-interface"
                           class="form-control input-sm"
                           type="hidden"
                           data-ui-select2="interfacesSelectOptions"
                           data-placeholder="Vælg snitflade"
                           data-ng-model="new.interface"
                           data-ng-change="addNewInterface()">
                </td>
            </tr>
        </tfoot>
    </table>
</div>
