<div class="object-section-container">
    <h4>{{system.name}} <span data-ng-if="system.disabled">(Slettes)</span></h4>
    <div class="panel panel-default">
        <div class="panel-heading">
            Adgangsstyring
        </div>
        <div class="panel-body">
            <label>Navn</label>
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" data-ng-model="accessTypeName" class="form-control" data-ng-disabled="!hasWriteAccess" />
                    <button type="submit" data-ng-click="add()" data-ng-disabled="!accessTypeName || !hasWriteAccess" class="btn">Tilføj</button>
                </div>

            </form>
        </div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th class="col-xs-2">
                        Navn
                    </th>
                    <th class="col-xs-2">
                        Slet
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="accessType in accessTypes">
                    <td>
                        {{accessType.Name}}
                    </td>
                    <td>
                        <button class="btn-link" data-ng-click="remove(accessType.Id)" data-ng-disabled="!hasWriteAccess"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
