<div class="panel panel-default">
    <div class="panel-heading">
        Adgangsstyring
    </div>
    <div class="panel-body">
        <form class="form-inline">
            <label>Navn</label>
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group">
                        <input type="text" data-ng-model="accessTypeName" class="form-control input-sm" data-ng-disabled="!hasWriteAccess"/>
                    </div>
                </div>
                <div class="col-xs-2">
                    <button type="submit" data-ng-click="add()" data-ng-disabled="!accessTypeName || !hasWriteAccess" class="btn">Tilføj</button>
                </div>
            </div>
        </form>
    </div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th class="col-xs-2">
                    Navn
                </th>
                <th class="col-xs-2">
                    Slet
                </th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="accessType in accessTypes">
                <td>
                    {{accessType.Name}}
                </td>
                <td>
                    <button class="btn-link" data-ng-click="remove(accessType.Id)" data-ng-disabled="!hasWriteAccess"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
