<div class="object-section-container">
    <h4>{{system.name}} <span ng-if="system.disabled">(Slettes)</span></h4>
    <div class="panel panel-default">
        <div class="panel-heading"><strong>IT systemet udstiller følgende snitflader:</strong></div>

        <table class="table table-striped table-condensed">
            <thead data-ng-if="interfaceExposures.length > 0">
                <tr>
                    <th class="col-xs-2">Snitflade</th>
                    <th class="col-xs-1">Grænseflade</th>
                    <th class="col-xs-1">Data</th>
                    <th class="col-xs-1">Datatype</th>
                </tr>
            </thead>
            <tbody class="small">
                <tr data-ng-repeat-start="exposure in interfaceExposures">

                    <!-- name of the interface -->
                    <td rowspan="{{exposure.numRows || 1}}">
                        <a data-ui-sref="it-system.interface-edit.main({ id: exposure.id })">{{ exposure.name }} <span data-ng-if="exposure.disabled">(Slettes)</span></a>
                    </td>

                    <!-- interface (grænseflade) -->
                    <td rowspan="{{exposure.numRows || 1}}">{{exposure.interfaceName}}</td>

                    <!-- data -->
                    <td rowspan="1">
                        <span data-ng-if="exposure.dataRows.length > 0">
                            {{exposure.dataRows[0].data}}
                        </span>
                    </td>

                    <!-- data type -->
                    <td>
                        <span data-ng-if="exposure.dataRows.length > 0">
                            {{exposure.dataRows[0].dataType.name}}
                        </span>
                    </td>
                </tr>
                <tr data-ng-repeat="dataRow in exposure.dataRows" data-ng-if="!$first" data-ng-repeat-end="">
                    <!-- data -->
                    <td rowspan="1">
                        {{dataRow.data}}
                    </td>

                    <!-- data type -->
                    <td>
                        {{dataRow.dataType.name}}
                    </td>
                </tr>
                <tr data-ng-if="interfaceExposures.length == 0">
                    <td colspan="8" class="text-center">Systemet udstiller ingen snitflader</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>