<div class="object-section-container">
    <h4>{{system.name}}</h4>
    <div class="panel panel-default">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label small">Systemets overordnede formål</label>
                    <input type="text" 
                           data-ng-disabled="!hasWriteAccess"
                           data-autosave="{{updateUrl}}" 
                           class="form-control input-sm"
                           data-field="GeneralPurpose"
                           data-ng-model="system.generalPurpose"
                           data-placeholder="Systemets overordnede formål"/>
                </div>

                <div class="form-group">
                    <label for="system-name" class="control-label small">Indeholder systemet oplysninger om straffedomme og lovovertrædelser?</label>
                    <select class="form-control input-sm"
                            data-ng-disabled="!hasWriteAccess"
                            ui-select2="{minimumResultsForSearch: -1}"
                            data-ng-model="system.containsLegalInfo"
                            data-ng-change="changeDataField('containsLegalInfo')">
                        <option value="1">Ja</option>
                        <option value="0">Nej</option>
                        <option value="2">Ved Ikke</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="system-name" class="control-label small">Sker der overførsel af data til 3. lande?</label>
                    <div class="well">
                        <label class="radio-inline">
                            <input type="radio" data-ng-model="system.isDataTransferedToThirdCountries" name="inlineRadioOptions"
                                   id="inlineRadioNo" ng-value="true" data-ng-change="changeDataField('isDataTransferedToThirdCountries')" 
                                   data-ng-disabled="!hasWriteAccess"> Ja
                        </label>
                        <label class="radio-inline">
                            <input type="radio" data-ng-model="system.isDataTransferedToThirdCountries" name="inlineRadioOptions"
                                   id="inlineRadioNo" ng-value="false" data-ng-change="changeDataField('isDataTransferedToThirdCountries')" 
                                   data-ng-disabled="!hasWriteAccess"> Nej
                        </label>
                    </div>
                </div>

                <div class="form-group"  
                     data-ng-show="system.isDataTransferedToThirdCountries">
                    <label class="control-label small">Hvilket land er der overført data til?</label>
                    <input type="text"
                           data-ng-disabled="!hasWriteAccess"
                           data-autosave="{{updateUrl}}"
                           class="form-control input-sm"
                           data-field="DataIsTransferedTo"
                           data-ng-model="system.dataIsTransferedTo"
                           data-placeholder="Hvilket land er der overført data til" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group"
                     data-ng-show="system.dataLevel == 1 || system.dataLevel == 2">
                    <label class="control-label small">Almindelige persondata:</label>
                    <div class="well">
                        <div class="checkbox" data-ng-repeat="r in regularSensitiveData">
                            <label><input type="checkbox" ng-model="r.Checked" 
                            data-ng-disabled="!hasWriteAccess" 
                            ng-click="updateDataLevel(r.Id, r.Checked, 'REGULARPERSONALDATA')">{{r.Name}}</label>
                        </div>
                    </div>
                </div>

                <div class="form-group"
                     data-ng-show="system.dataLevel == 2">
                    <label class="control-label small">Følsomme persondata:</label>
                    <div class="well">
                        <div class="checkbox" data-ng-repeat="r in sensitivePersonalData">
                            <label><input type="checkbox" ng-model="r.Checked"
                            data-ng-disabled="!hasWriteAccess"
                            ng-click="updateDataLevel(r.Id, r.Checked, 'SENSITIVEPERSONALDATA')">{{r.Name}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="object-section-container">
                    <h4>{{usage.itSystem.name}} <span ng-if="usage.itSystem.disabled">(inaktiv)</span></h4>
                    <div class="panel panel-default">
                        <div class="panel-heading">Databehandlere</div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Navn</th>
                                    <th>CVR</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="dataWorker in dataWorkers">
                                    <td>
                                        {{ dataWorker.dataWorkerName }}
                                    </td>
                                    <td>
                                        {{ dataWorker.dataWorkerCvr }}
                                    </td>
                                    <td class="text-right">
                                        <button type="button"
                                                class="btn btn-danger btn-xs delete-project"
                                                data-confirmed-click="delete({{ dataWorker.id }})"
                                                data-confirm-click="Er du sikker på at du vil slette tilknytningen?"
                                                data-ng-show="hasWriteAccess">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot data-ng-show="hasWriteAccess">
                                <tr>
                                    <td colspan="3">
                                        <input type="hidden"
                                               id="dataWorker-selector"
                                               class="form-control input-sm"
                                               data-ui-select2="dataWorkerSelectOptions"
                                               data-ng-model="selectedDataWorker"
                                               data-ng-change="save()"
                                               data-placeholder="Vælg Databehandler" />
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                </div>
          </div>
    </div>
</div>