<div class="col-md-12">
    
    <div class="col-md-4 container-fluid">
        <h2>Organisation</h2>
        <p>Du er tilknyttet disse organisationer:</p>
        <div data-ng-repeat="node in nodes">
            <div data-ng-include="'partials/org/org-unit.html'"></div>
        </div>
    </div>

    <div class="col-md-8 container-fluid">
        <div class="row">
            
            <!-- if no org unit is selected, this is shown -->
            <div class="col-md-12" data-ng-hide="chosenOrgUnit">
                <h3>Vælg en organisationsenhed</h3>
                <p>Her kan du få overblik over de organisationsenheder, som du er tilknyttet.</p>
                <p>
                    <strong>Start med at vælge en organisationsenhed i oversigten til venstre.</strong>
                </p>
            </div>
            
            <!-- if an org unit has been selected -->
            <div class="col-md-12" data-ng-show="chosenOrgUnit">
                <h3>
                    {{ chosenOrgUnit.name }} <span class="text-muted"> ({{ chosenOrgUnit.Organization.name }})</span>
                    <span class="pull-right small" data-ng-hide="chosenOrgUnit.hasWriteAccess">
                        <i class="glyphicon glyphicon-lock" title="Du har ikke skriveadgang til denne organisationsenhed"></i>
                    </span>
                    <span class="pull-right small" data-ng-show="chosenOrgUnit.hasWriteAccess">
                        <a data-ng-click="editUnit(chosenOrgUnit)"><i class="glyphicon glyphicon-cog" title="Rediger {{chosenOrgUnit.name}}"></i></a>
                    </span>
                </h3>

                <!-- Organization Roles -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="glyphicon glyphicon-user"></i>
                        Organisationsroller

                        <a class="pull-right" 
                           data-ng-show="chosenOrgUnit.hasWriteAccess" 
                            data-ng-click="chosenOrgUnit.editRights = !chosenOrgUnit.editRights">
                            Rediger
                        </a>
                    </div>
                    <table class="full-width table">
                        <thead>
                            <tr>
                                <th><a ng-click="rightSortChange('orgUnitName')">Organisationsenhed</a></th>
                                <th><a ng-click="rightSortChange('roleName')">Organisationsrolle</a></th>
                                <th><a ng-click="rightSortChange('userName')">Navn</a></th>
                                <th><a ng-click="rightSortChange('userEmail')">Email</a></th>
                                <th></th>
                            </tr>
                        </thead>
                        <!-- for each right -->
                        <tbody data-ng-repeat="right in chosenOrgUnit.OrgRights | filter : { show: true } | orderBy : rightSort : rightSortReverse">
                            
                            <!-- show -->
                            <tr data-ng-hide="right.edit">
                                <td>{{ orgUnits[right.Object_Id].name }}</td>
                                <td>{{ orgRoles[right.Role_Id].name }}</td>
                                <td>{{ right.User.Name }}</td>
                                <td>{{ right.User.Email }}</td>
                                <td>
                                    <div data-ng-show="chosenOrgUnit.hasWriteAccess && chosenOrgUnit.editRights">
                                        <a data-ng-click="right.edit = true" class="btn btn-link btn-sm"><i class="glyphicon glyphicon-pencil"></i></a>
                                        <a class="btn btn-link btn-sm" 
                                           data-confirmed-click="deleteRight(right)" 
                                           data-confirm-click="Er du sikker på at du vil slette?">
                                            <i class="glyphicon glyphicon-trash pull-right"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            
                            <!-- edit -->
                            <tr data-ng-show="right.edit">
                                <td>
                                    <input type="text" disabled="" class="form-control input-sm" value="{{ orgUnits[right.Object_Id].name }}"/>
                                </td>
                                <td>
                                    <select data-ui-select2="" name="selectRole" data-ng-model="right.roleForSelect" class="form-control input-sm">
                                        <option data-ng-repeat="orgRole in orgRoles" value="{{orgRole.Id}}">
                                            {{orgRole.name}} ({{orgRole.hasWriteAccess && "skriv" || "læs" }})
                                        </option>
                                    </select>
                                </td>
                                <td colspan="2">
                                    <input data-select-user="foo" data-user-model="right.userForSelect" />
                                </td>
                                <td>
                                    <input type="submit" class="btn btn-primary btn-sm" data-ng-click="updateRight(right)" value="Gem" />
                                </td>
                            </tr>
                        </tbody>

                        <!-- add-new-right row -->
                        <tbody data-ng-show="chosenOrgUnit.hasWriteAccess && chosenOrgUnit.editRights">
                            <tr>
                                <td><input type="text" disabled="" class="form-control input-sm" value="{{ chosenOrgUnit.name }}"/></td>
                                <td>
                                    <select data-ui-select2="" name="selectRole" data-ng-model="newRole" data-placeholder="Vælg en organisationsrolle" class="form-control input-sm">
                                        <option value=""></option>
                                        <option data-ng-repeat="orgRole in orgRoles" value="{{orgRole.Id}}">
                                            {{orgRole.name}} ({{orgRole.hasWriteAccess && "skriv" || "læs" }})
                                        </option>
                                    </select>
                                </td>
                                <td colspan="2" class="form-group">
                                    <input data-select-user="foo" data-user-model="selectedUser" />
                                </td>
                                <td>
                                    <input type="submit" class="btn btn-primary btn-sm" data-ng-click="submitRight()" value="Gem" />
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>

        </div>
    </div>

</div>
