<div class="col-md-12">

    <h2>Organisation</h2>

    <div class="col-md-5 container-fluid">
        <h3>Organisationsenheder</h3>
        <div data-ng-repeat="node in nodes">
            <div data-ng-include="'partials/org/org-unit.html'"></div>
        </div>
    </div>

    <div class="col-md-7 container-fluid">
        <div class="row">

            <div class="col-md-12" data-ng-hide="chosenOrgUnit">
                <h3>Vælg en organisationsenhed</h3>
                <p>Her kan du få overblik over de organisationsenheder, som du er tilknyttet.</p>
                <p><strong>Start med at vælge en organisationsenhed i oversigten til venstre.</strong></p>
            </div>

            <div class="col-md-12" data-ng-show="chosenOrgUnit">
                <h3>{{ chosenOrgUnit.Name }}</h3>
                <p>Du har valgt enheden {{ chosenOrgUnit.Name }} under organisationen {{ chosenOrgUnit.Organization.Name }}.</p>

                <div class="panel panel-primary">
                    <div class="panel-heading">Organisationsroller</div>
                    <table class="full-width table">
                        <thead>
                            <tr>
                                <th>Organisationsenhed</th>
                                <th>Brugerrolle</th>
                                <th>Navn</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="right in chosenOrgUnit.OrgRights">
                                <td>{{ orgUnits[right.Object_Id].Name }}</td>
                                <td>{{ orgRoles[right.Role_Id].Name }}</td>
                                <td>{{ right.User.Name }}</td>
                                <td>{{ right.User.Email }}</td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="panel-footer">
                        <form class="form-horizontal" novalidate="novalidate">
                            <div class="form-group col-md-5">
                                <label for="selectRole" class="control-label">
                                    Rolle: 
                                </label>
                                <select data-ui-select2="" name="selectRole" data-ng-model="newRole" data-placeholder="Vælg en brugerrolle" class="form-control">
                                    <option value=""></option>
                                    <option data-ng-repeat="orgRole in orgRoles" value="{{orgRole.Id}}">{{orgRole.Name}} ({{orgRole.HasWriteAccess && "skriv" || "læs" }})</option>
                                </select>
                            </div>
                            <div class="form-group col-md-5 col-md-offset-1">
                                <label for="selectUser" class="control-label">
                                    Bruger: 
                                </label>
                                <input type="text" name="selectUser" data-ui-select2="userSelectOptions" data-ng-model="selectedUser" class="form-control" data-placeholder="Find bruger" />
                            </div>
                        </form>
                    </div>
                </div>



                {{selectedUser}}

            </div>

        </div>
        
        <div class="row">
            <div class="col-md-12" data-ng-hide="chosenTaskList">
                <h3>Vælg opgaver tilkyttet organisationen</h3>
            </div>

            <div class="col-md-12" data-ng-show="chosenTaskList">
                <div class="panel panel-primary">
                    <table class="full-width table">
                        <thead>
                            <tr>
                                <th>Organisationsenhed</th>
                                <th>ID</th>
                                <th>Navn</th>
                                <th>Overblik</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="task in availableTaskRefs">
                                <td>foo</td>
                                <td>{{ task.TaskKey }}</td>
                                <td>{{ task.Name }}</td>
                                <td><input type="checkbox"/></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
