<div class="searchbox-wrapper">
    <a class="excel-icon" data-ng-href="{{csvUrl}}">
        <img src="../../Images/excel.png" alt="Hent excelark" width="25">
    </a>
</div>

<div class="col-md-12">
    <div class="col-md-3">
        <div data-ng-model="orgUnitId" data-ng-change="loadUsages()" data-select-org-unit=""></div>
    </div>
    <div class="col-md-1">
        KLE ID
        <button data-order-by="'taskRef.taskKey'" data-paging="pagination"></button>
    </div>
    <div class="col-md-4">
        KLE Navn
        <button data-order-by="'taskRef.description'" data-paging="pagination"></button>
    </div>
    <div class="col-md-2">
        <div class="supertext" data-ng-show="user.currentConfig.showColumnTechnology || user.currentConfig.showColumnUsage">
            Digitaliseringsgrad
        </div>
        <div class="subtext">
            <span class="small" data-ng-if="user.currentConfig.showColumnTechnology">Teknologi</span>
            <span class="small" data-ng-if="user.currentConfig.showColumnUsage">Anvendelse</span>
        </div>

    </div>
    <div class="col-md-1 text-center">IT Projekt</div>
    <div class="col-md-1 text-center">IT System</div>
</div>

<div data-ng-repeat="usage in taskUsages">
    <div data-ng-include="'partials/org/overview/task-usage.html'"></div>
</div>

<div class="col-md-12">
    <span data-pagination-buttons="pagination"></span>
</div>

<!-- insert space to make background draw -->
&nbsp;
