<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dk.nita.saml20" version="2.0.1" targetFramework="net461" />
  <package id="Hangfire.Core" version="1.6.6" targetFramework="net461" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net461" />
  <package id="Ninject.Extensions.Logging" version="3.2.3.0" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="Serilog" version="1.5.14" targetFramework="net461" />
</packages>