<div data-global-option-role-list="" title="Roller" state="config.system.edit-system-roles" data-options-url="odata/ItSystemRoles"></div>
<div data-global-option-list="" title="Applikationstyper" state="config.system.edit-system-types" data-options-url="odata/ItSystemTypes"></div>
<div data-global-option-list="" title="Forretningstyper" state="config.system.edit-system-types" data-options-url="odata/BusinessTypes"></div>
<div data-global-option-list="" title="Arkiveringstyper" state="config.system.edit-system-types" data-options-url="odata/ArchiveTypes"></div>
<div data-global-option-list="" title="Datatyper" state="config.system.edit-system-types" data-options-url="odata/DataTypes"></div>
<div data-global-option-list="" title="Frekvenser" state="config.system.edit-system-types" data-options-url="odata/FrequencyTypes"></div>
<div data-global-option-list="" title="Snitfladetyper" state="config.system.edit-system-types" data-options-url="odata/ItInterfaceTypes"></div>
<div data-global-option-list="" title="Grænseflader" state="config.system.edit-system-types" data-options-url="odata/InterfaceTypes"></div>
<div data-global-option-list="" title="Metoder" state="config.system.edit-system-types" data-options-url="odata/MethodTypes"></div>
<div data-global-option-list="" title="Personfølsomme data" state="config.system.edit-system-types" data-options-url="odata/SensitiveDataTypes"></div>
<div data-global-option-list="" title="TSA" state="config.system.edit-system-types" data-options-url="odata/TsaTypes"></div>

