<div data-global-option-role-list="" title="Roller" data-options-url="odata/ItContractRoles"></div>
<div data-global-option-list="" title="Kontrakttyper" data-options-url="odata/ItContractTypes"></div>
<div data-global-option-list="" title="Kontraktskabeloner" data-options-url="odata/ItContractTemplateTypes"></div>
<div data-global-option-list="" title="Indkøbsformer" data-options-url="odata/PurchaseFormTypes"></div>
<div data-global-option-list="" title="Betalingsmodeller" data-options-url="odata/PaymentModelTypes"></div>
<div data-global-option-list="" title="Aftaleelementer" data-options-url="odata/AgreementElementTypes"></div>
<div data-global-option-list="" title="Option forlæng" data-options-url="odata/OptionExtendTypes"></div>
<div data-global-option-list="" title="Betalingsfrekvenser" data-options-url="odata/PaymentFrequencyTypes"></div>
<div data-global-option-list="" title="Pris reguleringer" data-options-url="odata/PriceRegulationTypes"></div>
<div data-global-option-list="" title="Indkøbsstrategier" data-options-url="odata/ProcurementStrategyTypes"></div>
<div data-global-option-list="" title="Opsigelsesfrister" data-options-url="odata/TerminationDeadlineTypes"></div>
<div data-global-option-list="" title="Overtagelsesprøver" data-options-url="odata/HandoverTrialTypes"></div>
