<div data-global-option-role-list="" title="Roller" data-options-url="api/itContractRole"></div>
<div data-global-option-list="" title="Kontrakttyper" data-options-url="api/contractType" data-orgid="{{orgId}}"></div>
<div data-global-option-list="" title="Kontraktskabeloner" data-options-url="api/contractTemplate" data-orgid="{{orgId}}"></div>
<div data-global-option-list="" title="Indkøbsformer" data-options-url="api/purchaseForm" data-orgid="{{orgId}}"></div>
<div data-global-option-list="" title="Betalignsmodeller" data-options-url="api/paymentModel" data-orgid="{{orgId}}"></div>
<div data-global-option-list="" title="Aftaleelementer" data-options-url="api/agreementElement" data-orgid="{{orgId}}"></div>
<div data-global-option-list="" title="Option forlæng" data-options-url="api/optionExtend" data-orgid="{{orgId}}"></div>
<div data-global-option-list="" title="Betalingsfrekvenser" data-options-url="api/paymentFrequency" data-orgid="{{orgId}}"></div>
<div data-global-option-list="" title="Pris reguleringer" data-options-url="api/priceRegulation" data-orgid="{{orgId}}"></div>
<div data-global-option-list="" title="Indkøbsstrategier" data-options-url="api/procurementStrategy" data-orgid="{{orgId}}"></div>
<div data-global-option-list="" title="Opsigelsesfrister" data-options-url="api/terminationDeadline" data-orgid="{{orgId}}"></div>
<div data-global-option-list="" title="Overtagelsesprøver" data-options-url="api/handoverTrialType" data-orgid="{{orgId}}"></div>
