<div class="modal-header">
	<h3>{{vm.pageTitle}}</h3>
</div>
<div class="modal-body">
	<form name="editOption" class="form-horizontal">
		<div class="form-group" ng-class="{ 'has-error': editOption.name.$touched && editOption.name.$invalid }">

			<label for="name" class="col-md-2 control-label">
				Navn
			</label>
			<div class="col-md-8">
				<input type="text" name="name" id="name" data-ng-model="vm.name" class="form-control" ng-required="true" ng-maxlength="80"
					   ng-minlength="1" data-disabled-on-busy autofocus>
				<div ng-messages="editOption.name.$error" ng-if="editOption.name.$touched" style="color:maroon" role="alert">
					<div ng-message="required" style="margin:5px 0">Navn skal udfyldes.</div>
					<div ng-message="minlength" style="margin:5px 0">Navnet er for kort.</div>
					<div ng-message="maxlength" style="margin:5px 0">Navnet er for lang.</div>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="vm.isObligatory">
						Obligatorisk
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="vm.isActive">
						Aktiv
					</label>
				</div>
			</div>
		</div>
		<div class="form-group" ng-class="{ 'has-error': editOption.description.$touched && editOption.description.$invalid }">
			<label for="description" class="col-md-2 control-label">
				Beskrivelse
			</label>
			<div class="col-md-8">
				<textarea name="description" id="description" data-ng-model="vm.description" class="form-control" ng-required="true"
						  ng-maxlength="1024" ng-minlength="1" data-disabled-on-busy rows="8"></textarea>
				<div ng-messages="editOption.description.$error" ng-if="editOption.description.$touched" style="color:maroon" role="alert">
					<div ng-message="required" style="margin:5px 0">Beskrivelsen skal udfyldes.</div>
					<div ng-message="minlength" style="margin:5px 0">Beskrivelsen er for kort.</div>
					<div ng-message="maxlength" style="margin:5px 0">Beskrivelsen er for lang.</div>
				</div>
			</div>

		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" data-ng-click="vm.ok()" data-ng-disabled="editOption.$invalid || editOption.$pristine" data-disabled-on-busy>Gem ændringer</button>
	<button class="btn btn-warning" data-ng-click="vm.cancel()" data-disabled-on-busy>Annuller</button>
</div>
