<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <!-- About -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Om KITOS?</h3>
                </div>
                <div class="panel-body">
                    <textarea data-ng-model="about" class="resize-vertical" cols="56" rows="8" data-autosave="api/text/1" data-field="value" data-ng-if="user.isGlobalAdmin"></textarea>
                    <div data-ng-bind-html="about" data-ng-if="!user.isGlobalAdmin"></div>
                </div>
                <div class="panel-footer">
                    <a href="http://os2.eu/produkt/os2kitos" target="_blank">Klik her for at læse mere</a>
                </div>
            </div>

            <!-- Join -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Hvordan kommer I med på løsningen?</h3>
                </div>
                <div class="panel-body">
                    <p>Gør følgende for at tilslutte jer KITOS:</p>
                    <ol>
                        <li>Læs tilslutningsaftalen <a href="http://os2.eu/dokument/kitos-tilslutningsaftale-publiceret">her</a>.</li>
                        <li>
                            Udfyld og underskriv tilslutningsaftalen og send den til <a href="mailto:info@kitos.dk">info@kitos.dk</a> for at tilmelde jer KITOS. Skriv gerne hvornår
                            I ønsker, at tilslutningen skal træde i kraft.
                        </li>
                        <li>Herefter kontakter vi jer, så vi kan få en snak om, hvad der skal ske fremover, og hvordan I bedst muligt tager KITOS i brug i jeres kommune.</li>
                    </ol>
                    <p>Ønsker I mere information om tilslutningsprocessen og KITOS generelt:</p>
                    <ol>
                        <li>Læs mere om KITOS <a href="http://os2.eu/produkt/os2kitos">her</a>.</li>
                        <li>Skriv til <a href="mailto:info@kitos.dk">info@kitos.dk</a> for at få besvaret eventuelle spørgsmål. Oplys et telefonnr., hvis I ønsker at blive ringet op.</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Hjælp og vejledning til KITOS</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li><a href="/docs/Vejledning til slutbrugeren.pdf" target="_blank">Vejledning til login og brugerkonto</a></li>
                        <li><a href="/docs/Vejledning_Masseopret.pdf" target="_blank">Vejledning til lokale administratorer</a></li>
                        <li><a href="/docs/Vejledning til roller og rettigheder.pdf" target="_blank">Vejledning til roller og rettigheder</a></li>
                        <li><a href="/docs/Vejledning til tabeller på overblik.pdf" target="_blank">Vejledning til tabeller på overblik</a></li>
                        <li><a href="/docs/vejledningerOrganisation.pdf" target="_blank">Vejledning til modulet Organisation</a></li>
                        <li><a href="/docs/vejledningerITProjekter.pdf" target="_blank">Vejledning til modulet IT Projekter</a></li>
                        <li><a href="/docs/vejledningerITSystemer.pdf" target="_blank">Vejledning til modulet IT Systemer</a></li>
                        <li><a href="/docs/vejledningerITKontrakter.pdf" target="_blank">Vejledning til modulet IT Kontrakter</a></li>
                        <li><a href="/docs/html/index.html" target="_blank">Kitos kode dokumentation</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <!-- login -->
            <div class="panel panel-default" data-ng-show="!user">
                <div class="panel-heading">
                    <h3 class="panel-title">Log ind</h3>
                </div>
                <div class="panel-body">
                    <div class="text-left col-md-10">
                        <form name="loginForm" class="form-horizontal" autocomplete="off" novalidate="novalidate">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label for="email" class="control-label">Email</label>
                                </div>
                                <div class="col-md-9">
                                    <input name="email" data-ng-model="email" type="email" class="form-control input-sm" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label for="password" class="control-label">Password</label>
                                </div>
                                <div class="col-md-9">
                                    <input name="password" data-ng-model="password" type="password" class="form-control input-sm" required>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <label class="checkbox">
                                        <input name="remember" data-ng-model="remember" type="checkbox">
                                        Log mig ikke ud
                                    </label>
                                </div>
                                <div class="col-md-3">
                                    <input type="submit" class="btn btn-default btn-sm pull-right" data-ng-click="submitLogin()" value="Log ind">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel-footer">
                    Hvis du har glemt dit password, <a data-ui-sref="forgot-password">kan du anmode om at nulstille det.</a>
                </div>
            </div>

            <!-- Support -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Support</h3>
                </div>
                <div class="panel-body">
                    Hvis du oplever problemer med KITOS skal du kontakte din lokale adm.
                </div>
                <div class="panel-footer">
                    <a href="/docs/LokaladministratoreroversigtKitos.pdf" target="_blank">klik her for kontaktinfo på din lokale administrator</a>
                </div>
            </div>

            <!-- Status -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Driftstatus</h3>
                </div>
                <div class="panel-body">
                    <textarea class="resize-vertical" data-ng-model="status" cols="56" data-autosave="api/text/2" data-field="value" data-ng-if="user.isGlobalAdmin"></textarea>
                    <div data-ng-bind-html="status" data-ng-if="!user.isGlobalAdmin"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->
<footer class="footer text-info text-right">
    <small>Siden anvender <a href="https://www.browserstack.com/" title="BrowserStack">BrowserStack</a>.</small>
</footer>
