<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form name="profileForm">
                <h3>Profilindstillinger</h3>
                <br/>
                <!-- Default organizationunit -->
                <div class="form-group">
                    <label class="control-label">Primær organisationsenhed</label>
                    <select2-org-unit data-id="OrganizationChooser"
                                      data-placeholder="Vælg afdeling"
                                      data-options="orgUnits"
                                      data-ng-model="user.defaultOrganizationUnit"
                                      data-function="updateDefaultOrgUnit"
                                      data-allow-clear="allowClear">
                    </select2-org-unit>
                </div>
                <!-- User name -->
                <div class="form-group" ng-class="{ 'has-error': profileForm.name.$invalid }">
                    <label for="username" class="control-label">
                        Fornavn
                    </label>
                    <input type="text" id="username" name="name" data-ng-model="user.name" data-ng-required="true" class="form-control" data-ng-blur="patch(nameFieldName, user.name)" />
                    <div ng-messages="profileForm.name.$error" ng-if="profileForm.name.$invalid" class="color-maroon" role="alert">
                        <div ng-message="required" style="margin:5px 0">Name is required.</div>
                    </div>
                </div>
                <!-- User lastname -->
                <div class="form-group" ng-class="{ 'has-error': profileForm.lastName.$invalid }">
                    <label for="lastname" class="control-label">
                        Efternavn
                    </label>
                    <input type="text" id="lastname" name="lastName" data-ng-model="user.lastName" data-ng-required="true" class="form-control" data-ng-blur="patch(lastNameFieldName, user.lastName)" />
                    <div ng-messages="profileForm.lastName.$error" ng-if="profileForm.lastName.$invalid" class="color-maroon" role="alert">
                        <div ng-message="required" style="margin:5px 0">Last name is required.</div>
                    </div>
                </div>
                <!-- User phonenumber -->
                <div class="form-group">
                    <label for="phone" class="control-label">
                        Telefon
                    </label>
                    <input type="text" id="phone" data-ng-model="user.phoneNumber" class="form-control" data-ng-blur="patch('phoneNumber', user.phoneNumber)" />
                </div>
                <!-- User email -->
                <div class="form-group" ng-class="{ 'has-error': profileForm.email.$invalid }">
                    <label for="usermail" class="control-label">
                        Email
                    </label>
                    <input type="text" id="usermail" name="email" data-ng-model="user.email" data-ng-required="true" class="form-control" data-ng-blur="patch(emailFieldName, user.email)" />
                    <div ng-messages="profileForm.email.$error" ng-if="profileForm.email.$invalid" class="color-maroon" role="alert">
                        <div ng-message="required" style="margin:5px 0">Email is required.</div>
                    </div>
                </div>
                <div>
                    <!-- User startpage preferences -->
                    <label class="control-label" title="Her vælges den primære arbejdsenhed, som systemet så starter i når brugeren logger ind på sin konto">
                        Primær startenhed:
                    </label>
                    <div>
                        <label ng-repeat="startUnit in primaryStartUnits" class="radio-inline">
                            <input type="radio" data-ng-model="user.defaultUserStartPreference" name="inlineRadioOptions"
                                   id="{{::startUnit.htmlSafeId}}" value="{{::startUnit.id}}" data-ng-change="patch('defaultUserStartPreference', user.defaultUserStartPreference)"> {{::startUnit.name}}
                        </label>
                    </div>
                    <br/>
                </div>
            </form>
        </div>
    </div>
</div>