<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <!-- About -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group" data-ng-if="user.isGlobalAdmin">
                        <textarea ui-tinymce="tinymceOptions" data-ng-model="texts.about.value"></textarea>
                    </div>
                    <button class="btn" data-ng-if="user.isGlobalAdmin" data-ng-click="save(texts.about)">Gem</button>
                    <div data-ng-bind-html="texts.about.value" data-ng-if="!user.isGlobalAdmin"></div>
                </div>
            </div>

            <!-- Join -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group" data-ng-if="user.isGlobalAdmin">
                        <textarea ui-tinymce="tinymceOptions" data-ng-model="texts.join.value"></textarea>
                    </div>
                    <button class="btn" data-ng-if="user.isGlobalAdmin" data-ng-click="save(texts.join)">Gem</button>
                    <div data-ng-bind-html="texts.join.value" data-ng-if="!user.isGlobalAdmin"></div>
                </div>
            </div>
        </div>

        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group" data-ng-if="user.isGlobalAdmin">
                        <textarea ui-tinymce="tinymceOptions" data-ng-model="texts.guide.value"></textarea>
                    </div>
                    <button class="btn" data-ng-if="user.isGlobalAdmin" data-ng-click="save(texts.guide)">Gem</button>
                    <div data-ng-bind-html="texts.guide.value" data-ng-if="!user.isGlobalAdmin"></div>
                </div>
            </div>
        </div>

        <div class="col-xs-4">
            <!-- login -->
            <div class="panel panel-default" data-ng-show="!user">
                <div class="panel-heading">
                    <h3 class="panel-title">Log ind</h3>
                </div>
                <div class="panel-body">
                    <div class="text-left col-xs-10">
                        <form name="loginForm" class="form-horizontal" autocomplete="off" novalidate="novalidate" data-element-type="loginFormField">
                            <div class="form-group">
                                <div class="col-xs-3">
                                    <label for="email" class="control-label">Email</label>
                                </div>
                                <div class="col-xs-9">
                                    <input name="email" data-ng-model="email" type="email" class="form-control input-sm" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-3">
                                    <label for="password" class="control-label">Password</label>
                                </div>
                                <div class="col-xs-9">
                                    <input name="password" data-ng-model="password" type="password" class="form-control input-sm" required>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-xs-6 col-xs-offset-3">
                                    <label class="checkbox">
                                        <input name="remember" data-ng-model="remember" type="checkbox">
                                        Log mig ikke ud
                                    </label>
                                </div>
                                <div class="col-xs-3">
                                    <input type="submit" class="btn btn-default btn-sm pull-right" data-ng-click="submitLogin()" value="Log ind", data-element-type="loginButton">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel-footer">
                    Hvis du har glemt dit password, <a data-ui-sref="forgot-password">kan du anmode om at nulstille det.</a>
                </div>
            </div>

            <div class="panel panel-default" data-ng-show="!user" data-ng-if="true">
                <div class="panel-heading">
                    <h3 class="panel-title">Log ind via SSO</h3>
                </div>
                <div class="panel-body">
                    <div class="text-left col-xs-10">
                        <div class="form-group">
                            <input type="button" class="btn btn-default btn-sm" data-ng-click="SSOLogin()" value="Log ind via SSO">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Support -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group" data-ng-if="user.isGlobalAdmin">
                        <textarea ui-tinymce="tinymceOptions" data-ng-model="texts.support.value"></textarea>
                    </div>
                    <button class="btn" data-ng-if="user.isGlobalAdmin" data-ng-click="save(texts.support)">Gem</button>
                    <div data-ng-bind-html="texts.support.value" data-ng-if="!user.isGlobalAdmin"></div>
                </div>
            </div>

            <!-- Status -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group" data-ng-if="user.isGlobalAdmin">
                        <textarea ui-tinymce="tinymceOptions" data-ng-model="texts.status.value"></textarea>
                    </div>
                    <button class="btn" data-ng-if="user.isGlobalAdmin" data-ng-click="save(texts.status)">Gem</button>
                    <div data-ng-bind-html="texts.status.value" data-ng-if="!user.isGlobalAdmin"></div>
                </div>
            </div>
        </div>
    </div>
</div>
