<div class="modal-header">
    <h3>Opret bruger</h3>
</div>
<div class="modal-body">
    <form name="createUser.form" novalidate="novalidate" class="form-horizontal">
        <div class="form-group">
            <label for="email" class="col-md-3 control-label">
                Email-adresse
            </label>
            <div class="col-md-8">
                <input type="email" name="email" data-ng-model="email" class="form-control" data-ng-required="true" data-unique-email="{{checkAvailbleUrl}}" autofocus data-ng-disabled="busy"/>
                <span class="glyphicon form-control-feedback" data-ng-class="{ 'glyphicon-remove': createForm.name.$invalid && createForm.name.$dirty, 'glyphicon-ok': createForm.name.$valid }"></span>
            </div>
            <div data-ng-show="userExists">
                <p>someValue er sat!</p>
            </div>
        </div>
        <div class="form-group" data-ng-hide="emailExists">
            <label for="repeatEmail" class="col-md-3 control-label">
                Gentag email-adresse
            </label>
            <div class="col-md-8">
                <input type="email" name="repeatEmail" data-ng-model="repeatEmail" class="form-control" data-match="email" data-ng-required="true" data-ng-disabled="busy" />
            </div>
        </div>
        <div class="form-group" data-ng-hide="emailExists">
            <label for="name" class="col-md-3 control-label">
                Navn
            </label>
            <div class="col-md-8">
                <input type="text" name="name" data-ng-model="name" class="form-control" data-ng-required="true" data-ng-disabled="busy" />
            </div>
        </div>
        <div class="form-group">
            <p class="help-block col-md-offset-3" data-ng-hide="emailExists">
                En ny bruger vil blive oprettet i systemet.
            </p>
            <span class="help-block col-md-offset-3" data-ng-show="createUser.form.email.$error.available">Brugeren findes allerede.</span>
            <span class="help-block col-md-offset-3" data-ng-show="createUser.form.email.$error.lookup">Der skete en fejl ved tjek om E-Mail er ledig!</span>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" data-ng-show="emailExists" data-ng-click="create(false)">Tilknyt bruger</button>
    <button class="btn btn-primary" data-ng-hide="emailExists" data-ng-click="create(false)" data-ng-disabled="createUser.form.$invalid || createUser.form.$pristine || busy" data-disabled-on-busy="">Opret bruger</button>
    <button class="btn btn-success" data-ng-hide="emailExists" data-ng-click="create(true)" data-ng-disabled="createUser.form.$invalid || createUser.form.$pristine || busy" data-disabled-on-busy="">Opret bruger og send advis</button>
    <button class="btn btn-warning" data-ng-click="cancel()" data-ng-disabled="busy" data-disabled-on-busy="">Annuller</button>
</div>
