<h3>
    {{ currentUser.currentOrganizationName}}
</h3>

<div class="panel panel-default">
    <div class="panel-heading">
        <i class="glyphicon glyphicon-user"></i>
    </div>

    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>
                    Status
                    <button data-order-by="'IsLocked'" data-paging="pagination"></button>
                </th>
                <th>
                    Navn
                    <button data-order-by="'Name'" data-paging="pagination"></button>
                </th>
                <th>
                    Email
                    <button data-order-by="'Email'" data-paging="pagination"></button>
                </th>
                <th>
                    <!--EditUser button column-->
                </th>
                <th>
                    Default org.enhed
                    <button data-order-by="'DefaultOrganizationUnit.Name'" data-paging="pagination"></button>
                </th>
                <th>
                    Advis
                    <button data-order-by="'LastAdvisDate'" data-paging="pagination"></button>
                </th>
                <th>
                    Oprettet af
                    <button data-order-by="'ObjectOwner.Name'" data-paging="pagination"></button>
                </th>
                <th>
                    <select data-ng-model="chosenModule" ng-change="getRightsForModule(chosenModule)">
                        <option value="0">Organisation</option>
                        <option value="1">IT Projekter</option>
                        <option value="2">IT Systemer</option>
                        <option value="3">IT Kontrakter</option>
                    </select>
                </th>
                <th>
                    Rolle
                </th>
            </tr>
        </thead>

        <tbody>
            <tr data-ng-repeat="user in users">
                <td>
                    <button type="button" class="btn btn-link btn-xs" data-ng-click="toggleStatus(user)" data-ng-disabled="!user.canBeEdited">
                        <span data-ng-if="user.isLocked" class="glyphicon glyphicon-lock text-warning"></span>
                        <span data-ng-if="!user.isLocked" class="glyphicon glyphicon-ok text-success"></span>
                    </button>
                </td>
                <td>{{user.name}}</td>
                <td>{{user.email}} </td>
                <td>
                    <button type="button" class="btn btn-info btn-xs" data-ng-click="editUser(user)" data-ng-disabled="!user.canBeEdited">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
                <td>{{user.defaultOrganizationUnitName}}</td>
                <td>
                    <button type="button" data-ng-if="user.lastAdvisDate === null" class="btn btn-success btn-xs btn-block" data-ng-click="sendAdvis(user, false)" data-ng-disabled="!user.canBeEdited">
                        Send Advis
                    </button>
                    <button type="button" data-ng-if="user.lastAdvisDate !== null" class="btn btn-warning btn-xs btn-block" data-ng-click="sendAdvis(user, true)" data-ng-disabled="!user.canBeEdited">
                        {{user.lastAdvisDate | date:'dd-MM-yy'}}
                    </button>
                </td>
                <td>{{user.objectOwnerName}}</td>
                <td colspan="2">
                    <table class="table table-condensed table-striped">
                        <tbody>
                            <tr data-ng-repeat="right in user.rights">
                                <td>
                                    {{right.objectName}}
                                </td>
                                <td>
                                    {{right.roleName}} ({{right.hasWriteAccess && "S" || "L" }})
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td colspan="10" class="text-center">
                    <span data-pagination-buttons="pagination" data-pagination-total-count="totalCount"></span>
                </td>
            </tr>
        </tfoot>
    </table>
</div>