<div class="modal-header">
    <h3>Rediger bruger</h3>
</div>
<div class="modal-body">
    <form name="editUser.form" novalidate="novalidate" class="form-horizontal">
        <div class="form-group">
            <label for="email" class="col-md-3 control-label">
                Email-adresse
            </label>
            <div class="col-md-8">
                <input type="email" name="email" data-ng-model="email" class="form-control" data-ng-required="true" data-ng-disabled="busy" />
            </div>
        </div>
        <div class="form-group">
            <label for="repeatEmail" class="col-md-3 control-label">
                Gentag email-adresse
            </label>
            <div class="col-md-8">
                <input type="email" name="repeatEmail" data-ng-model="repeatEmail" class="form-control" data-match="email" data-ng-required="true" data-ng-disabled="busy"/>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-md-3 control-label">
                Navn
            </label>
            <div class="col-md-8">
                <input type="text" name="name" data-ng-model="name" class="form-control" data-ng-required="true" data-ng-disabled="busy" autofocus/>
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-md-3 control-label">
                Efternavn
            </label>
            <div class="col-md-8">
                <input type="text" name="lastName" data-ng-model="lastName" class="form-control" data-ng-required="true" data-ng-disabled="busy" />
            </div>
        </div>
        <div class="form-group">
            <label for="phonenumber" class="col-md-3 control-label">
                Telefon
            </label>
            <div class="col-md-8">
                <input type="text" name="phoneNumber" data-ng-model="phoneNumber" class="form-control" data-ng-required="true" data-ng-disabled="busy" />
            </div>
        </div>
        <div class="form-group">
            <p class="help-block col-md-offset-3">
                Vedkommendes oplysninger vil blive opdateret i systemet.
            </p>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" data-ng-click="ok()" data-ng-disabled="editUser.form.$invalid || editUser.form.$pristine || busy" data-disabled-on-busy="">Gem ændringer</button>
    <button class="btn btn-warning" data-ng-click="cancel()" data-ng-disabled="busy" data-disabled-on-busy="">Annuller</button>
</div>
