<div class="object-section-container">
    <h4>{{systemUsageName}}</h4>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Tilknyttede opgaver (Data fra IT Systemkataloget)</strong>
        </div>
        <div class="panel-body">
            <!-- KLE ID and Name from the parent IT-syste, -->
            <div class="form-group">
                <table id="system-kle" class="table table-condensed table-fixed">
                    <thead>
                    <tr>
                        <th class="KleIdColumn small Kle">
                            KLE ID
                        </th>
                        <th class="small Kle">
                            KLE Navn
                        </th>
                    </tr>
                    </thead>
                    <tbody class="disabledColor bordered">
                    <tr ng-if="!system.taskRefs || system.taskRefs.length == 0">
                        <td colspan="2">
                            <p class="noMargin">Ingen KLE valgt</p>
                        </td>
                    </tr>
                    <tr ng-repeat="kle in system.taskRefs">
                        <td>
                            <p class="noMargin">{{kle.taskKey}}</p>
                        </td>
                        <td>
                            <p class="noMargin">{{kle.description}}</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p>Forslag til justering af KLE opmærkning kan sendes til: <a href="mailto:info@kitos.dk" target="_blank">info@kitos.dk</a></p>
            </div>
        </div>
        <div class="panel-heading">
            <strong>Lokalt tilknyttede opgaver</strong>
        </div>
        <div class="panel-body">
            <div data-kle-filter="selectedTaskGroup" data-has-write-access="hasWriteAccess"></div>
        </div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>
                        <a id="change-task-view" data-ng-click="changeTaskView()">
                            <span data-ng-if="!showAllTasks">Vis alle</span>
                            <span data-ng-if="showAllTasks">Vis valgte</span>
                        </a>
                    </th>
                    <th class="col-xs-2">
                        KLE ID
                        <button data-order-by="'taskKey'" data-paging="pagination"></button>
                    </th>
                    <th class="col-xs-9">
                        KLE Navn
                        <button data-order-by="'description'" data-paging="pagination"></button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="task in tasklist">
                    <!-- selected -->
                    <td>
                        <input type="checkbox"
                               id="{{task.taskRef.id}}"
                               data-ng-checked="task.isSelected"
                               data-ng-click="save(task)"
                               data-ng-disabled="!hasWriteAccess" />
                        <label data-ng-show="{{task.inherited}}" class="kle-align-input-info">
                            <a uib-tooltip="Denne opgave er nedarvet"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                        </label>
                    </td>
                    <td>
                        <label for="{{task.taskRef.id}}">{{task.taskRef.taskKey}}</label>
                    </td>
                    <td>
                        <label for="{{task.taskRef.id}}">{{task.taskRef.description}}</label>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-center">
                        <span data-pagination-buttons="pagination" data-pagination-total-count="totalCount"></span>
                        <span>
                            <button id="select-all-pages"
                                    class="btn btn-success btn-sm"
                                    data-confirmed-click="selectTaskGroup()"
                                    data-confirm-click="Er du sikker?"
                                    data-ng-if="hasWriteAccess">
                                Vælg alle sider
                            </button>
                            <button id="select-all"
                                    class="btn btn-success btn-sm"
                                    data-confirmed-click="selectAllTasks()"
                                    data-confirm-click="Er du sikker?"
                                    data-ng-if="hasWriteAccess">
                                Vælg alle
                            </button>
                            <button id="deselect-all"
                                    class="btn btn-danger btn-sm"
                                    data-confirmed-click="removeAllTasks()"
                                    data-confirm-click="Er du sikker?"
                                    data-ng-if="hasWriteAccess">
                                Fjern alle
                            </button>
                            <button id="deselect-all-pages"
                                    class="btn btn-danger btn-sm"
                                    data-confirmed-click="removeTaskGroup()"
                                    data-confirm-click="Er du sikker?"
                                    data-ng-if="hasWriteAccess">
                                Fjern alle sider
                            </button>
                        </span>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>