<div class="object-section-container">
    <h4>{{systemUsageName}}</h4>
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-user"></i>
            Systemroller
        </div>
        <table class="full-width table org-role-table">
            <thead>
                <tr>
                    <th>
                        <button class="btn btn-link btn-header" data-ng-click="rightSortChange('roleName')">Systemrolle</button>
                    </th>
                    <th>
                        <button class="btn btn-link btn-header" data-ng-click="rightSortChange('userName')">Navn</button>
                    </th>
                    <th>
                        <button class="btn btn-link btn-header" data-ng-click="rightSortChange('userEmail')">Email</button>
                    </th>
                </tr>
            </thead>
            <!-- for each right -->
            <tbody data-ng-repeat="right in rights | filter : { show: true } | orderBy : rightSort : rightSortReverse">

                <!-- show -->
                <tr data-ng-hide="right.edit">
                    <td>{{ right.role.Name }} <span data-ng-if="!checkIfRoleIsAvailable(right.role.Id)">(udgået)</span> <a uib-tooltip="{{ right.role.Description }}"><i class="fa fa-info-circle" aria-hidden="true"></i></a></td>
                    <td>{{ right.user.fullName }}</td>
                    <td>
                        {{ right.user.email }}
                        <div class="pull-right"
                             data-ng-show="hasWriteAccess">
                            <a data-ng-click="right.edit = true" class="btn btn-info btn-xs edit-right">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a class="btn btn-danger btn-xs delete-right"
                               data-confirmed-click="deleteRight(right)"
                               data-confirm-click="Er du sikker på at du vil slette?">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>

                <!-- edit -->
                <tr data-ng-show="right.edit">
                    <td>
                        <select name="selectRole"
                                class="form-control input-sm"
                                data-ng-model="right.roleForSelect"
                                data-ui-select2="">
                            <option data-ng-if="!checkIfRoleIsAvailable(right.role.Id)"
                                    disabled="disabled"
                                    value="{{right.role.Id}}">
                                {{right.role.Name}} (udgået)
                            </option>
                            <option data-ng-repeat="systemRole in activeItSystemRoles"
                                    value="{{systemRole.Id}}">
                                {{systemRole.Name}} ({{systemRole.HasWriteAccess && "skriv" || "læs" }})
                            </option>
                        </select>
                    </td>
                    <td colspan="2" class="relative-position">
                        <input data-select-user="foo" data-user-model="right.userForSelect" data-org-id="{{ orgId }}" />
                        <div class="pull-outside-table">
                            <input type="submit"
                                   class="btn btn-success btn-sm"
                                   value="Gem"
                                   data-ng-click="updateRight(right)" />
                        </div>
                    </td>
                </tr>
            </tbody>

            <!-- add-new-right row -->
            <tbody data-ng-hide="!hasWriteAccess">
                <tr>
                    <td>
                        <select id="add-right-role"
                                name="selectRole"
                                class="form-control input-sm"
                                data-ui-select2=""
                                data-ng-model="newRole"
                                data-placeholder="Vælg en systemrolle"
                                data-ng-change="submitRight()">
                            <option value=""></option>
                            <option data-ng-repeat="systemRole in activeItSystemRoles" value="{{systemRole.Id}}">
                                {{systemRole.Name}} ({{systemRole.HasWriteAccess && "skriv" || "læs" }})
                            </option>
                        </select>
                    </td>
                    <td colspan="2" class="form-group">
                        <input id="add-right-user"
                               data-select-user="foo"
                               data-user-model="selectedUser"
                               data-org-id="{{ orgId }}" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>