<div class="object-section-container">
    <h4>{{usage.itSystem.name}} <span ng-if="usage.itSystem.disabled">(Slettes)</span></h4>
    <div class="panel panel-default">
    <div class="row">
        <!-- 1st column -->
        <div class="col-xs-6">
            <!-- Archived -->
            <div class="form-group">
                <label class="control-label small">Skal arkiveres</label><br>
                <input type="radio" id="Archived"
                       data-ng-model="systemUsage.Archived"
                       ng-value="true"
                       data-ng-disabled="!hasWriteAccess"
                       ng-click="patch('Archived', true)"
                       data-field="Archived">
                <label class="control-label small" for="Archived">Ja</label>

                <input type="radio" id="Archived2"
                       data-ng-model="systemUsage.Archived"
                       ng-value="false"
                       data-ng-disabled="!hasWriteAccess"
                       ng-click="patchArchivedNo()"
                       data-field="Archived">
                <label class="control-label small" for="Archived2">Nej</label>
            </div>
            <!-- ArchiveDuty -->
            <div class="form-group">
                <label class="control-label small">Arkiveringspligt</label><br>
                <input type="radio" id="ArchiveDutyB"
                       data-ng-model="ArchiveDuty"
                       ng-value="1"
                       data-ng-disabled="!hasWriteAccess || !systemUsage.Archived"
                       ng-click="patch('ArchiveDuty', ArchiveDuty)"
                       data-field="ArchiveDuty">
                <label class="control-label small" for="ArchiveDutyB">B </label>
                <input type="radio" id="ArchiveDutyK"
                       data-ng-model="ArchiveDuty"
                       ng-value="2"
                       data-ng-disabled="!hasWriteAccess || !systemUsage.Archived"
                       ng-click="patch('ArchiveDuty', ArchiveDuty)"
                       data-field="ArchiveDuty">
                <label class="control-label small" for="ArchiveDutyK">K </label>
                <input type="radio" id="ArchiveDutyDunno"
                       data-ng-model="ArchiveDuty"
                       ng-value="3"
                       data-ng-disabled="!hasWriteAccess || !systemUsage.Archived"
                       ng-click="patch('ArchiveDuty', ArchiveDuty)"
                       data-field="ArchiveDuty">
                <label class="control-label small" for="ArchiveDutyDunno">Ved ikke</label>
            </div>
            <!-- ArchivedType -->
            <div class="form-group">
                <select-option data-id="archive"
                               data-label="Arkivtype"
                               data-placeholder="Vælg arkivering"
                               data-selected-text="{{ usage.archiveTypeName }}"
                               ng-disabled="!hasWriteAccess || !systemUsage.Archived"
                               data-ng-model="usage.archiveTypeId"
                               data-options="archiveTypes"
                               data-auto-save-url="api/itSystemUsage/{{usageId}}"
                               data-field="archiveTypeId">
                </select-option>
            </div>
            <!-- ArchiveLocation -->
            <div class="form-group">
                <select-option data-id="archiveLocation"
                               data-label="Arkiveringssted"
                               data-placeholder="Vælg arkiveringssted"
                               data-selected-text="{{ usage.archiveLocationName }}"
                               data-ng-disabled="!hasWriteAccess || !systemUsage.Archived"
                               data-ng-model="usage.archiveLocationId"
                               data-options="archiveLocations"
                               data-auto-save-url="api/itSystemUsage/{{usageId}}"
                               data-field="archiveLocationId">
                </select-option>
            </div>
            <!-- Supplier -->
            <div class="form-group">
                <label for="archiveSupplier" class="control-label small">Arkiveringsleverandør</label>
                <input type="hidden" id="archiveSupplier" class="form-control input-sm"
                       data-ui-select2="suppliersSelectOptions"
                       data-ng-model="systemUsage.supplier"
                       ng-click="patchSupplier('SupplierId', systemUsage.supplier)"
                       data-field="SupplierId"
                       data-ng-disabled="!hasWriteAccess || !systemUsage.Archived">
            </div>
        </div>
        <!-- 2nd column -->
        <div class="col-xs-6">
            <!-- ArchiveTestLocation -->
            <div class="form-group">
                <select-option data-id="archiveTestLocation"
                               data-label="Arkiveringsteststed"
                               data-placeholder="Vælg arkiveringssted"
                               data-selected-text="{{ usage.archiveTestLocationName }}"
                               data-ng-disabled="!hasWriteAccess || !systemUsage.Archived"
                               data-ng-model="usage.archiveTestLocationId"
                               data-options="archiveTestLocations"
                               data-auto-save-url="api/itSystemUsage/{{usageId}}"
                               data-field="archiveTestLocationId">
                </select-option>
            </div>
            <!-- ArchiveNotes -->
            <div class="form-group">
                <label for="ArchiveNotes" class="control-label small">Arkiveringsbemærkninger</label>
                <textarea id="ArchiveNotes" class="form-control input-sm"
                       rows="5"
                       data-ng-disabled="!hasWriteAccess || !systemUsage.Archived"
                       data-ng-model="systemUsage.ArchiveNotes"
                       ng-blur="patch('ArchiveNotes', systemUsage.ArchiveNotes)"
                       data-field="ArchiveNotes"/>
            </div>
            <div class="form-group">
                <label for="ArchiveFreq" class="control-label small">Arkiveringsfrekvens (antal år)</label>
                <input type="number" step="1" min="0" ng-minlength="1" class="form-control input-sm" id="ArchiveFreq" required
                       ng-change="patch('ArchiveFreq', systemUsage.ArchiveFreq)"
                       data-field="ArchiveFreq"
                       data-ng-model="systemUsage.ArchiveFreq"
                       data-ng-disabled="!hasWriteAccess || !systemUsage.Archived"/>
            </div>
            <!-- Registertype -->
            <div form action="">
                <input type="checkbox" id="Registertype"
                       data-ng-model="systemUsage.Registertype"
                       data-ng-disabled="!hasWriteAccess || !systemUsage.Archived"
                       ng-click="patch('Registertype', systemUsage.Registertype)"/>
                <label for="Registertype" style="padding-left: 0px;">
                    <p class="control-label small" ng-show="systemUsage.Registertype">Dokumentbærende</p>
                    <p class="control-label small" ng-hide="systemUsage.Registertype">Ikke dokumentbærende</p>
                </label>
            </div>
        </div>
    </div>
        <!-- ArchiveFromSystem -->
    <div class="col-xs-12" ng-hide="archivePeriods.length < 1 && !systemUsage.Archived">
        <div class="form-group">
            <label class="control-label small">Er der arkiveret fra systemet?</label><br>
            <input type="radio" id="ArchiveFromSystemYes"
                   data-ng-model="systemUsage.ArchiveFromSystem"
                   ng-value="true"
                   data-ng-disabled="!hasWriteAccess || !systemUsage.Archived"
                   ng-click="patch('ArchiveFromSystem', true)"
                   data-field="ArchiveFromSystem">
            <label class="control-label small" for="ArchiveFromSystemYes">Ja</label>
            <input type="radio" id="ArchiveFromSystemNo"
                   data-ng-model="systemUsage.ArchiveFromSystem"
                   ng-value="false"
                   data-ng-disabled="!hasWriteAccess || !systemUsage.Archived"
                   ng-click="patch('ArchiveFromSystem', false)"
                   data-field="ArchiveFromSystem">
            <label class="control-label small" for="ArchiveFromSystemNo">Nej</label>
        </div>
    </div>
        <!-- Journal Period -->
        <div id="JournalPeriod" class="h4" ng-hide="archivePeriods.length < 1 && !systemUsage.Archived">
            <label for="JournalPeriod">	&nbsp;	&nbsp;Journalperiode </label>
            <form role="form" name="archiveForm">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="col-xs-3">Startdato</th>
                        <th class="col-xs-3">Slutdato</th>
                        <th>Unikt arkiv-id</th>
                        <th>Godkendt</th>
                        <th><!-- control --></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="archive in archivePeriods">
                        <td>
                            <input type="text" class="form-control"
                                   data-kendo-date-picker
                                   data-k-options="datepickerOptions"
                                   data-ng-disabled="!hasWriteAccess || !systemUsage.Archived"
                                   data-ng-model="archive.StartDate"
                                   ng-change="patchDatePeriode('StartDate', archive.StartDate, archive.Id)"
                                   data-field="startDate">
                        </td>
                        <td>
                            <input type="text" class="form-control"
                                   data-kendo-date-picker
                                   data-k-options="datepickerOptions"
                                   data-ng-disabled="!hasWriteAccess || !systemUsage.Archived"
                                   data-ng-model="archive.EndDate"
                                   ng-change="patchDatePeriode('EndDate', archive.EndDate, archive.Id)"
                                   data-field="endDate">
                        </td>
                        <td>
                            <div class="form-group">
                                <textarea class="form-control input-sm" style="resize: none; height: 37px" maxlength="20" rows="1"
                                          data-ng-model="archive.UniqueArchiveId"
                                          ng-blur="patchPeriode('UniqueArchiveId', archive.UniqueArchiveId, archive.Id)"
                                          data-field="uniqueArchiveId"
                                          data-ng-disabled="!hasWriteAccess || !systemUsage.Archived"></textarea>
                            </div>
                        </td>
                        <td>
                            <input type="checkbox" name="Approved"
                                   ng-click="patchPeriode('Approved', archive.Approved, archive.Id)" 
                                   data-ng-disabled="!hasWriteAccess || !systemUsage.Archived" 
                                   data-ng-model="archive.Approved"/>

                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm delete-archive"
                                    data-confirmed-click="delete(archive.Id)"
                                    data-confirm-click="Er du sikker på at du vil slette?"
                                    data-ng-disabled="!hasWriteAccess || !systemUsage.Archived">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot data-ng-hide="!hasWriteAccess || !systemUsage.Archived">
                    <tr>
                        <td>
                            <div class="form-group" data-show-errors>
                                <input type="text"
                                       name="start"
                                       class="form-control"
                                       required
                                       data-kendo-date-picker
                                       data-k-options="datepickerOptions"
                                       data-ng-disabled="!hasWriteAccess || !systemUsage.Archived"
                                       data-ng-model="archivePeriod.startDate">
                            </div>
                        </td>
                        <td>
                            <div class="form-group" data-show-errors>
                                <input type="text" 
                                       name="end"
                                       class="form-control"
                                       required
                                       data-kendo-date-picker
                                       data-k-options="datepickerOptions"
                                       data-ng-disabled="!hasWriteAccess || !systemUsage.Archived"
                                       data-ng-model="archivePeriod.endDate">
                            </div>
                        </td>
                        <td>
                            <div class="form-group" data-show-errors>
                                <input type="text" name="uniqueArchiveId" class="form-control input-sm" data-ng-model="archivePeriod.uniqueArchiveId" style="resize: none; height: 37px" maxlength="20" />
                            </div>
                        </td>
                        <td>
                                <input type="checkbox"
                                       name="Approved" 
                                       data-ng-disabled="!hasWriteAccess || !systemUsage.Archived" 
                                       data-ng-model="archivePeriod.approved"/>
                          
                        </td>
                        <td>
                            <button id="save-archive" class="btn btn-success btn-sm" data-ng-click="save()">Opret</button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
</div>