<div class="object-section-container">
    <h4>{{systemUsageName}}</h4>
    <div class="panel panel-default">
        <div class="row">
            <!-- 1st column -->
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label small">Systemets overordnede formål</label>
                    <input type="text"
                           data-ng-disabled="!hasWriteAccess"
                           data-ng-blur="patch('GeneralPurpose', generalPurpose)"
                           class="form-control input-sm"
                           data-field="generalPurpose"
                           data-ng-model="generalPurpose"
                           data-placeholder="Overordnet formål"
                           data-element-type="GDPRSystemPurpose" />
                </div>
                <!-- Business critical -->
                <div class="form-group">
                    <label for="businessCritical" class="control-label small">Forretningskritisk IT-System</label>
                    <select class="form-control input-sm" id="businessCritical"
                            ui-select2="{minimumResultsForSearch: -1, allowClear: false}"
                            ng-model="usageViewModel.isBusinessCritical"
                            data-autosave="{{autoSaveUrl}}"
                            data-field="IsBusinessCritical"
                            data-ng-disabled="!hasWriteAccess">
                        <option hidden selected value />
                        <option ng-repeat="option in dataOptions" value="{{option.id}}" ng-bind-html="option.text" />
                    </select>
                </div>
                <!-- Data processor -->
                <div class="form-group">
                    <label for="dataProcessor" class="control-label small">Dataansvarlig</label>
                    <input id="dataProcessor" type="text" class="form-control input-sm"
                           data-ng-model="systemUsage.dataProcessor"
                           data-ng-disabled="!hasWriteAccess"
                           data-field="dataProcessor"
                           data-ng-blur="patch('dataProcessor', systemUsage.dataProcessor)"
                           data-element-type="GDPRDataResponsible">
                </div>
                <!-- Operation -->
                <div class="form-group">
                    <label for="HostedAt" class="control-label small">IT systemet driftes</label>
                    <select class="form-control input-sm" id="HostedAt"
                            ui-select2="{minimumResultsForSearch: -1, allowClear: false}"
                            ng-model="usageViewModel.hostedAt"
                            data-autosave="{{autoSaveUrl}}"
                            data-field="HostedAt"
                            data-ng-disabled="!hasWriteAccess">
                        <option hidden selected value />
                        <option ng-repeat="option in hostedAtOptions" value="{{option.id}}" ng-bind-html="option.text" />
                    </select>
                </div>

                <!-- Data processing agreement -->
                <div class="form-group" ng-show="filterDataProcessor">
                    <label for="dataProcessingAgreement" class="control-label small">Databehandleraftale</label>
                    <div class="well">
                        <ul id="dataProcessingAgreement"
                            style="list-style-type: none; padding: 0; margin: 0; font-size: small;"
                            ng-repeat="contract in contracts">
                            <li><a data-ui-sref="it-contract.edit.main({id: contract.id})"> {{contract.name}} </a></li>
                        </ul>
                    </div>
                    <span class="help-block small"><i class="fa fa-info-circle" aria-hidden="true"></i> Databehandleraftalen hentes automatisk fra kontraktmodulet, når der oprettes en kontrakt og en henvisning til systemet oprettes.</span>
                </div>
                <div class="form-group" ng-hide="filterDataProcessor">
                    <label for="dataProcessingAgreementNone" class="control-label small">Databehandleraftale</label>
                    <ul data-ng-disabled="true" id="dataProcessingAgreementNone"
                        class="form-control input-sm"
                        style="list-style-type:none">
                        Ingen
                    </ul>
                    <span class="help-block small"><i class="fa fa-info-circle" aria-hidden="true"></i> Databehandleraftalen hentes automatisk fra kontraktmodulet, når der oprettes en kontrakt og en henvisning til systemet oprettes.</span>
                </div>
                <!-- Data processors -->
                <p class="small boldParagraph">Databehandlere</p>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="GDPRHeaderPadding"><p class="small">Navn</p></th>
                            <th class="GDPRHeaderPadding noRightBorder"><p class="small">CVR</p></th>
                            <th class="GDPRHeaderPadding noLeftBorder"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="dataWorker in usage.associatedDataWorkers" data-element-type="GDPRDataHandling">
                            <td>
                                {{ dataWorker.dataWorkerName }}
                            </td>
                            <td class="noRightBorder">
                                {{ dataWorker.dataWorkerCvr }}
                            </td>
                            <td class="text-right noLeftBorder" style="width: 20px;">
                                <button type="button"
                                        class="btn btn-danger btn-xs delete-project"
                                        data-confirmed-click="delete({{ dataWorker.id }})"
                                        data-confirm-click="Er du sikker på at du vil slette tilknytningen?"
                                        data-ng-show="hasWriteAccess">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot data-ng-show="hasWriteAccess" class="noPaddingLeftRightGDPR">
                        <tr>
                            <td colspan="3" style="padding: 0">
                                <input type="hidden"
                                       id="dataWorker-selector"
                                       class="form-control input-sm"
                                       data-ui-select2="dataWorkerSelectOptions"
                                       data-ng-model="selectedDataWorker"
                                       data-ng-change="save()"
                                       data-placeholder="Vælg Databehandler" />
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <!-- Data processor control -->
                <div class="form-group">
                    <label for="dataProcessorControl" class="control-label small">Tilsyn/kontrol af databehandleren</label>
                    <select class="form-control input-sm" id="dataProcessorControl"
                            ui-select2="{minimumResultsForSearch: -1, allowClear: false}"
                            ng-model="usageViewModel.dataProcessorControl"
                            data-autosave="{{autoSaveUrl}}"
                            data-field="DataProcessorControl"
                            data-ng-disabled="!hasWriteAccess">
                        <option hidden selected value />
                        <option ng-repeat="option in dataOptions" value="{{option.id}}" ng-bind-html="option.text" />
                    </select>
                </div>
                <div ng-show="usageViewModel.dataProcessorControl == 1">
                    <!-- Date of last control of the data processor -->
                    <div class="form-group">
                        <label for="lastControl" class="control-label small">Dato for seneste tilsyn/kontrol</label>
                        <input type="text" id="lastControl" class="form-control"
                               data-kendo-date-picker
                               data-k-options="datepickerOptions"
                               data-ng-disabled="!hasWriteAccess"
                               data-ng-model="systemUsage.lastControl"
                               ng-blur="patchDate('lastControl', systemUsage.lastControl)"
                               data-field="lastControl">
                        <span id="helpBlock" class="help-block small">Eksempelvis "25-04-2017"</span>
                    </div>

                    <div class="form-group">
                        <label for="datahandler-link" class="control-label small">Link til dokumentation</label>
                        <div class="form-control" style="height:30px; padding: 1px 10px; min-width:20%;" data-ng-disabled="!hasWriteAccess">

                            <a id="datahandler-link" target="_blank"
                               href="{{systemUsage.datahandlerSupervisionDocumentationUrl}}"
                               data-ng-hide="systemUsage.datahandlerSupervisionDocumentationUrl == '' || systemUsage.datahandlerSupervisionDocumentationUrl == null">
                                {{systemUsage.datahandlerSupervisionDocumentationUrlName ? systemUsage.datahandlerSupervisionDocumentationUrlName : "Dokumentation" }}
                            </a>

                            <label for="datahandler-link" class="control-label small"
                                   data-ng-show="systemUsage.datahandlerSupervisionDocumentationUrl == '' || systemUsage.datahandlerSupervisionDocumentationUrl == null">
                                Intet link til dokumentation
                            </label>

                            <button type="button" style="float:right; cursor:pointer;" data-ng-disabled="!hasWriteAccess" class="btn-link btn-editLink" title="Redigér link" data-ng-click="editLink('datahandlerSupervisionDocumentationUrl')"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        </div>
                    </div>

                </div>
                <!-- Notes -->
                <div class="form-group">
                    <label for="noteUsage" class="control-label small">Bemærkninger</label>
                    <textarea id="noteUsage" class="form-control input-sm" rows="5"
                              data-ng-disabled="!hasWriteAccess"
                              data-ng-model="systemUsage.noteUsage"
                              ng-blur="patch('noteUsage', systemUsage.noteUsage)"
                              data-field="noteUsage"></textarea>
                </div>
                <!-- Link til fortegnelse -->
                <div class="form-group">
                    <label for="docu-link" class="control-label small">Link til fortegnelse</label>
                    <div class="form-control" style="height:30px; padding: 1px 10px; min-width:20%;" data-ng-disabled="!hasWriteAccess">
                        <a target="_blank" id="docu-link" href="{{systemUsage.LinkToDirectoryUrl}}" data-ng-hide="systemUsage.LinkToDirectoryUrl == '' || systemUsage.LinkToDirectoryUrl == null">
                            {{systemUsage.LinkToDirectoryUrlName ? systemUsage.LinkToDirectoryUrlName : "Fortegnelse" }}
                        </a>
                        <label for="docu-link" class="control-label small" data-ng-show="systemUsage.LinkToDirectoryUrl == '' || systemUsage.LinkToDirectoryUrl == null">Intet link til fortegnelse</label>
                        <button type="button" style="float:right; cursor:pointer;" data-ng-disabled="!hasWriteAccess" class="btn-link btn-editLink" title="Redigér link" data-ng-click="editLink('LinkToDirectoryUrl')"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <!-- 2nd column -->
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label small">Hvilke kategorier af registrerede indgår i databehandlingen?</label>
                    <div class="well">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" data-element-type="dataLevelTypeNoneCheckbox" ng-change="dataLevelChange('personalNoDataSelected')" ng-model="usageViewModel.personalNoDataSelected" data-ng-disabled="!hasWriteAccess">Ingen Persondata
                            </label>
                            <br />
                            <label>
                                <input type="checkbox" data-element-type="dataLevelTypeRegularCheckbox" ng-change="dataLevelChange('personalRegularDataSelected')" ng-model="usageViewModel.personalRegularDataSelected" data-ng-disabled="!hasWriteAccess">Almindelig persondata
                                <span class="help-block small"><i class="fa fa-info-circle" aria-hidden="true"></i> F.eks.: Navn, adresse, telefonummer, e-mailadresse, CPR-nr, titel m.m.</span>
                            </label>
                            <br />
                            <label>
                                <input type="checkbox" data-element-type="dataLevelTypeSensitiveCheckbox" ng-change="dataLevelChange('personalSensitiveDataSelected')" ng-model="usageViewModel.personalSensitiveDataSelected" data-ng-disabled="!hasWriteAccess">Følsomme persondata
                                <div class="checkbox" data-ng-repeat="r in sensitivePersonalData" ng-if="usageViewModel.personalSensitiveDataSelected">
                                    <label>
                                        <input type="checkbox" ng-model="r.Checked" data-element-type="sensitivepersonalDataCheckbox-{{r.Name}}"
                                               data-ng-disabled="!hasWriteAccess"
                                               ng-click="updateDataLevel(r.Id, r.Checked, 'SENSITIVEPERSONALDATA')">{{r.Name}}
                                    </label>
                                </div>
                            </label>
                            <br />
                            <label>
                                <input type="checkbox" data-element-type="dataLevelTypeLegalCheckbox" ng-change="dataLevelChange('personalLegalDataSelected')" ng-model="usageViewModel.personalLegalDataSelected" data-ng-disabled="!hasWriteAccess">Straffedomme og lovovertrædelser
                            </label>
                        </div>
                    </div>
                </div>


                <div data-ng-show="usageViewModel.personalSensitiveDataSelected">
                    <div class="well">
                        <!-- Implemented technical precautions -->
                        <div class="form-group">
                            <label for="precautions" class="control-label small">Implementeret passende tekniske foranstaltninger</label><br>
                            <select class="form-control input-sm" id="precautions"
                                    ui-select2="{minimumResultsForSearch: -1, allowClear: false}"
                                    ng-model="usageViewModel.precautions"
                                    data-autosave="{{autoSaveUrl}}"
                                    data-field="Precautions"
                                    data-ng-disabled="!hasWriteAccess">
                                <option hidden selected value />
                                <option ng-repeat="option in dataOptions" value="{{option.id}}" ng-bind-html="option.text" />
                            </select>

                        </div>
                        <!-- Technical precautions consists of -->
                        <div ng-show="usageViewModel.precautions == 1">
                            <div class="form-group">
                                <label for="precautionsOptions" class="control-label small">Hvad består de af?</label>
                                <div id="precautionsOptions">
                                    <input type="checkbox" ng-model="systemUsage.precautionsOptionsEncryption" ng-click="patch('precautionsOptionsEncryption', systemUsage.precautionsOptionsEncryption)" /> <span style="font-size: small;">Kryptering</span><br />
                                    <input type="checkbox" ng-model="systemUsage.precautionsOptionsPseudonomisering" ng-click="patch('precautionsOptionsPseudonomisering', systemUsage.precautionsOptionsPseudonomisering)" /> <span style="font-size: small;">Pseudonomisering</span><br />
                                    <input type="checkbox" ng-model="systemUsage.precautionsOptionsAccessControl" ng-click="patch('precautionsOptionsAccessControl', systemUsage.precautionsOptionsAccessControl)" /> <span style="font-size: small;">Adgangsstyring</span><br />
                                    <input type="checkbox" ng-model="systemUsage.precautionsOptionsLogning" ng-click="patch('precautionsOptionsLogning', systemUsage.precautionsOptionsLogning)" /> <span style="font-size: small;">Logning</span><br />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="datahandler-link" class="control-label small">Link til dokumentation</label>
                                <div class="form-control" style="height:30px; padding: 1px 10px; min-width:20%;" data-ng-disabled="!hasWriteAccess">
                                    <a target="_blank" id="datahandler-link" href="{{systemUsage.TechnicalSupervisionDocumentationUrl}}" data-ng-hide="systemUsage.TechnicalSupervisionDocumentationUrl == '' || systemUsage.TechnicalSupervisionDocumentationUrl == null">
                                        {{systemUsage.TechnicalSupervisionDocumentationUrlName ? systemUsage.TechnicalSupervisionDocumentationUrlName : "Dokumentation" }}
                                    </a>
                                    <label for="datahandler-link" class="control-label small" data-ng-show="systemUsage.TechnicalSupervisionDocumentationUrl == '' || systemUsage.TechnicalSupervisionDocumentationUrl == null">Intet link til dokumentation</label>
                                    <button type="button" style="float:right; cursor:pointer;" data-ng-disabled="!hasWriteAccess" class="btn-link btn-editLink" title="Redigér link" data-ng-click="editLink('technicalSupervisionDocumentationUrl')"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <div class="form-group">
                            <label for="userSupervision" class="control-label small">Logning af brugerkontrol</label><br>
                            <select class="form-control input-sm" id="userSupervision"
                                    ui-select2="{minimumResultsForSearch: -1, allowClear: false}"
                                    ng-model="usageViewModel.userSupervision"
                                    data-autosave="{{autoSaveUrl}}"
                                    data-field="UserSupervision"
                                    data-ng-disabled="!hasWriteAccess">
                                <option hidden selected value />
                                <option ng-repeat="option in dataOptions" value="{{option.id}}" ng-bind-html="option.text" />
                            </select>

                        </div>
                        <div ng-show="usageViewModel.userSupervision == 1">
                            <div class="form-group">
                                <label class="control-label small">Dato for seneste brugerkontrol</label><br>
                                <input type="text" id="riskAssesmentDate" class="form-control"
                                       data-kendo-date-picker
                                       data-k-options="datepickerOptions"
                                       data-ng-disabled="!hasWriteAccess"
                                       data-ng-model="systemUsage.UserSupervisionDate"
                                       ng-blur="patchDate('UserSupervisionDate', systemUsage.UserSupervisionDate)">
                                <span id="helpBlockRisk" class="help-block small">Eksempelvis "25-04-2017"</span>
                            </div>

                            <div class="form-group">
                                <label for="datahandler-link" class="control-label small">Link til dokumentation</label>
                                <div class="form-control" style="height:30px; padding: 1px 10px; min-width:20%;" data-ng-disabled="!hasWriteAccess">
                                    <a target="_blank" id="datahandler-link" href="{{systemUsage.UserSupervisionDocumentationUrl}}" data-ng-hide="systemUsage.UserSupervisionDocumentationUrl == '' || systemUsage.UserSupervisionDocumentationUrl == null">
                                        {{systemUsage.UserSupervisionDocumentationUrlName ? systemUsage.UserSupervisionDocumentationUrlName : "Dokumentation" }}
                                    </a>
                                    <label for="datahandler-link" class="control-label small" data-ng-show="systemUsage.UserSupervisionDocumentationUrl == '' || systemUsage.UserSupervisionDocumentationUrl == null">Intet link til dokumentation</label>
                                    <button type="button" style="float:right; cursor:pointer;" data-ng-disabled="!hasWriteAccess" class="btn-link btn-editLink" title="Redigér link" data-ng-click="editLink('UserSupervisionDocumentationUrl')"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Risk assessment -->
                <div class="well">
                    <div class="form-group">
                        <label for="riskAssessment" class="control-label small">Foretaget risikovurdering</label><br>
                        <select class="form-control input-sm" id="riskAssessment"
                                ui-select2="{minimumResultsForSearch: -1, allowClear: false}"
                                ng-model="usageViewModel.riskAssessment"
                                data-autosave="{{autoSaveUrl}}"
                                data-field="RiskAssessment"
                                data-ng-disabled="!hasWriteAccess">
                            <option hidden selected value />
                            <option ng-repeat="option in dataOptions" value="{{option.id}}" ng-bind-html="option.text" />
                        </select>

                    </div>
                    <div ng-show="usageViewModel.riskAssessment == 1">
                        <!-- Date of last risk assesment -->
                        <div class="form-group">
                            <label for="riskAssesmentDate" class="control-label small">Dato for seneste risikovurdering</label>
                            <input type="text" id="riskAssesmentDate" class="form-control"
                                   data-kendo-date-picker
                                   data-k-options="datepickerOptions"
                                   data-ng-disabled="!hasWriteAccess"
                                   data-ng-model="systemUsage.riskAssesmentDate"
                                   ng-blur="patchDate('riskAssesmentDate', systemUsage.riskAssesmentDate)"
                                   data-field="riskAssesmentDate">
                            <span id="helpBlockRisk" class="help-block small">Eksempelvis "25-04-2017"</span>
                        </div>
                        <!-- Previous risk assessment -->
                        <div class="form-group">
                            <label for="preRiskAssessment" class="control-label small">Hvad viste den seneste risikovurdering?</label>
                            <select class="form-control input-sm" id="preRiskAssessment"
                                    ui-select2="{minimumResultsForSearch: -1, allowClear: false}"
                                    ng-model="usageViewModel.preRiskAssessment"
                                    data-autosave="{{autoSaveUrl}}"
                                    data-field="PreRiskAssessment"
                                    data-ng-disabled="!hasWriteAccess">
                                <option hidden selected value />
                                <option ng-repeat="riskLevel in riskLevelOptions" value="{{riskLevel.id}}" ng-bind-html="riskLevel.text" />
                            </select>

                        </div>

                        <div class="form-group">
                            <label for="datahandler-link" class="control-label small">Link til dokumentation</label>
                            <div class="form-control" style="height:30px; padding: 1px 10px; min-width:20%;" data-ng-disabled="!hasWriteAccess">
                                <a target="_blank" id="datahandler-link" href="{{systemUsage.RiskSupervisionDocumentationUrl}}" data-ng-hide="systemUsage.RiskSupervisionDocumentationUrl == '' || systemUsage.RiskSupervisionDocumentationUrl == null">
                                    {{systemUsage.RiskSupervisionDocumentationUrlName ? systemUsage.RiskSupervisionDocumentationUrlName : "Dokumentation" }}
                                </a>
                                <label for="datahandler-link" class="control-label small" data-ng-show="systemUsage.RiskSupervisionDocumentationUrl == '' || systemUsage.RiskSupervisionDocumentationUrl == null">Intet link til dokumentation</label>
                                <button type="button" style="float:right; cursor:pointer;" data-ng-disabled="!hasWriteAccess" class="btn-link btn-editLink" title="Redigér link" data-ng-click="editLink('RiskSupervisionDocumentationUrl')"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <!-- Notes risk -->
                        <div class="form-group">
                            <label for="noteRisks" class="control-label small">Bemærkninger</label>
                            <textarea id="noteRisks" class="form-control input-sm" rows="5"
                                      data-ng-disabled="!hasWriteAccess"
                                      data-ng-model="systemUsage.noteRisks"
                                      ng-blur="patch('noteRisks', systemUsage.noteRisks)"
                                      data-field="noteRisks"></textarea>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="well">
                        <!-- DPIA -->
                        <div class="form-group">
                            <label for="DPIA" class="control-label small">Gennemført DPIA / Konsekvensanalyse</label>
                            <select class="form-control input-sm" id="DPIA"
                                    ui-select2="{minimumResultsForSearch: -1, allowClear: false}"
                                    ng-model="usageViewModel.DPIA"
                                    data-autosave="{{autoSaveUrl}}"
                                    data-field="DPIA"
                                    data-ng-disabled="!hasWriteAccess">
                                <option hidden selected value />
                                <option ng-repeat="option in dataOptions" value="{{option.id}}" ng-bind-html="option.text" />
                            </select>

                        </div>
                        <div ng-show="usageViewModel.DPIA == 1">
                            <!-- Date of DPIA -->
                            <div class="form-group">
                                <label for="DPIADateFor" class="control-label small">Dato for den seneste DPIA</label>
                                <input type="text" id="DPIADateFor" class="form-control"
                                       data-kendo-date-picker
                                       data-k-options="datepickerOptions"
                                       data-ng-disabled="!hasWriteAccess"
                                       data-ng-model="systemUsage.DPIADateFor"
                                       ng-blur="patchDate('DPIADateFor', systemUsage.DPIADateFor)"
                                       data-field="DPIADateFor">
                                <span id="helpBlockDPIADateFor" class="help-block small">Eksempelvis "25-04-2017"</span>
                            </div>

                            <div class="form-group">
                                <label for="datahandler-link" class="control-label small">Link til dokumentation</label>
                                <div class="form-control" style="height:30px; padding: 1px 10px; min-width:20%;" data-ng-disabled="!hasWriteAccess">
                                    <a target="_blank" id="datahandler-link" href="{{systemUsage.DPIASupervisionDocumentationUrl}}" data-ng-hide="systemUsage.DPIASupervisionDocumentationUrl == '' || systemUsage.DPIASupervisionDocumentationUrl == null">
                                        {{systemUsage.DPIASupervisionDocumentationUrlName ? systemUsage.DPIASupervisionDocumentationUrlName : "Dokumentation" }}
                                    </a>
                                    <label for="datahandler-link" class="control-label small" data-ng-show="systemUsage.DPIASupervisionDocumentationUrl == '' || systemUsage.DPIASupervisionDocumentationUrl == null">Intet link til dokumentation</label>
                                    <button type="button" style="float:right; cursor:pointer;" data-ng-disabled="!hasWriteAccess" class="btn-link btn-editLink" title="Redigér link" data-ng-click="editLink('DPIASupervisionDocumentationUrl')"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="well">
                    <!-- Answering data DPIA -->
                    <div class="form-group">
                        <label for="answeringDataDPIA" class="control-label small">Er der bevaringsfrist på data inden de må slettes?</label>
                        <select class="form-control input-sm" id="answeringDataDPIA"
                                ui-select2="{minimumResultsForSearch: -1, allowClear: false}"
                                ng-model="usageViewModel.answeringDataDPIA"
                                data-autosave="{{autoSaveUrl}}"
                                data-field="AnsweringDataDPIA"
                                data-ng-disabled="!hasWriteAccess">
                            <option hidden selected value />
                            <option ng-repeat="option in dataOptions" value="{{option.id}}" ng-bind-html="option.text" />
                        </select>
                    </div>
                    <div ng-show="usageViewModel.answeringDataDPIA == 1">
                        <!-- Date of next delete of data DPIA -->
                        <div class="form-group">
                            <label for="DPIAdeleteDate" class="control-label small">Dato for hvornår der må foretages sletning af data i systemet næste gang</label>
                            <input type="text" id="DPIAdeleteDate" class="form-control"
                                   data-kendo-date-picker
                                   data-k-options="datepickerOptions"
                                   data-ng-disabled="!hasWriteAccess"
                                   data-ng-model="systemUsage.DPIAdeleteDate"
                                   ng-blur="patchDate('DPIAdeleteDate', systemUsage.DPIAdeleteDate)"
                                   data-field="DPIAdeleteDate">
                            <span id="helpBlockDeleteDPIA" class="help-block small">Eksempelvis "25-04-2017"</span>
                        </div>
                        <div class="form-group">
                            <label for="numberDPIA" class="control-label small">Antal måneder mellem sletningsdatoerne - sletningsperioder.</label>
                            <input type="number" step="1" min="0" class="form-control input-sm"
                                   ng-change="patch('numberDPIA', systemUsage.numberDPIA)"
                                   data-field="numberDPIA"
                                   data-ng-model="systemUsage.numberDPIA"
                                   data-ng-disabled="!hasWriteAccess" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
