<div class="modal-header">
    <div class="clearfix">
        <h3 class="modal-title pull-left">Indtast Url til dokumentation</h3>
    </div>
</div>
<form name="activityForm" novalidate="novalidate" class="form-horizontal" data-ng-submit="save()">
    <div class="modal-body">

        <div class="form-group" data-ng-show="!contract.dataHandlerId">
            <label class="col-xs-4 control-label small" for="LinkName">
                Navn:
            </label>
            <div class="col-xs-7">
                <input type="text" id="LinkName" data-ng-model="linkName" data-element-type="gdprModalNameField"
                       class="form-control form-inline input-sm" aria-describedby="helpBlock" />
            </div>
        </div>

        <div class="form-group" data-ng-show="!contract.dataHandlerId">
            <label class="col-xs-4 control-label small" for="DokomentID">
               Url:
            </label>
            <div class="col-xs-7">
                <input type="text" id="DokomentID" data-ng-model="Url" data-element-type="gdprModalUrlField"
                       class="form-control form-inline input-sm" aria-describedby="helpBlock" />
            </div>
        </div>
    </div>
        <div class="modal-footer">
            <button id="cancel"
                    type="button"
                    class="btn btn-warning"
                    data-ng-click="cancel()"
                    data-disabled-on-busy="">
                Annuller
            </button>
            <button id="save"
                    type="submit"
                    class="btn btn-success"
                    data-disabled-on-busy=""
                    data-element-type="gdprSaveLinkButton"
                    data-ng-click="ok()">
                Gem
            </button>
        </div>
</form>
