<div class="object-section-container">
    <h4>{{systemUsageName}}</h4>
    <div class="panel panel-default">
        <div class="panel-heading">Systemet vedrører følgende IT projekter</div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>IT Projekt</th>
                    <th><!-- edit ctrl --></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="project in itProjects">
                    <td>
                        <a data-ui-sref="it-project.edit.main({ id: project.id })">{{ project.name }}</a>
                    </td>
                    <td class="text-right">
                        <button type="button"
                                class="btn btn-danger btn-xs delete-project"
                                data-confirmed-click="delete({{ project.id }})"
                                data-confirm-click="Er du sikker på at du vil slette tilknytningen?"
                                data-ng-show="hasWriteAccess">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot data-ng-show="hasWriteAccess">
                <tr>
                    <td colspan="2">
                        <input type="hidden"
                               id="project-selector"
                               class="form-control input-sm"
                               data-ui-select2="itProjectsSelectOptions"
                               data-ng-model="selectedProject"
                               data-ng-change="save()"
                               data-placeholder="Vælg IT projekt" />
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>