<div class="object-section-container">
    <h4 id="systemUsageHeaderName">{{systemUsageName}}</h4>
    <div class="panel panel-default">
        <div class="row">
            <!-- 1st column -->
            <div class="col-xs-6">
                <!-- local sys id -->
                <div class="form-group">
                    <label for="sysId" class="control-label small">Lokal System ID</label>
                    <input id="sysId" type="text" class="form-control input-sm" autofocus
                           data-ng-disabled="!hasWriteAccess"
                           data-ng-model="usage.localSystemId"
                           data-field="localSystemId"
                           data-autosave="{{autoSaveUrl}}">
                </div>

                <!-- local call name -->
                <div class="form-group">
                    <label for="localcallname" class="control-label small">Lokal kaldenavn</label>
                    <input id="localcallname" type="text" class="form-control input-sm"
                           data-ng-model="usage.localCallName"
                           data-ng-disabled="!hasWriteAccess"
                           data-field="localCallName"
                           data-autosave="{{autoSaveUrl}}">
                </div>
                <!-- Category of data -->
                <div class="form-group" ng-if="shouldShowCategories">
                    <select2-option data-id="categories"
                                   data-label="Klassifikation af data i systemet"
                                   data-placeholder="Vælg kategori"
                                   data-selected-text="{{ systemUsage.ItSystemCategoriesName }}"
                                   data-ng-disabled="!hasWriteAccess"
                                   data-ng-model="usage.itSystemCategoriesId"
                                   data-options="systemCategories"
                                   data-auto-save-url="{{autoSaveUrl}}"
                                   data-field="itSystemCategoriesId">
                    </select2-option>
                </div>
                <!-- note -->
                <div class="form-group" data-ng-hide="!hasViewAccess">
                    <label for="note" class="control-label small">Note</label>
                    <textarea id="note" class="form-control input-sm" rows="6"
                              data-ng-model="usage.note"
                              data-ng-disabled="!hasWriteAccess"
                              data-field="note"
                              data-autosave="{{autoSaveUrl}}"></textarea>
                </div>
            </div>

            <!-- 2nd column -->
            <div class="col-xs-6">
                <div class="form-group">
                    <select-simple data-id="numberOfUsers"
                                   data-label="Hvor mange brugere benytter systemet i jeres kommune?"
                                   data-options="numberOfUsersOptions"
                                   data-ng-model="usageViewModel.userCount"
                                   data-ng-disabled="!hasWriteAccess"
                                   data-auto-save-url="{{autoSaveUrl}}"
                                   data-field="userCount">
                    </select-simple>
                </div>
                <!-- version -->
                <div class="form-group">
                    <label for="version" class="control-label small">Version</label>
                    <input id="version" type="text" class="form-control input-sm"
                           data-ng-disabled="!hasWriteAccess"
                           data-ng-model="usage.version"
                           data-field="version"
                           data-autosave="{{autoSaveUrl}}">
                </div>

                <!-- Object owner -->
                <div class="form-group">
                    <label for="usage-owner" class="control-label small">Taget i anvendelse af</label>
                    <input type="text" id="usage-owner" class="form-control input-sm"
                           data-ng-disabled="true"
                           value="{{usage.objectOwnerFullName}}">
                </div>
                <div class="form-group">
                    <label for="agreement-concluded" class="control-label small"> Ibrugtagningsdato</label>
                    <input id="agreement-concluded"
                           type="text"
                           class="form-control"
                           data-kendo-date-picker
                           data-k-options="datepickerOptions"
                           data-ng-disabled="!hasWriteAccess"
                           data-ng-model="usage.concluded"
                           ng-blur="patchDate('concluded', usage.concluded)"
                           data-field="concluded">
                </div>
                <div class="form-group">
                    <label for="agreement-expiration" class="control-label small">Slutdato for anvendelse</label>
                    <input type="text" class="form-control" id="agreement-expiration"
                           data-kendo-date-picker
                           data-k-options="datepickerOptions"
                           data-ng-model="usage.expirationDate"
                           data-ng-disabled="!hasWriteAccess"
                           ng-blur="patchDate('expirationDate', usage.expirationDate)"
                           data-field="expirationDate">
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="system-int-signed"
                           class="tags-checkbox sr-only"
                           data-ng-model="usage.active"
                           data-ng-disabled="!hasWriteAccess"
                           data-autosave="{{autoSaveUrl}}"
                           data-field="active"
                           data-ng-change="checkSystemValidity()" />
                    <label for="system-int-signed" style="padding-left:0px;">
                        <i ng-hide="usage.active" class='glyphicon glyphicon-unchecked'></i>
                        <i ng-show="usage.active" class='glyphicon glyphicon-check'></i>
                        <span class='label-content'>
                            Gyldig:
                        </span>
                    </label>
                    <i ng-show="usage.isActive || usage.active" class="fa fa-check" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="object-section-container">
    <h4>Data fra IT Systemkataloget</h4>
    <div class="panel panel-default">
        <div class="row">
            <!-- Left side -->
            <div class="col-xs-8">
                <div class="row">
                    <div class="col-xs-6">
                        <!--System name-->
                        <div class="form-group">
                            <label for="system-name" class="control-label small">IT System</label>
                            <input type="text" id="system-name" class="form-control input-sm" required
                                   data-ng-disabled="true"
                                   data-field="name"
                                   data-ng-model="system.name">
                        </div>
                        <!--Parent system name-->
                        <div class="form-group">
                            <label for="system-parent" class="control-label small">Overordnet system</label>
                            <input type="text" id="system-parent" class="form-control input-sm"
                                   data-ng-disabled="true"
                                   data-field="parentId"
                                   data-ng-model="system.parentName">
                        </div>
                        <!--Previous system name-->
                        <div class="form-group">
                            <label for="system-previousname" class="control-label small">Tidligere systemnavn</label>
                            <input type="text" id="system-previousname" class="form-control input-sm"
                                   data-ng-disabled="true"
                                   data-field="previousname"
                                   data-ng-model="system.previousName">
                        </div>
                        <!-- belongs to -->
                        <div class="form-group">
                            <label for="system-belongs-to" class="control-label small">Rettighedshaver</label>
                            <input type="text" id="system-belongs-to" class="form-control input-sm"
                                   data-placeholder="Vælg organisation"
                                   data-ng-disabled="true"
                                   data-field="belongsToId"
                                   data-ng-model="system.belongsToName">
                        </div>
                        <!-- Access modifier -->
                        <div class="form-group">
                            <label for="system-access" class="control-label small">Synlighed</label>
                            <input id="system-access" class="form-control input-sm"
                                   data-field="accessModifier"
                                   data-ng-disabled="true"
                                   data-ng-model="system.accessModifier">
                        </div>
                    </div>

                    <!-- Middle -->
                    <div class="col-xs-6">
                        <!-- Description -->
                        <div class="form-group">
                            <label for="system-description" class="control-label small">Beskrivelse</label>
                            <textarea id="system-description" class="form-control input-sm" rows="12"
                                      data-field="description"
                                      data-ng-disabled="true"
                                      data-ng-model="system.description"></textarea>
                        </div>
                        <!-- Reference -->
                        <div class="form-group">
                            <label for="system-referencer" class="control-label small">Referencer vedr. systemet</label>
                            <table id="system-referencer" class="table table-condensed table-disabled-color table-fixed table-bordered">
                                <tr ng-if="system.externalReferences.length == 0">
                                    <td>
                                        <p class="noMargin">Ingen referencer</p>
                                    </td>
                                </tr>
                                <tr ng-repeat="reference in system.externalReferences">
                                    <td>
                                        <p class="noMargin" ng-show="!isValidUrl(reference.url)">{{reference.title}}</p>
                                        <a target="_blank" ng-show="isValidUrl(reference.url)" href="{{reference.url}}">{{reference.title}}</a>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Right side -->
            <div class="col-xs-4">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- KLE ID and Name -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <table id="system-kle" class="table table-condensed table-fixed">
                                        <thead>
                                            <tr>
                                                <th class="KleIdColumn small Kle">
                                                    KLE ID
                                                </th>
                                                <th class="small Kle">
                                                    KLE Navn
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="disabledColor bordered">
                                            <tr ng-if="system.taskRefs.length == 0">
                                                <td colspan="2">
                                                    <p class="noMargin">Ingen KLE valgt</p>
                                                </td>
                                            </tr>
                                            <tr ng-repeat="kle in system.taskRefs">
                                                <td>
                                                    <p class="noMargin">{{kle.taskKey}}</p>
                                                </td>
                                                <td>
                                                    <p class="noMargin">{{kle.description}}</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- Business type -->
                        <div class="form-group">
                            <label for="system-business-type" class="control-label small">Forretningstype</label>
                            <input id="system-business-type" class="form-control input-sm"
                                   data-field="accessModifier"
                                   data-ng-disabled="true"
                                   data-ng-model="system.businessTypeName">
                        </div>

                        <!-- Archive duty -->
                        <div class="form-group">
                            <label for="archiveDuty" class="control-label small">Rigsarkivets vejledning til arkivering</label>
                            <input id="archiveDuty" class="form-control input-sm"
                                   data-field="accessModifier"
                                   data-ng-disabled="true"
                                   data-ng-model="system.archiveDuty.value">
                            <span ng-if="system.archiveDuty.value && system.archiveDuty.optionalComment" class="help-block small">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                {{system.archiveDuty.optionalComment}}
                            </span>
                            <span class="help-block small">
                                Læs mere hos <a target="_blank" href="{{system.archiveDuty.readMoreLink}}">Rigsarkivet</a>
                            </span>
                        </div>
                        <!-- UUID -->
                        <div class="form-group">
                            <label for="system-uuid" class="control-label small">UUID</label>
                            <input id="system-uuid" type="text" value="{{system.uuid}}" class="form-control input-sm" disabled="disabled" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
