<div class="object-section-container">
    <h4>{{systemUsageName}}</h4>
    <div class="panel panel-default">
        <div class="row">
            <div class="col-xs-12">
                <label>Relevante organisationsenheder</label>
                <div data-ng-repeat="orgUnit in orgUnitsTree" data-ng-include="'app/shared/organization-tree-item.html'"></div>
            </div>
        </div>
    </div>
</div>

<div class="object-section-container">
    <div class="panel panel-default">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label">Vælg ansvarlig organisationsenhed iblandt nedenstående</label>
                    <select id="responsible-org"
                            class="form-control input-sm"
                            data-ui-select2="allowClearOption"
                            data-placeholder="Vælg ansvarlig organisationsenhed"
                            data-ng-disabled="!hasWriteAccess"
                            data-ng-model="responsibleOrgUnitId"
                            data-ng-change="saveResponsible()">
                        <option value=""></option>
                        <option data-ng-repeat="orgUnit in selectedOrgUnits" value="{{orgUnit.id}}">{{orgUnit.name}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>