<div class="object-section-container">
    <h4>{{systemUsageName}}</h4>
    <div class="panel panel-default">
        <div class="panel-heading">IT Systemet har følgende IT kontrakter tilknyttet:</div>
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>
                        IT Kontrakt
                    </th>
                    <th ng-if="showContractType">
                        Kontrakttype
                    </th>
                    <th>
                        Leverandør
                    </th>
                    <th>
                        Drift
                    </th>
                    <th ng-if="showContractAgreementPeriod">
                        Indgået
                    </th>
                    <th ng-if="showContractAgreementPeriod">
                        Udløber
                    </th>
                    <th ng-if="showContractAgreementTermination">
                        Opsagt
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="contract in contracts">
                    <!-- name -->
                    <td>
                        <a data-ui-sref="it-contract.edit.main({id: contract.id})">
                            {{:: contract.name ? contract.name : 'Unavngiven' }}
                        </a>
                    </td>

                    <!-- type -->
                    <td ng-if="showContractType">
                        {{::contract.contractTypeName }}
                    </td>

                    <!-- supplier -->
                    <td>
                        {{::contract.supplierName }}
                    </td>

                    <!-- has operation -->
                    <td>
                        <span ng-if="contract.hasOperationElement" class="text-success">
                            <i class="glyphicon glyphicon-ok"></i>
                        </span>
                    </td>

                    <!-- concluded ("indgået") -->
                    <td ng-if="showContractAgreementPeriod">
                        {{::contract.concluded}}
                    </td>
                    <!-- expiration -->
                    <td ng-if="showContractAgreementPeriod">
                        {{::contract.expirationDate}}
                    </td>
                    <!-- terminated -->
                    <td ng-if="showContractAgreementTermination">
                        {{::contract.terminated}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <main-contract-selection ng-if="showMainContract" 
                             data-main-text="Hvilken kontrakt skal afgøre om IT Systemet er aktivt:" 
                             data-has-write-access="hasWriteAccess"
                             data-view-model="mainContractViewModel"/>
</div>