<div class="object-section-container">
    <h4>{{systemUsageName}}</h4>
    <div class="panel panel-default">
        <div class="panel-heading">
            Ændringsønsker
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Navn</th>
                    <th>Email</th>
                    <th>Organisation</th>
                    <th style="width: 60%">Ændringsønske</th>
                    <th style="width: 20px">Synlighed</th>
                    <th style="width: 30px"></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="wish in wishes">
                    <td data-ng-bind="wish.user.name"></td>
                    <td data-ng-bind="wish.user.email"></td>
                    <td data-ng-bind="wish.user.defaultOrganizationUnitName"></td>
                    <td data-ng-bind="wish.text"></td>
                    <td><input type="checkbox" disabled data-ng-model="wish.isPublic" /></td>
                    <td>
                        <a class="btn btn-link btn-xs delete-wish"
                           data-confirmed-click="delete(wish.id)"
                           data-confirm-click="Er du sikker på at du vil slette?"
                           data-ng-hide="!hasWriteAccess">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot data-ng-show="hasWriteAccess">
                <tr>
                    <td data-ng-bind="user.name"></td>
                    <td data-ng-bind="user.email"></td>
                    <td data-ng-bind="user.currentOrganizationName"></td>
                    <td>
                        <textarea id="wish-text"
                                  class="form-control"
                                  data-ng-model="text"></textarea>
                    </td>
                    <td style="text-align: center"><input type="checkbox" data-ng-model="isPublic"></td>
                    <td>
                        <button id="save-wish"
                                class="btn btn-sm btn-success pull-right"
                                data-ng-click="save()">
                            Gem
                        </button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>