<div class="modal-header">
    <div class="clearfix">
        <h3 class="modal-title pull-left">Opret relation</h3>
    </div>
</div>

<form name="createForm">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-3">

            </div>
            <!--Exposed System-->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="RelationSystemExposed">Udstillet af</label>
                    <input type="hidden" id="RelationSystemExposed" class="form-control input-sm"
                           ui-select2="RelationExposedSystemDataCall"
                           ng-value="RelationExposedSelectedData"
                           placeholder="Vælg udstiller system"
                           ng-model="RelationExposedSystemData"
                           ng-change="ExposedSystemSelected()"
                           data-field="RelationExposedId">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <!--Interface-->
                <div class="form-group">
                    <label for="relationInterfacesSelect">Vælg Snitflade</label>
                    <select ng-model="relationInterfacesValue"
                            id="relationInterfacesSelect"
                            class="form-control input-sm"
                            placeholder="Vælg snitflade"
                            ng-options="interface.name for interface in relationInterfaceOptions"
                            ng-disabled="!RelationExposedSystemData"></select>
                </div>
                <!--Description-->
                <div class="form-group">
                    <label class="control-label" for="description">Beskrivelse</label>
                    <textarea type="text" class="form-control" name="description" id="description" placeholder="Beskrivelse" ng-model="relationDescriptionValue" ng-disabled="!RelationExposedSystemData"></textarea>
                </div>
                <!--Reference-->
                <div class="form-group">
                    <label class="control-label" for="Reference">Reference</label>
                    <input type="text" class="form-control" name="Reference" id="Reference" placeholder="Reference" ng-model="relationReferenceValue" ng-disabled="!RelationExposedSystemData">
                </div>
                <!--Contract-->
                <div class="form-group">
                    <label for="relationContractsSelect">Vælg kontrakt</label>
                    <input type="hidden"
                           id="relationContractsSelect"
                           class="form-control input-sm"
                           ui-select2="relationContractsOptions"
                           placeholder="Vælg kontrakt"
                           ng-model="relationContractsValue"
                           ng-value="RelationContractSelectedData"
                           data-field="RelationContractId">
                </div>
                <!--frequency-->
                <div class="form-group">
                    <label for="relationPaymentFrequenciesSelect">Vælg frekvens</label>
                    <select ng-model="relationPaymentFrequenciesValue"
                            id="relationPaymentFrequenciesSelect"
                            class="form-control input-sm"
                            placeholder="Vælg frekvens"
                            ng-options="frequencyType.name for frequencyType in relationPaymentFrequenciesOptions"
                            ng-disabled="!RelationExposedSystemData"></select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" ng-click="dismiss()">Annuller</button>
            <button type="submit" class="btn btn-primary" ng-click="save()" data-element-type="relationSaveButton" data-ng-disabled="!RelationExposedSystemData">Gem</button>

        </div>
    </div>
</form>
