<div class="object-section-container">
    <h4>{{systemUsageName}}</h4>
    <div class="panel panel-default">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label small">Ansvarlig organisationsenhed</label>
                    <select-simple data-id="responsible-org"
                                   data-placeholder="Vælg ansvarlig organisationsenhed"
                                   data-options="selectedOrgUnits"
                                   data-ng-model="responsibleOrgUnit"
                                   data-function="saveResponsible"
                                   data-ng-disabled="!hasWriteAccess">
                    </select-simple>
                    <span class="help-block small">
                        <i class="fa fa-info-circle"></i>
                        Det er kun muligt at vælge blandt "Relevante organisationsenheder"
                    </span>

                    <label for="levels-input" class="control-label small">Niveauer <field-help-text data-key="local-config-fk-org-import-modal.sync-levels" /></label>
                    <input id="levels-input" class="form-control input-sm" data-ng-change="levelChange()" type="number" data-ng-model="availableLevels" step="1" min="1" pattern="^[0-9]*$" name="synchronizationDepth" />
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label small">Relevante organisationsenheder</label>
                    <div data-ng-repeat="orgUnit in orgUnitsTree" data-ng-include="'app/shared/organization-tree-item.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>