<div class="object-section-container">
    <h4>{{systemUsageName}}</h4>
    <div class="panel panel-default">
        <div class="panel-heading"><strong>IT systemet udstiller følgende snitflader:</strong></div>

        <table class="table table-striped table-condensed table-fixed">
            <thead ng-if="interfaceExposures.length > 0">
                <tr>
                    <th class="col-xs-1">Snitflade</th>
                    <th class="col-xs-1">Grænseflade</th>
                    <th class="col-xs-1">Beskrivelse</th>
                    <th class="col-xs-1 centeredHeader">Reference</th>
                </tr>
            </thead>
            <tbody class="small">
                <tr ng-repeat="exposure in interfaceExposures">
                    <!-- name of the interface -->
                    <td>
                        <a data-ui-sref="it-system.interface-edit.main({ id: exposure.id })">{{ exposure.name }} <span ng-if="exposure.disabled">(Slettes)</span></a>
                    </td>

                    <!-- interface (grænseflade) -->
                    <td>{{exposure.interfaceName}}</td>

                    <!-- description -->
                    <td class="longTextField">
                        <p ng-if="exposure.description" ng-show="!exposure.description.longText" data-element-type="usedByRelationDescription">{{exposure.description.description}}</p>
                        <p ng-if="exposure.description" ng-show="exposure.description.longText" style="height: {{exposure.description.shortTextLineCount}}em; overflow: hidden" class="readMoreParagraph">{{exposure.description.description}}</p>
                        <a ng-if="exposure.description" ng-show="exposure.description.longText" ng-click="expandParagraph($event)">Se mere</a>
                    </td>

                    <!-- link to further description -->
                    <td>
                        <div class="referenceLink">
                            <a ng-if="exposure.url" ng-show="exposure.url.isValid" href="{{exposure.url.value}}" target="_blank"><img alt="{{exposure.url.value}}" src="/Content/img/EksterneReferencer.svg"></a>
                        </div>
                    </td>
                </tr>
                <tr ng-if="interfaceExposures.length == 0">
                    <td colspan="8" class="text-center">Systemet udstiller ingen snitflader</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>