<script type="text/ng-template" id="tree_item_template">
    <div class="org-node" data-ng-class="{'selected': node.id == usage.itSystemId}">
        <span class="org-node-info">
            <a data-ui-sref="it-system.edit.main({ id: node.id })">{{ formatSystemName(node.name, node.disabled) }}</a>
        </span>
        <ul>
            <li data-ng-repeat="node in node.children">
                <div data-ng-include="'tree_item_template'"></div>
            </li>
        </ul>
    </div>
</script>

<div class="object-section-container">
    <h4>{{systemUsageName}}</h4>
    <div class="panel panel-default">
        <div class="row">
            <div class="col-xs-12">
                <div data-ng-repeat="node in systems" data-ng-include="'tree_item_template'"></div>
            </div>
        </div>
    </div>
</div>