<div class="object-section-container">
    <h4>{{systemUsageName}}</h4>
    <div class="panel panel-default">
        <div class="row">
            <!-- 1st column -->
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label small">Systemets overordnede formål</label>
                    <input type="text"
                           ng-disabled="!hasWriteAccess"
                           ng-blur="patch('GeneralPurpose', usage.generalPurpose)"
                           class="form-control input-sm"
                           data-field="GeneralPurpose"
                           ng-model="usage.generalPurpose"
                           data-placeholder="Overordnet formål"
                           data-element-type="GDPRSystemPurpose" />
                </div>
                <!-- Business critical -->
                <div class="form-group">
                    <label for="businessCritical" class="control-label small">Forretningskritisk IT-System</label>
                    <select class="form-control input-sm" id="businessCritical"
                            ui-select2="noSearchNoClearSelect2"
                            ng-model="usageViewModel.isBusinessCritical"
                            data-autosave="{{autoSaveUrl}}"
                            data-field="IsBusinessCritical"
                            ng-disabled="!hasWriteAccess">
                        <option hidden selected value />
                        <option ng-repeat="option in dataOptions" value="{{option.id}}" ng-bind-html="option.text" />
                    </select>
                </div>
                <!-- HostedAt -->
                <div class="form-group">
                    <label for="HostedAt" class="control-label small">IT systemet driftes</label>
                    <select class="form-control input-sm" id="HostedAt"
                            ui-select2="{minimumResultsForSearch: -1, allowClear: false}"
                            ng-model="usageViewModel.hostedAt"
                            data-autosave="{{autoSaveUrl}}"
                            data-field="HostedAt"
                            data-ng-disabled="!hasWriteAccess">
                        <option hidden selected value />
                        <option ng-repeat="option in hostedAtOptions" value="{{option.id}}" ng-bind-html="option.text" />
                    </select>
                </div>
                <!-- Data processing agreement -->
                <div data-ng-if="user.currentConfig.showDataProcessing">
                    <div class="form-group" data-element-type="gdprDataProcessingRegistrationView">
                        <div ng-show="filterDataProcessor">
                            <label for="dataProcessingAgreement" class="control-label small">Databehandling</label>
                            <div class="well">
                                <ul id="dataProcessingAgreement"
                                    style="list-style-type: none; padding: 0; margin: 0; font-size: small;"
                                    ng-repeat="dpr in dataProcessingRegistrations">
                                    <li><a data-element-type="gdpr_data-processing-registration--link" data-ui-sref="data-processing.edit-registration.main({id: dpr.id})"> {{dpr.name}} </a></li>
                                </ul>
                            </div>
                        </div>
                        <div ng-hide="filterDataProcessor">
                            <label for="dataProcessingAgreementNone" class="control-label small">Databehandling</label>
                            <ul ng-disabled="true"
                                id="dataProcessingAgreementNone"
                                class="form-control input-sm"
                                style="list-style-type:none">
                                Ingen
                            </ul>
                        </div>
                        <span class="help-block small">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            Link til registreringer i Databehandlingsmodulet der er oprettet med tilknytning til dette IT System.
                        </span>
                    </div>
                </div>
                <!-- Link til fortegnelse -->
                <div class="form-group">
                    <label for="directory-link" class="control-label small">Link til fortegnelse</label>
                    <div class="form-control" style="height:30px; padding: 1px 10px; min-width:20%;" ng-disabled="!hasWriteAccess">
                        <a target="_blank"
                           id="directory-link"
                           data-element-type="NoteLinkField"
                           href="{{usage.linkToDirectoryUrl}}"
                           ng-hide="usage.linkToDirectoryUrl == '' || usage.linkToDirectoryUrl == null">
                            {{usage.linkToDirectoryUrlName ? usage.linkToDirectoryUrlName : "Fortegnelse" }}
                        </a>
                        <label for="directory-link"
                               class="control-label small"
                               ng-show="usage.linkToDirectoryUrl == '' || usage.linkToDirectoryUrl == null">
                            Intet link til fortegnelse
                        </label>
                        <button type="button"
                                style="float: right; cursor: pointer;"
                                ng-disabled="!hasWriteAccess"
                                class="btn-link btn-editLink"
                                title="Redigér link"
                                data-element-type="NoteLinkButton"
                                ng-click="editLink('linkToDirectoryUrl')">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- 2nd column -->
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label small">Hvilke typer data indeholder systemet</label>
                    <div class="well">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       data-element-type="dataLevelTypeNoneCheckbox"
                                       ng-change="dataLevelChange(sensitivityLevels.none.value)"
                                       ng-model="usageViewModel.noDataSelected"
                                       ng-disabled="!hasWriteAccess">
                                {{sensitivityLevels.none.text}}
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       data-element-type="dataLevelTypeRegularCheckbox"
                                       ng-change="dataLevelChange(sensitivityLevels.personal.value)"
                                       ng-model="usageViewModel.personalDataSelected"
                                       ng-disabled="!hasWriteAccess">
                                {{sensitivityLevels.personal.text}}
                            </label>
                            <span class="help-block small inlineTab">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                F.eks.: Navn, adresse, telefonummer, e-mailadresse, CPR-nr, titel m.m.
                            </span>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       data-element-type="dataLevelTypeSensitiveCheckbox"
                                       ng-change="dataLevelChange(sensitivityLevels.sensitive.value)"
                                       ng-model="usageViewModel.sensitiveDataSelected"
                                       ng-disabled="!hasWriteAccess">
                                {{sensitivityLevels.sensitive.text}}

                            </label>
                        </div>
                        <div class="checkbox inlineTab"
                             ng-repeat="r in sensitivePersonalData"
                             ng-if="usageViewModel.sensitiveDataSelected">
                            <label>
                                <input type="checkbox"
                                       ng-model="r.Checked"
                                       data-element-type="{{r.Name}}"
                                       ng-disabled="!hasWriteAccess"
                                       ng-change="updateDataLevel(r.Id, r.Checked, 'SENSITIVEPERSONALDATA')">
                                {{r.Name}}
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       data-element-type="dataLevelTypeLegalCheckbox"
                                       ng-change="dataLevelChange(sensitivityLevels.legal.value)"
                                       ng-model="usageViewModel.legalDataSelected"
                                       ng-disabled="!hasWriteAccess">
                                {{sensitivityLevels.legal.text}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label small">Hvilke kategorier af registrerede indgår i databehandlingen?</label>
                    <div class="well">
                        <div class="checkbox" ng-repeat="r in registerTypes">
                            <label>
                                <input type="checkbox" ng-model="r.Checked"
                                       ng-disabled="!hasWriteAccess"
                                       ng-change="updateDataLevel(r.Id, r.Checked, 'REGISTERTYPEDATA')">{{r.Name}}
                            </label>
                        </div>
                    </div>
                </div>

                <div ng-show="usageViewModel.sensitiveDataSelected">
                    <div class="well">
                        <!-- Implemented technical precautions -->
                        <div class="form-group">
                            <label for="precautions" class="control-label small">Implementeret passende tekniske foranstaltninger</label><br>
                            <select class="form-control input-sm" id="precautions"
                                    ui-select2="noSearchNoClearSelect2"
                                    ng-model="usageViewModel.precautions"
                                    data-autosave="{{autoSaveUrl}}"
                                    data-field="Precautions"
                                    ng-disabled="!hasWriteAccess">
                                <option hidden selected value />
                                <option ng-repeat="option in dataOptions" value="{{option.id}}" ng-bind-html="option.text" />
                            </select>

                        </div>
                        <!-- Technical precautions consists of -->
                        <div ng-show="usageViewModel.precautions == 1">
                            <div class="form-group">
                                <label for="precautionsOptions" class="control-label small">Hvad består de af?</label>
                                <div id="precautionsOptions">
                                    <input type="checkbox"
                                           data-element-type="precautionsEncryptionCheckbox"
                                           ng-model="usage.precautionsOptionsEncryption"
                                           ng-click="patch('PrecautionsOptionsEncryption', usage.precautionsOptionsEncryption)" />
                                    <span style="font-size: small;">Kryptering</span><br />

                                    <input type="checkbox"
                                           data-element-type="precautionsPseudonomiseringCheckbox"
                                           ng-model="usage.precautionsOptionsPseudonomisering"
                                           ng-click="patch('PrecautionsOptionsPseudonomisering', usage.precautionsOptionsPseudonomisering)" />
                                    <span style="font-size: small;">Pseudonomisering</span><br />

                                    <input type="checkbox"
                                           data-element-type="precautionsAccessControlCheckbox"
                                           ng-model="usage.precautionsOptionsAccessControl"
                                           ng-click="patch('PrecautionsOptionsAccessControl', usage.precautionsOptionsAccessControl)" />
                                    <span style="font-size: small;">Adgangsstyring</span><br />

                                    <input type="checkbox"
                                           data-element-type="precautionsLogningCheckbox"
                                           ng-model="usage.precautionsOptionsLogning"
                                           ng-click="patch('PrecautionsOptionsLogning', usage.precautionsOptionsLogning)" />
                                    <span style="font-size: small;">Logning</span><br />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="technical-supervision-link" class="control-label small">Link til dokumentation</label>
                                <div class="form-control" style="height:30px; padding: 1px 10px; min-width:20%;" ng-disabled="!hasWriteAccess">
                                    <a target="_blank"
                                       id="technical-supervision-link"
                                       data-element-type="PrecautionLinkField"
                                       href="{{usage.technicalSupervisionDocumentationUrl}}"
                                       ng-hide="usage.technicalSupervisionDocumentationUrl == '' || usage.technicalSupervisionDocumentationUrl == null">
                                        {{usage.technicalSupervisionDocumentationUrlName ? usage.technicalSupervisionDocumentationUrlName : "Dokumentation" }}
                                    </a>
                                    <label for="technical-supervision-link"
                                           class="control-label small"
                                           ng-show="usage.technicalSupervisionDocumentationUrl == '' || usage.technicalSupervisionDocumentationUrl == null">
                                        Intet link til dokumentation
                                    </label>
                                    <button type="button"
                                            style="float: right; cursor: pointer;"
                                            ng-disabled="!hasWriteAccess"
                                            class="btn-link btn-editLink"
                                            title="Redigér link"
                                            data-element-type="PrecautionLinkButton"
                                            ng-click="editLink('technicalSupervisionDocumentationUrl')">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <div class="form-group">
                            <label for="userSupervision" class="control-label small">Logning af brugerkontrol</label><br>
                            <select class="form-control input-sm" id="userSupervision"
                                    ui-select2="noSearchNoClearSelect2"
                                    ng-model="usageViewModel.userSupervision"
                                    data-autosave="{{autoSaveUrl}}"
                                    data-field="UserSupervision"
                                    ng-disabled="!hasWriteAccess">
                                <option hidden selected value />
                                <option ng-repeat="option in dataOptions" value="{{option.id}}" ng-bind-html="option.text" />
                            </select>

                        </div>
                        <div ng-show="usageViewModel.userSupervision == 1">
                            <div class="form-group">
                                <label class="control-label small">Dato for seneste brugerkontrol</label><br>
                                <input type="text" id="latestRiskAssesmentDate" class="form-control"
                                       data-kendo-date-picker
                                       data-k-options="datepickerOptions"
                                       ng-disabled="!hasWriteAccess"
                                       ng-model="usage.userSupervisionDate"
                                       ng-blur="patchDate('UserSupervisionDate', usage.userSupervisionDate)">
                                <span id="helpBlockRisk" class="help-block small">Eksempelvis "25-04-2017"</span>
                            </div>

                            <div class="form-group">
                                <label for="user-supervision-link" class="control-label small">Link til dokumentation</label>
                                <div class="form-control" style="height:30px; padding: 1px 10px; min-width:20%;" ng-disabled="!hasWriteAccess">
                                    <a target="_blank"
                                       id="user-supervision-link"
                                       data-element-type="superVisionLinkField"
                                       href="{{usage.userSupervisionDocumentationUrl}}"
                                       ng-hide="usage.userSupervisionDocumentationUrl == '' || usage.userSupervisionDocumentationUrl == null">
                                        {{usage.userSupervisionDocumentationUrlName ? usage.userSupervisionDocumentationUrlName : "Dokumentation" }}
                                    </a>
                                    <label for="user-supervision-link"
                                           class="control-label small"
                                           ng-show="usage.userSupervisionDocumentationUrl == '' || usage.userSupervisionDocumentationUrl == null">
                                        Intet link til dokumentation
                                    </label>
                                    <button type="button"
                                            style="float: right; cursor: pointer;"
                                            ng-disabled="!hasWriteAccess"
                                            class="btn-link btn-editLink"
                                            title="Redigér link"
                                            data-element-type="superVisionLinkButton"
                                            ng-click="editLink('userSupervisionDocumentationUrl')">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Risk assessment -->
                <div class="well">
                    <div class="form-group">
                        <label for="riskAssessment" class="control-label small">Foretaget risikovurdering</label><br>
                        <select class="form-control input-sm" id="riskAssessment"
                                ui-select2="noSearchNoClearSelect2"
                                ng-model="usageViewModel.riskAssessment"
                                data-autosave="{{autoSaveUrl}}"
                                data-field="RiskAssessment"
                                ng-disabled="!hasWriteAccess">
                            <option hidden selected value />
                            <option ng-repeat="option in dataOptions" value="{{option.id}}" ng-bind-html="option.text" />
                        </select>

                    </div>
                    <div ng-show="usageViewModel.riskAssessment == 1">
                        <!-- Date of last risk assesment -->
                        <div class="form-group">
                            <label for="riskAssesmentDate" class="control-label small">Dato for seneste risikovurdering</label>
                            <input type="text" id="riskAssesmentDate" class="form-control"
                                   data-kendo-date-picker
                                   data-k-options="datepickerOptions"
                                   ng-disabled="!hasWriteAccess"
                                   ng-model="usage.riskAssesmentDate"
                                   ng-blur="patchDate('riskAssesmentDate', usage.riskAssesmentDate)"
                                   data-field="riskAssesmentDate">
                            <span id="helpBlockRisk" class="help-block small">Eksempelvis "25-04-2017"</span>
                        </div>
                        <!-- Previous risk assessment -->
                        <div class="form-group">
                            <label for="preRiskAssessment" class="control-label small">Hvad viste den seneste risikovurdering?</label>
                            <select class="form-control input-sm" id="preRiskAssessment"
                                    ui-select2="noSearchNoClearSelect2"
                                    ng-model="usageViewModel.preRiskAssessment"
                                    data-autosave="{{autoSaveUrl}}"
                                    data-field="PreRiskAssessment"
                                    ng-disabled="!hasWriteAccess">
                                <option hidden selected value />
                                <option ng-repeat="riskLevel in riskLevelOptions" value="{{riskLevel.id}}" ng-bind-html="riskLevel.text" />
                            </select>

                        </div>

                        <div class="form-group">
                            <label for="risk-supervision-link" class="control-label small">Link til dokumentation</label>
                            <div class="form-control" style="height:30px; padding: 1px 10px; min-width:20%;" ng-disabled="!hasWriteAccess">
                                <a target="_blank"
                                   id="risk-supervision-link"
                                   data-element-type="riskLinkField"
                                   href="{{usage.riskSupervisionDocumentationUrl}}"
                                   ng-hide="usage.riskSupervisionDocumentationUrl == '' || usage.riskSupervisionDocumentationUrl == null">
                                    {{usage.riskSupervisionDocumentationUrlName ? usage.riskSupervisionDocumentationUrlName : "Dokumentation" }}
                                </a>
                                <label for="risk-supervision-link"
                                       class="control-label small"
                                       ng-show="usage.riskSupervisionDocumentationUrl == '' || usage.riskSupervisionDocumentationUrl == null">
                                    Intet link til dokumentation
                                </label>
                                <button type="button"
                                        style="float: right; cursor: pointer;"
                                        ng-disabled="!hasWriteAccess"
                                        class="btn-link btn-editLink"
                                        title="Redigér link"
                                        data-element-type="riskLinkButton"
                                        ng-click="editLink('riskSupervisionDocumentationUrl')">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <!-- Notes risk -->
                        <div class="form-group">
                            <label for="noteRisks" class="control-label small">Bemærkninger</label>
                            <textarea id="noteRisks" class="form-control input-sm" rows="5"
                                      ng-disabled="!hasWriteAccess"
                                      ng-model="usage.noteRisks"
                                      data-element-type="GDPRNoteRisk"
                                      ng-blur="patch('NoteRisks', usage.noteRisks)"
                                      data-field="NoteRisks"></textarea>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="well">
                        <!-- DPIA -->
                        <div class="form-group">
                            <label for="DPIA" class="control-label small">Gennemført DPIA / Konsekvensanalyse</label>
                            <select class="form-control input-sm" id="DPIA"
                                    ui-select2="noSearchNoClearSelect2"
                                    ng-model="usageViewModel.DPIA"
                                    data-autosave="{{autoSaveUrl}}"
                                    data-field="DPIA"
                                    ng-disabled="!hasWriteAccess">
                                <option hidden selected value />
                                <option ng-repeat="option in dataOptions" value="{{option.id}}" ng-bind-html="option.text" />
                            </select>

                        </div>
                        <div ng-show="usageViewModel.DPIA == 1">
                            <!-- Date of DPIA -->
                            <div class="form-group">
                                <label for="DPIADateFor" class="control-label small">Dato for den seneste DPIA</label>
                                <input type="text" id="DPIADateFor" class="form-control"
                                       data-kendo-date-picker
                                       data-k-options="datepickerOptions"
                                       ng-disabled="!hasWriteAccess"
                                       ng-model="usage.dpiaDateFor"
                                       ng-blur="patchDate('DPIADateFor', usage.dpiaDateFor)"
                                       data-field="DPIADateFor">
                                <span id="helpBlockDPIADateFor" class="help-block small">Eksempelvis "25-04-2017"</span>
                            </div>

                            <div class="form-group">
                                <label for="dpia-supervision-link" class="control-label small">Link til dokumentation</label>
                                <div class="form-control" style="height:30px; padding: 1px 10px; min-width:20%;" ng-disabled="!hasWriteAccess">
                                    <a target="_blank"
                                       id="dpia-supervision-link"
                                       data-element-type="dpiaLinkField"
                                       href="{{usage.dpiaSupervisionDocumentationUrl}}"
                                       ng-hide="usage.dpiaSupervisionDocumentationUrl == '' || usage.dpiaSupervisionDocumentationUrl == null">
                                        {{usage.dpiaSupervisionDocumentationUrlName ? usage.dpiaSupervisionDocumentationUrlName : "Dokumentation" }}
                                    </a>
                                    <label for="dpia-supervision-link" class="control-label small"
                                           ng-show="usage.dpiaSupervisionDocumentationUrl == '' || usage.dpiaSupervisionDocumentationUrl == null">
                                        Intet link til dokumentation
                                    </label>
                                    <button type="button"
                                            style="float: right; cursor: pointer;"
                                            ng-disabled="!hasWriteAccess"
                                            class="btn-link btn-editLink"
                                            title="Redigér link"
                                            data-element-type="dpiaLinkButton"
                                            ng-click="editLink('dpiaSupervisionDocumentationUrl')">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="well">
                    <!-- Answering data DPIA -->
                    <div class="form-group">
                        <label for="answeringDataDPIA" class="control-label small">Er der bevaringsfrist på data inden de må slettes?</label>
                        <select class="form-control input-sm" id="answeringDataDPIA"
                                ui-select2="noSearchNoClearSelect2"
                                ng-model="usageViewModel.answeringDataDPIA"
                                data-autosave="{{autoSaveUrl}}"
                                data-field="AnsweringDataDPIA"
                                ng-disabled="!hasWriteAccess">
                            <option hidden selected value />
                            <option ng-repeat="option in dataOptions" value="{{option.id}}" ng-bind-html="option.text" />
                        </select>
                    </div>
                    <div ng-show="usageViewModel.answeringDataDPIA == 1">
                        <!-- Date of next delete of data DPIA -->
                        <div class="form-group">
                            <label for="DPIAdeleteDate" class="control-label small">Dato for hvornår der må foretages sletning af data i systemet næste gang</label>
                            <input type="text" id="DPIAdeleteDate" class="form-control"
                                   data-kendo-date-picker
                                   data-k-options="datepickerOptions"
                                   ng-disabled="!hasWriteAccess"
                                   ng-model="usage.dpiaDeleteDate"
                                   ng-blur="patchDate('DPIAdeleteDate', usage.dpiaDeleteDate)"
                                   data-field="DPIAdeleteDate">
                            <span id="helpBlockDeleteDPIA" class="help-block small">Eksempelvis "25-04-2017"</span>
                        </div>
                        <div class="form-group">
                            <label for="numberDPIA" class="control-label small">Antal måneder mellem sletningsdatoerne - sletningsperioder.</label>
                            <input type="number" step="1" min="0" class="form-control input-sm"
                                   ng-blur="patch('NumberDPIA', usage.numberDPIA)"
                                   data-field="NumberDPIA"
                                   ng-model="usage.numberDPIA"
                                   data-element-type="GDPRNumberDPIA"
                                   ng-disabled="!hasWriteAccess" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
