<!-- TODO: Not to be deleted yet KITOSUDV-526-->
<!--
<div class="object-section-container">
    <h4>{{systemUsageName}}</h4>
    <div class="panel panel-default">
        <div class="panel-heading">
            Adgangsstyring
        </div>
        <table class="table table-condensed">
            <tbody>
                <tr data-ng-repeat="accessType in accessTypes">
                    <td class="col-xs-1">
                        <input type="checkbox"
                               id="{{accessType.Id}}"
                               data-ng-checked="isActive(accessType.Id)"
                               data-ng-click="toggle(accessType, $event)"
                               data-ng-disabled="!hasWriteAccess" />
                    </td>
                    <td class="col-xs-11">
                        <label for="{{accessType.Id}}">{{accessType.Name}}</label>
                    </td>
                </tr>
                <tr>
                    <td class="col-xs-11" colspan="2" data-ng-if="!accessTypes.length">
                        Ingen adgangsstyringstyper defineret for dette It-system.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
-->