<div class="object-section-container">
    <h4> {{usage.itSystem.name}}<span ng-if="usage.itSystem.disabled">(Slettes)</span></h4>
    <div class="panel panel-default">
        <div class="panel-heading">{{usage.itSystem.name}} har følgende relationer til andre systemer/snitflader:</div>
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>
                        IT System (udstiller)
                    </th>
                    <th>
                        Snitflade
                    </th>
                    <th>
                        Frekvens
                    </th>
                    <th>
                        Kontrakt
                    </th>
                    <th>
                        Reference
                    </th>
                    <th>
                        Beskrivelse
                    </th>
                </tr>   
            </thead>
            <tbody>
                <!--data-ng-repeat=""-->
                <tr ng-repeat="relation in relationTabledata">
                    <td><a href="#/system/usage/{{relation.toUsage.id}}/main">{{relation.toUsage.name}}</a></td>
                    <td><a href="#/system/edit/{{relation.interface.id}}/interface/main">{{relation.interface.name}}</a></td>
                    <td>{{relation.frequencyType.name}}</td>
                    <td><a href="#/contract/edit/{{relation.contract.id}}/main">{{relation.contract.name}}</a></td>
                    <td>
                        <span ng-if="validateReference(relation.reference)"><a ng-href="{{relation.reference}}">➤</a></span>
                        <span ng-if="!validateReference(relation.reference)">{{relation.reference}}</span>
                    </td>
                    <td>{{relation.description}}</td>
                </tr>
            </tbody>
        </table>
        <button id="create-Relation" class="btn btn-success btn-sm pull-right" data-ng-click="createRelation()" style="margin-top: 5px">Opret relation</button>
    </div>
</div>
<ng-template #RefNoLink>{{relation.reference}}</ng-template>