<div class="modal-header">
    <div class="clearfix">
        <h3 class="modal-title pull-left">{{RelationModalViewModel.headerText}}</h3>
    </div>
</div>

<form name="createForm">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-3">

            </div>
            <!--Exposed System-->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="RelationSystemExposed">Udstillet af</label>
                    <input type="hidden" id="RelationSystemExposed" class="form-control input-sm"
                           ui-select2="RelationExposedSystemDataCall"
                           ng-value="RelationExposedSelectedData"
                           placeholder="Vælg udstiller system"
                           ng-model="RelationModalViewModel.toSystem"
                           ng-change="ExposedSystemSelectedTrigger()"
                           data-field="RelationExposedId">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <!--Interface-->
                <div class="form-group">
                    <label for="RelationInterfacesSelect">Vælg snitflade</label>
                    <input type="hidden"
                           id="RelationInterfacesSelect"
                           class="form-control input-sm"
                           ui-select2="InterfaceOptions"
                           placeholder="Vælg snitflade"
                           ng-model="RelationModalViewModel.interface.value"
                           ng-disabled="!RelationModalViewModel.toSystem"
                           data-field="RelationContractId">
                </div>
                <!--Description-->
                <div class="form-group">
                    <label class="control-label" for="description">Beskrivelse</label>
                    <textarea type="text" class="form-control" name="description" id="description" placeholder="Beskrivelse" ng-model="RelationModalViewModel.description.text" ng-disabled="!RelationModalViewModel.toSystem"></textarea>
                </div>
                <!--Reference-->
                <div class="form-group">
                    <label class="control-label" for="Reference">Reference</label>
                    <input type="text" class="form-control" name="Reference" id="Reference" placeholder="Reference" ng-model="RelationModalViewModel.reference.text" ng-disabled="!RelationModalViewModel.toSystem">
                </div>
                <!--Contract-->
                <div class="form-group">
                    <label for="RelationContractsSelect">Vælg kontrakt</label>
                    <input type="hidden"
                           id="RelationContractsSelect"
                           class="form-control input-sm"
                           ui-select2="ContractOptions"
                           placeholder="Vælg kontrakt"
                           ng-model="RelationModalViewModel.contract.value"
                           ng-disabled="!RelationModalViewModel.toSystem"
                           data-field="RelationContractId">
                </div>
                <!--frequency-->
                <div class="form-group">
                    <label for="RelationPaymentFrequenciesSelect">Vælg frekvens</label>
                    <input type="hidden"
                           id="RelationPaymentFrequenciesSelect"
                           class="form-control input-sm"
                           ui-select2="FrequencyOptions"
                           placeholder="Vælg frekvens"
                           ng-model="RelationModalViewModel.frequency.value"
                           ng-disabled="!RelationModalViewModel.toSystem"
                           data-field="RelationFrequencyId">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger pull-left" data-element-type="relationDeleteButton" ng-if="RelationModalViewModel.isEditDialog" ng-click="removeRelation()">Slet</button>
            <button type="button" class="btn btn-warning" ng-click="dismiss()">Annuller</button>
            <button type="button" class="btn btn-primary" ng-click="save()" data-element-type="relationSaveButton" ng-disabled="!RelationModalViewModel.toSystem">Gem</button>
        </div>
    </div>
</form>
