body {
    font-size: 15px;
    background-color: #f0f0f0;
}

div#page-wrapper {
    min-width: 1024px;
    max-width: 1280px;
    margin: 0px auto;
    padding: 0px;
}

div#page-content {
    min-width: 1024px;
    max-width: 1280px;
    margin: 120px auto;
    padding: 0px 5px 0px 10px;
}

div#page-body {
    background-color: white;
    padding: 30px;
}

/************ NAVIGATION BAR TOP **************/
#navbar-top {
    height: 100px;
    font-size: 15px;
    background-color: rgb(55, 96, 146);
    border: 0px;
}

    #navbar-top .navbar-brand,
    #navbar-top .navbar-nav li a,
    #navbar-top .navbar-text {
        line-height: 70px;
        height: 70px;
        padding: 0px 10px;
        margin: 15px 5px;
        text-align: center;
    }

    #navbar-top li a {
        width: 180px;
    }

    #navbar-top li.double-line a {
        padding-top: 18px;
        line-height: 17px;
    }

    #navbar-top .navbar-text-small {
        font-size: 0.8em;
    }

    #navbar-top .navbar-text-large {
        font-size: 3em;
    }

    #navbar-top .navbar-complex {
        font-size: 0.7em;
        line-height: 25px;
        padding-top: -10px;
    }

    #navbar-top a {
        color: white;
    }

    #navbar-top li.active a,
    #navbar-top li a:hover {
        background-color: rgb(219, 229, 241);
        color: rgb(55, 96, 146);
    }

    #navbar-top select {
        color: black;
    }
/*********************************************/

#subnav {
    margin-top: 20px;

}

#subnav ul {
    list-style-type: none;
    margin: 0px;
}

#subnav nav ul li {

    display: inline-block;
    margin-left: 10px;
}

#subnav nav ul li a.btn-tab {
    
    color: black;
    background-color: #e6e6e6;
}

#subnav nav ul li a.btn-tab-active {
    background-color: white;
}

/* TODO: Style these? */
.alert-danger {
}

.alert-success {
}

.alert-info {
}

div.suggest-box {
    padding: 15px;
}

input:disabled {
    cursor: inherit !important;
}

.full-width {
    width: 100%;
}

.white {
    color: white !important;
}

.light-blue {
    color: rgb(208, 217, 229) !important;
}

.broken-white {
    color: #f0f0f0 !important;
}

/* invalid input fields */
input.ng-invalid:not(.ng-pristine) {
    background-color: rgba(240, 73, 73, 0.2) !important;

}