<!-- NOTIFICATION AREA -->
<div data-notify></div>

<div id="page-wrapper" class="container-fluid">
    <!-- NAVBAR -->
    <div data-ng-include="'app/shared/navigation/navigation-top.view.html'"></div>

    <div id="page-content" role="main">
        <div id="subnav" data-ng-if="user.isAuth" data-ng-include="'app/shared/navigation/navigation-sub.view.html'"></div>
        <div id="subnav-buttons" data-ng-if="page.subnav.buttons && (!page.subnav.showAnyButtons || page.subnav.showAnyButtons($state))" data-ng-include="'app/shared/navigation/navigation-buttons.view.html'"></div>
        <div id="page-body" data-ui-view="" data-autoscroll="false" data-ng-cloak></div>
    </div>

    @if (ViewBag.SsoErrorCode != null)
    {
        <input type="hidden" data-state-type="sso-error" data-state-value="@ViewBag.SsoErrorCode" />
    }

    @if (ViewBag.SsoLoginStartPreference != null)
    {
        <input type="hidden" data-state-type="sso-start-preference" data-state-value="@ViewBag.SsoLoginStartPreference" />
    }

    @if (ViewBag.FeatureToggle != null)
    {
        <input type="hidden" data-state-type="feature-toggle" data-state-value="@ViewBag.FeatureToggle" />
    }

</div>