body {
    background-color: #F2F2F2;
    font-family: Calibri, Candara, Arial, sans-serif !important;
}

div#page-wrapper {
    min-width: 1024px;
    max-width: 1280px;
    margin: 0px auto;
    padding: 0px;
}

div#page-content {
    min-width: 1024px;
    max-width: 1280px;
}

div#page-body {
    background-color: white;
    padding: 10px 5px 20px 5px;
}

/************ NAVIGATION BAR TOP **************/
.navbar-nav {
    width: 70%;
}

    .navbar-nav > li {
        width: 22%;
    }

#navbar-top {
    height: 100px;
    font-size: 15px;
    background-color: rgb(55, 96, 146);
    border: 0px;
}
    #navbar-top .navbar-brand {
        font-size: 25px;
        line-height: 70px;
        height: 70px;
        padding: 0px 10px;
        margin: 15px 5px;
        text-align: center;
    }

    #navbar-top .navbar-nav li a,
    #navbar-top .navbar-text {
        font-size: 18px;
        line-height: 70px;
        height: 70px;
        padding: 0px 10px;
        margin: 15px 5px;
        text-align: center;
    }

    #navbar-top li a {
        width: 100%;
    }

    #navbar-top li.double-line a {
        padding-top: 18px;
        line-height: 17px;
    }

    #navbar-top .navbar-text-small {
        font-size: 0.8em;
    }

    #navbar-top .navbar-text-large {
        font-size: 3em;
    }

    #navbar-top .navbar-complex {
        font-size: 0.7em;
        line-height: 25px;
        padding-top: -10px;
    }

    #navbar-top a {
        color: white;
        padding: 5px;
    }

        #navbar-top a.active,
        #navbar-top a:hover {
            background-color: rgb(219, 229, 241);
            color: rgb(55, 96, 146);
            text-decoration: none;
        }
/*********************************************/

#subnav ul {
    list-style-type: none;
    margin: 0px;
}

#subnav nav ul li {
    display: inline-block;
    margin-left: 10px;
}

    #subnav nav ul li a.btn-tab {
        color: black;
        background-color: #e6e6e6;
    }

    #subnav nav ul li a.btn-tab-active {
        background-color: white;
    }



div.org-node-top {
    margin-top: 20px;
}

div.org-node {
    display: block;
    width: 100%;
}

    div.org-node a {
        color: white;
        text-decoration: none;
    }

    div.org-node span.org-node-info {
        display: inline-block;
        margin: 0;
        padding: 4px 10px;
        background: rgb(219, 229, 241);
    }

        div.org-node span.org-node-info > a {
            color: rgb(55, 96, 146);
        }

        div.org-node span.org-node-info i {
            color: rgb(55, 96, 146);
        }

    div.org-node.selected > span.org-node-info {
        background-color: rgb(55, 96, 146);
    }

        div.org-node.selected > span.org-node-info > a {
            color: white;
        }

        div.org-node.selected > span.org-node-info i {
            color: white;
        }

    div.org-node.hasWriteAccess span.org-node-info {
        display: inline-block;
        margin: 0;
        padding: 4px 10px;
        background: rgb(177, 207, 243);
    }

    div.org-node.selected.hasWriteAccess > span.org-node-info {
        background: rgb(55, 96, 146);
    }

        div.org-node.selected.hasWriteAccess > span.org-node-info > a {
            color: white;
        }

        div.org-node.selected.hasWriteAccess > span.org-node-info i {
            color: white;
        }


    div.org-node li {
        list-style-type: none;
        padding: 5px 5px;
        margin: 0;
        position: relative;
    }

        div.org-node li::before, .org-node li::after {
            content: '';
            left: -20px;
            position: absolute;
            right: auto;
        }

        div.org-node li::before {
            border-left: 2px solid #dddddd;
            bottom: 50px;
            height: 100%;
            top: 5px;
            width: 1px;
        }

    div.org-node.selected li::before {
        border-color: #aaaaaa;
    }

    div.org-node li:last-child::before {
        height: 15px;
    }

    div.org-node li::after {
        border-top: 2px solid #dddddd;
        height: 15px;
        top: 20px;
        width: 20px;
    }

    div.org-node.selected li::after {
        border-color: #767676;
    }
/* TODO: Style these? */
.alert-danger {
}

.alert-success {
}

.alert-info {
}

div.suggest-box {
    padding: 15px;
}

input:disabled {
    cursor: inherit !important;
}

input.input-cell {
    padding: 1px 5px 1px 3px !important;
    margin: 0px !important;
    font-size: 11px;
    border: none;
    background: none;
    box-shadow: none;
    text-align: right;
    height: 30px;
}

    input.input-cell:focus {
        box-shadow: none;
        background: rgba(0, 0, 0, 0.1);
    }

    input.input-cell:read-only {
        background: none;
        cursor: default;
    }

    input.input-cell:focus:read-only {
        background: none;
        box-shadow: none;
    }

td.td-very-condensed {
    padding: 0px !important;
}

td.border-left {
    border-left: 2px solid gainsboro;
}

.full-width {
    width: 100%;
}

.white {
    color: white !important;
}

.normal-color {
    color: rgb(90, 90, 90) !important;
}

.light-blue {
    color: rgb(184, 202, 226) !important;
}

.broken-white {
    color: #f0f0f0 !important;
}

/* invalid input fields */
input.ng-invalid:not(.ng-pristine) {
    background-color: rgba(240, 73, 73, 0.2) !important;
}

div.tab-content {
    padding-top: 20px;
}

.nav-tabs a {
    cursor: pointer;
}

a {
    cursor: pointer;
}

div.popover {
    color: black !important;
}

.highlight {
    background-color: rgb(255, 255, 177);
}

.indent {
    visibility: hidden;
}

.pointer {
    cursor: pointer;
}

.faded {
    opacity: 0.3;
}

.no-min-width {
    min-width: initial;
}

div.task-usage-root {
    background-color: rgb(242, 242, 242);
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: 2px solid rgb(195, 195, 195);
}

div.task-usage-row {
    padding: 2px 0;
}

.dropdown-menu.traffic-light {
    min-width: initial;
    padding: 0;

    left: 7px;
}

    .dropdown-menu.traffic-light a {
        padding: 5px;
        margin: 5px;
    }
    
    .dropdown-menu.traffic-light a:hover {
        border-color: black;
    }


a.task-fold {
    color: inherit;
    text-decoration: none;
}

    a.task-fold:hover {
        color: black;
    }

.select-status {
    color: transparent !important;
    display: inline-block;
    padding: 4px 6px 0px 6px;
}

.status-circle {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 12px;
    border: 2px solid rgb(52, 52, 52);
    display: inline-block;
    background: gray;
}

.select-status:hover .status-circle {
    border: 2px solid rgb(108, 108, 108);
}

.status-arrow-down {
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 2px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgb(52, 52, 52);
}

.select-status:hover .status-arrow-down {
    border-top: 5px solid rgb(108, 108, 108);
}

.status-circle.red, .progress-bar-danger {
    background: rgb(208, 67, 67);
}
.traffic-light .status-circle.red:hover {
    background: rgb(157, 45, 45);
}

.status-circle.yellow, .progress-bar-warning {
    background: rgb(254, 232, 34);
}
.traffic-light a.status-circle.yellow:hover {
    background: rgb(204, 183, 0);
}

.status-circle.green, .progress-bar-success {
    background: rgb(54, 164, 54);
}
.traffic-light  a.status-circle.green:hover {
    background: rgb(33, 118, 33);
}

.status-circle.white, .progress-bar-white {
    background: rgb(255, 255, 255);
}
.traffic-light a.status-circle.white:hover {
    background: rgb(213, 213, 213);
}

.status-bar {
    display: inline-block;
    width: 45px;
    height: 23px;
    border: 1px solid #cccccc;
    border-radius: 0px;
    margin-bottom: 0;
}


.status-column {
    display: inline-block;
    text-align: center;
    width: 32%;
}


.supertext {
    position: absolute;
    top: -8px;
}

.subtext {
    position: absolute;
    top: 8px;
    width: 100%;
}
.btn-star {
    color: rgb(255, 141, 0);
    display: inline-block;
    margin: 0;
    padding: 0;
}

    .btn-star.unstarred {
        color: rgb(181, 181, 181);
    }

    .btn-star:hover, .btn-star:active {
        color: rgb(188, 104, 0);
    }

.task-table .row {
    padding: 3px 0px;
}

.col-sm-0 {
    width: 1%;
}

body.wait, body.wait * {
    cursor: wait !important;
}

.btn-header {
    padding: 2px;
    width: 100%;
    text-align: left;
}

.org-role-table {
    table-layout: fixed;
}

    .org-role-table thead > tr th:nth-child(1) {
        width: 30%;
    }

    .org-role-table thead > tr th:nth-child(2) {
        width: 20%;
    }

    .org-role-table thead > tr th:nth-child(3) {
        width: 20%;
    }

    .org-role-table thead > tr th:nth-child(4) {
        width: 30%;
    }

.form-horizontal.fix-label-padding label.control-label {
    padding-top: 3px !important;
}

.org-selector {
    color: black;
    font-size: 12px !important;
    line-height: 10px !important;
    height: auto !important;
    padding: 2px;
}

.relative-position {
    position: relative;
}

div.pull-outside-table {
    position: absolute;
    right: -50px;
    top: 8px;
}

.margin-top {
    margin-top: 50px;
}

table.table-fixed {
    table-layout: fixed;
}

table.table-no-margin {
    margin: 0px;
}

.table tbody>tr>td.vert-align
{
    vertical-align: middle;
}

tr.sub-sum {
    background-color: rgba(242, 208, 95, 0.37);
}

tr.sum {
    background-color: rgba(142, 197, 245, 0.37);
    border-width: 2px 0px;
    border-color: gainsboro;
    border-style: solid;
}

tr.super-sum {
    background-color: rgba(80, 132, 178, 0.37);
    border-width: 2px 0px;
    border-color: gainsboro;
    border-style: solid;
}

/* remove margins in inline form groups */
.form-inline .form-group {
    margin-left: 0;
    margin-right: 0;
}

body, .btn {
    font-size: 13px !important;
}

.btn-order-by {
    text-align: left;
    color: inherit;
    background: none;
}

    .btn-order-by:hover, .btn-order-by:active, .btn-order-by:focus {
        color: black !important;
    }

    .btn-order-by::after {
        font-size: 0.7em;
        content: '▼▲';
        opacity: 0.5;
        min-width: 20px;
    }

    .btn-order-by.ordering::after {
        content: '▲';
        opacity: 1;
    }

    .btn-order-by.ordering.descending::after {
        content: '▼';
    }

.btn-default {
    color: black;
    background-color: white;
    border-color: #cccccc;
}

    .btn-default:hover, .btn-default:focus {
        color: black;
        background-color: #e0e0e0;
        border-color: #cccccc;
    }

    .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
        color: black;
        background-color: #cccccc;
        border-color: #cccccc;
    }


.subtabs {
    display: inline-block;
    padding: 20px 5px 2px 5px !important;

    width: 100%;
}

.dropdown-menu {
    font-size: inherit !important;
}

.nav.nav-tabs > li > a {
    padding: 8px 9px !important;
    text-align: center;
}

.excel-icon {
    position: absolute;
    right: 0;
    top: -45px;
}

div.searchbox {
    position: absolute;
    right: 30px;
    top: -45px;

    display: inline-block;
    width: 300px;
}
div.searchbox-wrapper {
    position: relative;
    width: 100%;
}
.input-xs {
    height: 26px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.3;
}

/* Textarea resize */
.resize-vertical {
    resize: vertical;
}

/* disabled inputfield */
.disabled-input {
    background-color: #ddd;
    cursor: not-allowed;
}
