.left-menu {
    background-color: #dbe5f0;
    padding: 15px 0;
    
    .header {
        padding: 0 15px;
        
        h3 {
            font-weight: bold;
            font-size: 14px;
            border-bottom: 1px solid black;
        }
    }
    
    ul {
        list-style: none;
        padding: 0;
        
        li {
            a {
                display: inline-block;
                padding: 7px 15px;
                color: black;
                
                i {
                    margin-right: 12px;
                }
            }
            
            &:hover {
                background-color: #3a6db5;
                cursor: pointer;
                
                a {
                    text-decoration: none;
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }
}