<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="KitosContext" connectionString="Server=localhost;Database=kitos;Uid=root;Pwd=root;Convert Zero Datetime=True;AllowUserVariables=True;" providerName="MySql.Data.MySqlClient" />
    <!-- For manual seeding
    # Prod
    <add name="KitosContext" connectionString="Server=91.236.123.165;Database=kitos;Uid=Kitos;Pwd=Kit65po#;Convert Zero Datetime=True;AllowUserVariables=True;" providerName="MySql.Data.MySqlClient" />
    # Sandbox
    <add name="KitosContext" connectionString="Server=91.236.123.172;Database=kitos;Uid=Kitos;Pwd=Kit65po#;Convert Zero Datetime=True;AllowUserVariables=True;" providerName="MySql.Data.MySqlClient" />
    # Test
    <add name="KitosContext" connectionString="Server=91.236.123.179;Database=kitos;Uid=Kitos;Pwd=Kit65po#;Convert Zero Datetime=True;AllowUserVariables=True;" providerName="MySql.Data.MySqlClient" />
    -->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup><system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data><entityFramework>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
