<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OrganisationSystemBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="OrganisationSystemBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:8080/service/Organisation/OrganisationSystem/5"
                binding="basicHttpBinding" bindingConfiguration="OrganisationSystemBinding"
                contract="OrganisationSystem.OrganisationSystemPortType" name="OrganisationSystemPort" />
        </client>
    </system.serviceModel>
</configuration>