<div class="dropdown">
    <a class="dropdown-toggle select-status" data-ng-if="canWrite">
        <span class="status-circle" data-ng-class="{'white': model == 0, 'red': model == 1, 'yellow': model == 2, 'green': model == 3}"></span>
        <span class="status-arrow-down"></span>
    </a>
    <span class="status-circle" data-ng-class="{'white': model == 0, 'red': model == 1, 'yellow': model == 2, 'green': model == 3}" data-ng-if="!canWrite"></span>
    <ul class="dropdown-menu stop-light">
        <li><a data-ng-click="setModel(0)" class="status-circle white"></a></li>
        <li><a data-ng-click="setModel(1)" class="status-circle red"></a></li>
        <li><a data-ng-click="setModel(2)" class="status-circle yellow"></a></li>
        <li><a data-ng-click="setModel(3)" class="status-circle green"></a></li>
    </ul>
</div>