<table class="table table-striped">
    <thead>
        <tr>
            <th width="33%">Ansvarlig</th>
            <th width="33%">Antal opdateringer</th>
            <th width="33%">Dato</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{:: ctrl.responsibleEntityText }}</td>
            <td>{{:: ctrl.changeLog.consequences.length }}</td>
            <td>{{:: ctrl.logTime }}</td>
        </tr>
</table>
<div class="margin-top-sm">
    <fk-orgnization-import-consequences-log data-consequences="ctrl.changeLog.consequences"/>
</div>