<div class="form-group">
    Brydes forbindelsen til FK Organisation vil alle organisationsenheder, som er importeret fra FK Organisation, blive konverteret til KITOS enheder.
</div>
<div class="form-group">
    Oprettes forbindelsen igen efterfølgende, vil der altså kunne optræde enheder med samme navn men med forskelligt "ophav".
</div>
<div class="form-group">
    For at lette den administrative byrde har du derfor følgende muligheder:
</div>
<div class="form-group">
    <ul>
        <li><strong>Slet ubrugte organisationseneheder:</strong> Vælges denne mulighed slettes alle organisationseneheder (fra FK Organisation), hvortil der ikke er knyttet en registrering. De resterende konverteres til KITOS enheder.</li>
        <br/>
        <li><strong>Bevar organisationshierarkiet:</strong> Vælges denne mulighed konverteres alle organisationsenheder fra FK Organisation til KITOS enheder.</li>
    </ul>
</div>