<div class="modal-header">
    <div class="clearfix">
        <h3 class="modal-title pull-left" ng-if="vm.flow === 'create'">Opret forbindelse til FK Organisation</h3>
        <h3 class="modal-title pull-left" ng-if="vm.flow === 'update'">Redigér forbindelsen til FK Organisation</h3>
        <help-text class="pull-right" data-key="import_from_fk_organization_flow.{{::vm.flow}}" data-default-title="Opret advis"></help-text>
    </div>
</div>

<form name="createForm">
    <div class="modal-body">
        <div>
            <!--TODO-->
        </div>
    </div>

    <div class="modal-footer">
        <!--TODO-->
    </div>
</form>