<div class="form-group" ng-if="ctrl.accessGranted == null">
    <progress-spinner data-show-text="true" />
</div>
<div class="form-group" ng-if="ctrl.accessGranted !== null">
    <label for="connection-status" class="control-label small">Adgang <field-help-text data-key="local-config-fk-org-status.label" /></label>
    <div id="connection-status">
        <span ng-if="ctrl.accessGranted">KITOS har adgang til organisationens data via FK Organisation</span>
        <span ng-if="!ctrl.accessGranted">KITOS har <strong>ikke</strong> adgang til organisationens data via FK Organisation</span>
    </div>
    <div ng-if="ctrl.accessError !== null" class="text-danger">
        <i class="glyphicon glyphicon-info-sign"></i>
        {{::ctrl.accessError}}
    </div>
</div>
<div class="form-group" ng-if="ctrl.synchronizationStatus !== null">
    <label for="sync-status" class="control-label small">Synkronisering <field-help-text data-key="local-config-fk-org-sync-status.label" /></label>
    <div id="sync-status">
        <span ng-if="ctrl.synchronizationStatus.connected">
            Organisationen er forbundet til FK Organisation
            <ul>
                <li>
                    Niveauer der synkroniseres: <strong>{{::ctrl.synchronizationStatus.synchronizationDepth === null ? 'Alle' : ctrl.synchronizationStatus.synchronizationDepth}}</strong>
                </li>
                <li>
                    Importerer automatisk (dagligt) ændringer fra FK Organisation: <strong>{{::ctrl.synchronizationStatus.subscribesToUpdates ? 'Ja' : 'Nej'}}</strong>
                </li>
            </ul>
        </span>
        <span ng-if="!ctrl.synchronizationStatus.connected">Organisationen er <strong>ikke</strong> forbundet til FK Organisation</span>
    </div>

</div>
<div ng-if="ctrl.synchronizationStatus !== null && ctrl.synchronizationStatus.connected">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a id="expand_collapse_change_log" class="task-fold control-label" data-ng-click="isExpanded = !isExpanded">
                <span>Ændringslog</span>
                <i class="faded-gray fa pull-right" data-ng-class="{'fa-minus-square-o': isExpanded, 'fa-plus-square-o': !isExpanded}"></i>
            </a>
        </div>
        <div ng-if="isExpanded" class="panel-body">
            <fk-organization-import-change-logs-root data-organization-uuid="{{::ctrl.currentOrganizationUuid}}" />
        </div>
    </div>
</div>
<div class="form-group" ng-if="ctrl.commands && ctrl.commands.length > 0">
    <button ng-repeat="command in ctrl.commands" data-disabled-on-busy id="command.id"
            class="btn right-margin-5px"
            ng-class="{'btn-primary': command.category === 'create' || command.category === 'update' , 'btn-danger': command.category == 'delete'}"
            ng-click="command.onClick()"
            ng-disabled="!command.enabled || ctrl.busy">
        {{::command.text}}
    </button>
    <progress-spinner ng-if="ctrl.busy" data-show-text="true" data-custom-text="Arbejder (kan tage tid)..." />
</div>