<div class="modal-header">
    <div class="clearfix">
        <h3 class="modal-title pull-left" ng-if="vm.flow === 'create'">Opret forbindelse til FK Organisation</h3>
        <h3 class="modal-title pull-left" ng-if="vm.flow === 'update'">Redigér forbindelsen til FK Organisation</h3>
        <help-text class="pull-right" data-key="import_from_fk_organization_flow.{{::vm.flow}}" data-default-title="Opret advis"></help-text>
    </div>
</div>

<div class="modal-body" name="">
    <div class="row">
        <div class="form-group col-xs-12">
            <form name="importSettings">
                <div class="col-xs-12">
                    <label for="sync-levels-input" class="control-label small">Niveauer <field-help-text data-key="local-config-fk-org-import-modal.sync-levels" /></label>
                </div>
                <div class="col-xs-4">
                    <input ng-disabled="vm.busy || vm.loadingHierarchy || vm.updating || vm.consequencesAwaitingApproval" id="sync-levels-input" class="form-control input-sm" type="number" ng-model="vm.fkOrgHierarchy.availableLevels" step="1" min="1" pattern="^[0-9]*$" name="synchronizationDepth" />
                </div>
                <div class="col-xs-12" ng-switch="!!(importSettings.synchronizationDepth.$error.number || importSettings.synchronizationDepth.$error.pattern || importSettings.synchronizationDepth.$error.min)">
                    <span ng-switch-when="false" ng-if="!vm.fkOrgHierarchy.availableLevels" class="help-block small">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        Alle niveauer i organisationen synkroniseres fra FK Organisation. Angiv antal niveauer for at begrænse hierarkiet.
                    </span>
                    <span ng-switch-when="false" ng-if="vm.fkOrgHierarchy.availableLevels && vm.fkOrgHierarchy.availableLevels > 0" class="help-block small">
                        KITOS synkroniserer <strong>{{vm.fkOrgHierarchy.availableLevels}}</strong> niveauer fra organisationshierarkiet i FK Organisation. Slet indtastningen for at synkronisere det fulde organisationshierarki.
                    </span>
                    <span ng-switch-when="true" class="help-block small">
                        <i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i>
                        <span class="text-danger">Indtast et heltal større end 0 eller lad feltet være tomt.</span>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12">
            <div class="col-xs-12">
                <label for="subscribe-to-changes-input" class="control-label small">Automatik <field-help-text data-key="local-config-fk-org-import-modal.subscribe-to-updates" /></label>
            </div>
            <div class="col-xs-12">
                <div class="checkbox no-top-margin">
                    <label>
                        <input type="checkbox"
                               id="subscribe-to-changes-input"
                               data-element-type="dataLevelTypeNoneCheckbox"
                               ng-model="vm.subscribesToUpdates"
                               ng-disabled="vm.busy || vm.loadingHierarchy || vm.updating || vm.consequencesAwaitingApproval">
                        Importér automatisk (dagligt) ændringer fra FK Organisation
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="!vm.consequencesAwaitingApproval">
        <div class="form-group col-xs-12">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a id="expand_collapse_hierarchy" class="task-fold" data-ng-click="vm.isHierarchyCollapsed = !vm.isHierarchyCollapsed">
                            Forhåndsvisning
                            <i ng-if="!vm.loadingHierarchy" class="faded-gray fa pull-right" ng-class="{'fa-minus-square-o': !vm.isHierarchyCollapsed, 'fa-plus-square-o': vm.isHierarchyCollapsed}"></i>
                        </a>
                        <span class="help-block small">
                            Viser hierarkiet fra FK Organisation ift. det valgte synkroniseringsniveau.
                        </span>
                    </div>
                    <div class="panel-body" ng-show="!vm.isHierarchyCollapsed || vm.loadingHierarchy">
                        <organization-tree ng-if="!vm.loadingHierarchy" data-options="vm.fkOrgHierarchy" />
                        <span ng-if="vm.loadingHierarchy" class="pull-left"><progress-spinner data-show-text="true" data-custom-text="Indlæser forhåndsvisning (kan tage tid)..." /></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="vm.consequencesAwaitingApproval">
        <div class="form-group col-xs-12">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a id="expand_collapse_consequences" class="task-fold" data-ng-click="vm.isConsequencesCollapsed = !vm.isConsequencesCollapsed">
                            Ændringer
                            <i ng-if="!vm.loadingHierarchy" class="faded-gray fa pull-right" ng-class="{'fa-minus-square-o': !vm.isConsequencesCollapsed, 'fa-plus-square-o': vm.isConsequencesCollapsed}"></i>
                        </a>
                        <span class="help-block small">
                            Viser konsekvenser <strong>({{vm.consequencesAwaitingApproval.length}})</strong> af opdateringen for organisationshierarkiet i KITOS
                        </span>
                    </div>
                    <div class="panel-body" ng-show="!vm.isConsequencesCollapsed">
                        <fk-orgnization-import-consequences-log data-consequences="vm.consequencesAwaitingApproval" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer" ng-if="!vm.consequencesAwaitingApproval">
    <span class="pull-left" ng-if="vm.busy"><progress-spinner data-show-text="true" data-custom-text="Synkroniserer (kan tage tid)..." /></span>
    <button type="submit" ng-disabled="vm.loadingHierarchy || vm.busy || (!!(importSettings.synchronizationDepth.$error.number || importSettings.synchronizationDepth.$error.pattern || importSettings.synchronizationDepth.$error.min))" id="btnAssign" class="btn btn-primary" data-ng-click="vm.performImport()"><span ng-if="vm.flow === 'create'">Gennemfør synkronisering</span><span ng-if="vm.flow === 'update'">Opdatér</span></button>
    <button type="submit" ng-disabled="vm.busy" class="btn btn-danger" data-ng-click="vm.cancel()" data-disabled-on-busy>Annuller</button>
</div>
<div class="modal-footer" ng-if="vm.consequencesAwaitingApproval">
    <span class="pull-left" ng-if="vm.updating"><progress-spinner data-show-text="true" data-custom-text="Opdaterer (kan tage tid)..." /></span>
    <button type="submit" ng-disabled="vm.updating" id="btnUpdate" class="btn btn-primary" data-ng-click="vm.acceptConsequences()">Godkend ændringer</button>
    <button type="submit" ng-disabled="vm.updating" class="btn btn-warning" data-ng-click="vm.rejectConsequences()" data-disabled-on-busy>Afvis ændringer</button>
    <button type="submit" ng-disabled="vm.updating" class="btn btn-danger" data-ng-click="vm.cancel()" data-disabled-on-busy>Annuller</button>
</div>