<div class="container-fluid">
    <form role="form" data-ng-submit="submit()">
        <div class="form-group">
            <label>Step 1 - Hent og udfyld ark:</label> <br />
            <a data-ng-href="{{url}}" class="form-control text-primary"><span class="glyphicon glyphicon-file"></span> Hent excel-ark til import af {{title}}.</a>
        </div>
        <div class="form-group">
            <label for="file">Step 2 - Upload udfyldt ark:</label>
            <input type="file" id="file" name="file" class="form-control" data-file-model="file">
        </div>
        <button type="submit" class="btn btn-default">Upload</button>
    </form>

    <!-- Errors -->
    <div data-ng-if="errorData.showExcelErrors" class="col-xs-12">
        <p>
            <h4 class="text-danger">
                <i class="glyphicon glyphicon-info-sign"></i>
                Fejl ved import
            </h4>
            Der var {{errorData.errors.length}} fejl i den uploadede fil og derfor er intet blevet importeret. Ret <ng-pluralize count="errorData.errors.length" when="{'1': 'Fejlen', 'other': 'fejlene'}"></ng-pluralize> og prøv igen.
        </p>
        <ul class="list-group">
            <li class="list-group-item" data-ng-repeat="error in errorData.errors">
                <b>Faneblad {{error.sheetName}}, celle {{error.column}}{{error.row}}</b>: {{error.message}}
            </li>
        </ul>
    </div>
    <div data-ng-if="errorData.showGenericError" class="col-xs-12">
        <p>
            <h4 class="text-danger">
                <i class="glyphicon glyphicon-info-sign"></i>
                Fejl ved import
            </h4>
            Der skete en uforudset fejl i forbindelse med importen. Intet er derfor blevet importeret.
            <br>
            Rapportér fejlen til din lokale adminstrator sammen med den excel fil du forsøgte at importere. Tak.
        </p>
    </div>
</div>
