@{
    ViewBag.Title = "Index";
}

<h2>Test</h2>

<form class="form-inline">
    <div class="form-group">
        <input type="text" id="input-url" class="form-control" />
        <input type="button" id="submit" class="btn btn-default" value="GET"/>
    </div>
</form>
<div id="result">
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#submit").click(function () {
                var url = $("#input-url").val();
                $.get(url).always(function (result) {
                    $("#result").html(result); 
                });
            });
        });
    </script>
}