<div class="modal-header" ng-if="vm.title">
    <h3 class="modal-title">{{::vm.title}}</h3>
</div>
<form name="genericPromptForm" role="form" data-ng-submit="submit()" novalidate>
    <div class="modal-body" ng-if="vm.body" style="word-wrap: break-word;" data-ng-bind-html="vm.body">
    </div>
    <div class="modal-body" ng-if="vm.bodyTemplatePath" style="word-wrap: break-word;" ng-include="vm.bodyTemplatePath">
    </div>
    <div class="modal-footer">
        <button ng-repeat="button in vm.buttons"
                type="button"
                class="btn"
                ng-class="{
                    'btn-success': button.category === 'success',
                    'btn-primary': button.category === 'primary',
                    'btn-warning': button.category === 'warning',
                    'btn-danger': button.category === 'danger',
                    }"
                ng-click="button.handle()">
            {{::button.text}}
        </button>
    </div>
</form>