<div class="modal-header">
    <div class="clearfix">
        <h3 class="modal-title pull-left">Opret {{type}}</h3>
        <help-text class="pull-right" data-key="it_system_create" data-default-title="Opret IT system"></help-text>
    </div>
</div>
<form name="createForm" role="form" data-ng-submit="submit()" novalidate data-element-type='catalogCreateForm'>
    <div class="modal-body">
        <div class="form-group has-feedback" data-show-errors>
            <label class="control-label" for="name">Navn</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="navn" data-element-type='nameOfItSystemInput' required data-ng-model="formData.name" data-unique="{{checkAvailableUrl}}">
            <span class="glyphicon form-control-feedback" data-ng-class="{ 'glyphicon-remove': createForm.name.$invalid && createForm.name.$dirty, 'glyphicon-ok': createForm.name.$valid }"></span>
            <span class="help-block" data-ng-show="createForm.name.$error.required">Navn er påkrævet!</span>
            <span class="help-block" data-ng-show="createForm.name.$error.available">Navnet er brugt!</span>
            <span class="help-block" data-ng-show="createForm.name.$error.lookup">Der skete en fejl ved tjek om navnet er ledig!</span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="saveAndProceed()" data-ng-disabled="createForm.$invalid">Gem, og gå til {{type}}</button>
        <button type="submit" class="btn btn-primary" ng-click="save()" data-element-type='itCatalogSaveButton' data-ng-disabled="createForm.$invalid">Gem</button>
        <button type="button" class="btn btn-warning" ng-click="$dismiss()">Annuller</button>
    </div>
</form>
