<div id="mainGrid" data-kendo-grid="systemCatalogVm.mainGrid" data-k-options="systemCatalogVm.mainGridOptions"></div>

<div data-kendo-window="systemCatalogVm.modal"
     data-k-title="'Anvendelse'" data-k-width="800"
     data-k-visible="false" data-k-modal="true">
    <div data-kendo-grid="systemCatalogVm.usageGrid" data-k-options="systemCatalogVm.usageDetailsGrid"></div>
</div>

<div data-kendo-window="systemCatalogVm.modalMigration"
     data-k-title="'Migration'" data-k-width="800"
     data-k-visible="false" data-k-modal="true" id="migrationModelWindow2">
    <!--<div id="availableSystems" data-kendo-grid="systemCatalogVm.usageGridMigration" data-k-options="systemCatalogVm.usageDetailsGridMigration"></div>-->
    <div id="select2MigrationContainer">
        <input type="hidden"
               id="new-system-usage"
               class="form-control input-sm"
               data-ui-select2="mySelectOptions"
               data-ng-model="mySelectOptionsModel"
               data-placeholder="Vælg IT system">
        <br/>
        <button ng-click='systemCatalogVm.migrateSystemTo()' class='k-primary pull-right migrationReportButton'>Se konsekvens</button>
    </div>
</div>

<div data-kendo-window="systemCatalogVm.modalMigrationConsequence"
     data-k-title="'Konsekvens'" 
     data-k-visible="false" data-k-modal="true" data-k-width="800" >
    <div >
        <div id="copyPasteConsequence">
            <h3>Opsummering af ændringer ifm. flytning af ”IT-System anvendelse” til et nyt hovedsystem </h3>
            <br>
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Systemanvendelse med Id '{{systemCatalogVm.migrationReportDTO.targetUsage.id}}' flyttes
                    </div>
                    <table class="table org-role-table">
                        <tr>
                            <th>Fra</th>
                            <th>Til</th>
                        </tr>
                        <tr>
                            <td>
                                Navn: {{systemCatalogVm.migrationReportDTO.fromSystem.name }}
                                <br />
                                Id: {{ systemCatalogVm.migrationReportDTO.fromSystem.id}}
                            </td>
                            <td>
                                Navn: {{systemCatalogVm.migrationReportDTO.toSystem.name }}
                                <br />
                                Id: {{ systemCatalogVm.migrationReportDTO.toSystem.id}}
                            </td>
                        </tr>
                    </table>
                </div>
                <h4 ng-if="systemCatalogVm.migrationReportDTO.affectedContracts.length > 0">Følgende kontrakter berøres</h4>
                <div class="panel panel-default " ng-repeat="affectedContracts in systemCatalogVm.migrationReportDTO.affectedContracts">
                    <div class="panel-heading">
                        Navn: {{affectedContracts.contract.name}} 
                        <br/>
                        Id: {{affectedContracts.contract.id}}
                    </div >
                    <div class="contractReport">
                        <br />
                        <div>
                            Kontrakten gælder for systemet:<strong> {{affectedContracts.systemAssociatedInContract ? 'Ja' : 'Nej' }}</strong>
                        </div>
                        <hr ng-if="affectedContracts.affectedInterfaceUsages.length > 0"/>

                        <div ng-if="affectedContracts.affectedInterfaceUsages.length > 0">
                            “Anvender” relationer der flyttes:
                            <ul>
                                <li ng-repeat="interfaceToBeMoved in affectedContracts.affectedInterfaceUsages">{{interfaceToBeMoved.name}} ( Id: {{interfaceToBeMoved.id}} )</li>
                            </ul>
                        </div>
                        <hr ng-if="affectedContracts.interfaceExhibitUsagesToBeDeleted.length > 0" />

                        <div ng-if="affectedContracts.interfaceExhibitUsagesToBeDeleted.length > 0">
                            “Udstiller" relationer der fjernes:
                            <ul>
                                <li ng-repeat="interfaceToBeDeleted in affectedContracts.interfaceExhibitUsagesToBeDeleted">{{interfaceToBeDeleted.name}} ( Id: {{interfaceToBeDeleted.id}} )</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br />
                <h4 ng-if="systemCatalogVm.migrationReportDTO.affectedItProjects.length > 0">Følgende projekter, hvor IT-Systemet anvendes, berørers</h4>
                <div class="panel panel-default" ng-if="systemCatalogVm.migrationReportDTO.affectedItProjects.length > 0">
                    <div class="panel-heading">
                    </div>
                    <table class="table">
                        <tr>
                            <th>Id</th>
                            <th>Navn</th>
                        </tr>
                        <tr ng-repeat="aip in systemCatalogVm.migrationReportDTO.affectedItProjects">
                            <td class="idTableDataCellFormat">{{aip.id}}</td>
                            <td>{{aip.name}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <button ng-click='systemCatalogVm.copyToClipBoard()' class="migrationReportButton">Kopiere til udklipsholder</button>
        <button ng-click='systemCatalogVm.cancelMigration()' class='k-primary pull-left migrationReportButton'>Annullere</button>
        <button ng-click='systemCatalogVm.startMigration()' class='k-primary pull-right migrationReportButton'>Start flytning</button>
        <style>
            .contractReport {
                text-indent: 1%;
            }
            .idTableDataCellFormat {
                width: 25px
            }
            .migrationReportButton {
                padding: 3px;
                margin: 4px;
            }
            
        </style>
    </div >
</div>
