<div id="mainGrid" data-kendo-grid="systemCatalogVm.mainGrid" data-k-options="systemCatalogVm.mainGridOptions"></div>

<div data-kendo-window="systemCatalogVm.modal"
     data-k-title="'Anvendelse'" data-k-width="800"
     data-k-visible="false" data-k-modal="true">
    <div data-kendo-grid="systemCatalogVm.usageGrid" data-k-options="systemCatalogVm.usageDetailsGrid"></div>
</div>

<div data-kendo-window="systemCatalogVm.modalMigration"
     data-k-title="'Migration'" data-k-width="800"
     data-k-visible="false" data-k-modal="true" id="migrationModelWindow2">
    <div id="select2MigrationContainer">
        <input type="hidden"
               id="new-system-usage"
               class="form-control input-sm"
               data-ui-select2="mySelectOptions"
               data-ng-model="mySelectOptionsModel"
               data-placeholder="Vælg IT system">
        <button ng-click="systemCatalogVm.onNewTargetSystemSelected()" class="btn btn-success pull-right migrationReportButton" data-element-type="consequenceButton">Se konsekvenser</button>
    </div>
</div>

<div data-kendo-window="systemCatalogVm.modalMigrationConsequence"
     data-k-title="'Konsekvens'"
     data-k-visible="false" data-k-modal="true" data-k-width="800">
    <div>
        <div id="copyPasteConsequence">
            <div class="migrationDivPadding">
                <h3>Opsummering af ændringer ifm. flytning af "IT-system anvendelse" til nyt IT-system </h3>
            </div>
            <div class="migrationDivPadding">
                For at sikre datakvaliteten i Kitos – og f.eks. komme redundante registreringer til livs - har Global admin mulighed for at flytte jeres anvendelse fra et IT-system til et andet.
            </div>
            <div class="migrationDivPadding">
                I forbindelse med at Global admin har flyttet jeres system anvendelse fra et IT-system til et andet, kan det oplyses at:
            </div>
            <div class="migrationDivPadding">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        System anvendelsen flyttes:
                    </div>
                    <table class="table">
                        <tr>
                            <th>Fra</th>
                            <th>Til</th>
                        </tr>
                        <tr>
                            <td>
                                Navn: {{formatSystemName(systemCatalogVm.migrationReportDTO.fromSystem.name,systemCatalogVm.migrationReportDTO.fromSystem.disabled) }}
                                <br />
                                Id: {{ systemCatalogVm.migrationReportDTO.fromSystem.id}}
                            </td>
                            <td>
                                Navn: {{formatSystemName(systemCatalogVm.migrationReportDTO.toSystem.name,systemCatalogVm.migrationReportDTO.toSystem.disabled) }}
                                <br />
                                Id: {{ systemCatalogVm.migrationReportDTO.toSystem.id}}
                            </td>
                        </tr>
                    </table>
                </div>

                <h4 ng-if="systemCatalogVm.migrationReportDTO.affectedContracts.length > 0">Følgende kontrakter i Kitos berøres:</h4>
                <div class="panel panel-default" ng-if="systemCatalogVm.migrationReportDTO.affectedContracts.length > 0">
                    <table class="table">
                        <tr>
                            <th>Id</th>
                            <th>Navn</th>
                        </tr>
                        <tr ng-repeat="affectedContracts in systemCatalogVm.migrationReportDTO.affectedContracts">
                            <td class="idTableDataCellFormat">{{affectedContracts.id}}</td>
                            <td>{{affectedContracts.name}}</td>
                        </tr>
                    </table>
                </div>

                <h4 ng-if="systemCatalogVm.migrationReportDTO.affectedRelations.length > 0">Følgende systemrelationer berøres:</h4>
                <div class="panel panel-default" ng-if="systemCatalogVm.migrationReportDTO.affectedRelations.length > 0">
                    <table class="table">
                        <tr>
                            <th>Anvendersystem</th>
                            <th>Udstillersystem</th>
                            <th>Relationsbeskrivelse</th>
                            <th>Snitflade der fjernes fra relationen</th>
                            <th>Frekvens</th>
                            <th>Kontrakt</th>
                        </tr>
                        <tr ng-repeat="relation in systemCatalogVm.migrationReportDTO.affectedRelations">
                            <td>
                                Navn: {{formatSystemName(relation.fromSystemUsage.name,relation.fromSystemUsage.disabled) }}
                                <br />
                                Id: {{relation.fromSystemUsage.id}}
                            </td>
                            <td>
                                Navn: {{formatSystemName(relation.toSystemUsage.name,relation.toSystemUsage.disabled) }}
                                <br />
                                Id: {{ relation.toSystemUsage.id}}
                            </td>
                            <td>
                                {{relation.description}}
                            </td>
                            <td>
                                Navn: {{relation.interface.name}}
                                <br />
                                Id:{{relation.interface.id}}
                            </td>
                            <td>
                                {{relation.frequencyType.name}}
                            </td>
                            <td ng-if="relation.contract">
                                Navn: {{relation.contract.name}}
                                <br />
                                Id: {{relation.contract.id}}
                            </td>
                            <td ng-if="!relation.contract">Ingen kontrakt</td>
                        </tr>
                    </table>
                </div>
                <h4 ng-if="systemCatalogVm.migrationReportDTO.affectedItProjects.length > 0">Følgende projekter, hvor IT-systemet anvendes, berøres:</h4>
                <div class="panel panel-default" ng-if="systemCatalogVm.migrationReportDTO.affectedItProjects.length > 0">
                    <table class="table">
                        <tr>
                            <th>Id</th>
                            <th>Navn</th>
                        </tr>
                        <tr ng-repeat="ItProjects in systemCatalogVm.migrationReportDTO.affectedItProjects">
                            <td class="idTableDataCellFormat">{{ItProjects.id}}</td>
                            <td>{{ItProjects.name}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <button ng-click="systemCatalogVm.copyToClipBoard()" class="btn migrationReportButton">Kopiér til udklipsholder</button>
        <button ng-click="systemCatalogVm.cancelMigration()" class="btn btn-danger pull-left migrationReportButton">Annullér</button>
        <button ng-click="systemCatalogVm.performMigration()" class="btn btn-success pull-right migrationReportButton" data-element-type="startMigration">Gennemfør flytning</button>
    </div>
</div>
