<div class="panel panel-default">
    <div class="panel-heading small">
        Referencer
    </div>
    <table class="table table-condensed table-striped">
        <thead>
            <tr class="small">
                <th>
                    Dokumenttitel
                </th>
                <th>
                    Evt. dokumentID/Sagsnr./anden reference
                </th>
                <th>Oprettet</th>
                <th>
                    Oprettet af
                </th>
                <th>
                    Rediger
                </th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="reference in references" class="small">
                <td>
                        <div ng-show="reference.url"><a href="{{reference.url}}">{{reference.title}}</a></div>
                        <div ng-show="!reference.url">{{reference.title}}</div>
                </td>
                <td>
                  {{reference.externalReferenceId}}
                </td>
                <td>
                    {{reference.created  | date:'dd. MMMM  yyyy'}}
                </td>
                <td>
                    {{reference.objectOwner.fullName}}
                </td>
                <td>
                    <!--data-ui-sref="it-project.edit.references.edit({id:{{reference.id}}})"-->
                    <button type='button' class='btn btn-link' title='Redigér reference' data-ng-click="edit(reference.id)"><i class='fa fa-pencil'  aria-hidden='true'></i></button>
                    <button type='button' data-confirm-click="Er du sikker på at du vil slette?" class='btn btn-link' title='Slet reference' data-confirmed-click='deleteReference(reference.id)'><i class='fa fa-trash-o'  aria-hidden='true'></i></button>
                
                </td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <td colspan="11" class="text-right">
                    <button id="addReference" class="btn btn-success btn-sm" data-ui-sref="{{objectReference}}({id: {{objectId}}})">Tilføj reference</button>
                   
                </td>
            </tr>
        </tfoot>
    </table>
  </div>