<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="4.17.0" targetFramework="net48" />
  <package id="Castle.Core" version="5.1.0" targetFramework="net48" />
  <package id="CsvHelper" version="28.0.1" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="ExpectedObjects" version="3.5.4" targetFramework="net48" />
  <package id="Fare" version="2.2.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.4" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.Memory" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.TimeProvider" version="8.0.1" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="8.9.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="8.9.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="8.9.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="8.9.0" targetFramework="net48" />
  <package id="Moq" version="4.18.2" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="Polly" version="7.2.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.2" targetFramework="net48" />
  <package id="System.IdentityModel.Tokens.Jwt" version="8.9.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.4" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.4" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.4" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="xunit" version="2.4.2" targetFramework="net48" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net48" />
  <package id="xunit.analyzers" version="1.0.0" targetFramework="net48" />
  <package id="xunit.assert" version="2.4.2" targetFramework="net48" />
  <package id="xunit.core" version="2.4.2" targetFramework="net48" />
  <package id="xunit.extensibility.core" version="2.4.2" targetFramework="net48" />
  <package id="xunit.extensibility.execution" version="2.4.2" targetFramework="net48" />
  <package id="xunit.runner.console" version="2.4.2" targetFramework="net48" developmentDependency="true" />
  <package id="xunit.runner.reporters" version="2.4.2" targetFramework="net48" />
  <package id="xunit.runner.utility" version="2.4.2" targetFramework="net48" />
  <package id="xunit.runner.visualstudio" version="2.4.5" targetFramework="net48" developmentDependency="true" />
</packages>