<div class="form-group mx-auto">
    <select2-org-unit data-id="selectedOrgId"
                      data-label="Assign to: &nbsp;"
                      data-placeholder="Vælg ansvarlig enhed"
                      data-options="ctrl.orgUnits"
                      data-ng-model="ctrl.selectedOrg"
                      data-on-change="ctrl.setSelectedOrg()">
    </select2-org-unit>
</div>

<org-unit-migration-table ng-if="ctrl.roles.root.children.length > 0" title="Roles" options="ctrl.roles" configuration="ctrl.rolesTableConfig" unit-id="ctrl.unitId"></org-unit-migration-table>
<org-unit-migration-table ng-if="ctrl.internalPayments.root.children.length > 0" title="Internal payments" options="ctrl.internalPayments" configuration="ctrl.internalPaymentTableConfig" unit-id="ctrl.unitId"></org-unit-migration-table>
<org-unit-migration-table ng-if="ctrl.externalPayments.root.children.length > 0" title="External payments" options="ctrl.externalPayments" configuration="ctrl.externalPaymentTableConfig" unit-id="ctrl.unitId"></org-unit-migration-table>
<org-unit-migration-table ng-if="ctrl.contractRegistrations.root.children.length > 0" title="Contract registrations" options="ctrl.contractRegistrations" configuration="ctrl.contractTableConfig" unit-id="ctrl.unitId"></org-unit-migration-table>
<org-unit-migration-table ng-if="ctrl.relevantSystemRegistrations.root.children.length > 0" title="Relevant system registrations" options="ctrl.relevantSystemRegistrations" configuration="ctrl.relevantSystemTableConfig" unit-id="ctrl.unitId"></org-unit-migration-table>
<org-unit-migration-table ng-if="ctrl.responsibleSystemRegistrations.root.children.length > 0" title="Responsible system registrations" options="ctrl.responsibleSystemRegistrations" configuration="ctrl.responsibleSystemTableConfig" unit-id="ctrl.unitId"></org-unit-migration-table>

<button class="btn btn-default" ng-click="ctrl.selectAll()" ng-if="!ctrl.allSelections">Select all</button>
<button class="btn btn-default" ng-click="ctrl.deselectAll()" ng-if="ctrl.allSelections">Deselect all</button>
<div class="pull-right">
    <button class="btn btn-danger" ng-click="ctrl.deleteSelected()" ng-disabled="!ctrl.anySelections">Delete selected</button>
    <button class="btn btn-warning" ng-click="ctrl.transfer()" ng-disabled="!ctrl.shouldTransferBtnBeEnabled">Transfer</button>
</div>