<!-- it system master sheet -->
<form role="form" class="container-fluid">
    <div class="row">
        <!-- Left side -->
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <!--AppTypeOption-->
                    <div class="form-group">
                        <label for="system-type" class="control-label small">Applikationstype</label>
                        <select id="system-type" class="form-control input-sm"
                                data-ui-select2="select2AllowClearOpt"
                                data-placeholder="Vælg applikationstype"
                                data-ng-disabled="!hasWriteAccess"
                                data-autosave="{{system.updateUrl}}"
                                data-field="appTypeOptionId"
                                data-ng-model="system.appTypeOptionId">
                            <option value=""></option>
                            <option data-ng-repeat="appTypeOption in appTypeOptions" value="{{appTypeOption.id}}">{{appTypeOption.name}}</option>
                        </select>
                    </div>
                    
                    <!--Name-->
                    <div class="form-group">
                        <label for="system-name" class="control-label small">IT System</label>
                        <input type="text" id="system-name" class="form-control input-sm" required
                               data-ng-disabled="!hasWriteAccess"
                               data-autosave="{{system.updateUrl}}"
                               data-field="name"
                               data-ng-model="system.name">
                    </div>

                    <!--ID-->
                    <div class="form-group">
                        <label for="system-id" class="control-label small">System ID</label>
                        <input type="text" id="system-id" class="form-control input-sm"
                               data-ng-disabled="!hasWriteAccess"
                               data-autosave="{{system.updateUrl}}"
                               data-field="itSystemId"
                               data-ng-model="system.itSystemId">
                    </div>

                    <!--Parent system-->
                    <div class="form-group">
                        <label for="system-parent" class="control-label small">Overordnet system</label>
                        <input type="hidden" id="system-parent" class="form-control input-sm"
                               data-ui-select2="itSystemsSelectOptions"
                               data-ng-disabled="!hasWriteAccess"
                               data-autosave="{{system.updateUrl}}"
                               data-field="parentId"
                               data-placeholder="Vælg system"
                               data-ng-model="system.parent">
                    </div>
                </div>
            </div>
        </div>

        <!-- Middle -->
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <!-- belongs to -->
                    <div class="form-group">
                        <label for="system-belongs-to" class="control-label small">Tilhører</label>
                        <input type="hidden" id="system-belongs-to" class="form-control input-sm"
                               data-ui-select2="organizationSelectOptions"
                               data-placeholder="Vælg organisation"
                               data-ng-disabled="!hasWriteAccess"
                               data-autosave="{{system.updateUrl}}"
                               data-field="belongsToId"
                               data-ng-model="system.belongsTo">
                    </div>

                    <!--Access modifier -->
                    <div class="form-group">
                        <label for="system-access" class="control-label small">Public</label>
                        <input id="system-access" class="form-control input-sm"
                               data-autosave="{{system.updateUrl}}"
                               data-field="accessModifier"
                               data-ng-disabled="!hasWriteAccess"
                               data-ng-model="system.accessModifier"
                               data-select-access-modifier="">
                    </div>

                    <!--Usage type-->
                    <div class="form-group">
                        <label for="system-business-type" class="control-label small">Forretningstype</label>
                        <select id="system-business-type" class="form-control input-sm"
                                data-ui-select2="select2AllowClearOpt"
                                data-placeholder="Vælg forretningstype"
                                data-autosave="{{system.updateUrl}}"
                                data-field="businessTypeId"
                                data-ng-disabled="!hasWriteAccess"
                                data-ng-model="system.businessTypeId">
                            <option value=""></option>
                            <option data-ng-repeat="businessType in businessTypes" value="{{businessType.id}}">{{businessType.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right side -->
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <!--Description-->
                    <div class="form-group">
                        <label for="system-description" class="control-label small">Beskrivelse</label>
                        <textarea id="system-description" class="form-control input-sm" rows="7"
                                  data-autosave="{{system.updateUrl}}"
                                  data-field="description"
                                  data-ng-disabled="!hasWriteAccess"
                                  data-ng-model="system.description"></textarea>
                    </div>

                    <!--Further description-->
                    <div class="form-group">
                        <label for="system-url" class="control-label small">Link til yderligere beskrivelse</label>
                        <input type="text" id="system-url" class="form-control input-sm" placeholder="http://"
                               data-autosave="{{system.updateUrl}}"
                               data-field="url"
                               data-ng-disabled="!hasWriteAccess"
                               data-ng-model="system.url">
                        <span class="help-block">Skal starte med http://</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- sub tab buttons -->
<ul class="nav nav-tabs">
    <li data-ui-sref-active="active">
        <a data-ui-sref="it-system.edit.interfaces">Snitflader</a>
    </li>
    <li data-ui-sref-active="active">
        <a data-ui-sref="it-system.edit.kle">KLE</a>
    </li>
</ul>

<!-- sub tabs view -->
<ui-view autoscroll="false" class="subtabs"/>