<div class="row">
    <label>IT System</label>
    <span>{{ usage.itSystem.name }}</span>
    
    <label>System ID</label>
    <span>{{ usage.system.id }}</span>
    
    <label>Applikationstype</label>
    <select disabled data-ng-options="a.id as a.name for a in appTypes" data-ng-model="usage.itSystem.appTypeId"></select>
    
    <label>Forretningstype</label>
    <select disabled data-ng-options="a.id as a.name for a in businessTypes" data-ng-model="usage.itSystem.businessTypeId"></select>

    <label>Version</label>
    <span>{{ usage.itSystem.version }}</span>
    
    <label>Public</label>
    <span disabled data-ng-model="usage.itSystem.accessModifier" data-select-access-modifier=""></span>
    
    <label>Tilhører</label>
    <span>{{ system.systemBelongsTo }}</span> <!-- TODO -->
       
    <label>Overordnet system</label>
    <span>{{ system.systemParent }}</span>
    
    <label>Beskrivelse</label>
    <span>{{ usage.itSystem.description }}</span>
    
    <label>Link til yderligere beskrivelse</label>
    <span>{{ usage.itSystem.url }}</span>
</div>

<div class="row">
    <label for="status">Status</label>
    <select id="status" data-ng-model="systemUsage.isContractActive">
        <option value="true">Aktiv</option>
        <option value="false">Inaktiv</option>
    </select>
    
    <label for="sysId">Lokal SystemID</label>
    <input id="sysId" type="text" data-ng-model="systemUsage.systemId" />
    
    <label>Systemansvarlig</label>
    <select data-ng-model="systemUsage.responsibleOrgUnit"></select>

    <label>Kontrakt(er)</label>
    <span>[Hentes fra kontrakter]</span>
    
    <label>Leverandør</label>
    <span>[Hentes fra kontrakter]</span>
    
    <label for="sensitive">Personfølsomme data</label>
    <select id="sensitive"></select>

    <label>Hosting</label>
    <span>[Hentes fra kontrakter]</span>
    
    <label for="archive">Arkivering</label>
    <select id="archive"></select>

    <label for="esdh">ESDH Ref.</label>
    <input id="esdh" type="text" data-ng-model="systemUsage.esdhRef" />
    
    <label for="cmdb">CMDB Ref.</label>
    <input id="cmdb" type="text" data-ng-model="systemUsage.cmdbRef" />
    
    <label for="url">Mappe/URL Ref.</label>
    <input id="url" type="text" data-ng-model="systemUsage.urlRef" />
    
    <label for="adidm">AD/IDM Ref.</label>
    <input id="adidm" type="text" data-ng-model="systemUsage.AdRef" />
    
    <label for="note">Note</label>
    <input id="note" type="text" data-ng-model="systemUsage.note" />
    
    <label for="overview">Overblik</label>
    <input id="overview" data-ng-model="systemUsage.overview" />
</div>