<!-- interface master sheet -->
<form role="form" class="container-fluid">
    <div class="row">
        <!-- Left side -->
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <!-- Name -->
                    <div class="form-group">
                        <label for="interface-name" class="control-label small">Snitflade</label>
                        <input type="text" id="interface-name" class="form-control input-sm" required
                               data-ng-disabled="!hasWriteAccess"
                               data-autosave="{{interface.updateUrl}}"
                               data-field="name"
                               data-ng-model="interface.name">
                    </div>

                    <!-- ID -->
                    <div class="form-group">
                        <label for="interface-id" class="control-label small">Snitflade ID</label>
                        <input type="text" id="interface-id" class="form-control input-sm"
                               data-ng-disabled="!hasWriteAccess"
                               data-autosave="{{interface.updateUrl}}"
                               data-field="itInterfaceId"
                               data-ng-model="interface.itInterfaceId">
                    </div>
                </div>
            </div>
        </div>

        <!-- Middle -->
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                   <!-- Access modifier -->
                    <div class="form-group">
                        <label for="interface-access" class="control-label small">Public</label>
                        <input id="interface-access" class="form-control input-sm"
                               data-autosave="{{interface.updateUrl}}"
                               data-field="accessModifier"
                               data-ng-disabled="!hasWriteAccess"
                               data-ng-model="interface.accessModifier"
                               data-select-access-modifier="">
                    </div>
                </div>
            </div>
        </div>

        <!-- Right side -->
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <!-- Description -->
                    <div class="form-group">
                        <label for="interface-description" class="control-label small">Beskrivelse</label>
                        <textarea id="interface-description" class="form-control input-sm" rows="7"
                                  data-autosave="{{interface.updateUrl}}"
                                  data-field="description"
                                  data-ng-disabled="!hasWriteAccess"
                                  data-ng-model="interface.description"></textarea>
                    </div>

                    <!-- Further description -->
                    <div class="form-group">
                        <label for="interface-url" class="control-label small">Link til yderligere beskrivelse</label>
                        <input type="text" id="interface-url" class="form-control input-sm" placeholder="http://"
                               data-autosave="{{interface.updateUrl}}"
                               data-field="url"
                               data-ng-disabled="!hasWriteAccess"
                               data-ng-model="interface.url">
                        <span class="help-block">Skal starte med http://</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- sub tab buttons -->
<ul class="nav nav-tabs">
    <li data-ui-sref-active="active">
        <a data-ui-sref="it-system.interface-edit.interface-details">Snitflade detaljer</a>
    </li>
</ul>

<!-- sub tabs view -->
<ui-view autoscroll="false" class="subtabs" />