<table class="table full-width table-striped">
    <thead>
        <tr>
            <th>
                IT System
                <button data-order-by="'name'" data-paging="pagination"></button>
            </th>
            <th>Globalt SystemID
                <!--<select data-ng-model="showId">
                    <option value="systemId"></option>
                    <option value="localSystemId">Lokalt SystemID
                    </option>
                </select>-->
                <button data-order-by="'systemId'" data-paging="pagination"></button>
            </th>
            <th>
                <select data-ng-model="showType">
                    <option value="appType.name">Applikationstype
                    </option>
                    <option value="businessType.name">Forretningstype
                    </option>
                </select>
                <button data-order-by="showType" data-paging="pagination"></button>
            </th>
            <th>KLE ID
            </th>
            <th>KLE Navn
            </th>
            <th>Tilhører
                <button data-order-by="'belongsTo.name'" data-paging="pagination"></button>
            </th>
            <th>Oprettet af
                <button data-order-by="'objectOwner.name'" data-paging="pagination"></button>
            </th>
            <th>Anvendelse
            </th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="system in systems">
            <td>
                <a data-ng-if="system.isInterface" ui-sref="it-system.edit.interface-details({id: system.id})">{{system.name}}</a>
                <a data-ng-if="!system.isInterface" ui-sref="it-system.edit.interfaces({id: system.id})">{{system.name}}</a>
            </td>
            <td>{{system.systemId}}
<!--                <span data-ng-switch-when="systemId">{{system.systemId}}</span>
                <span data-ng-switch-when="localSystemId">{{system.usage.localSystemId}}</span>-->
            </td>
            <td data-ng-switch="showType">
                <span data-ng-switch-when="appType.name">{{system.appType.name}}</span>
                <span data-ng-switch-when="businessType.name">{{system.businessType.name}}</span>
            </td>
            <td>{{system.taskId}}
            </td>
            <td>{{system.taskName}}
            </td>
            <td>
                <!-- name of organization -->
                {{system.belongsTo.name}}
            </td>
            <td>
                <span data-popover-placement="right" data-popover="Oprettet i {{system.organization.name}}" data-popover-trigger="mouseenter">{{system.user.name}}
                </span>
            </td>
            <td>
                <div data-ng-if="!system.isInterface">
                    <button class="btn btn-xs btn-success" data-ng-click="system.addUsage()" data-tooltip="Tag systemet i lokal anvendelse" data-ng-show="!system.hasUsage">
                        Anvend
                    </button>
                    <button class="btn btn-xs btn-danger" data-confirmed-click="system.deleteUsage()"
                        data-confirm-click="Er du sikker på at du vil fjerne den lokale anvendelse af systemet? Dette sletter ikke systemet, men vil slette alle lokale detaljer vedrørende anvendelsen."
                        data-tooltip="Slet lokal anvendelse af systemet" data-ng-show="system.hasUsage">
                        Fjern anv.
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="8" class="text-center">
                <span data-pagination-buttons="pagination"></span>
            </td>
        </tr>
    </tfoot>
</table>
