<table class="table full-width table-striped">
    <thead>
        <tr>
            <td>
                IT System
            </td>
            <td>
                <select>
                    <option value="global">
                        Globalt SystemID
                    </option>
                    <option value="local">
                        Lokalt SystemID
                    </option>
                </select>
            </td>
            <td>
                <select data-ng-model="showType">
                    <option value="appType">
                        Applikationstype
                    </option>
                    <option value="businessType">
                        Forretningstype
                    </option>
                </select>
            </td>
            <td>
                KLE ID
            </td>
            <td>
                KLE Navn
            </td>
            <td>
                Tilhører
            </td>
            <td>
                Oprettet af
            </td>
            <td>
                Anvendelse
            </td>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="system in systems" >
            <td>
                <a data-ng-if="system.isInterface" ui-sref="it-system.edit.interface-details({id: system.id})">{{system.name}}</a>
                <a data-ng-if="!system.isInterface" ui-sref="it-system.edit.interfaces({id: system.id})">{{system.name}}</a>
            </td>
            <td>
                {{system.systemId}}
            </td>
            <td data-ng-switch="showType">
                <span data-ng-switch-when="appType">{{system.appType.name}}</span>
                <span data-ng-switch-when="businessType">{{system.businessType.name}}</span>
            </td>
            <td>
                {{system.taskId}}
            </td>
            <td>
                {{system.taskName}}
            </td>
            <td>
                <!-- name of organization -->
                {{system.belongsTo.name}}
            </td>
            <td>
                <span data-popover-placement="right" data-popover="Oprettet i {{system.organization.name}}" data-popover-trigger="mouseenter">
                    {{system.user.name}}
                </span>
            </td>
            <td>
                <div data-ng-if="!system.isInterface">
                    <button class="btn btn-xs btn-success" data-ng-click="system.addUsage()" data-tooltip="Tag systemet i lokal anvendelse" data-ng-show="!system.hasUsage">
                        Anvend
                    </button>
                    <button class="btn btn-xs btn-danger" data-confirmed-click="system.deleteUsage()"
                        data-confirm-click="Er du sikker på at du vil fjerne den lokale anvendelse af systemet? Dette sletter ikke systemet, men vil slette alle lokale detaljer vedrørende anvendelsen."
                        data-tooltip="Slet lokal anvendelse af systemet" data-ng-show="system.hasUsage">
                        Fjern anv.
                    </button>
                </div>
            </td>
        </tr>

    </tbody>    
    <tfoot>
        <tr>
            <td colspan="8">
                <div class="pull-right">
                    <!-- Create New IT Project-->
                    <button class="btn btn-success btn-sm" data-ng-click="create()" data-ng-disabled="creatingSystem">
                        <i class="glyphicon glyphicon-plus"></i> Opret IT System
                    </button>
                </div>
            </td>
        </tr>
    </tfoot>
</table>