<div class="panel panel-default"  data-ng-if="system.appTypeId == interfaceAppType.id">
    <div class="panel-body">
        <div class="col-md-6">
            <div class="form-group">
                <!-- TSA -->
                <label for="interface-tsa" class="control-label col-md-2 small">TSA</label>
                <div class="col-md-4">
                    <select data-ui-select2="" id="interface-tsa" data-ng-model="system.tsaId"
                                    data-autosave="{{system.updateUrl}}" data-field="tsaId" 
                                     class="form-control input-sm">
                        <option data-ng-repeat="tsa in tsas" value="{{tsa.id}}">{{tsa.name}}</option>
                    </select>
                </div>
                <!-- Interface type -->
                <label for="interface-type" class="control-label col-md-2 small">Snitfladetype</label>
                <div class="col-md-4">
                    <select data-ui-select2="" id="interface-type" data-ng-model="system.interfaceTypeId"
                                    data-autosave="{{system.updateUrl}}" data-field="interfaceTypeId" 
                                     class="form-control input-sm">
                        <option data-ng-repeat="interfaceType in interfaceTypes" value="{{interfaceType.id}}">{{interfaceType.name}}</option>
                    </select>
                </div>
            </div>

            <!-- Interface  -->
            <div class="form-group">
                <label for="interface-interface" class="control-label col-md-2 small">Grænseflade</label>
                <div class="col-md-4">
                    <select data-ui-select2="" id="interface-interface" data-ng-model="system.interfaceId"
                                    data-autosave="{{system.updateUrl}}" data-field="interfaceId" 
                                     class="form-control input-sm">
                        <option data-ng-repeat="interface in interfaces" value="{{interface.id}}">{{interface.name}}</option>
                    </select>
                </div>
                <!-- Method -->
                <label for="interface-method" class="control-label col-md-2 small">Metode</label>
                <div class="col-md-4">
                    <select data-ui-select2="" id="interface-method" data-ng-model="system.methodId"
                                    data-autosave="{{system.updateUrl}}" data-field="methodId" 
                                     class="form-control input-sm">
                        <option data-ng-repeat="method in methods" value="{{method.id}}">{{method.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="interface-exposed-by" class="control-label col-md-2 small">Udstillet af</label>
                <div class="col-md-4">
                    <input type="text" data-ui-select2="itSystemsSelectOptions" id="interface-exposed-by" 
                                    data-autosave="{{system.updateUrl}}" data-field="exposedById" 
                           data-ng-model="system.exposedByObj" class="form-control input-sm">
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <table class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Datatype</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="dataRow in system.dataRows">
                        <td>
                            <input type="text" class="form-control input-sm" data-ng-model="dataRow.data" />
                        </td>
                        <td>
                            <select data-ui-select2="" data-ng-model="dataRow.dataTypeId" class="form-control input-sm">
                                <option data-ng-repeat="dataType in dataTypes" value="{{dataType.id}}">{{dataType.name}}</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <input type="text" class="form-control input-sm" id="newData" data-ng-model="newDataRow.data" data-ng-change="addDataRow(newDataRow)" placeholder="Ny række" />
                        </td>
                        <td>
                            <select data-ui-select2="" data-ng-model="newDataRow.dataTypeId" class="form-control input-sm" data-ng-change="addDataRow(newDataRow)" data-placeholder="Vælg datatype">
                                <option></option>
                                <option data-ng-repeat="dataType in dataTypes" value="{{dataType.id}}">{{dataType.name}}</option>
                            </select>
                        </td>
                    </tr>

                </tfoot>
            </table>
        </div>
    </div>

</div>
