<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-6">
            <div class="form-group">
                <!-- TSA -->
                <label for="interface-tsa" class="control-label col-md-2 small">TSA</label>
                <div class="col-md-4">
                    <select id="interface-tsa"  class="form-control input-sm"
                            data-ui-select2="select2AllowClearOpt"
                            data-placeholder="Vælg TSA"
                            data-ng-model="system.tsaId"
                            data-ng-disabled="!hasWriteAccess"
                            data-autosave="{{system.updateUrl}}"
                            data-field="tsaId">
                        <option></option>
                        <option data-ng-repeat="tsa in tsas" value="{{tsa.id}}">{{tsa.name}}</option>
                    </select>
                </div>
                <!-- Interface type -->
                <label for="interface-type" class="control-label col-md-2 small">Snitfladetype</label>
                <div class="col-md-4">
                    <select id="interface-type" class="form-control input-sm"
                            data-ui-select2="select2AllowClearOpt"
                            data-placeholder="Vælg snitfladetype"
                            data-ng-model="system.interfaceTypeId"
                            data-ng-disabled="!hasWriteAccess"
                            data-autosave="{{system.updateUrl}}"
                            data-field="interfaceTypeId">
                        <option></option>
                        <option data-ng-repeat="interfaceType in interfaceTypes" value="{{interfaceType.id}}">{{interfaceType.name}}</option>
                    </select>
                </div>
            </div>

            <!-- Interface  -->
            <div class="form-group">
                <label for="interface-interface" class="control-label col-md-2 small">Grænseflade</label>
                <div class="col-md-4">
                    <select id="interface-interface" class="form-control input-sm"
                            data-ui-select2="select2AllowClearOpt"
                            data-placeholder="Vælg grænseflade"
                            data-ng-model="system.interfaceId"
                            data-ng-disabled="!hasWriteAccess"
                            data-autosave="{{system.updateUrl}}"
                            data-field="interfaceId">
                        <option></option>
                        <option data-ng-repeat="interface in interfaces" value="{{interface.id}}">{{interface.name}}</option>
                    </select>
                </div>
                <!-- Method -->
                <label for="interface-method" class="control-label col-md-2 small">Metode</label>
                <div class="col-md-4">
                    <select id="interface-method" class="form-control input-sm"
                            data-ui-select2="select2AllowClearOpt"
                            data-placeholder="Vælg methode"
                            data-ng-model="system.methodId"
                            data-ng-disabled="!hasWriteAccess"
                            data-autosave="{{system.updateUrl}}" data-field="methodId">
                        <option></option>
                        <option data-ng-repeat="method in methods" value="{{method.id}}">{{method.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <!-- Exhibited by -->
                <label for="interface-exposed-by" class="control-label col-md-2 small">Udstillet af</label>
                <div class="col-md-4">
                    <input type="text" id="interface-exposed-by" class="form-control input-sm"
                           data-ui-select2="itSystemsSelectOptions"
                           data-placeholder="Vælg IT System"
                           data-ng-disabled="!hasWriteAccess"
                           data-ng-change="save()"
                           data-ng-model="exposedByObj">
                        
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th class="col-md-6">Data</th>
                        <th class="col-md-6">Datatype</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="dataRow in dataRows | filter:{show:true}">
                        <td>
                            <input type="text" class="form-control input-sm" data-ng-model="dataRow.data" data-ng-disabled="!hasWriteAccess"
                                   data-autosave="{{dataRow.updateUrl}}" data-field="data">
                        </td>
                        <td>
                            <select class="form-control input-sm"
                                    data-ui-select2=""
                                    data-placeholder="Vælg datatype"
                                    data-ng-model="dataRow.dataTypeId"
                                    data-ng-disabled="!hasWriteAccess"
                                    data-autosave="{{dataRow.updateUrl}}"
                                    data-field="dataTypeId">
                                <option></option>
                                <option data-ng-repeat="dataType in dataTypes" value="{{dataType.id}}">{{dataType.name}}</option>
                            </select>
                        </td>
                        <td class="text-right">
                            <button class="btn btn-danger btn-xs" data-tooltip="Slet rækken" data-ng-click="dataRow.delete()" data-ng-if="hasWriteAccess">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr data-ng-if="hasWriteAccess">
                        <td colspan="3" class="text-right">
                            <button class="btn btn-success btn-xs" data-tooltip="Ny række" data-ng-click="newDataRow()">
                                <i class="glyphicon glyphicon-plus"></i> Ny række
                            </button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>
