<table>
    <thead>
        <tr>
            <th>Navn</th>
            <th>Email</th>
            <th>OrgEnhed</th>
            <th>Ændringsønske</th>
            <th>Public</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="wish in wishes">
            <td>{{ wish.user.name }}</td>
            <td>{{ wish.user.email }}</td>
            <td>{{ wish.user.defaultOrganizationUnitName }}</td>
            <td>{{ wish.text }}</td>
            <td>{{ wish.isPublic }}</td>
        </tr>
    </tbody>
</table>