<!-- it system usage master sheet -->
<form role="form" class="container-fluid">
    <div class="row">
        <!-- Left side -->
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <!--AppTypeOption-->
                    <div class="form-group">
                        <label for="system-type" class="control-label small">Applikationstype</label>
                        <select id="system-type" class="form-control input-sm" disabled="disabled" data-ng-model="usage.itSystem.appTypeOptionId">
                            <option value="1">Fagsystem</option>
                            <option value="2">Selvbetjening</option>
                        </select>
                    </div>

                    <!--Name-->
                    <div class="form-group">
                        <label for="system-name" class="control-label small">IT System</label>
                        <input type="text" id="system-name" class="form-control input-sm" disabled="disabled" data-ng-model="usage.itSystem.name">
                    </div>
                </div>
                <!-- 1st column -->
                <div class="col-md-6">
                    <!--ID-->
                    <div class="form-group">
                        <label for="system-id" class="control-label small">System ID</label>
                        <input type="text" id="system-id" class="form-control input-sm" disabled="disabled" data-ng-model="usage.itSystem.itSystemId">
                    </div>

                    <!--Parent system-->
                    <div class="form-group">
                        <label for="system-parent" class="control-label small">Overordnet system</label>
                        <input type="text" id="system-parent" class="form-control input-sm" disabled="disabled" data-ng-model="usage.itSystemParentName">
                    </div>

                    <!--Belongs to-->
                    <div class="form-group">
                        <label for="system-belongs-to" class="control-label small">Tilhører</label>
                        <input type="text" id="system-belongs-to" class="form-control input-sm" disabled="disabled" data-ng-model="usage.itSystem.belongsToName">
                    </div>
                </div>

                <!-- 2st column -->
                <div class="col-md-6">
                    <!--Access modifier -->
                    <div class="form-group">
                        <label for="system-access" class="control-label small">Public</label>
                        <input id="system-access" class="form-control input-sm" disabled data-select-access-modifier="" data-ng-model="usage.itSystem.accessModifier">
                    </div>

                    <!--Application type -->
                    <div class="form-group">
                        <label for="system-app-type" class="control-label small">Applikationstype</label>
                        <select id="system-app-type" class="form-control input-sm" disabled data-ui-select2="" data-ng-model="usage.itSystem.appTypeId">
                            <option data-ng-repeat="appType in appTypes" value="{{appType.id}}">{{appType.name}}</option>
                        </select>
                    </div>

                    <!--Usage type-->
                    <div class="form-group">
                        <label for="system-business-type" class="control-label small">Forretningstype</label>
                        <select id="system-business-type" class="form-control input-sm" disabled data-ui-select2="" data-ng-model="usage.itSystem.businessTypeId">
                            <option data-ng-repeat="businessType in businessTypes" value="{{businessType.id}}">{{businessType.name}}</option>
                        </select>
                    </div>
                </div>

                <!-- full width -->
                <div class="col-md-12">
                    <!-- Description and URL -->
                    <div class="form-group">
                        <label for="system-description" class="control-label small">Beskrivelse</label>
                        <textarea id="system-description" class="form-control input-sm" rows="7" disabled data-ng-model="usage.itSystem.description"></textarea>
                        <span class="help-block">
                            Yderligere beskrivelse: <a data-ng-href="{{usage.itSystem.url}}">{{usage.itSystem.url}}</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right side -->
        <div class="col-md-6">
            <div class="row">
                <!-- 3rd column -->
                <div class="col-md-6">
                    <!-- local sys id -->
                    <div class="form-group">
                        <label for="sysId" class="control-label small">Lokal System ID</label>
                        <input id="sysId" type="text" class="form-control input-sm" autofocus
                               data-ng-disabled="!hasWriteAccess"
                               data-ng-model="usage.localSystemId"
                               data-field="localSystemId"
                               data-autosave="api/itsystemusage/{{usageId}}">
                    </div>

                    <!-- version -->
                    <div class="form-group">
                        <label for="version" class="control-label small">Version</label>
                        <input id="version" type="text" class="form-control input-sm"
                               data-ng-disabled="!hasWriteAccess"
                               data-ng-model="usage.version"
                               data-field="version"
                               data-autosave="api/itsystemusage/{{usageId}}">
                    </div>

                    <!-- sensitive data -->
                    <div class="form-group">
                        <label for="sensitive" class="control-label small">Personfølsom data</label>
                        <select id="sensitive" class="form-control input-sm"
                                data-ui-select2="allowClearOption"
                                data-placeholder="Vælg personfølsom data"
                                data-ng-disabled="!hasWriteAccess"
                                data-ng-model="usage.sensitiveDataTypeId"
                                data-field="sensitiveDataTypeId"
                                data-autosave="api/itsystemusage/{{usageId}}">
                            <option value=""></option>
                            <option data-ng-repeat="sensitiveDataType in sensitiveDataTypes" value="{{sensitiveDataType.id}}">{{sensitiveDataType.name}}</option>
                        </select>
                    </div>

                    <!-- esdh ref -->
                    <div class="form-group">
                        <label for="esdh" class="control-label small">ESDH ref.</label>
                        <input id="esdh" type="text" class="form-control input-sm"
                               data-ng-model="usage.esdhRef"
                               data-ng-disabled="!hasWriteAccess"
                               data-field="esdhRef"
                               data-autosave="api/itsystemusage/{{usageId}}">
                    </div>
                </div>

                <!-- 4th column -->
                <div class="col-md-6">
                    <!-- local call name -->
                    <div class="form-group">
                        <label for="localcallname" class="control-label small">Lokal kaldenavn</label>
                        <input id="localcallname" type="text" class="form-control input-sm"
                               data-ng-model="usage.localCallName"
                               data-ng-disabled="!hasWriteAccess"
                               data-field="localCallName"
                               data-autosave="api/itsystemusage/{{usageId}}">
                    </div>

                    <!-- overview system -->
                    <div class="form-group">
                        <label for="overview" class="control-label small">Overblik</label>
                        <input type="hidden" id="overview" class="form-control input-sm"
                               data-ui-select2="itSytemUsagesSelectOptions"
                               data-ng-disabled="!hasWriteAccess"
                               data-ng-model="usage.overviewItSystem"
                               data-autosave="api/itsystemusage/{{usageId}}"
                               data-field="overviewItSystemId">
                    </div>

                    <!-- archiving -->
                    <div class="form-group">
                        <label for="archive" class="control-label small">Arkivering</label>
                        <select id="archive" class="form-control input-sm"
                                data-ui-select2="allowClearOption"
                                data-placeholder="Vælg arkivering"
                                data-ng-model="usage.archiveTypeId"
                                data-ng-disabled="!hasWriteAccess"
                                data-field="archiveTypeId"
                                data-autosave="api/itsystemusage/{{usageId}}">
                            <option value=""></option>
                            <option data-ng-repeat="archiveType in archiveTypes" value="{{archiveType.id}}">{{archiveType.name}}</option>
                        </select>
                    </div>

                    <!-- CMDB ref -->
                    <div class="form-group">
                        <label for="cmdb" class="control-label small">CMDB ref.</label>
                        <input id="cmdb" type="text" class="form-control input-sm"
                               data-ng-model="usage.cmdbRef"
                               data-ng-disabled="!hasWriteAccess"
                               data-field="cmdbRef"
                               data-autosave="api/itsystemusage/{{usageId}}">
                    </div>
                </div>

                <!-- full width -->
                <div class="col-md-12">
                    <!-- link ref -->
                    <div class="form-group">
                        <label for="url" class="control-label small">Mappe/URL ref.</label>
                        <input id="url" type="text" class="form-control input-sm"
                               data-ng-model="usage.directoryOrUrlRef"
                               data-ng-disabled="!hasWriteAccess"
                               data-field="directoryOrUrlRef"
                               data-autosave="api/itsystemusage/{{usageId}}">
                    </div>

                    <!-- note -->
                    <div class="form-group">
                        <label for="note" class="control-label small">Note</label>
                        <textarea id="note" class="form-control input-sm" rows="5"
                                  data-ng-model="usage.note"
                                  data-ng-disabled="!hasWriteAccess"
                                  data-field="note" data-autosave="api/itsystemusage/{{usageId}}"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<ul class="nav nav-tabs">
    <li data-ui-sref-active="active">
        <a data-ui-sref="it-system.usage.interfaces">Snitflader</a>
    </li>
    <li data-ui-sref-active="active">
        <a data-ui-sref="it-system.usage.contracts">Kontrakter</a>
    </li>
    <li data-ui-sref-active="active">
        <a data-ui-sref="it-system.usage.hierarchy">Hierarki</a>
    </li>
    <li data-ui-sref-active="active">
        <a data-ui-sref="it-system.usage.roles">Systemroller</a>
    </li>
    <li data-ui-sref-active="active">
        <a data-ui-sref="it-system.usage.wishes">Ændringsønske</a>
    </li>
    <li data-ui-sref-active="active">
        <a data-ui-sref="it-system.usage.org">Organisation</a>
    </li>
    <li data-ui-sref-active="active">
        <a data-ui-sref="it-system.usage.kle">KLE</a>
    </li>
    <li data-ui-sref-active="active">
        <a data-ui-sref="it-system.usage.proj">IT Projekter</a>
    </li>
</ul>

<!-- sub tabs view -->
<ui-view autoscroll="false" class="subtabs"/>
