<form class="form-horizontal fix-label-padding">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <!--Name-->
                    <div class="form-group">
                        <label for="system-name" class="control-label col-md-5 small">IT System</label>
                        <div class="col-md-7">
                            <input type="text" id="system-name" data-ng-model="usage.itSystem.name" class="form-control input-sm" disabled="disabled" />
                        </div>
                    </div>

                    <!--ID-->
                    <div class="form-group">
                        <label for="system-id" class="control-label col-md-5 small">System ID</label>
                        <div class="col-md-7">
                            <input type="text" id="system-id" data-ng-model="usage.itSystem.systemId" class="form-control input-sm" disabled="disabled" />
                        </div>
                    </div>

                    <!--Parent system-->
                    <div class="form-group" data-ng-if="usage.itSystem.appTypeId != interfaceAppType.id">
                        <label for="system-parent" class="control-label col-md-5 small">Overordnet system</label>
                        <div class="col-md-7">
                            <input type="text" id="system-parent" data-ng-model="parentSystem.name" class="form-control input-sm" disabled="disabled">
                        </div>
                    </div>

                    <!--Belongs to-->
                    <div class="form-group" data-ng-if="usage.itSystem.appTypeId != interfaceAppType.id">
                        <label for="system-belongs-to" class="control-label col-md-5 small">Tilhører</label>
                        <div class="col-md-7">
                            <input type="text" id="system-belongs-to" data-ng-model="usage.itSystem.belongsToName" class="form-control input-sm" disabled="disabled">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!--Version-->
                    <div class="form-group">
                        <label for="system-version" class="control-label col-md-5 small">Version</label>
                        <div class="col-md-7">
                            <input type="text" id="system-version" data-ng-model="usage.itSystem.version" class="form-control input-sm" disabled="disabled" />
                        </div>
                    </div>

                    <!--Access modifier -->
                    <div class="form-group">
                        <label for="system-access" class="control-label col-md-5 small">Public</label>
                        <div class="col-md-7">
                            <span id="system-access" data-ng-model="usage.itSystem.accessModifier" class="form-control input-sm" data-select-access-modifier="" disabled="disabled" />
                        </div>
                    </div>

                    <!--Application type -->
                    <div class="form-group">
                        <label for="system-app-type" class="control-label col-md-5 small">Applikationstype</label>
                        <div class="col-md-7">
                            <select data-ui-select2="" id="system-app-type" data-ng-model="usage.itSystem.appTypeId" class="form-control input-sm" disabled="disabled">
                                <option data-ng-repeat="appType in appTypes" value="{{appType.id}}">{{appType.name}}</option>
                            </select>
                        </div>
                    </div>

                    <!--Usage type-->
                    <div class="form-group" data-ng-if="usage.itSystem.appTypeId != interfaceAppType.id">
                        <label for="system-business-type" class="control-label col-md-5 small">Forretningstype</label>
                        <div class="col-md-7">
                            <select data-ui-select2="" id="system-business-type" data-ng-model="usage.itSystem.businessTypeId" class="form-control input-sm" disabled="disabled">
                                <option data-ng-repeat="businessType in businessTypes" value="{{businessType.id}}">{{businessType.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Description and URL -->
            <div class="form-group">
                <label for="system-description" class="control-label col-md-2 small">Beskrivelse</label>
                <div class="col-md-10">
                    <textarea id="system-description" data-ng-model="usage.itSystem.description" class="form-control input-sm" rows="7" disabled="disabled"></textarea>
                    <p class="help-block">
                        Yderligere beskrivelse: <a data-ng-href="{{usage.itSystem.url}}">{{usage.itSystem.url}}</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6">
                <!-- local sys id -->
                <div class="form-group">
                    <label for="sysId" class="col-md-4 control-label small">Lokal SystemID</label>
                    <div class="col-md-8">
                        <input id="sysId" type="text" class="form-control input-sm"
                            data-ng-disabled="!hasWriteAccess"
                            data-ng-model="usage.localSystemId"
                            data-field="localSystemId"
                               data-autosave="api/itsystemusage/{{usageId}}" autofocus/>
                    </div>
                </div>

                <!-- sensitive data -->
                <div class="form-group">
                    <label for="sensitive" class="col-md-4 control-label small">Personfølsom data</label>
                    <div class="col-md-8">
                        <select id="sensitive"
                            data-ng-disabled="!hasWriteAccess"
                            data-ng-options="a.id as a.name for a in sensitiveDataTypes"
                            data-ng-model="usage.sensitiveDataTypeId" data-field="sensitiveDataTypeId"
                            data-autosave="api/itsystemusage/{{usageId}}" class="form-control input-sm">
                        </select>
                    </div>
                </div>

                <!-- esdh ref -->
                <div class="form-group">
                    <label for="esdh" class="col-md-4 control-label small">ESDH ref.</label>
                    <div class="col-md-8">
                        <input id="esdh" type="text" data-ng-model="usage.esdhRef"
                            data-ng-disabled="!hasWriteAccess"
                            data-field="esdhRef" data-autosave="api/itsystemusage/{{usageId}}"
                            class="form-control input-sm" />
                    </div>
                </div>

                <!-- link ref -->
                <div class="form-group">
                    <label for="url" class="col-md-4 control-label small">Mappe/URL ref.</label>
                    <div class="col-md-8">
                        <input id="url" type="text" data-ng-model="usage.directoryOrUrlRef"
                            data-ng-disabled="!hasWriteAccess"
                            data-field="directoryOrUrlRef" data-autosave="api/itsystemusage/{{usageId}}"
                            class="form-control input-sm" />
                    </div>
                </div>


            </div>
            <div class="col-md-6">
                <!-- local call system -->
                <div class="form-group">
                    <label for="localcallsystem" class="col-md-4 control-label small">Lokalt kaldesystem</label>
                    <div class="col-md-8">
                        <input id="localcallsystem" type="text" data-ng-model="usage.localCallSystem"
                               data-ng-disabled="!hasWriteAccess"
                               data-field="localCallSystem" data-autosave="api/itsystemusage/{{usageId}}"
                               class="form-control input-sm" />
                    </div>
                </div>

                <!-- overview system -->
                <div class="form-group">
                    <label for="overview" class="col-md-4 control-label small">Overblik</label>
                    <div class="col-md-8">
                        <select id="overview" data-ng-options="a.id as a.name for a in itSystems"
                                data-ng-disabled="!hasWriteAccess"
                                data-ng-model="usage.overviewItSystemId" data-field="overviewItSystemId"
                                data-autosave="api/itsystemusage/{{usageId}}" class="form-control input-sm">
                        </select>
                    </div>
                </div>
                
                <!-- archiving -->
                <div class="form-group">
                    <label for="archive" class="col-md-4 control-label small">Arkivering</label>
                    <div class="col-md-8">
                        <select id="archive" data-ng-options="a.id as a.name for a in archiveTypes" data-ng-model="usage.archiveTypeId"
                                data-ng-disabled="!hasWriteAccess"
                                data-field="archiveTypeId" data-autosave="api/itsystemusage/{{usageId}}"
                                class="form-control input-sm">
                        </select>
                    </div>
                </div>

                <!-- CMDB ref -->
                <div class="form-group">
                    <label for="cmdb" class="col-md-4 control-label small">CMDB ref.</label>
                    <div class="col-md-8">
                        <input id="cmdb" type="text" data-ng-model="usage.cmdbRef"
                               data-ng-disabled="!hasWriteAccess"
                               data-field="cmdbRef" data-autosave="api/itsystemusage/{{usageId}}"
                               class="form-control input-sm" />
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <!-- note -->
                <div class="form-group">
                    <label for="note" class="col-md-2 control-label small">Note</label>
                    <div class="col-md-10">
                        <textarea id="note" data-ng-model="usage.note"
                                  data-ng-disabled="!hasWriteAccess"
                                  data-field="note" data-autosave="api/itsystemusage/{{usageId}}" 
                            rows="5"
                                  class="form-control input-sm">
                        </textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

<ul class="nav nav-tabs">
    <li data-ui-sref-active="active" data-ng-if="usage.itSystem.appTypeId != interfaceAppType.id">
        <a data-ui-sref="it-system.usage.interfaces">Snitflader</a>
    </li>
    <li data-ui-sref-active="active" data-ng-if="usage.itSystem.appTypeId != interfaceAppType.id">
        <a data-ui-sref="it-system.usage.contracts">Kontrakter</a>
    </li>
    <li data-ui-sref-active="active" data-ng-if="usage.itSystem.appTypeId != interfaceAppType.id">
        <a data-ui-sref="it-system.usage.hierarchy">Hierarki</a>
    </li>
    <li data-ui-sref-active="active"><a data-ui-sref="it-system.usage.roles">Roller</a></li>
    <li data-ui-sref-active="active"><a data-ui-sref="it-system.usage.wishes">Ændringsønske</a></li>
    <li data-ui-sref-active="active"><a data-ui-sref="it-system.usage.org">Organisation</a></li>
    <li data-ui-sref-active="active" data-ng-if="usage.itSystem.appTypeId != interfaceAppType.id">
        <a data-ui-sref="it-system.usage.kle">KLE</a>
    </li>
    <li data-ui-sref-active="active"><a data-ui-sref="it-system.usage.proj">IT Projekter</a></li>
</ul>

<div data-ui-view=""></div>
