<!-- it project master sheet -->
<form role="form" class="container-fluid">
    <!-- Left menu -->
    <div class="col-md-2">
        <div class="left-menu">
            <div class="header">
                 <h3>IT Projekt</h3>
            </div>
            <ul>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-project.edit.main"><i class="fa fa-pencil"></i> Projektforside</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-project.edit.status-project"><i class="fa fa-pencil"></i> Status: Projekt</a>
                </li>
                <li data-ui-sref-active="active" data-ng-show="projectEditVm.project.isStatusGoalVisible">
                    <a data-ui-sref="it-project.edit.status-goal"><i class="fa fa-pencil"></i> Status: Mål</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-project.edit.phases"><i class="fa fa-pencil"></i> Faser</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-project.edit.description"><i class="fa fa-pencil"></i> Projektbeskrivelse</a>
                </li>
                <li data-ui-sref-active="active" data-ng-show="projectEditVm.project.isStrategyVisible">
                    <a data-ui-sref="it-project.edit.strategy"><i class="fa fa-pencil"></i> Strategi</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-project.edit.roles"><i class="fa fa-pencil"></i> Projektroller</a>
                </li>
                <li data-ui-sref-active="active" data-ng-show="projectEditVm.project.isHierarchyVisible">
                    <a data-ui-sref="it-project.edit.hierarchy"><i class="fa fa-pencil"></i> Hierarki</a>
                </li>
                <li data-ui-sref-active="active" data-ng-show="projectEditVm.project.isEconomyVisible">
                    <a data-ui-sref="it-project.edit.economy"><i class="fa fa-pencil"></i> Økonomi</a>
                </li>
                <li data-ui-sref-active="active" data-ng-show="projectEditVm.project.isStakeholderVisible">
                    <a data-ui-sref="it-project.edit.stakeholders"><i class="fa fa-pencil"></i> Interessenter</a>
                </li>
                <li data-ui-sref-active="active" data-ng-show="projectEditVm.project.isRiskVisible">
                    <a data-ui-sref="it-project.edit.risk"><i class="fa fa-pencil"></i> Risiko</a>
                </li>
                <li data-ui-sref-active="active" data-ng-show="projectEditVm.project.isCommunicationVisible">
                    <a data-ui-sref="it-project.edit.communication"><i class="fa fa-pencil"></i> Kommunikation</a>
                </li>
                <li data-ui-sref-active="active" data-ng-show="projectEditVm.project.isHandoverVisible">
                    <a data-ui-sref="it-project.edit.handover"><i class="fa fa-pencil"></i> Overlevering</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-project.edit.org"><i class="fa fa-pencil"></i> Organisation</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-project.edit.kle"><i class="fa fa-pencil"></i> KLE</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-project.edit.itsys"><i class="fa fa-pencil"></i> IT Systemer</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-10">
        <ui-view/>
    </div>
</form>