<!-- it project master sheet -->
<form role="form" class="container-fluid object-wrapper">
    <!-- Left menu -->
    <div class="col-xs-2 left-menu-container">
        <div class="left-menu">
            <div class="header">
                <h3>IT Projekt</h3>
            </div>
            <ul>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-project.edit.main"><img src="/Content/img/Systemforside.svg"></img> Projektforside</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-project.edit.status-project"><img src="/Content/img/Status-projekt.svg"></img> Status: Projekt</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-project.edit.status-goal"><img src="/Content/img/Status-maal.svg"></img> Status: Mål</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-project.edit.phases"><img src="/Content/img/Faser.svg"></img> Faser</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-project.edit.description"><img src="/Content/img/Projektbeskrivelse.svg"></img> Projektbeskrivelse</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-project.edit.strategy"><img src="/Content/img/Strategi.svg"></img> Strategi</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-project.edit.roles"><img src="/Content/img/Projektroller.svg"></img> Projektroller</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-project.edit.hierarchy"><img src="/Content/img/Hierarki.svg"></img> Hierarki</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-project.edit.economy"><img src="/Content/img/Oekonomi.svg"></img> Økonomi</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-project.edit.stakeholders"><img src="/Content/img/Interessenter.svg"></img> Interessenter</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-project.edit.risk"><img src="/Content/img/Risiko.svg"></img> Risiko</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-project.edit.communication"><img src="/Content/img/Kommunikation.svg"></img> Kommunikation</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-project.edit.handover"><img src="/Content/img/Overlevering.svg"></img> Overlevering</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-project.edit.org"><img src="/Content/img/Organisation.svg"></img> Organisation</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-project.edit.kle"><img src="/Content/img/KLE.svg"></img> KLE</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-project.edit.itsys"><img src="/Content/img/ITsystemer.svg"></img> IT Systemer</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-10 object-content">
        <ui-view />
    </div>
</form>