<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>IT Kontrakt
                <button data-order-by="'name'" data-paging="pagination"></button>
            </th>

            <th>
                <select data-ng-model="chosenFilter" data-ng-init="chosenFilter = 'contractType.name'">
                    <option value="contractType.name">Kontrakttype</option>
                    <option value="contractTemplate.name">Kontraktskabelon</option>
                </select>
                <button data-order-by="chosenFilter" data-paging="pagination"></button>
            </th>

            <th>
                Indkøbsform
                <button data-order-by="'purchaseForm.name'" data-paging="pagination"></button>
            </th>

            <th>
                Indgået
                <button data-order-by="'concluded'" data-paging="pagination"></button>
            </th>

            <th>
                Varighed
                <button data-order-by="'duration'" data-paging="pagination"></button>
            </th>

            <th>
                Udløbsdato
                <button data-order-by="'expirationDate'" data-paging="pagination"></button>
            </th>

            <th>
                Option
                <button data-order-by="'optionExtend.name'" data-paging="pagination"></button>
            </th>

            <th>
                Opsigelse
                <button data-order-by="'terminationDeadline.name'" data-paging="pagination"></button>
            </th>
            
            <th>
                Uopsigelig til
                <button data-order-by="'irrevocableTo'" data-paging="pagination"></button>
            </th>
            
            <th>
                Udbudsstrategi
                <button data-order-by="'procurementStrategy.name'" data-paging="pagination"></button>
            </th>
            
            <th>
                Udbudsplan
            </th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="contract in contracts | filter:{'show': true}">
            <!-- name -->
            <td>
                {{ contract.indentation }}

                <button class="btn btn-xs btn-link" data-ng-class="{'invisible': !contract.hasChildren}" data-ng-click="contract.toggleFold()">
                    <i class="glyphicon" 
                       data-ng-class="{'glyphicon-chevron-right': !contract.unfolded, 'glyphicon-chevron-down': contract.unfolded}">
                    </i>
                </button>

                <a data-ui-sref="it-contract.edit.systems({id: contract.id})">
                    {{contract.name ? contract.name : 'Unavngiven'}}
                </a>

            </td>
            
            <!-- type or template -->
            <td data-ng-switch="chosenFilter">
                <span data-ng-switch-when="contractType.name">{{contract.contractTypeName}}</span>
                <span data-ng-switch-when="contractTemplate.name">{{contract.contractTemplateName}}</span>
            </td>
            
            <!-- purchase form -->
            <td>
                {{ contract.purchaseFormName }}
            </td>
            
            <!-- concluded -->
            <td>
                <span data-ng-model="contract.concluded" data-datereader=""></span>
            </td>
            
            <!-- duration -->
            <td>
                {{contract.duration}} md.
            </td>
            
            <!-- expiration -->
            <td>
                <span data-ng-model="contract.expirationDate" data-datereader=""></span>
            </td>
            
            <!-- option -->
            <td>
                <span data-ng-if="contract.optionExtendName">
                    {{ contract.optionExtendName }} ({{contract.extendMultiplier}})
                </span>
            </td>

            <td>
                {{ contract.terminationDeadlineName }}
            </td>
            
            <td>
                <span data-ng-model="contract.irrevocableTo" data-datereader=""></span>
            </td>
            
            <td>
                {{ contract.procurementStrategyName }}
            </td>
            
            <td>
                <span data-ng-if="contract.procurementPlanHalf && contract.procurementPlanYear">
                    {{contract.procurementPlanHalf}} | {{contract.procurementPlanYear}}
                </span>
            </td>
        </tr>
    </tbody>    
    <tfoot>
        <tr>
            <td colspan="11">
                <span data-pagination-buttons="pagination"></span>
            </td>
        </tr>
    </tfoot>
</table>
