<form role="form">
    <div class="container-fluid">
        <div class="row">
            <!-- Left side -->
            <div class="col-md-6">
                <div class="row">
                    <!-- 1st column -->
                    <div class="col-md-6">
                        <!-- Name -->
                        <div class="form-group">
                            <label for="contract-name" class="control-label small">IT kontraktnavn</label>
                            <input type="text" id="contract-name" class="form-control input-sm" data-ng-model="contract.name" data-autosave="{{ autoSaveUrl }}" data-field="name">
                        </div>
    
                        <!-- Id -->
                        <div class="form-group">
                            <label for="contract-id" class="control-label small">KontraktID</label>
                            <input type="text" id="contract-id" class="form-control input-sm" data-ng-model="contract.itContractId" data-autosave="{{ autoSaveUrl }}" data-field="itContractId">
                        </div>
    
                        <!-- Parent -->
                        <div class="form-group">
                            <label for="contract-parent" class="control-label small">Overordent kontrakt</label>
                            <select id="contract-parent" class="form-control input-sm" data-ng-model="contract.parentId" data-ng-options="o.id as o.name for o in contracts" data-autosave="{{ autoSaveUrl }}" data-field="parentId"></select>
                        </div>
    
                        <!-- Type -->
                        <div class="form-group">
                            <label for="contract-type" class="control-label small">Kontrakttype</label>
                            <select id="contract-type" class="form-control input-sm" data-ng-model="contract.contractTypeId" data-ng-options="o.id as o.name for o in contractTypes">
                                <option value=""></option>
                            </select>
                        </div>
    
                        <!-- ESDH -->
                        <div class="form-group">
                            <label for="contract-esdh" class="control-label small">ESDH ref.</label>
                            <input type="text" id="contract-esdh" class="form-control input-sm" data-ng-model="contract.esdh" data-autosave="{{ autoSaveUrl }}" data-field="esdh">
                        </div>
                    </div>
            
                    <!-- 2nd column -->
                    <div class="col-md-6">
                        <!-- Purchase form -->
                        <div class="form-group">
                            <label for="contract-purchaseform" class="control-label small">Indkøbsform</label>
                            <select id="contract-purchaseform" class="form-control input-sm" data-ng-model="contract.purchaseFormId" data-ng-options="o.id as o.name for o in purchaseForms" data-autosave="{{ autoSaveUrl }}" data-field="purchaseFormId">
                                <option value=""></option>
                            </select>
                        </div>
    
                        <!-- Procurement strategy -->
                        <div class="form-group">
                            <label for="contract-strat" class="control-label small">Udbudsstrategi</label>
                            <select id="contract-strat" class="form-control input-sm" data-ng-model="contract.procurementStrategyId" data-ng-options="o.id as o.name for o in procurementStrategies" data-autosave="{{ autoSaveUrl }}" data-field="procurementStrategyId">
                                <option value=""></option>
                            </select>
                        </div>
    
                        <!-- Procurement plan -->
                        <div class="form-group">
                            <label for="contract-plan" class="control-label small">Udbudsplan</label>
                            <select id="contract-plan" class="form-control input-sm" data-ng-model="contract.procurementPlan" data-ng-options="(o.half + ' | ' + o.year) for o in procurementPlans"></select>
                        </div>
    
                        <!-- Contract template -->
                        <div class="form-group">
                            <label for="contract-template" class="control-label small">Kontratskabalon</label>
                            <select id="contract-template" class="form-control input-sm" data-ng-model="contract.contractTemplateId" data-ng-options="o.id as o.name for o in contractTemplates" data-autosave="{{ autoSaveUrl }}" data-field="contractTemplateId">
                                <option value=""></option>
                            </select>
                        </div>
    
                        <!-- Folder -->
                        <div class="form-group">
                            <label for="contract-folder" class="control-label small">Mappe</label>
                            <input type="text" id="contract-folder" class="form-control input-sm" data-ng-model="contract.folder" data-autosave="{{ autoSaveUrl }}" data-field="folder">
                        </div>
                    </div>
                
                    <div class="col-md-12">
                        <!-- Note -->
                        <div class="form-group">
                            <label for="contract-note" class="control-label small">Bemærkning</label>
                            <textarea id="contract-note" class="form-control input-sm" data-ng-model="contract.note" data-autosave="{{ autoSaveUrl }}" data-field="note"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Right side -->
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Supplier -->
                        <div class="form-group">
                            <label for="contract-supplier" class="control-label small">Leverandør</label>
                            <select id="contract-supplier" class="form-control input-sm" data-ng-model="contract.supplierId" data-ng-options="o.id as (o.name + ' | ' + o.cvr) for o in suppliers" data-autosave="{{ autoSaveUrl }}" data-field="supplierId">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- 3rd column -->
                    <div class="col-md-6">
                        <!-- Extern contract signer -->
                        <div class="form-group">
                            <label for="contract-ext-signer" class="control-label small">Kontraktunderskriver</label>
                            <input type="text" id="contract-ext-signer" class="form-control input-sm" data-ng-model="contract.supplierContractSigner" data-autosave="{{ autoSaveUrl }}" data-field="supplierContractSigner">
                        </div>
                
                        <!-- Responsible org unit -->
                        <div class="form-group">
                            <label for="contract-orgunit" class="control-label small">Ansvarlig endhed</label>
                            <select id="contract-orgunit" class="form-control input-sm" data-ng-model="contract.responsibleOrganizationUnitId" data-ng-options="o.id as o.name for o in orgUnits" data-autosave="{{ autoSaveUrl }}" data-field="responsibleOrganizationUnitId"></select>
                        </div>

                        <!-- Intern contract signer -->
                        <div class="form-group">
                            <label for="contract-int-signer" class="control-label small">Kontraktunderskriver</label>
                            <select id="contract-int-signer" class="form-control input-sm"></select>
                        </div>
                    </div>

                    <!-- 4th column -->
                    <div class="col-md-6">
                        <!-- Extern contract is signed -->
                        <div class="checkbox">
                            <label class="small">
                                <input type="checkbox" data-ng-model="contract.hasSupplierSigned" data-autosave="{{ autoSaveUrl }}" data-field="hasSupplierSigned"> Underskrevet
                            </label>
                        </div>
    
                        <!-- Extern contract signed date -->
                        <div class="form-group">
                            <label for="contract-ext-date" class="control-label small">Dato</label>
                            <input type="date" id="contract-ext-date" class="form-control input-sm" data-ng-model="contract.supplierSignedDate" data-autosave="{{ autoSaveUrl }}" data-field="supplierSignedDate">
                        </div>
    
                        <!-- Intern contract is signed -->
                        <div class="checkbox">
                            <label class="small">
                                <input type="checkbox" data-ng-model="contract.isSigned" data-autosave="{{ autoSaveUrl }}" data-field="isSigned"> Underskrevet
                            </label>
                        </div>
    
                        <!-- Intern contract signed date -->
                        <div class="form-group">
                            <label for="contract-int-date" class="control-label small">Dato</label>
                            <input type="date" id="contract-int-date" class="form-control input-sm" data-ng-model="contract.signedDate" data-autosave="{{ autoSaveUrl }}" data-field="signedDate">
                        </div>
                    </div>
                    
                    <div class="col-md-12">
                        <!-- Agreement elements -->
                        <div class="form-group">
                            <label class="control-label small">IT Kontrakten omfatter flg. aftaleelementer</label>
                            <div class="input-group input-group-sm col-md-4">
                                <span class="input-group-addon">
                                    <input type="checkbox">
                                </span>
                                <input type="text" class="form-control">
                            </div>
                            <div class="input-group input-group-sm col-md-4">
                                <span class="input-group-addon">
                                    <input type="checkbox">
                                </span>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</form>

<!-- sub tab buttons -->
<ul class="nav nav-tabs">
    <li data-ui-sref-active="active">
        <a data-ui-sref="it-contract.edit.overview">Placeholder</a>
    </li>
</ul>

<!-- sub tabs view -->
<div data-ui-view="">
</div>