<div search-box data-paging="pagination"></div>
<div class="searchbox-wrapper">
    <a class="excel-icon" data-ng-href="{{csvUrl}}">
        <img src="../../Images/excel.png" alt="Hent excelark" width="25">
    </a>
</div>
<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>IT Kontrakt
                <button data-order-by="'name'" data-paging="pagination"></button>
            </th>

            <th>
                <select data-ng-model="chosenFilter" data-ng-init="chosenFilter = 'contractType.name'">
                    <option value="contractType.name">Kontrakttype</option>
                    <option value="contractTemplate.name">Kontraktskabelon</option>
                </select>
                <button data-order-by="chosenFilter" data-paging="pagination"></button>
            </th>

            <th>
                Indkøbsform
                <button data-order-by="'purchaseForm.name'" data-paging="pagination"></button>
            </th>

            <th>
                Indgået
                <button data-order-by="'concluded'" data-paging="pagination"></button>
            </th>

            <th>
                Varighed
                <button data-order-by="'duration'" data-paging="pagination"></button>
            </th>

            <th>
                Udløbsdato
                <button data-order-by="'expirationDate'" data-paging="pagination"></button>
            </th>

            <th>
                Option
                <button data-order-by="'optionExtend.name'" data-paging="pagination"></button>
            </th>

            <th>
                Opsigelse
                <button data-order-by="'terminationDeadline.name'" data-paging="pagination"></button>
            </th>
            
            <th>
                Uopsigelig til
                <button data-order-by="'irrevocableTo'" data-paging="pagination"></button>
            </th>
            
            <th>
                Udbudsstrategi
                <button data-order-by="'procurementStrategy.name'" data-paging="pagination"></button>
            </th>
            
            <th>
                Udbudsplan
            </th>
        </tr>
    </thead>
    <tbody>
        <!-- for each active contract -->
        <tr data-ng-repeat="contract in activeContracts | filter:{'show': true}"
            data-ng-include="'partials/it-contract/overview-plan-row.html'">
        </tr>
        
        <!-- when there are no active contracts to show -->
        <tr data-ng-if="activeContracts.length == 0">
            <td colspan="11" class="text-center">
                <i>Ingen aktive kontrakter</i>
            </td>
        </tr>
        
        <!-- "click to show inactive contracts"-row -->
        <tr>
            <td colspan="11">
                <a data-ng-click="showInactive = !showInactive">
                    <i class="glyphicon" data-ng-class="{'glyphicon-chevron-right': !showInactive, 'glyphicon-chevron-down': showInactive}"></i>
                    Klik for at {{ showInactive && 'skjule' || 'vise' }} inaktive IT kontrakter
                </a>
            </td>
        </tr>
        
        <!-- for each inactive contract -->
        <tr data-ng-if="showInactive" data-ng-repeat="contract in inactiveContracts | filter:{'show': true}" 
            data-ng-include="'partials/it-contract/overview-plan-row.html'">
        </tr>

        
        <!-- when there are no active contracts to show -->
        <tr data-ng-if="showInactive && inactiveContracts.length == 0">
            <td colspan="11" class="text-center">
                <i>Ingen inaktive kontrakter</i>
            </td>
        </tr>
    </tbody>    
    <tfoot>
        <tr>
            <td colspan="11">
                <span data-pagination-buttons="pagination"></span>
            </td>
        </tr>
    </tfoot>
</table>
