<div class="panel panel-default">
    <div class="panel-heading">Ekstern betaling</div>
    <table class="table table-condensed small">
        <thead>
            <tr>
                <th>Organisationsenhed</th>
                <th>EAN</th>
                <th>Anskaffelse</th>
                <th>Drift/år</th>
                <th>Andet</th>
                <th>Kontorering</th>
                <th>Audit</th>
                <th>Dato</th>
                <th>Note</th>
            </tr>
        </thead>

        

    </table>
    


</div>