<div class="container-fluid">
    <div class="panel panel-default col-md-6">
        <div class="panel panel-heading">
            IT Kontrakten gælder flg. IT systemer
        </div>
        <table class="table table-condensed table-no-margin">
            <thead>
                <tr>
                    <th>
                        IT System
                    </th>
                    <th>
                        Applikationstype
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!-- the system -->
                    <td>
                        
                    </td>
                    
                    <!-- app type (read only) -->
                    <td>
                        
                    </td>
                </tr>
            </tbody>

        </table>

    </div>
    
    <div class="col-md-6">
        <div class="panel panel-heading">
            IT Kontrakten gælder flg. snitfladerelationer
        </div>
        <table class="table table-condensed table-no-margin">
            <thead>
                <tr>
                    <th>
                        IT System
                    </th>
                    <th>
                        Applikationstype
                    </th>
                    <th>
                        Relation
                    </th>
                    <th>
                        Snitflade
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!-- the system -->
                    <td></td>

                    <!-- app type (read only) -->
                    <td></td>

                    <!-- relation -->
                    <td></td>

                    <!-- interface -->
                    <td></td>
                </tr>
            </tbody>

        </table>

    </div>
</div>