<form role="form">
    <div class="panel panel-default">
        <div class="panel-heading">Betalingsmodel</div>
        <div class="form-group">
            <label for="agreement-operation" class="control-label small">Driftsvederlag påbegyndt</label>
            <div class="input-group input-group-sm">
                <input type="text" class="form-control" id="agreement-operation"
                       data-datepicker-popup="dd-MM-yyyy" 
                       data-is-open="opened.orb" 
                       data-date-to-string 
                       data-ng-disabled="!hasWriteAccess" 
                       data-ng-model="contract.operationRemunerationBegun"
                       data-autosave="{{autosaveUrl}}" 
                       data-field="operationRemunerationBegun">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" data-ng-click="open($event, 'orb')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="agreement-freq" class="control-label small">Betalingsfrekvens</label>
            <select id="agreement-freq" class="form-control input-sm"
                    data-ui-select2="allowClearOption"
                    data-placeholder="Vælg betalingsfrekvens"
                    data-ng-disabled="!hasWriteAccess"
                    data-ng-model="contract.paymentFreqencyId"
                    data-autosave="{{autosaveUrl}}"
                    data-field="paymentFreqencyId">
                <option value=""></option>
                <option data-ng-repeat="paymentFrequency in paymentFrequencies" value="{{paymentFrequency.id}}">{{paymentFrequency.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="agreement-payment" class="control-label small">Betalingsmodel</label>
            <select id="agreement-payment" class="form-control input-sm"
                    data-ui-select2="allowClearOption"
                    data-placeholder="Vælg betalingsmodel"
                    data-ng-disabled="!hasWriteAccess"
                    data-ng-model="contract.paymentModelId"
                    data-autosave="{{autosaveUrl}}"
                    data-field="paymentModelId">
                <option value=""></option>
                <option data-ng-repeat="paymentModel in paymentModels" value="{{paymentModel.id}}">{{paymentModel.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="agreement-price" class="control-label small">Prisregulering</label>
            <select id="agreement-price" class="form-control input-sm"
                    data-ui-select2="allowClearOption"
                    data-placeholder="Vælg prisregulering"
                    data-ng-disabled="!hasWriteAccess"
                    data-ng-model="contract.priceRegulationId"
                    data-autosave="{{autosaveUrl}}"
                    data-field="priceRegulationId">
                <option value=""></option>
                <option data-ng-repeat="priceRegulation in priceRegulations" value="{{priceRegulation.id}}">{{priceRegulation.name}}</option>
            </select>
        </div>
    </div>
</form>