<form role="form">
            <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Anskaffelse</div>
                        <table class="table table-condensed small">
                            <thead>
                                <tr>
                                    <th>Prøver</th>
                                    <th>Forventet</th>
                                    <th>Godkendt</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Funktionsprøve</td>
                                    <td>
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" 
                                                data-datepicker-popup="dd-MM-yyyy" 
                                                data-is-open="opened.ote" 
                                                data-date-to-string 
                                                data-ng-disabled="!hasWriteAccess" 
                                                data-ng-model="contract.operationTestExpected" 
                                                data-autosave="{{ autosaveUrl }}" 
                                                data-field="operationTestExpected">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" data-ng-click="open($event, 'ote')"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" 
                                                data-datepicker-popup="dd-MM-yyyy" 
                                                data-is-open="opened.ota" 
                                                data-date-to-string 
                                                data-ng-disabled="!hasWriteAccess" 
                                                data-ng-model="contract.operationTestApproved" 
                                                data-autosave="{{ autosaveUrl }}" 
                                                data-field="operationTestApproved">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" data-ng-click="open($event, 'ota')"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Driftovertagelsesprøve</td>
                                    <td>
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" 
                                                data-datepicker-popup="dd-MM-yyyy" 
                                                data-is-open="opened.oate" 
                                                data-date-to-string 
                                                data-ng-disabled="!hasWriteAccess" 
                                                data-ng-model="contract.operationalAcceptanceTestExpected" 
                                                data-autosave="{{ autosaveUrl }}" 
                                                data-field="operationalAcceptanceTestExpected">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" data-ng-click="open($event, 'oate')"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" 
                                                data-datepicker-popup="dd-MM-yyyy" 
                                                data-is-open="opened.oata" 
                                                data-date-to-string 
                                                data-ng-disabled="!hasWriteAccess" 
                                                data-ng-model="contract.operationalAcceptanceTestApproved" 
                                                data-autosave="{{ autosaveUrl }}" 
                                                data-field="operationalAcceptanceTestApproved">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" data-ng-click="open($event, 'oata')"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <table class="table table-condensed small">
                            <thead>
                                <tr>
                                    <th>Betalingsmilepæle</th>
                                    <th>Forventet</th>
                                    <th colspan="2">Godkendt</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="item in paymentMilestones">
                                    <td>
                                        <input type="text" class="form-control input-sm" data-ng-disabled="!hasWriteAccess" data-ng-model="item.title" data-autosave="api/paymentmilestone/{{item.id}}" data-field="title">
                                    </td>
                                    <td>
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" 
                                                   data-datepicker-popup="dd-MM-yyyy" 
                                                   data-is-open="$parent.opened['exp' + $index]" 
                                                   data-date-to-string 
                                                   data-ng-disabled="!hasWriteAccess" 
                                                   data-ng-model="item.expected"
                                                   data-autosave="api/paymentmilestone/{{item.id}}" 
                                                   data-field="expected">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" data-ng-click="open($event, 'exp' + $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </td>
                                    <td colspan="2">
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" 
                                                   data-datepicker-popup="dd-MM-yyyy" 
                                                   data-is-open="$parent.opened['appr' + $index]"
                                                   data-date-to-string 
                                                   data-ng-disabled="!hasWriteAccess"
                                                   data-ng-model="item.approved"
                                                   data-autosave="api/paymentmilestone/{{item.id}}" 
                                                   data-field="approved">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" data-ng-click="open($event, 'appr' + $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot data-ng-if="hasWriteAccess">
                                <tr>
                                    <td><input type="text" class="form-control input-sm" data-ng-model="paymentMilestone.title"></td>
                                    <td>
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" 
                                                   data-datepicker-popup="dd-MM-yyyy" 
                                                   data-is-open="opened.nexp" 
                                                   data-date-to-string 
                                                   data-ng-disabled="!hasWriteAccess" 
                                                   data-ng-model="paymentMilestone.expected">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" data-ng-click="open($event, 'nexp')"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" 
                                               data-datepicker-popup="dd-MM-yyyy" 
                                               data-is-open="opened.nappr" 
                                               data-date-to-string 
                                               data-ng-disabled="!hasWriteAccess" 
                                               data-ng-model="paymentMilestone.approved">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" data-ng-click="open($event, 'nappr')"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </td>
                                    <td><button class="btn btn-success btn-sm" data-ng-click="save(paymentMilestone)"><i class="glyphicon glyphicon-plus"></i></button></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
    <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">Aftalefrister</div>
            <div class="panel-body">
                        <div class="form-group">
                            <label for="agreement-concluded" class="control-label small">
                                Indgået
                            </label>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" id="agreement-concluded"
                                       data-datepicker-popup="dd-MM-yyyy" 
                                       data-is-open="opened.conc" 
                                       data-date-to-string 
                                       data-ng-disabled="!hasWriteAccess" 
                                       data-ng-model="contract.concluded"
                                       data-autosave="{{autosaveUrl}}" 
                                       data-field="concluded">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" data-ng-click="open($event, 'conc')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="agreement-duration" class="control-label small">Varighed</label>
                            <select id="agreement-duration" class="form-control input-sm" data-ng-disabled="!hasWriteAccess" data-ng-model="contract.duration" data-autosave="{{autosaveUrl}}" data-field="duration">
                                <option value="3">3 md</option>
                                <option value="6">6 md</option>
                                <option value="9">9 md</option>
                                <option value="12">12 md</option>
                                <option value="18">18 md</option>
                                <option value="24">24 md</option>
                                <option value="36">36 md</option>
                                <option value="48">48 md</option>
                                <option value="60">60 md</option>
                                <option value="72">72 md</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="agreement-option-extend" class="control-label small">Option forlæng</label>
                            <select id="agreement-option-extend" class="form-control input-sm" data-ng-disabled="!hasWriteAccess" data-ng-model="contract.optionExtendId" data-ng-options="o.id as o.name for o in optionExtensions" data-autosave="{{autosaveUrl}}" data-field="optionExtendId">
                                <option value=""></option>
                            </select>
                            <input type="number" min="0" max="3" class="form-control input-sm" data-ng-disabled="!hasWriteAccess" data-ng-model="contract.extendMultiplier" data-autosave="{{autosaveUrl}}" data-field="extendMultiplier">
                        </div>
                        <div class="form-group">
                            <label for="agreement-notice" class="control-label small">Opsigelsesfrist</label>
                            <select id="agreement-notice" class="form-control input-sm" data-ng-disabled="!hasWriteAccess" data-ng-model="contract.terminationDeadlineId" data-ng-options="o.id as o.name for o in terminationDeadlines" data-autosave="{{autosaveUrl}}" data-field="terminationDeadlineId">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="agreement-irrevocable" class="control-label small">Uopsigelig til</label>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" id="agreement-irrevocable"
                                       data-datepicker-popup="dd-MM-yyyy" 
                                       data-is-open="opened.irre" 
                                       data-date-to-string 
                                       data-ng-disabled="!hasWriteAccess" 
                                       data-ng-model="contract.irrevocableTo"
                                       data-autosave="{{autosaveUrl}}" 
                                       data-field="irrevocableTo">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" data-ng-click="open($event, 'irre')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="agreement-expiration" class="control-label small">Udløbsdato</label>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" id="agreement-expiration"
                                       data-datepicker-popup="dd-MM-yyyy" 
                                       data-is-open="opened.expi" 
                                       data-date-to-string 
                                       data-ng-disabled="!hasWriteAccess" 
                                       data-ng-model="contract.expirationDate"
                                       data-autosave="{{autosaveUrl}}" 
                                       data-field="expirationDate">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" data-ng-click="open($event, 'expi')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">Opsigelse</div>
            <div class="panel-body">
                        <div class="form-group">
                            <label for="agreement-terminated" class="control-label small">Kontrakten opsagt</label>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" id="agreement-terminated"
                                       data-datepicker-popup="dd-MM-yyyy" 
                                       data-is-open="opened.term" 
                                       data-date-to-string 
                                       data-ng-disabled="!hasWriteAccess" 
                                       data-ng-model="contract.terminated"
                                       data-autosave="{{autosaveUrl}}" 
                                       data-field="terminated">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" data-ng-click="open($event, 'term')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


