<h2>Glemt password?</h2>
<p>
    Hvis du har glemt passwordet til din KITOS bruger, kan du få tilsendt en email med et link til at nulstille det.
</p>
<p>
    Bemærk at linkets gyldighed udløber efter 12 timer. Du skal derfor nå at nulstille dit password inden da.
</p>

<p ng-show="requestSuccess">En email er blevet sendt til dig!</p>
<p ng-show="requestFailure">Fejl! Check at den indtastede email er korrekt.</p>

<form name="requestForm" class="form-horizontal col-md-4" role="form" novalidate>
    <div class="form-group">
        <label for="email" class="control-label">Email adresse</label>
        <input ng-model="email" name="email" type="email" class="form-control" required/>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-default" ng-click="submit()" value="Send email" />
    </div>
</form>

</div>
