<div class="col-md-7">
    <h2>Glemt password?</h2>
    <p>
        Hvis du har glemt passwordet til din KITOS bruger, kan du få tilsendt en email med et link til at nulstille det.
    </p>
    <p>
        Bemærk at linkets gyldighed udløber efter 12 timer. Du skal derfor nå at nulstille dit password inden da.
    </p>
    
    <form name="requestForm" class="form-horizontal" role="form" novalidate>
        <div class="form-group">
            <label for="email" class="control-label">Email adresse</label>
            <input data-ng-model="email" name="email" type="email" class="form-control" data-ng-required="true" />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default" data-ng-click="submit()" value="Send email" data-disabled-on-busy="" />
        </div>
    </form>
</div>
