<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Om KITOS?</h3>
                </div>
                <div class="panel-body">
                    <textarea data-ng-model="about" data-autosave="api/text/1" data-field="value" data-ng-if="user.isGlobalAdmin"></textarea>
                    <div data-ng-bind-html="about" data-ng-if="!user.isGlobalAdmin"></div>
                </div>
                <div class="panel-footer">
                    <a href="/docs/om.pdf" target="_blank">Klik her for at læse mere</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Hjælp og vejledning til KITOS</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li><a href="/docs/introduktion.pdf" target="_blank">Introduktion</a></li>
                        <li><a href="/docs/hvordan-kitos.pdf" target="_blank">Hvordan kan vi tage KITOS i brug?</a></li>
                        <li><a href="/docs/hvordan-lokaladm.pdf" target="_blank">Hjælp til lokal adm</a></li>
                        <li><a href="/docs/modul-org.pdf" target="_blank">Hjælp til modulet Organisation</a></li>
                        <li><a href="/docs/modul-projekt.pdf" target="_blank">Hjælp til modulet IT Projekter</a></li>
                        <li><a href="/docs/modul-system.pdf" target="_blank">Hjælp til modulet IT Systemer</a></li>
                        <li><a href="/docs/modul-kontrakt.pdf" target="_blank">Hjælp til modulet IT Kontrakter</a></li>
                        <li><a href="/docs/undervisning.pdf" target="_blank">Undervisning - hvad og hvornår?</a></li>
                        <li><a href="/docs/html/index.html" target="_blank">Kitos kode dokumentation</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4">
            <!-- login -->
            <div class="panel panel-default" data-highlight="" data-on="highlightLogin" data-ng-show="!user">
                <div class="panel-heading">
                    <h3 class="panel-title">Log ind</h3>
                </div>
                <div class="panel-body">
                    <div class="text-left col-md-10">
                        <form name="loginForm" class="form-horizontal" autocomplete="off" novalidate="novalidate">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label for="email" class="control-label">Email</label></div>
                                <div class="col-md-9">
                                    <input name="email" data-ng-model="email" type="email" class="form-control input-sm" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label for="password" class="control-label">Password</label></div>
                                <div class="col-md-9">
                                    <input name="password" data-ng-model="password" type="password" class="form-control input-sm" required>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <label class="checkbox">
                                        <input name="remember" data-ng-model="remember" type="checkbox">
                                        Log mig ikke ud
                                    </label>
                                </div>
                                <div class="col-md-3">
                                    <input type="submit" class="btn btn-default btn-sm pull-right" data-ng-click="submitLogin()" value="Log ind">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel-footer">
                    Hvis du har glemt dit password, <a data-ui-sref="forgot-password">kan du anmode om at nulstille det.</a>
                </div>
            </div>
            
            <!-- Support -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Support</h3>
                </div>
                <div class="panel-body">
                    Hvis du oplever problemer med KITOS skal du kontakte din lokale adm.
                </div>
                <div class="panel-footer">
                    <a href="/docs/kontaktinfo.pdf" target="_blank">Klik her for kontaktinfo på din lokale adm.</a>
                </div>
            </div>
            
            <!-- Status -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Driftstatus</h3>
                </div>
                <div class="panel-body">
                    <textarea data-ng-model="status" data-autosave="api/text/2" data-field="value" data-ng-if="user.isGlobalAdmin"></textarea>
                    <div data-ng-bind-html="status" data-ng-if="!user.isGlobalAdmin"></div>
                </div>
                <div class="panel-footer">
                    <a href="/docs/drift-mere-info.pdf" target="_blank">Klik her for at læse mere</a>
                </div>
            </div>
        </div>
    </div>
</div>
