<div class="col-md-7">
    <h2>Nyt password</h2>

    <div data-ng-switch on="resetStatus">

        <p data-ng-switch-default>
            Henter anmodning.
        </p>
        <p data-ng-switch-when="enterPassword">
            Indtast et nyt password for brugeren med {{ email }}.
        </p>
        <p data-ng-switch-when="missingRequest">
            Din anmodning om at nulstille dit password blev ikke fundet i systemet. Det kan allerede være brugt, eller den kan være udløbet.
        Gå til <a data-ui-sref="forgot-password">glemt password?</a> og prøv igen.
        </p>
        <p data-ng-switch-when="error">
            Systemet kunne ikke skifte dit password. Prøv igen eller kontakt din lokale KITOS administrator.
        </p>
        <p data-ng-switch-when="success">
            Dit password er nu ændret og <a data-ui-sref="login">du kan logge ind med dit nye password</a>.
        </p>

        <form name="resetForm" class="form-horizontal" role="form" data-ng-show="resetStatus == 'enterPassword'" novalidate>
            <div class="form-group">
                <label for="email" class="control-label">Email adresse</label>
                <input data-ng-model="email" name="email" type="email" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label for="email" class="control-label">Nyt password</label>
                <input data-ng-model="password" name="password" type="password" class="form-control" required data-ng-minlength="6" />
                <label for="email" class="control-label">Gentag nyt password</label>
                <input data-ng-model="repassword" name="repassword" type="password" class="form-control" required match="password" />
                <p class="help-block">Passwordet skal indeholde mindst 6 tegn.</p>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" data-ng-click="submit()" value="Skift password">
            </div>
        </form>
    </div>
</div>
