<div data-global-option-role-list="" title="Roller" data-options-url="api/itSystemRole"></div>
<div data-global-option-list="" title="Applikationstyper" data-options-url="api/itSystemTypeOption" data-orgid="{{orgId}}"></div>
<div data-global-option-list="" title="Forretningstyper" data-options-url="api/businessType" data-orgid="{{orgId}}"></div>
<div data-global-option-list="" title="Arkiveringstyper" data-options-url="api/archiveType" data-orgid="{{orgId}}"></div>
<div data-global-option-list="" title="Datatyper" data-options-url="api/dataType" data-orgid="{{orgId}}"></div>
<div data-global-option-list="" title="Frekvenser" data-options-url="api/frequency" data-orgid="{{orgId}}"></div>
<div data-global-option-list="" title="Snitfladetyper" data-options-url="api/interfaceType" data-orgid="{{orgId}}"></div>
<div data-global-option-list="" title="Grænseflader" data-options-url="api/interface" data-orgid="{{orgId}}"></div>
<div data-global-option-list="" title="Metoder" data-options-url="api/method" data-orgid="{{orgId}}"></div>
<div data-global-option-list="" title="Personfølsomme data" data-options-url="api/sensitiveDataType" data-orgid="{{orgId}}"></div>
<div data-global-option-list="" title="TSA" data-options-url="api/tsa" data-orgid="{{orgId}}"></div>
