<span ng-if="enableUserNotifications && numberOfUserNotifications >= 1">
    <a data-ng-click="showUserNotifications()">
        <i class="fa fa-exclamation-triangle"></i>
        <i class="fa fa-circle user-notification-icon"></i>
        <strong ng-if="numberOfUserNotifications < 10" class="user-notification-number">{{numberOfUserNotifications}}</strong>
        <strong ng-if="numberOfUserNotifications >= 10" class="user-notification-many">9+</strong>
    </a>
</span>

<span ng-if="enableUserNotifications && numberOfUserNotifications < 1">
    <a data-ng-click="showUserNotifications()">
        <i class="fa fa-exclamation-triangle"></i>
    </a>
</span>

<span ng-if="!enableUserNotifications" class="disable-advis-link">
    <a>
        <i class="fa fa-exclamation-triangle"></i>
    </a>
</span>