@model UI.MVC4.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Glemt password?";
}

<h2>Glemt password?</h2>

@ViewBag.Message
<br/>

Indtast dit brugernavn eller email-addresse for at for tilsendt en email med et link til at nulstille dit password.
<br/><br/>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.LabelFor(m => m.UserIdentifier)
    @Html.TextBoxFor(m => m.UserIdentifier)

    <input type="submit" value="Nulstil password"/>
}
