<div class="text-center">
    <div class="col-xs-4">
        <button class="btn btn-primary btn-sm pull-left" data-ng-show="pagination.skip > 0" data-ng-click="less()">
            <i class="glyphicon glyphicon-chevron-left small"></i>Forrige
        </button>
    </div>

    <div class="col-xs-4 text-center">
        <span data-ng-if="pagination.skip + pagination.take < totalCount || pagination.skip > 0">
            Viser {{ pagination.skip + 1 }}-{{ totalCount < pagination.skip + pagination.take ? totalCount : pagination.skip + pagination.take }} af {{ totalCount }} linjer
        </span>
    </div>

    <div class="col-xs-4">
        <button class="btn btn-primary btn-sm pull-right" data-ng-show="pagination.skip + pagination.take < totalCount" data-ng-click="more()">
            Næste <i class="glyphicon glyphicon-chevron-right small"></i>
        </button>
    </div>
</div>
