<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="Organisation">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://kombit.dk/sts/organisation/organisation"
                binding="customBinding" bindingConfiguration="Organisation"
                contract="ServiceReference.OrganisationPortType" name="Organisation" />
        </client>
    </system.serviceModel>
</configuration>