<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OrganisationBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="OrganisationBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:8080/service/Organisation/Organisation/5"
                binding="basicHttpBinding" bindingConfiguration="OrganisationBinding"
                contract="ServiceReference.OrganisationPortType" name="OrganisationPort" />
        </client>
    </system.serviceModel>
</configuration>