<div id="mainGrid" data-kendo-grid="mainGrid" data-k-options="itInterfaceOptions"></div>

<script type="text/x-kendo-template" id="save-profile-btn">
    <button type="button" class="k-button k-button-icontext" title="Gemmer sortering og filtre" data-ng-click="saveGridProfile()" data-ng-hide="doesGridProfileExist()">
        Gem filter
    </button>
    <button type="button" class="k-button k-button-icontext" title="" data-ng-click="loadGridProfile()" data-ng-show="doesGridProfileExist()">
        Anvend filter
    </button>
</script>
