<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="Virksomhed">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://kombit.dk/sts/organisation/virksomhed"
                binding="customBinding" bindingConfiguration="Virksomhed"
                contract="Kombit.InfrastructureSamples.VirksomhedService.VirksomhedPortType"
                name="Virksomhed" />
        </client>
    </system.serviceModel>
</configuration>