<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AdresseBinding">
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" />
                    </security>
                </binding>
                <binding name="BrugerBinding">
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" />
                    </security>
                </binding>
                <binding name="VirksomhedBinding">
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" />
                    </security>
                </binding>
                <binding name="PersonBinding">
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" />
                    </security>
                </binding>
                <binding name="OrganisationBinding">
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:8080/service/Organisation/Adresse/5"
                binding="basicHttpBinding" bindingConfiguration="AdresseBinding"
                contract="STSAdresse.AdressePortType" name="AdressePort" />
            <endpoint address="https://localhost:8080/service/Organisation/Bruger/5"
                binding="basicHttpBinding" bindingConfiguration="BrugerBinding"
                contract="STSBruger.BrugerPortType" name="BrugerPort" />
            <endpoint address="https://localhost:8080/service/Organisation/Virksomhed/5"
                binding="basicHttpBinding" bindingConfiguration="VirksomhedBinding"
                contract="STSVirksomhed.VirksomhedPortType" name="VirksomhedPort" />
            <endpoint address="https://localhost:8080/service/Organisation/Person/5"
                binding="basicHttpBinding" bindingConfiguration="PersonBinding"
                contract="STSPerson.PersonPortType" name="PersonPort" />
            <endpoint address="https://localhost:8080/service/Organisation/Organisation/5"
                binding="basicHttpBinding" bindingConfiguration="OrganisationBinding"
                contract="STSOrganisation.OrganisationPortType" name="OrganisationPort" />
        </client>
    </system.serviceModel>
</configuration>