<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AdresseBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="AdresseBinding1" />
                <binding name="BrugerBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="BrugerBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:8080/service/Organisation/Adresse/5"
                binding="basicHttpBinding" bindingConfiguration="AdresseBinding"
                contract="STSAdresse.AdressePortType" name="AdressePort" />
            <endpoint address="https://localhost:8080/service/Organisation/Bruger/5"
                binding="basicHttpBinding" bindingConfiguration="BrugerBinding"
                contract="STSBruger.BrugerPortType" name="BrugerPort" />
        </client>
    </system.serviceModel>
</configuration>