<label data-ng-if="label" for="{{ id }}" class="control-label small">{{ label }}</label>
<select id="{{ id }}" class="form-control input-sm"
        ng-disabled="disabled"
        data-ui-select2="{ allowClear: true }"
        data-placeholder="{{ placeholder }}"
        data-ng-model="selectedId"
        data-autosave="{{ autoSaveUrl }}"
        data-appendurl="{{ appendurl }}"
        data-field="{{ field }}"
        data-ng-required="required">
    <option></option>
    <option data-ng-repeat="option in options" value="{{ option.Id }}">{{ option.Name }}</option>
</select>

<span ng-if="optionDescription" class="help-block small"><i class="fa fa-info-circle" aria-hidden="true"></i> {{ optionDescription }}</span>
