<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">Indstillinger for denne organisation</div>
        <div class="panel-body">
            <div class="form-group">
                <label>Navn</label>
                <input type="text" class="form-control" data-ng-model="currentOrgCtrl.organization.name" data-autosave="{{ currentOrgCtrl.orgAutosaveUrl }}" data-field="name">
            </div>
            <div class="form-group">
                <label>CVR</label>
                <input type="text" class="form-control" data-ng-model="currentOrgCtrl.organization.cvr" data-autosave="{{ currentOrgCtrl.orgAutosaveUrl }}" data-field="cvr" data-ng-pattern="/^[0-9]{8}$|^[a-zA-Z]{2}[0-9]{8}$/">
            </div>
            <div class="form-group">
                <div>
                    <label>
                        Type
                    </label>
                    <div>
                        <input type="radio" checked="checked">
                        {{ currentOrgCtrl.typeName }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form class="form-horizontal">
    <div class="form-group">
        <label class="col-xs-2 control-label">
            Overblik
        </label>
        <div class="col-xs-10">
            <div>
                <label>
                    <input type="checkbox" data-ng-model="config.showTabOverview" data-autosave="{{config.autosaveUrl}}" data-field="ShowTabOverview" tabindex="1" />
                    Medtag fanen 'Overblik'
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" data-ng-model="config.showColumnTechnology" data-autosave="{{config.autosaveUrl}}" data-field="ShowColumnTechnology" tabindex="2" />
                    Medtag kolonnen 'Teknologi'
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" data-ng-model="config.showColumnUsage" data-autosave="{{config.autosaveUrl}}" data-field="ShowColumnUsage" tabindex="3" />
                    Medtag kolonnen 'Anvendelse'
                </label>
            </div>
        </div>
    </div>
    <div data-local-option-role-list="" title="Roller" dir-id="localCurrentOrgRoleId" state="local-config.current-org.edit-current-org-roles" data-options-url="odata/LocalOrganizationUnitRoles"></div>
</form>
