<form class="form-horizontal">

    <!-- show/hide-module -->
    <div class="form-group">
        <label class="col-xs-2 control-label">
            Generelt
        </label>
        <div class="col-xs-10">
            <div>
                <label class="control-label">
                    <input id="project-include" type="checkbox" data-ng-model="config.showItProjectModule" data-autosave="{{config.autosaveUrl}}" data-field="ShowItProjectModule" tabindex="1" />
                    Medtag dette modul
                </label>
            </div>
            <div>
                <label class="control-label">
                    <input type="checkbox" data-ng-model="config.showItProjectPrefix" data-autosave="{{config.autosaveUrl}}" data-field="ShowItProjectPrefix" tabindex="1" />
                    Brug 'IT' prefix
                </label>
            </div>
        </div>
    </div>

    <div data-local-option-role-list="" title="Roller" dir-id="localProjectRoleId" state="local-config.project.edit-project-roles" data-options-url="/odata/LocalItProjectRoles"></div>
    <div data-local-option-list="" title="Projekttyper" dir-id="localProjectTypeId" state="local-config.project.edit-project-types" data-options-url="/odata/LocalItProjectTypes"></div>
    <div data-local-option-list="" title="Måltyper" dir-id="localGoalTypeId" state="local-config.project.edit-project-types" data-options-url="/odata/LocalGoalTypes"></div>
</form>
