<form class="form-horizontal">
    <!-- show/hide-module -->
    <div class="form-group">
        <label class="col-xs-2 control-label">
            Generelt
        </label>
        <div class="col-xs-10">
            <div>
                <label class="control-label">
                    <input type="checkbox" data-ng-model="config.showDataProcessorAgreement" data-autosave="{{config.autosaveUrl}}" data-field="ShowDataProcessorAgreement" tabindex="1" />
                    Medtag dette modul
                </label>
            </div>
        </div>
    </div>
</form>
