<form class="form-horizontal">

    <!-- show/hide-module -->
    <div class="form-group">
        <label class="col-xs-2 control-label">
            Generelt
        </label>
        <div class="col-xs-10">
            <div>
                <label class="control-label">
                    <input type="checkbox" data-ng-model="config.showItSystemModule" data-autosave="{{config.autosaveUrl}}" data-field="ShowItSystemModule" tabindex="1"/>
                    Medtag dette modul
                </label>
            </div>
            <div>
                <label class="control-label">
                    <input type="checkbox" data-ng-model="config.showItSystemPrefix" data-autosave="{{config.autosaveUrl}}" data-field="ShowItSystemPrefix" tabindex="1" />
                    Brug 'IT' prefix
                </label>
            </div>
        </div>
    </div>
    
    <div data-local-option-role-list="" title="Roller" dir-id="localSystemRoleId" state="local-config.system.edit-system-roles" option-type="{{localOptionType.ItSystemRoles}}" current-org-id="{{currentOrganizationId}}"></div>
    <div data-local-option-list="" title="Forretningstyper" dir-id="localBusinessTypeId" state="local-config.system.edit-system-types" option-type="{{localOptionType.BusinessTypes}}" current-org-id="{{currentOrganizationId}}"></div>
    <div data-local-option-list="" title="Arkiveringstyper" dir-id="localArchiveTypeId" state="local-config.system.edit-system-types" option-type="{{localOptionType.ArchiveTypes}}" current-org-id="{{currentOrganizationId}}"></div>
    <div data-local-option-list="" title="Arkiveringssted" dir-id="localArchiveLocationId" state="local-config.system.edit-system-types" option-type="{{localOptionType.ArchiveLocations}}" current-org-id="{{currentOrganizationId}}"></div>
    <div data-local-option-list="" title="Arkiveringsteststed" dir-id="localArchiveTestLocationId" state="local-config.system.edit-system-types" option-type="{{localOptionType.ArchiveTestLocations}}" current-org-id="{{currentOrganizationId}}"></div>
    <div data-local-option-list="" title="Datatyper" dir-id="localDataTypeId" state="local-config.system.edit-system-types" option-type="{{localOptionType.DataTypes}}" current-org-id="{{currentOrganizationId}}"></div>
    <div data-local-option-list="" title="Frekvenser" dir-id="localFrequencyTypeId" state="local-config.system.edit-system-types" option-type="{{localOptionType.FrequencyTypes}}" current-org-id="{{currentOrganizationId}}"></div>
    <div data-local-option-list="" title="Grænseflader" dir-id="localInterfaceTypeId" state="local-config.system.edit-system-types" option-type="{{localOptionType.InterfaceTypes}}" current-org-id="{{currentOrganizationId}}"></div>
    <div data-local-option-list="" title="Følsomme persondata" dir-id="sensitivePersonalDataTypeId" state="local-config.system.edit-system-types" option-type="{{localOptionType.SensistivePersonalDataTypes}}" current-org-id="{{currentOrganizationId}}"></div>
    <div data-local-option-list="" title="Klassifikation af data i systemet" dir-id="ItSystemCategoriesId" state="local-config.system.edit-system-types" option-type="{{localOptionType.ItSystemCategories}}" current-org-id="{{currentOrganizationId}}"></div>
    <div data-local-option-list="" title="Registrerede individer" dir-id="registerTypeId" state="local-config.system.edit-system-types" option-type="{{localOptionType.RegisterTypes}}" current-org-id="{{currentOrganizationId}}"></div>
</form>

