<form class="form-horizontal">

    <!-- show/hide-module -->
    <div class="form-group">
        <label class="col-xs-2 control-label">
            Generelt
        </label>
        <div class="col-xs-10">
            <div>
                <label class="control-label">
                    <input type="checkbox" data-ng-model="config.showItSystemModule" data-autosave="{{config.autosaveUrl}}" data-field="ShowItSystemModule" tabindex="1"/>
                    Medtag dette modul
                </label>
            </div>
            <div>
                <label class="control-label">
                    <input type="checkbox" data-ng-model="config.showItSystemPrefix" data-autosave="{{config.autosaveUrl}}" data-field="ShowItSystemPrefix" tabindex="1" />
                    Brug 'IT' prefix
                </label>
            </div>
        </div>
    </div>

    <div data-local-option-role-list="" title="Roller" dir-id="localSystemRoleId" state="local-config.system.edit-system-roles" data-options-url="odata/LocalItSystemRoles"></div>
    <div data-local-option-list="" title="Applikationstyper" dir-id="localApplicationTypeId" state="local-config.system.edit-system-types" data-options-url="odata/LocalItSystemTypes"></div>
    <div data-local-option-list="" title="Forretningstyper" dir-id="localBusinessTypeId" state="local-config.system.edit-system-types" data-options-url="odata/LocalBusinessTypes"></div>
    <div data-local-option-list="" title="Arkiveringstyper" dir-id="localArchiveTypeId" state="local-config.system.edit-system-types" data-options-url="odata/LocalArchiveTypes"></div>
    <div data-local-option-list="" title="Arkiveringssted" dir-id="localArchiveLocationId" state="local-config.system.edit-system-types" data-options-url="odata/LocalArchiveLocations"></div>
    <div data-local-option-list="" title="Datatyper" dir-id="localDataTypeId" state="local-config.system.edit-system-types" data-options-url="odata/LocalDataTypes"></div>
    <div data-local-option-list="" title="Frekvenser" dir-id="localFrequencyTypeId" state="local-config.system.edit-system-types" data-options-url="odata/LocalFrequencyTypes"></div>
    <div data-local-option-list="" title="Snitfladetyper" dir-id="localItInterfaceTypeId" state="local-config.system.edit-system-types" data-options-url="odata/LocalItInterfaceTypes"></div>
    <div data-local-option-list="" title="Grænseflader" dir-id="localInterfaceTypeId" state="local-config.system.edit-system-types" data-options-url="odata/LocalInterfaceTypes"></div>
    <div data-local-option-list="" title="Metoder" dir-id="localMethodTypeId" state="local-config.system.edit-system-types" data-options-url="odata/LocalMethodTypes"></div>
    <div data-local-option-list="" title="Typer af data" dir-id="localSensitiveDataTypeId" state="local-config.system.edit-system-types" data-options-url="odata/LocalSensitiveDataTypes"></div>
    <div data-local-option-list="" title="TSA" dir-id="localTsaTypeId" state="local-config.system.edit-system-types" data-options-url="odata/LocalTsaTypes"></div>
    <div data-local-option-list="" title="Følsomme persondata" dir-id="sensitivePersonalDataTypeId" state="local-config.system.edit-system-types" data-options-url="odata/LocalSensistivePersonalDataTypes"></div>
    <div data-local-option-list="" title="Almindelige persondata" dir-id="regularPersonalDataTypeId" state="local-config.system.edit-system-types" data-options-url="odata/LocalRegularPersonalDataTypes"></div>
    <div data-local-option-list="" title="Klassifikation af data i systemet" dir-id="ItSystemCategoriesId" state="local-config.system.edit-system-types" data-options-url="odata/LocalItSystemCategories"></div>
    <div data-local-option-list="" title="Registrerede individer" dir-id="registerTypeId" state="local-config.system.edit-system-types" data-options-url="odata/LocalRegisterTypes"></div>
</form>

