<form class="form-horizontal">

    <!-- show/hide-module -->
    <div class="form-group">
        <div class="col-xs-12">
            <inline-help-text data-key="local_config_it-contract_ui_customization" data-default-title="Tilpasning af UI" />
        </div>
        <label class="col-xs-2 control-label">
            Generelt
        </label>
        <div class="col-xs-10">
            <div>
                <label class="control-label">
                    <input type="checkbox" data-ng-model="config.showItContractModule" data-autosave="{{config.autosaveUrl}}" data-field="ShowItContractModule" tabindex="1" />
                    Medtag dette modul
                </label>
            </div>
            <div>
                <label class="control-label">
                    <input type="checkbox" data-ng-model="config.showItContractPrefix" data-autosave="{{config.autosaveUrl}}" data-field="ShowItContractPrefix" tabindex="1" />
                    Brug 'IT' prefix
                </label>
            </div>
        </div>
        <div class="margin-top col-xs-12">&nbsp;</div>
        <label class="col-xs-2 control-label noMargin" ng-if="config.showItContractModule">
            Faneblade og felter:
        </label>

        <!-- Local UI config for IT-contract usages module -->
        <div class="col-xs-10" ng-if="config.showItContractModule">
            <data-local-ui-customization data-customized-module-id="ItContracts" />
        </div>
    </div>

    <div data-local-option-role-list="" title="Roller" dir-id="localItContractRoleId" state="local-config.contract.edit-contract-roles" option-type="{{localOptionType.ItContractRoles}}" current-org-id="{{currentOrganizationId}}"></div>
    <div data-local-option-list="" title="Kontrakttyper" dir-id="localItContractTypeId" state="local-config.contract.edit-contract-types" option-type="{{localOptionType.ItContractTypes}}" current-org-id="{{currentOrganizationId}}"></div>
    <div data-local-option-list="" title="Kontraktskabeloner" dir-id="localItContractTemplateTypeId" state="local-config.contract.edit-contract-types" option-type="{{localOptionType.ItContractTemplateTypes}}" current-org-id="{{currentOrganizationId}}"></div>
    <div data-local-option-list="" title="Indkøbsformer" dir-id="localPurchaseFormTypeId" state="local-config.contract.edit-contract-types" option-type="{{localOptionType.PurchaseFormTypes}}" current-org-id="{{currentOrganizationId}}"></div>
    <div data-local-option-list="" title="Betalingsmodeller" dir-id="localPaymentModelTypeId" state="local-config.contract.edit-contract-types" option-type="{{localOptionType.PaymentModelTypes}}" current-org-id="{{currentOrganizationId}}"></div>
    <div data-local-option-list="" title="Aftaleelementer" dir-id="localAgreementElementTypeId" state="local-config.contract.edit-contract-types" option-type="{{localOptionType.AgreementElementTypes}}" disable-edit="true" current-org-id="{{currentOrganizationId}}"></div>
    <div data-local-option-list="" title="Option forlæng" dir-id="localOptionExtendTypeId" state="local-config.contract.edit-contract-types" option-type="{{localOptionType.OptionExtendTypes}}" current-org-id="{{currentOrganizationId}}"></div>
    <div data-local-option-list="" title="Betalingsfrekvenser" dir-id="localPaymentFrequencyTypeId" state="local-config.contract.edit-contract-types" option-type="{{localOptionType.PaymentFrequencyTypes}}" current-org-id="{{currentOrganizationId}}"></div>
    <div data-local-option-list="" title="Pris reguleringer" dir-id="localPriceRegulationTypeId" state="local-config.contract.edit-contract-types" option-type="{{localOptionType.PriceRegulationTypes}}" current-org-id="{{currentOrganizationId}}"></div>
    <div data-local-option-list="" title="Genanskaffelsesstrategier" dir-id="localProcurementStrategyTypeId" state="local-config.contract.edit-contract-types" option-type="{{localOptionType.ProcurementStrategyTypes}}" current-org-id="{{currentOrganizationId}}"></div>
    <div data-local-option-list="" title="Opsigelsesfrister" dir-id="localTerminationDeadlineTypId" state="local-config.contract.edit-contract-types" option-type="{{localOptionType.TerminationDeadlineTypes}}" current-org-id="{{currentOrganizationId}}"></div>
    <div data-local-option-list="" title="Kritikalitet" dir-id="localCriticalityTypeId" state="local-config.contract.edit-contract-types" option-type="{{localOptionType.CriticalityTypes}}" current-org-id="{{currentOrganizationId}}"></div>
</form>
