<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">Indstillinger for denne organisation</div>
        <div class="panel-body">
            <div class="form-group">
                <label>Navn</label>
                <input type="text" class="form-control" data-ng-model="currentOrgCtrl.organization.name" data-autosave="{{ currentOrgCtrl.orgAutosaveUrl }}" data-field="name">
            </div>
            <div class="form-group">
                <label>CVR</label>
                <input type="text" class="form-control" data-ng-model="currentOrgCtrl.organization.cvr" data-autosave="{{ currentOrgCtrl.orgAutosaveUrl }}" data-field="cvr" data-ng-pattern="/^[0-9]{8}$|^[a-zA-Z]{2}[0-9]{8}$/">
            </div>
            <div class="form-group">
                <div>
                    <label>
                        Type
                    </label>
                    <div>
                        <input type="radio" checked="checked">
                        {{ currentOrgCtrl.typeName }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
