<form class="form-horizontal">
    
    <!-- show/hide-module -->
    <div class="form-group">
        <label class="col-md-2 control-label">
            Generelt
        </label>
        <div class="col-md-10">
            <div>
                <label class="control-label">
                    <input type="checkbox" data-ng-model="config.showItProjectModule" data-autosave="{{config.autosaveUrl}}" data-field="ShowItProjectModule" tabindex="1" />
                    Medtag dette modul
                </label>
            </div>
            <div>
                <label class="control-label">
                    <input type="checkbox" data-ng-model="config.showItProjectPrefix" data-autosave="{{config.autosaveUrl}}" data-field="ShowItProjectPrefix" tabindex="1" />
                    Brug 'IT' prefix
                </label>
            </div>
        </div>
    </div>

    <div data-local-option-role-list="" title="Roller" data-options-url="/odata/ItProjectRoles"></div>
    <div data-local-option-list="" title="Projekttyper" data-options-url="/odata/ItProjectTypes"></div>
    <div data-local-option-list="" title="Måltyper" data-options-url="/odata/GoalTypes"></div>

    <!--<div data-suggest-new="" data-url="api/itProjectType"></div>
    <div data-suggest-new="" data-url="api/goalType"></div>
    <div data-suggest-new-role="" data-url="api/itProjectRole"></div>-->
</form>
