<form class="form-horizontal">
    <!-- show/hide-module -->
    <div class="form-group">
        <label class="col-xs-2 control-label">
            Generelt
        </label>
        <div class="col-xs-10">
            <div>
                <label class="control-label">
                    <input type="checkbox" data-ng-model="config.showDataProcessing" data-autosave="{{config.autosaveUrl}}" data-field="ShowDataProcessing" data-element-type="DataProcessingCheckbox" tabindex="1" />
                    Medtag dette modul
                </label>
            </div>
        </div>
    </div>

    <div data-local-option-role-list="" title="Roller" dir-id="localDpaRoleId" state="local-config.data-processing.edit-data-processing-registration-roles" option-type="{{localOptionType.DataProcessingRegistrationRoles}}" current-org-id="{{currentOrganizationId}}"></div>

    <div data-local-option-list="" title="Overførselsgrundlag" dir-id="dpaBasisForTransferOption" state="local-config.data-processing.edit-data-processing-registration-types" option-type="{{localOptionType.DataProcessingBasisForTransferOptions}}" current-org-id="{{currentOrganizationId}}"></div>
    <div data-local-option-list="" title="Tilsynsmuligheder" dir-id="dpaOversightOption" state="local-config.data-processing.edit-data-processing-registration-types" option-type="{{localOptionType.DataProcessingOversightOptions}}" current-org-id="{{currentOrganizationId}}"></div>
    <div data-local-option-list="" title="Dataansvarlige" dir-id="dpaDataResponsibleOption" state="local-config.data-processing.edit-data-processing-registration-types" option-type="{{localOptionType.DataProcessingDataResponsibleOptions}}" current-org-id="{{currentOrganizationId}}"></div>
    <div data-local-option-list="" title="Lande" dir-id="dpaCountry" state="local-config.data-processing.edit-data-processing-registration-types" option-type="{{localOptionType.DataProcessingCountryOptions}}" current-org-id="{{currentOrganizationId}}"></div>
</form>
