<div ng-if="ctrl.options.availableLevels === null || ctrl.options.availableLevels >= (node.level)" ui-tree-handle ng-click="toggle(this); ctrl.chooseOrgUnit(node, $event);" class="tree-node tree-node-content"
     ng-class="{'selected': node == chosenNode, 'org-unit-origin-fk-org': node.origin === 1}">
    <a ng-if="(ctrl.options.availableLevels === null || ctrl.options.availableLevels >= (node.level + 1)) && node.nodes && node.nodes.length > 0" class="small" data-nodrag>
        <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed,'glyphicon-chevron-down': !collapsed}">
        </span>
    </a>
    {{::node.name}}
</div>
<ol ng-if="ctrl.options.availableLevels === null || ctrl.options.availableLevels >= (node.level + 1)" ui-tree-nodes="" data-ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li collapsed="true" data-ng-repeat="node in node.nodes" ui-tree-node ng-include="'app/shared/organization-tree/organization-tree-node.view.html'">
    </li>
</ol>
