<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>Type
                <button data-order-by="'itProjectType.name'" data-paging="pagination"></button>
            </th>
            <th>Projekt ID
                <button data-order-by="'itProjectId'" data-paging="pagination"></button>
            </th>
            <th>Overordnet ID
                <button data-order-by="'parent.itProjectId'" data-paging="pagination"></button>
            </th>
            <th>Projektnavn
                <button data-order-by="'name'" data-paging="pagination"></button></th>
            <th>P
                <button data-order-by="'accessModifier'" data-paging="pagination"></button></th>
            <th>A
                <button data-order-by="'isArchived'" data-paging="pagination"></button></th>
            <th>Ansvarlig
                <button data-order-by="'responsibleOrgUnit.name'" data-paging="pagination"></button></th>
            <th>Oprettet af
                <button data-order-by="'objectOwner.name'" data-paging="pagination"></button></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="p in projects | filter : { show: true }">
            
            <!-- type -->
            <td>
                {{ p.itProjectTypeName }}
            </td>
            
            <!-- human readable id -->
            <td>
                {{ p.itProjectId }}
            </td>
            
            <!-- parent id -->
            <td>
                {{ p.parentItProjectId }}
            </td>
            
            <!-- name + link -->
            <td>
                <a data-ui-sref="it-project.edit.status-project({id: p.id})">
                    {{ p.name ? p.name : 'intet navn' }}
                </a>
            </td>
            
            <!-- access modifier -->
            <td>
                {{ p.accessModifier == 1 ? 'P' : '' }}
            </td>
            
            <!-- archived -->
            <td>
                {{ p.isArchived == 1 ? 'A' : '' }}
            </td>
            
            <!-- responsible org unit -->
            <td>
                {{ p.responsibleOrgUnitName }}
            </td>
            
            <!-- object owner -->
            <td>
                {{ p.objectOwnerName }}
            </td>
            
            <!-- buttons -->
            <td class="text-right">
                <button class="btn btn-danger btn-xs" data-tooltip="Slet projektet" data-ng-if="p.hasWriteAccess" data-confirmed-click="p.delete()"
                              data-confirm-click="Er du sikker på at du vil slette projektet? Dette kan ikke fortrydes!">
                          <i class="glyphicon glyphicon-trash"></i>
                      </button>
                <button class="btn btn-info btn-xs" data-ng-click="p.clone()" data-tooltip="Klon projektet">
                    Klon
                </button>
            </td>
        </tr>
    </tbody>    
    <tfoot>
        <tr>
            <td colspan="9" class="text-center">
                <span data-pagination-buttons="pagination"></span>
            </td>
        </tr>
    </tfoot>
</table>
