<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Type</th>
            <th>ProjektId</th>
            <th>GlobaltId</th>
            <th>Projektnavn</th>
            <th>Kategori</th>
            <th>P</th>
            <th>Ansvarlig</th>
            <th>Oprettet af</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="p in programs">
            <td><input type="checkbox" data-ng-click="clone(p)" data-ng-checked="p.parentItProjectId != null" /></td>
            <td>{{ p.itProjectTypeName }}</td>
            <td>{{ p.itProjectId }}</td>
            <td>{{ p.parentItProject ? p.parentItProject.itProjectId : '' }}</td>
            <td><a data-ui-sref="it-project.edit({id: p.id})">{{ p.name ? p.name : 'intet navn' }}</a></td>
            <td>{{ p.itProjectCategoryName }}</td>
            <td>{{ p.accessModifier == 1 ? 'P' : '' }}</td>
            <td>{{ p.responsibleOrgUnit.name }}</td>
            <td>{{ p.objectOwnerName }}</td>
        </tr>
    </tbody>
</table>

<!--Create New IT Project-->
<button class="btn btn-default" data-ng-click="create()">Opret IT Projekt</button>