<!-- basic data -->
<form class="form-horizontal fix-label-padding">
    <div class="row">
        <div class="col-md-6">

            <!-- Name -->
            <div class="form-group">
                <label for="project-name" class="control-label col-md-2 small">Projekt</label>
                <div class="col-md-10">
                    <input type="text" id="project-name" data-ng-model="project.name" class="form-control input-sm" 
                           data-field="name"
                           data-autosave="{{autosaveUrl}}" data-ng-disabled="!hasWriteAccess"/>
                </div>
            </div>

            <div class="form-group">
                <!-- ID -->
                <label for="project-projectId" class="control-label col-md-2 small">Projekt ID</label>
                <div class="col-md-4">
                    <input type="text" id="project-projectId" data-ng-model="project.itProjectId" class="form-control input-sm" 
                        data-field="itProjectId"
                        data-autosave="{{autosaveUrl}}" data-ng-disabled="!hasWriteAccess"/>
                </div>
                
                <!-- access modifier -->
                <label for="project-access" class="control-label col-md-2 small">Public</label>
                <div class="col-md-4">
                    <input id="project-access" data-ng-model="project.accessModifier" class="form-control input-sm" data-select-access-modifier=""
                        data-field="accessModifier"
                        data-autosave="{{autosaveUrl}}" data-ng-disabled="!hasWriteAccess"/>
                </div>
            </div>
            
            <div class="form-group">
                <!-- type -->
                <label for="project-type" class="control-label col-md-2 small">Type</label>
                <div class="col-md-4">
                    <select id="project-type" class="form-control input-sm"
                            data-ng-options="o.id as o.name for o in itProjectTypes"
                            data-ng-model="project.itProjectTypeId"
                            data-field="itProjectTypeId"
                            data-autosave="{{autosaveUrl}}" data-ng-disabled="!hasWriteAccess">
                    </select>
                </div>

                <!-- category -->
                <label for="project-category" class="control-label col-md-2 small">Kategori</label>
                <div class="col-md-4">
                    <select id="project-category" class="form-control input-sm"
                            data-ng-options="o.id as o.name for o in itProjectCategories"
                            data-ng-model="project.itProjectCategoryId"
                            data-field="itProjectCategoryId"
                            data-autosave="{{autosaveUrl}}" data-ng-disabled="!hasWriteAccess">
                    </select>
                </div>
            </div>
            
            <!-- TODO: ARE THESE OBSOLETE??
            <div class="form-group">
                <!-- esdh ref 
                <label for="project-esdh" class="col-md-2 control-label small">ESDH ref.</label>
                <div class="col-md-4">
                    <input id="project-esdh" class="form-control input-sm" type="text" data-ng-model="project.esdhRef" />
                    <!-- TODO
                        data-field="esdhRef" 
                        data-autosave="api/itproject/{{project.id}}" /> 
                       

                </div>

                <!-- cmdb ref 
                <label for="project-cmdb" class="col-md-2 control-label small">CMDB ref.</label>
                <div class="col-md-4">
                    <input id="project-cmdb" class="form-control input-sm" type="text" data-ng-model="project.cmdbRef" />
                    <!-- TODO
                        data-field="cmdbRef" 
                        data-autosave="api/itproject/{{project.id}}" /> 
                        
                </div>
            </div>

            <!-- link ref 
            <div class="form-group">
                <label for="project-url" class="col-md-2 control-label small">Mappe/URL ref.</label>
                <div class="col-md-10">
                    <input id="project-url" class="form-control input-sm" type="text" data-ng-model="project.directoryOrUrlRef" />
                    <!-- TODO
                        data-field="directoryOrUrlRef" 
                        data-autosave="api/itproject/{{project.id}}" />
                        
                </div>
            </div>-->
            
            <!-- associated program -->
            <div class="form-group" data-ng-if="project.itProjectTypeId != itProgramType.id">
                <label class="col-md-2 control-label small" for="associated-program">
                    Tilknyttet program
                </label>
                <div class="col-md-10">
                    <!-- TODO -->
                    <input type="hidden"  id="associated-program" class="form-control input-sm"
                           data-ng-model="project.associatedProgram" data-ui-select2="programSelectOptions"
                           data-ng-change="updateAssociatedProgram()" data-ng-disabled="!hasWriteAccess"/>
                           
                </div>
            </div>
            
            <!-- associated projects -->
            <!--TODO: only show this if project _is_ of type 'program' -->
            <div class="form-group"  data-ng-if="project.itProjectTypeId == itProgramType.id">
                <label class="col-md-2 control-label small" for="associated-projects">
                    Tilknyttede projekter
                </label>
                <div id="associated-projects" class="col-md-10">
                    <!-- TODO: list projects as links -->
                </div>
            </div>
            
            <!-- archived -->
            <div class="form-group">
                <div class="col-md-offset-2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-ng-model="project.isArchived" data-autosave="{{autosaveUrl}}" data-field="isArchived" /> Arkiveret
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <!-- background -->
            <div class="form-group">
                <label for="project-background" class="col-md-2 control-label small">Formål/baggrund</label>
                <div class="col-md-10">

                    <textarea id="project-background" data-ng-model="project.background"
                        class="form-control input-sm" rows="7"
                        data-field="background" 
                        data-autosave="{{autosaveUrl}}"
                        data-ng-disabled="!hasWriteAccess">
                                          
                    </textarea>
                </div>
            </div>

            <!-- notes -->
            <div class="form-group">
                <label for="project-note" class="col-md-2 control-label small">Noter</label>
                <div class="col-md-10">

                    <textarea id="project-note" data-ng-model="project.note"
                        class="form-control input-sm" rows="7" 
                        data-field="note" 
                              data-autosave="{{autosaveUrl}}"
                         data-ng-disabled="!hasWriteAccess">
                                          
                    </textarea>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- sub tab buttons -->
<ul class="nav nav-tabs">
    <li data-ui-sref-active="active">
        <a data-ui-sref="it-project.edit.status-project">Status: Projekt</a>
    </li>
    <li data-ui-sref-active="active">
        <a data-ui-sref="it-project.edit.status-goal">Status: Mål</a>
    </li>
    <li data-ui-sref-active="active">
        <a data-ui-sref="it-project.edit.description">Projektbeskrivelse</a>
    </li>
    <li data-ui-sref-active="active">
        <a data-ui-sref="it-project.edit.strategy">Strategi</a>
    </li>
    <li data-ui-sref-active="active">
        <a data-ui-sref="it-project.edit.roles">Projektroller</a>
    </li>
    <li data-ui-sref-active="active">
        <a data-ui-sref="it-project.edit.economy">Økonomi</a>
    </li>
    <li data-ui-sref-active="active">
        <a data-ui-sref="it-project.edit.risk">Risiko</a>
    </li>
    <li data-ui-sref-active="active">
        <a data-ui-sref="it-project.edit.org">Organisation</a>
    </li>
    <li data-ui-sref-active="active"><a data-ui-sref="it-project.edit.kle">KLE</a></li>
    <li data-ui-sref-active="active"><a data-ui-sref="it-project.edit.itsys">IT Systemer</a></li>
</ul>

<!-- sub tabs view -->
<div data-ui-view="">
</div>
