<!-- basic data -->
<form class="form-horizontal fix-label-padding">
    <div class="row">
        <div class="col-md-6">

            <!-- Name -->
            <div class="form-group">
                <label for="project-name" class="control-label col-md-2 small">Projekt</label>
                <div class="col-md-10">
                    <input type="text" id="project-name" data-ng-model="project.name" class="form-control input-sm" />
                    <!-- TODO
                        data-field="name"
                        data-autosave="api/itproject/{{project.id}}">
                        -->
                </div>
            </div>

            <div class="form-group">
                <!-- ID -->
                <label for="project-id" class="control-label col-md-2 small">Projekt ID</label>
                <div class="col-md-4">
                    <input type="text" id="project-id" data-ng-model="project.projectId" class="form-control input-sm" />
                </div>

                <!-- category -->
                <label for="project-category" class="control-label col-md-2 small">Kategori</label>
                <div class="col-md-4">
                    <select id="project-category" class="form-control input-sm"
                        data-ng-options="o.id as o.name for o in categories"
                        data-ng-model="project.categoryId">
                        <!-- TODO
                            data-field="categoryId"
                            data-autosave="api/itproject/{{project.id}}">
                            -->
                    </select>
                </div>
            </div>

            <div class="form-group">
                <!-- esdh ref -->
                <label for="project-esdh" class="col-md-2 control-label small">ESDH ref.</label>
                <div class="col-md-4">
                    <input id="project-esdh" class="form-control input-sm" type="text" data-ng-model="project.esdhRef" />
                    <!-- TODO
                            data-field="esdhRef" 
                            data-autosave="api/itproject/{{project.id}}" /> 
                            -->

                </div>

                <!-- cmdb ref -->
                <label for="project-cmdb" class="col-md-2 control-label small">CMDB ref.</label>
                <div class="col-md-4">
                    <input id="project-cmdb" class="form-control input-sm" type="text" data-ng-model="project.cmdbRef" />
                    <!-- TODO
                            data-field="cmdbRef" 
                            data-autosave="api/itproject/{{project.id}}" /> 
                            -->
                </div>
            </div>

            <!-- link ref -->
            <div class="form-group">
                <label for="project-url" class="col-md-2 control-label small">Mappe/URL ref.</label>
                <div class="col-md-10">
                    <input id="project-url" class="form-control input-sm" type="text" data-ng-model="project.directoryOrUrlRef" />
                    <!-- TODO
                            data-field="directoryOrUrlRef" 
                            data-autosave="api/itproject/{{project.id}}" />
                            -->
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <!-- motivation/background -->
            <div class="form-group">
                <label for="project-background" class="col-md-2 control-label small">Formål/baggrund</label>
                <div class="col-md-10">

                    <textarea id="project-background" data-ng-model="project.background"
                        class="form-control input-sm" rows="7">
                                          
                    </textarea>
                    <!-- TODO
                        data-field="background" 
                        data-autosave="api/itproject/{{project.id}}" />
                        -->
                </div>
            </div>

            <!-- notes -->
            <div class="form-group">
                <label for="project-notes" class="col-md-2 control-label small">Noter</label>
                <div class="col-md-10">

                    <textarea id="project-notes" data-ng-model="project.notes"
                        class="form-control input-sm" rows="7">
                                          
                    </textarea>
                    <!-- TODO
                        data-field="background" 
                        data-autosave="api/itproject/{{project.id}}" />
                        -->
                </div>
            </div>
        </div>
    </div>
</form>

<!-- sub tab buttons -->
<ul class="nav nav-tabs">
    <!-- 
    <li data-ui-sref-active="active"><a data-ui-sref=""></a></li>
    -->
</ul>

<!-- sub tabs view -->
<div data-ui-view="">
</div>
