<!-- basic data -->
<form class="form-horizontal fix-label-padding">
    <div class="row">
        <div class="col-md-6">

            <!-- Name -->
            <div class="form-group">
                <label for="project-name" class="control-label col-md-2 small">Projekt</label>
                <div class="col-md-10">
                    <input type="text" id="project-name" data-ng-model="project.name" class="form-control input-sm" 
                           data-field="name"
                           data-autosave="{{autosaveUrl}}" data-ng-disabled="!hasWriteAccess" autofocus>
                </div>
            </div>

            <div class="form-group">
                <!-- ID -->
                <label for="project-projectId" class="control-label col-md-2 small">Projekt ID</label>
                <div class="col-md-4">
                    <input type="text" id="project-projectId" data-ng-model="project.itProjectId" class="form-control input-sm" 
                        data-field="itProjectId"
                        data-autosave="{{autosaveUrl}}" data-ng-disabled="!hasWriteAccess">
                </div>
                
                <!-- access modifier -->
                <label for="project-access" class="control-label col-md-2 small">Public</label>
                <div class="col-md-4">
                    <input id="project-access" data-ng-model="project.accessModifier" class="form-control input-sm" data-select-access-modifier=""
                        data-field="accessModifier"
                        data-autosave="{{autosaveUrl}}" data-ng-disabled="!hasWriteAccess">
                </div>
            </div>
            
            <div class="form-group">
                <!-- type -->
                <label for="project-type" class="control-label col-md-2 small">Type</label>
                <div class="col-md-4">
                    <select id="project-type" class="form-control input-sm"
                            data-ng-options="o.id as o.name for o in projectTypes"
                            data-ng-model="project.itProjectTypeId"
                            data-field="itProjectTypeId"
                            data-autosave="{{autosaveUrl}}" data-ng-disabled="!hasWriteAccess">
                    </select>
                </div>
            </div>
            
            <div class="form-group">
                <!-- esdh ref -->
                <label for="project-esdh" class="col-md-2 control-label small">ESDH ref.</label>
                <div class="col-md-4">
                    <input id="project-esdh" class="form-control input-sm" type="text" data-ng-model="project.esdh"
                        data-ng-disabled="!hasWriteAccess"   
                        data-field="esdh" 
                        data-autosave="api/itproject/{{project.id}}"> 
                       

                </div>

                <!-- cmdb ref -->
                <label for="project-cmdb" class="col-md-2 control-label small">CMDB ref.</label>
                <div class="col-md-4">
                    <input id="project-cmdb" class="form-control input-sm" type="text" data-ng-model="project.cmdb"
                        data-ng-disabled="!hasWriteAccess"   
                        data-field="cmdb" 
                        data-autosave="api/itproject/{{project.id}}"> 
                        
                </div>
            </div>

            <!-- link ref -->
            <div class="form-group">
                <label for="project-url" class="col-md-2 control-label small">Mappe link</label>
                <div class="col-md-10">
                    <input id="project-url" class="form-control input-sm" type="text" data-ng-model="project.folder" 
                        data-ng-disabled="!hasWriteAccess"   
                        data-field="folder" 
                        data-autosave="api/itproject/{{project.id}}">
                        
                </div>
            </div>
            
            <!-- Parent -->
            <div class="form-group">
                <label for="project-parent" class="col-md-2 control-label small">Overordnet projekt</label>
                <div class="col-md-10">
                    <input type="hidden" data-ui-select2="parentSelectOptions" id="project-parent" data-ng-model="project.parent" class="form-control input-sm" data-autosave="{{ autosaveUrl }}" data-field="parentId" data-ng-disabled="!hasWriteAccess">
                </div>
            </div>

            <!-- archived -->
            <div class="form-group">
                <div class="col-md-offset-2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-ng-model="project.isArchived" data-autosave="{{autosaveUrl}}" data-field="isArchived"> Arkiveret
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <!-- background -->
            <div class="form-group">
                <label for="project-background" class="col-md-2 control-label small">Formål/baggrund</label>
                <div class="col-md-10">

                    <textarea id="project-background" data-ng-model="project.background"
                        class="form-control input-sm" rows="7"
                        data-field="background" 
                        data-autosave="{{autosaveUrl}}"
                        data-ng-disabled="!hasWriteAccess">
                                          
                    </textarea>
                </div>
            </div>

            <!-- notes -->
            <div class="form-group">
                <label for="project-note" class="col-md-2 control-label small">Noter</label>
                <div class="col-md-10">

                    <textarea id="project-note" data-ng-model="project.note"
                        class="form-control input-sm" rows="7" 
                        data-field="note" 
                              data-autosave="{{autosaveUrl}}"
                         data-ng-disabled="!hasWriteAccess">
                                          
                    </textarea>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- sub tab buttons -->
<ul class="nav nav-tabs">
    <li data-ui-sref-active="active">
        <a data-ui-sref="it-project.edit.status-project">Status: Projekt</a>
    </li>
    <li data-ui-sref-active="active" data-ng-show="project.isStatusGoalVisible">
        <a data-ui-sref="it-project.edit.status-goal">Status: Mål</a>
    </li>
    <li data-ui-sref-active="active">
        <a data-ui-sref="it-project.edit.description">Projektbeskrivelse</a>
    </li>
    <li data-ui-sref-active="active">
        <a data-ui-sref="it-project.edit.strategy">Strategi</a>
    </li>
    <li data-ui-sref-active="active">
        <a data-ui-sref="it-project.edit.roles">Projektroller</a>
    </li>
    <li data-ui-sref-active="active">
        <a data-ui-sref="it-project.edit.hierarchy">Hierarki</a>
    </li>
    <li data-ui-sref-active="active" data-ng-show="project.isEconomyVisible">
        <a data-ui-sref="it-project.edit.economy">Økonomi</a>
    </li>
    <li data-ui-sref-active="active" data-ng-show="project.isStakeholderVisible">
        <a data-ui-sref="it-project.edit.stakeholders">Interessenter</a>
    </li>
    <li data-ui-sref-active="active">
        <a data-ui-sref="it-project.edit.risk">Risiko</a>
    </li>
    <li data-ui-sref-active="active" data-ng-show="project.isCommunicationVisible">
        <a data-ui-sref="it-project.edit.communication">Kommunikation</a>
    </li>
    <li data-ui-sref-active="active" data-ng-show="project.isHandoverVisible">
        <a data-ui-sref="it-project.edit.handover">Overlevering</a>
    </li>
    <li data-ui-sref-active="active">
        <a data-ui-sref="it-project.edit.org">Organisation</a>
    </li>
    <li data-ui-sref-active="active">
        <a data-ui-sref="it-project.edit.kle">KLE</a>
    </li>
    <li data-ui-sref-active="active">
        <a data-ui-sref="it-project.edit.itsys">IT Systemer</a>
    </li>
    <li class="pull-right" data-ng-dropdown-multiselect="" data-options="dropdownData" data-selected-model="selectedData" data-extra-settings="selectSettings"></li>
</ul>

<!-- sub tabs view -->
<div data-ui-view="">
</div>
