<!--IT Projekt Oversigt-->
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <span data-ng-model="chosenOrgUnitId" data-select-org-unit="" data-ng-change="filterProjects()" 
                    data-extra-options="[{id: 0, text: 'Alle projekter'}, {id: -1, text: 'Tværgående projekter'}]">
                </span>
            </th>
            <th><!-- public --></th>
            <th>
                <select data-ng-model="chosenRoleId" data-ng-init="chosenRoleId = 2" data-ng-options="r.id as r.name for r in projectRoles">
                    <option value="">-- Vælg projektrolle --</option>
                </select>
            </th>
            <th>Type</th>
            <th><!-- tværgående --></th>
            <th><!-- strategi --></th>
            <th>
                <select data-ng-model="chosenId" data-ng-init="chosenId = 0">
                    <option value="0">Projekt id</option>
                    <option value="1">Globalt id</option>
                </select>
            </th>
            <th>Projektnavn</th>
            <th>Fase</th>
            <th>Status projekt</th>
            <th>Status mål</th>
            <th>Prioritet</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="p in projects | filter:{isArchived: false}">
            <td>{{ p.responsibleOrgUnit.name }}</td>
            <td>{{ p.accessModifier == 1 ? 'P' : '' }}</td>
            <td>{{ p.roles | filter:{roleId:chosenRoleId} | joinBy:', ':'user.name' }}</td>
            <td>{{ p.itProjectTypeName }}</td>
            <td>{{ p.isTransversal ? '(T)' : '' }}</td>
            <td>{{ p.isStrategy ? '(S)' : '' }}</td>
            <td>{{ chosenId == 0 ? p.itProjectId : p.parent.itProjectId }}</td>
            <td><a data-ui-sref="it-project.edit.status-project({id: p.id})">{{ p.name ? p.name : 'intet navn' }}</a></td>
            <td>{{ p.currentPhase.name }}</td>
            <td><span data-select-status2="" data-ng-model="p.statusProject" data-can-write="false"></span></td>
            <td><span data-select-status2="" data-ng-model="p.goalStatus.status" data-can-write="false"></span></td>
            <td>
                <select data-ng-model="p.priority" data-autosave="api/itproject/{{p.id}}" data-field="priority" data-ng-disabled="p.isPriorityLocked">
                    <option value="0">-- Vælg prioritet --</option>
                    <option value="3">Høj</option>
                    <option value="2">Mellem</option>
                    <option value="1">Lav</option>
                </select>
            </td>
        </tr>
    </tbody>
</table>


<!-- archived -->
<accordion>
    <accordion-group is-open="status.open">
        <accordion-heading>
            Vis arkiverede IT Projekter <i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Ansvarlig
                    </th>
                    <th><!-- public --></th>
                    <th>
                        <select data-ng-model="chosenRoleId" data-ng-init="chosenRoleId = 2" data-ng-options="r.id as r.name for r in projectRoles">
                            <option value="">-- Vælg projektrolle --</option>
                        </select>
                    </th>
                    <th>Type</th>
                    <th><!-- tværgående --></th>
                    <th><!-- strategi --></th>
                    <th>
                        <select data-ng-model="chosenId" data-ng-init="chosenId = 0">
                            <option value="0">Projekt id</option>
                            <option value="1">Globalt id</option>
                        </select>
                    </th>
                    <th>Projektnavn</th>
                    <th>Fase</th>
                    <th>Status projekt</th>
                    <th>Status mål</th>
                    <th>Prioritet</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="p in allProjects | filter:{isArchived: true}">
                    <td>{{ p.responsibleOrgUnit.name }}</td>
                    <td>{{ p.accessModifier == 1 ? 'P' : '' }}</td>
                    <td>{{ p.roles | filter:{roleId:chosenRoleId} | joinBy:', ':'user.name' }}</td>
                    <td>{{ p.itProjectTypeName }}</td>
                    <td>{{ p.isTransversal ? '(T)' : '' }}</td>
                    <td>{{ p.isStrategy ? '(S)' : '' }}</td>
                    <td>{{ chosenId == 0 ? p.itProjectId : p.parent.itProjectId }}</td>
                    <td><a data-ui-sref="it-project.edit.status-project({id: p.id})">{{ p.name ? p.name : 'intet navn' }}</a></td>
                    <td>{{ p.currentPhase.name }}</td>
                    <td><span data-select-status2="" data-ng-model="p.statusProject" data-can-write="false"></span></td>
                    <td><span data-select-status2="" data-ng-model="p.goalStatus.status" data-can-write="false"></span></td>
                    <td>
                        <select data-ng-model="p.priority" data-ng-disabled="true">
                            <option value="0">-- Vælg prioritet --</option>
                            <option value="3">Høj</option>
                            <option value="2">Mellem</option>
                            <option value="1">Lav</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>

    </accordion-group>
</accordion>