Projektet knytter an til:

<label>
    <input type="checkbox"  />
    Kommuens IT/digitaliseringsstrategi
</label>

Fælleskommunel digitaliseringsstrategi
<select data-ng-model="jointMunicipalProjectId" data-ng-options="project.id as project.name for project in jointMunicipalProjects">
    <option value="">-- Fælleskommunel projekt --</option>
</select>

Fællesoffentlig digitaliseringsstrategi
<select data-ng-model="commonPublicProjectId" data-ng-options="project.id as project.name for project in commonPublicProjects">
    <option value="">-- Fællesoffentlig projekt --</option>
</select>