<div class="panel-default">
    <div class="panel-heading">
        <div class="panel-title">Projektet knytter an til</div>
    </div>
    <div class="panel-body">
        <form role="form">
            <div class="form-group">
                <label for="jointDrop" class="control-label">Fælleskommunel digitaliseringsstrategi</label>
                <select class="form-control input-sm" id="jointDrop" 
                        data-ng-model="jointMunicipalProjectId" 
                        data-ng-options="project.id as project.name for project in jointMunicipalProjects" 
                        data-autosave="{{ autosaveUrl }}" 
                        data-field="jointMunicipalProjectId" 
                        data-ng-disabled="!hasWriteAccess">
                    <option value="">-- Fælleskommunel projekt --</option>
                </select>
            </div>
            <div class="form-group">
                <label for="commonDrop" class="control-label">Fællesoffentlig digitaliseringsstrategi</label>
                <select class="form-control input-sm" id="commonDrop" 
                        data-ng-model="commonPublicProjectId" 
                        data-ng-options="project.id as project.name for project in commonPublicProjects" 
                        data-autosave="{{ autosaveUrl }}" 
                        data-field="commonPublicProjectId" 
                        data-ng-disabled="!hasWriteAccess">
                    <option value="">-- Fællesoffentlig projekt --</option>
                </select>
            </div>
        </form>
    </div>
</div>
