<div class="panel panel-default">
    <div class="panel-heading">
        <i class="glyphicon glyphicon-tasks"></i>
        Tilknyttede opgaver
                        <a class="pull-right" data-ng-show="hasWriteAccess" data-ng-click="changeTaskView()">
                            <span data-ng-if="!showAllTasks">Vis alle</span>
                            <span data-ng-if="showAllTasks">Vis valgte</span>
                        </a>
    </div>
    <div class="panel-body">
        <div data-kle-filter="selectedTaskGroup"></div>
    </div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Valgt</th>
                <th class="col-md-10">Emne</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="task in tasklist">
                <!-- selected -->
                <td>
                    <input type="checkbox" id="{{task.taskRef.id}}" data-ng-checked="task.isSelected" data-ng-click="save(task)" data-ng-disabled="!hasWriteAccess" />
                </td>
                <td>
                    <label for="{{task.taskRef.id}}">{{task.taskRef.taskKey}} {{task.taskRef.description}}</label>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2" class="text-center">
                    <div class="pull-left">
                        <button class="btn btn-primary btn-sm" data-ng-if="lessTasks" data-ng-click="loadLessTasks()">
                            <i class="glyphicon glyphicon-chevron-left small"></i>Forrige
                        </button>
                    </div>
                    <span>
                        <button class="btn btn-success btn-sm" data-ng-click="selectAllTasks()" data-ng-if="hasWriteAccess">
                            Vælg alle
                        </button>
                        <button class="btn btn-danger btn-sm" data-confirmed-click="removeAllTasks()" data-confirm-click="Er du sikker?" data-ng-if="hasWriteAccess">
                            Fjern alle
                        </button>
                    </span>
                    <div class="pull-right">
                        <button class="btn btn-primary btn-sm" data-ng-if="moreTasks" data-ng-click="loadMoreTasks()">
                            Næste <i class="glyphicon glyphicon-chevron-right small"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
