<div>
    <form class="form-horizontal fix-label-padding">
        <div class="row">
            <div class="col-md-5">
                <!-- Status traffic light -->
                <div class="form-group">
                    <label class="col-md-5 control-label small" for="statusProject">Status projekt (økonomi, tid og kvalitet):</label>
                    <div class="col-md-7">
                        <span id="statusProject" data-select-status2="" data-ng-model="project.statusProject" data-can-write="hasWriteAccess"
                              data-field="statusProject"
                              data-autosave="{{project.updateUrl}}">
                        </span>
                    </div>
                </div>

                <!-- Date for status update -->
                <div class="form-group">
                    <label class="col-md-5 control-label small" for="statusDate">Dato for statusopdatering:</label>
                    <div class="col-md-4">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" id="statusDate"
                                   data-datepicker-popup="dd-MM-yyyy" 
                                   data-is-open="opened.psd" 
                                   data-date-to-string 
                                   data-is-disabled="!hasWriteAccess"
                                   data-ng-model="project.statusDate"
                                   data-autosave="{{project.updateUrl}}"
                                   data-field="statusDate">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" data-ng-click="open($event, 'psd')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>

               
            </div>

            <!-- Notes to status of project -->
            <div class="col-md-7">
                <div class="form-group">
                    <label class="col-md-2 control-label small" for="note">Bemærkning til samlet status på projekt:</label>
                    <div class="col-md-10">
                        <textarea id="note" class="form-control input-sm" rows="4" data-ng-model="project.statusNote"
                                  data-field="statusNote"
                                  data-autosave="{{project.updateUrl}}" data-ng-disabled="!hasWriteAccess"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading small">
                Milepæle og opgaver
            </div>
            <table class="table table-condensed table-striped">
                <thead>
                    <tr class="small">
                        <th>
                            Type
                        </th>
                        <th>
                            Navn
                            <order-by data-order-by="'name'" data-paging="pagination"></order-by>
                        </th>
                        <th>Note</th>
                        <th>
                            ID
                            <order-by data-order-by="'humanReadableId'" data-paging="pagination"></order-by>
                        </th>
                        <th>
                            Projektfase
                            <order-by data-order-by="'associatedPhaseId'" data-paging="pagination"></order-by>
                        </th>
                        <th>
                            Start
                        </th>
                        <th>
                            Slut
                        </th>
                        <th>Status</th>
                        <th>
                            Ansvarlig: Navn
                            <order-by data-order-by="'associatedUser.name'" data-paging="pagination"></order-by>
                        </th>
                        <th>Ansvarlig: Projektrolle</th>
                        <th class="text-right">Rediger/slet</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="activity in milestonesActivities | filter:{show:true}" class="small">
                        <!-- Type -->
                        <td>
                            <span data-ng-show="activity.isTask">Opgave</span>
                            <span data-ng-show="activity.isMilestone">Milepæl</span>
                        </td>
                        <!-- Navn -->
                        <td>
                            <a data-ng-click="activity.edit()">{{ activity.name }}</a>
                        </td>
                        <!-- Note -->
                        <td>
                            <a data-ng-click="activity.edit()">
                                <span class="glyphicon glyphicon-comment" data-ng-class="{'faded': !(activity.note || activity.description) }"></span>
                            </a>
                        </td>
                        <!-- ID -->
                        <td>{{ activity.humanReadableId }}</td>
                        <!-- Projektfase -->
                        <td>{{ activity.phase.name }}</td>
                        <!-- Start -->
                        <td>
                            <span data-datereader="" data-ng-show="activity.isTask" data-ng-model="activity.startDate"></span>
                            <span data-ng-show="activity.isMilestone">-</span>
                        </td>
                        <!-- Slut -->
                        <td>
                            <span data-datereader="" data-ng-show="activity.isTask" data-ng-model="activity.endDate"></span>
                            <span data-datereader="" data-ng-show="activity.isMilestone" data-ng-model="activity.date"></span>
                        </td>
                        <!-- Status -->
                        <td>
                            <span data-ng-show="activity.isTask">
                                {{ activity.statusProcentage }}%
                            </span>
                            <span data-ng-show="activity.isMilestone">
                                <span data-select-status2="" data-ng-model="activity.status"></span>
                            </span>
                        </td>
                        <!-- Ansvarlig: Navn -->
                        <td>{{ activity.associatedUser.name }}</td>
                        <!-- Ansvarlig: Projektrolle -->
                        <td>{{ activity.associatedUser.roleNames | joinBy:', ' }}</td>
                        <!-- Control -->
                        <td class="text-right">
                            <a class="btn btn-link btn-xs" data-ng-click="activity.edit()" data-ng-hide="hasWriteAccess">
                                <i class="glyphicon glyphicon-eye-open"></i>
                            </a>
                            <a class="btn btn-link btn-xs" data-ng-click="activity.edit()" data-ng-show="hasWriteAccess">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a class="btn btn-link btn-xs"
                               data-confirmed-click="activity.delete()"
                               data-confirm-click="Er du sikker på at du vil slette?" data-ng-show="hasWriteAccess">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="11" class="text-center">
                            <span data-pagination-buttons="pagination" data-pagination-total-count="totalCount"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="11" class="text-right">
                            <button class="btn btn-success btn-sm" data-ui-sref="it-project.edit.status-project.modal({type: 'assignment', activityId: ''})" data-ng-hide="!hasWriteAccess">Tilføj opgave</button>
                            <button class="btn btn-primary btn-sm" data-ui-sref="it-project.edit.status-project.modal({type: 'milestone', activityId: ''})" data-ng-hide="!hasWriteAccess">Tilføj milepæl</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </form>
</div>
