Beskriv hvordan/hvad der gælder ifm. overlevering af dette projekt
<textarea data-ng-model="handover.description" data-autosave="{{autosaveUrl}}" data-field="description"></textarea>

Overleveringsmøde afholdt den
<input type="date" data-ng-model="handover.meetingDate" data-autosave="{{autosaveUrl}}" data-field="meetingDate" />

Deltagere
<input type="text"/>

Resume af hvad der er aftalt ifm. overleveringsmødet
<textarea data-ng-model="handover.summary" data-autosave="{{autosaveUrl}}" data-field="summary"></textarea>