<table>
    <thead>
        <tr>
            <th>
                Interessent
            </th>
            <th>
                Rolle
            </th>
            <th>
                Ulemper for interessent
            </th>
            <th>
                Fordele/succeskriterier for interessent
            </th>
            <th>Betydning</th>
            <th>Hvordan (håndteres, inddrages, belønnes osv) interessenten mhp. at få succes?</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="stakeholder in s"></tr>
    </tbody>

</table>
