@using UI.MVC4.Helpers
<nav>
    <ul>
        <li>@Html.TabLink("Administration", "Index", "GlobalAdmin")</li>
        <li>@Html.TabLink("Opret kommune", "AddMunicipality", "GlobalAdmin")</li>
        <li>@Html.TabLink("Opret lokal admin", "AddLocalAdmin", "GlobalAdmin")</li>
        <li>@Html.TabLink("Opret global admin", "AddGlobalAdmin", "GlobalAdmin")</li>
    </ul>
</nav>
