<div data-ng-controller="globalConfig.ContractCtrl">
    <div class="form-horizontal">
        <div class="well">
            <h4>Reference</h4>

            <div class="form-group" data-ng-repeat="item in refs">
                <label class="col-sm-2 control-label">{{ item.name }}</label>
                <div class="col-sm-5">
                    <a href="#" data-editable-text="item.Name" data-onbeforesave="patchRef($data, $index)">
                        {{ item.name || "Ikke sat" }}
                    </a>
                    <p class="help-block">{{ item.Note }}</p>
                </div>
            </div>
        </div>
        
        <div class="well">
            <h4>Kontrakttyper</h4>
       
            <div class="form-group" data-ng-repeat="item in ContractTypes">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <a href="#" data-editable-checkbox="item.isActive" data-e-title="Medtag {{item.name}}?" data-onbeforesave="patchContractType($data, $index)">
                            {{ item.isActive && "Medtager " + item.name || "Medtager ikke " + item.name }}
                        </a>
                    </div>
                </div>
            </div>
            
            <hr>
            
            <h5>Kontrakttype forslag</h5>
            
            <div class="form-group" data-ng-repeat="item in ContractTypeSuggestions">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <a href="#" data-editable-checkbox="!item.isSuggestion" data-e-title="Medtag {{item.name}}?" data-onbeforesave="patchItContractTypeSuggestion(!$data, $index)">
                            {{ item.isSuggestion && "Medtager " + item.name || "Medtager ikke " + item.name }}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="well">
            <h4>Kontraktskabaloner</h4>
       
            <div class="form-group" data-ng-repeat="item in ContractTemplates">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <a href="#" data-editable-checkbox="item.isActive" data-e-title="Medtag {{item.name}}?" data-onbeforesave="patchContractTemplate($data, $index)">
                            {{ item.isActive && "Medtager " + item.name || "Medtager ikke " + item.name }}
                        </a>
                    </div>
                </div>
            </div>
            
            <hr>
            
            <h5>Kontraktskabalon forslag</h5>
            
            <div class="form-group" data-ng-repeat="item in ContractTemplateSuggestions">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <a href="#" data-editable-checkbox="!item.isSuggestion" data-e-title="Medtag {{item.name}}?" data-onbeforesave="patchContractTemplateSuggestion(!$data, $index)">
                            {{ item.isSuggestion && "Medtager " + item.name || "Medtager ikke " + item.name }}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="well">
            <h4>Indkøbsformer</h4>
       
            <div class="form-group" data-ng-repeat="item in PurchaseForms">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <a href="#" data-editable-checkbox="item.isActive" data-e-title="Medtag {{item.name}}?" data-onbeforesave="patchPurchaseForm($data, $index)">
                            {{ item.isActive && "Medtager " + item.name || "Medtager ikke " + item.name }}
                        </a>
                    </div>
                </div>
            </div>
            
            <hr>
            
            <h5>Indkøbsform forslag</h5>
            
            <div class="form-group" data-ng-repeat="item in PurchaseFormSuggestions">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <a href="#" data-editable-checkbox="!item.isSuggestion" data-e-title="Medtag {{item.name}}?" data-onbeforesave="patchPurchaseFormSuggestion(!$data, $index)">
                            {{ item.isSuggestion && "Medtager " + item.name || "Medtager ikke " + item.name }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="well">
            <h4>Roller</h4>
       
            <div class="form-group" data-ng-repeat="item in ItContractRoles">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <a href="#" data-editable-checkbox="item.isActive" data-e-title="Medtag {{item.name}}?" data-onbeforesave="patchItContractRole($data, $index)">
                            {{ item.isActive && "Medtager " + item.name || "Medtager ikke " + item.name }}
                        </a>
                    </div>
                    <div class="checkbox">
                        <a href="#" data-editable-checkbox="item.hasWriteAccess" data-e-title="Skriverettighed?" data-onbeforesave="patchItContractRoleAccess($data, $index)">
                            {{ item.hasWriteAccess && "Læse/Skrive adgang" || "Læse adgang" }}
                        </a>
                    </div>
                </div>
            </div>
            
            <hr>
            
            <h5>Rolle forslag</h5>
            
            <div class="form-group" data-ng-repeat="item in ItContractRoleSuggestions">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <a href="#" data-editable-checkbox="!item.isSuggestion" data-e-title="Medtag {{item.name}}?" data-onbeforesave="patchItContractRoleSuggestion(!$data, $index)">
                            {{ item.isSuggestion && "Medtager " + item.name || "Medtager ikke " + item.name }} med {{ item.hasWriteAccess && "Læse/Skrive adgang" || "Læse adgang" }}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="well">
            <h4>Overtagelsesprøver</h4>
       
            <div class="form-group" data-ng-repeat="item in HandoverTrials">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <a href="#" data-editable-checkbox="item.isActive" data-e-title="Medtag {{item.name}}?" data-onbeforesave="patchHandoverTrial($data, $index)">
                            {{ item.isActive && "Medtager " + item.name || "Medtager ikke " + item.name }}
                        </a>
                    </div>
                </div>
            </div>
            
            <hr>
            
            <h5>Overtagelsesprøve forslag</h5>
            
            <div class="form-group" data-ng-repeat="item in HandoverTrialSuggestions">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <a href="#" data-editable-checkbox="!item.isSuggestion" data-e-title="Medtag {{item.name}}?" data-onbeforesave="patchHandoverTrialSuggestion(!$data, $index)">
                            {{ item.isSuggestion && "Medtager " + item.name || "Medtager ikke " + item.name }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="well">
            <h4>Betalignsmodeller</h4>
       
            <div class="form-group" data-ng-repeat="item in PaymentModels">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <a href="#" data-editable-checkbox="item.isActive" data-e-title="Medtag {{item.name}}?" data-onbeforesave="patchPaymentModel($data, $index)">
                            {{ item.isActive && "Medtager " + item.name || "Medtager ikke " + item.name }}
                        </a>
                    </div>
                </div>
            </div>
            
            <hr>
            
            <h5>Betalignsmodel forslag</h5>
            
            <div class="form-group" data-ng-repeat="item in PaymentModelSuggestions">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <a href="#" data-editable-checkbox="!item.isSuggestion" data-e-title="Medtag {{item.name}}?" data-onbeforesave="patchPaymentModelSuggestion(!$data, $index)">
                            {{ item.isSuggestion && "Medtager " + item.name || "Medtager ikke " + item.name }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="well">
            <h4>Aftaleelementer</h4>
       
            <div class="form-group" data-ng-repeat="item in AgreementElements">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <a href="#" data-editable-checkbox="item.isActive" data-e-title="Medtag {{item.name}}?" data-onbeforesave="patchAgreementElement($data, $index)">
                            {{ item.isActive && "Medtager " + item.name || "Medtager ikke " + item.name }}
                        </a>
                    </div>
                </div>
            </div>
            
            <hr>
            
            <h5>Aftaleelement forslag</h5>
            
            <div class="form-group" data-ng-repeat="item in AgreementElementSuggestions">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <a href="#" data-editable-checkbox="!item.isSuggestion" data-e-title="Medtag {{item.name}}?" data-onbeforesave="patchAgreementElementSuggestion(!$data, $index)">
                            {{ item.isSuggestion && "Medtager " + item.name || "Medtager ikke " + item.name }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>