<div data-ng-controller="globalConfig.ContractCtrl">
    <div data-global-option-role-list="" title="Roller" data-options-url="api/itContractRole"></div>
    <div data-global-option-list="" title="Kontrakttyper" data-options-url="api/contractType"></div>
    <div data-global-option-list="" title="Kontraktskabeloner" data-options-url="api/contractTemplate"></div>
    <div data-global-option-list="" title="Indkøbsformer" data-options-url="api/purchaseForm"></div>
    <div data-global-option-list="" title="Betalignsmodeller" data-options-url="api/paymentModel"></div>
    <div data-global-option-list="" title="Aftaleelementer" data-options-url="api/agreementElement"></div>
    <div data-global-option-list="" title="Option forlæng" data-options-url="api/optionExtend"></div>
    <div data-global-option-list="" title="Betalingsfrekvenser" data-options-url="api/paymentFrequency"></div>
    <div data-global-option-list="" title="Pris reguleringer" data-options-url="api/priceRegulation"></div>
    <div data-global-option-list="" title="Indkøbsstrategier" data-options-url="api/procurementStrategy"></div>
    <div data-global-option-list="" title="Opsigelsesfrister" data-options-url="api/terminationDeadline"></div>
    <div data-global-option-list="" title="Overtagelsesprøver" data-options-url="api/handoverTrialType"></div>
</div>