<div data-ng-controller="globalConfig.OrgCtrl">
    <div class="well">
        <h4>Generelt</h4>

        <a href="#" data-editable-checkbox="showTab" data-e-title="Medtag organisations tabben?">
            {{ showTab && "Medtager tab" || "Medtager ikke tab" }}
        </a>
        
        <div id="support-module-names"></div>
        <div id="support-show-guide">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">
                            Medtag vejledning
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div id="support-guide">
            <div class="form-group">
                <label for="input-support-url" class="col-sm-2 control-label">IT understøttelse vejledning</label>
                <div class="col-sm-5">
                    <input type="url" class="form-control" id="input-support-url">
                </div>
            </div>
        </div>
    </div>
            
    <div class="well">
        <h4>Overblik</h4>
                
        <div id="support-overview">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">
                            Medtag fanen 'Overblik'
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div id="support-tech">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">
                            Medtag kolonnen 'Teknologi'
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div id="support-usage">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">
                            Medtag kolonnen 'Anvendelse'
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div id="support-mandatory">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">
                            Medtag kolonnen 'SKAL'
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>