<div data-ng-controller="globalConfig.ProjectCtrl">
    <div class="well">
        <h4>Generelt</h4>
                
        <div id="project-show-tab">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">
                            Vis fanen 'IT Projekter'
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div id="project-module-names"></div>
                
        <div id="project-show-guide">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">
                            Medtag vejledning
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="input-project-url" class="col-sm-2 control-label">IT Projekt vejledning</label>
            <div class="col-sm-5">
                <input type="url" name="ItProjectGuide" class="form-control" id="input-project-url" />
            </div>
        </div>
    </div>
            
    <hr>

    <div class="well">
        <h4>Reference</h4>
        <div class="form-group">
            <label for="input-system-ref1" class="col-sm-2 control-label">ESDH ref.</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="input-system-ref1" />
                <p class="help-block">Ref. til ESDH system, hvor der er projektdokumenter</p>
            </div>
        </div>
               
        <div class="form-group">
            <label for="input-system-ref2" class="col-sm-2 control-label">CMDB ref.</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="input-system-ref2" />
                <p class="help-block">Ref. til CMDB o.l. system, hvor der er projektdokumenter</p>
            </div>
        </div>
                
        <div class="form-group">
            <label for="input-system-ref3" class="col-sm-2 control-label">Mappe ref.</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="input-system-ref3" />
                <p class="help-block">Ref. til andre steder, hvor der er projektdokumenter</p>
            </div>
        </div>
    </div>
            
    <div class="well">
        <h4>Projektfase</h4>
        <div class="form-group">
            <label for="input-system-phase1" class="col-sm-2 control-label">Afventer</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="input-system-phase1" />
                <p class="help-block">...</p>
            </div>
        </div>
               
        <div class="form-group">
            <label for="input-system-phase2" class="col-sm-2 control-label">Foranalyse</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="input-system-phase2" />
                <p class="help-block">...</p>
            </div>
        </div>
                
        <div class="form-group">
            <label for="input-system-phase3" class="col-sm-2 control-label">Gennemførsel</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="input-system-phase3" />
                <p class="help-block">...</p>
            </div>
        </div>
                
        <div class="form-group">
            <label for="input-system-phase4" class="col-sm-2 control-label">Overlevering</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="input-system-phase4" />
                <p class="help-block">...</p>
            </div>
        </div>
                
        <div class="form-group">
            <label for="input-system-phase5" class="col-sm-2 control-label">Drift</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="input-system-phase5" />
                <p class="help-block">...</p>
            </div>
        </div>
    </div>

    <div class="well">
        <h4>Projektkategorier</h4>
        <div id="project-cat"></div>
    </div>
                        
    <hr>
            
    <div class="well">
        <h4>Portfølje</h4>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="ShowPortfolio" value="">
                        Medtag IKKE fanen 'Portfølje'
                    </label>
                </div>
            </div>
        </div>
                
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="ShowBC" value="">
                        Medtag kolonnen 'BC'
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
