<div data-ng-controller="globalConfig.SystemCtrl">
    <div class="form-horizontal">
        <div class="well">
            <h4>Reference</h4>

            <div class="form-group" data-ng-repeat="item in refs">
                <label class="col-sm-2 control-label">{{ item.Name }}</label>
                <div class="col-sm-5">
                    <a href="#" data-editable-text="item.Name" data-onbeforesave="patchRef($data, $index)">
                        {{ item.Name || "Ikke sat" }}
                    </a>
                    <p class="help-block">{{ item.Note }}</p>
                </div>
            </div>
        </div>

        <div class="well">
            <h4>Roller</h4>
       
            <div class="form-group" data-ng-repeat="item in ItSystemRoles">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <a href="#" data-editable-checkbox="item.IsActive" data-e-title="Medtag {{item.Name}}?" data-onbeforesave="patchItSystemRole($data, $index)">
                            {{ item.IsActive && "Medtager " + item.Name || "Medtager ikke " + item.Name }}
                        </a>
                    </div>
                </div>
            </div>
            
            <hr>
            
            <h5>Rolle forslag</h5>
            
            <div class="form-group" data-ng-repeat="item in ItSystemRoleSuggestions">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <a href="#" data-editable-checkbox="!item.IsSuggestion" data-e-title="Medtag {{item.Name}}?" data-onbeforesave="patchItSystemRoleSuggestion(!$data, $index)">
                            {{ item.IsSuggestion && "Medtager " + item.Name || "Medtager ikke " + item.Name }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="well">
            <h4>Systemtyper</h4>
            
            <div class="form-group" data-ng-repeat="item in SystemTypes">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <a href="#" data-editable-checkbox="item.IsActive" data-e-title="Medtag {{item.Name}}?" data-onbeforesave="patchSystemType($data, $index)">
                            {{ item.IsActive && "Medtager " + item.Name || "Medtager ikke " + item.Name }}
                        </a>
                    </div>
                </div>
            </div>
            
            <hr>
            
            <h5>Systemtype forslag</h5>
            
            <div class="form-group" data-ng-repeat="item in SystemTypeSuggestions">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <a href="#" data-editable-checkbox="!item.IsSuggestion" data-e-title="Medtag {{item.Name}}?" data-onbeforesave="patchSystemTypeSuggestion(!$data, $index)">
                            {{ item.IsSuggestion && "Medtager " + item.Name || "Medtager ikke " + item.Name }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="well">
            <h4>Snitfladetyper</h4>
            
            <div class="form-group" data-ng-repeat="item in InterfaceTypes">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <a href="#" data-editable-checkbox="item.IsActive" data-e-title="Medtag {{item.Name}}?" data-onbeforesave="patchInterfaceType($data, $index)">
                            {{ item.IsActive && "Medtager " + item.Name || "Medtager ikke " + item.Name }}
                        </a>
                    </div>
                </div>
            </div>
            
            <hr>
            
            <h5>Snitfladetype forslag</h5>
            
            <div class="form-group" data-ng-repeat="item in InterfaceTypeSuggestions">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <a href="#" data-editable-checkbox="!item.IsSuggestion" data-e-title="Medtag {{item.Name}}?" data-onbeforesave="patchInterfaceTypeSuggestion(!$data, $index)">
                            {{ item.IsSuggestion && "Medtager " + item.Name || "Medtager ikke " + item.Name }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="well">
            <h4>Græseflader</h4>
            
            <div class="form-group" data-ng-repeat="item in ProtocolTypes">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <a href="#" data-editable-checkbox="item.IsActive" data-e-title="Medtag {{item.Name}}?" data-onbeforesave="patchProtocolType($data, $index)">
                            {{ item.IsActive && "Medtager " + item.Name || "Medtager ikke " + item.Name }}
                        </a>
                    </div>
                </div>
            </div>
            
            <hr>
            
            <h5>Grænsefalde forslag</h5>
            
            <div class="form-group" data-ng-repeat="item in ProtocolTypeSuggestions">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <a href="#" data-editable-checkbox="!item.IsSuggestion" data-e-title="Medtag {{item.Name}}?" data-onbeforesave="patchProtocolTypeSuggestion(!$data, $index)">
                            {{ item.IsSuggestion && "Medtager " + item.Name || "Medtager ikke " + item.Name }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="well">
            <h4>Metoder</h4>
            
            <div class="form-group" data-ng-repeat="item in Methods">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <a href="#" data-editable-checkbox="item.IsActive" data-e-title="Medtag {{item.Name}}?" data-onbeforesave="patchMethod($data, $index)">
                            {{ item.IsActive && "Medtager " + item.Name || "Medtager ikke " + item.Name }}
                        </a>
                    </div>
                </div>
            </div>
            
            <hr>
            
            <h5>Metode forslag</h5>
            
            <div class="form-group" data-ng-repeat="item in methodSuggestions">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <a href="#" data-editable-checkbox="!item.IsSuggestion" data-e-title="Medtag {{item.Name}}?" data-onbeforesave="patchMethodSuggestion(!$data, $index)">
                            {{ item.IsSuggestion && "Medtager " + item.Name || "Medtager ikke " + item.Name }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
         <div class="well">
            <h4>Databaser</h4>
            
            <div class="form-group" data-ng-repeat="item in DatabaseTypes">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <a href="#" data-editable-checkbox="item.IsActive" data-e-title="Medtag {{item.Name}}?" data-onbeforesave="patchDatabaseType($data, $index)">
                            {{ item.IsActive && "Medtager " + item.Name || "Medtager ikke " + item.Name }}
                        </a>
                    </div>
                </div>
            </div>
            
            <hr>
            
            <h5>Database forslag</h5>
            
            <div class="form-group" data-ng-repeat="item in DatabaseTypeSuggestions">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <a href="#" data-editable-checkbox="!item.IsSuggestion" data-e-title="Medtag {{item.Name}}?" data-onbeforesave="patchDatabaseTypeSuggestion(!$data, $index)">
                            {{ item.IsSuggestion && "Medtager " + item.Name || "Medtager ikke " + item.Name }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>