<div data-ng-controller="globalConfig.SystemCtrl">
    <div data-global-option-role-list="" title="Roller" data-options-url="api/itSystemRole"></div>
    <div data-global-option-list="" title="Applikationstyper" data-options-url="api/itSystemTypeOption"></div>
    <div data-global-option-list="" title="Forretningstyper" data-options-url="api/businessType"></div>
    <div data-global-option-list="" title="Arkiveringstyper" data-options-url="api/archiveType"></div>
    <div data-global-option-list="" title="Datatyper" data-options-url="api/dataType"></div>
    <div data-global-option-list="" title="Frekvenser" data-options-url="api/frequency"></div>
    <div data-global-option-list="" title="Snitfladetyper" data-options-url="api/interfaceType"></div>
    <div data-global-option-list="" title="Grænseflader" data-options-url="api/interface"></div>
    <div data-global-option-list="" title="Metoder" data-options-url="api/method"></div>
    <div data-global-option-list="" title="Personfølsomme data" data-options-url="api/sensitiveDataType"></div>
    <div data-global-option-list="" title="TSA" data-options-url="api/tsa"></div>
</div>