<label data-ng-if="label" for="{{ id }}" class="control-label small">{{ label }}</label>
<input type="hidden" 
       id="{{ id }}"
       class="form-control input-sm"
       data-ui-select2="select2Config"
       data-ng-model="selectedId"
       data-placeholder="{{ placeholder }}"
       data-autosave="{{ autoSaveUrl }}"
       data-field="{{ field }}"
       ng-disabled="disabled"
       data-ng-required="required">

<span ng-if="optionDescription" class="help-block small"><i class="fa fa-info-circle" aria-hidden="true"></i> {{ optionDescription }}</span>
