<div class="modal-header">
    <h3>Rediger profil</h3>
</div>
<div class="modal-body">
    <form name="profileForm" id="profileForm" class="form-horizontal" data-ng-submit="ok()">
        <div class="form-group">
            <label for="parent" class="col-md-3 control-label">
                Standard valgt enhed
            </label>
            <div class="col-md-8">
                <select id="parent" data-ng-model="user.defaultOrganizationUnitId" class="form-control" data-ng-options="orgUnit.id as orgUnit.name for orgUnit in orgUnits" required>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="col-md-3 control-label">
                Navn
            </label>
            <div class="col-md-8">
                <input type="text" id="username" data-ng-model="user.name" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            <label for="usermail" class="col-md-3 control-label">
                Email
            </label>
            <div class="col-md-8">
                <input type="text" id="usermail" data-ng-model="user.email" class="form-control" required />
            </div>
        </div>
    </form>
</div>
<div class="modal-footer text-center">
    <button type="submit" class="btn btn-primary" form="profileForm" data-ng-disabled="submitting">Gem</button>
    <button type="button" class="btn btn-warning" data-ng-click="cancel()">Annuller</button>
</div>