<div search-box data-paging="pagination"></div>
<div class="searchbox-wrapper">
    <a class="excel-icon" data-ng-href="{{csvUrl}}">
        <img src="../../Images/excel.png" alt="Hent excelark" width="25">
    </a>
</div>
<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>
                IT Projekt
                <button data-order-by="'name'" data-paging="pagination"></button>
            </th>
            <th>
                Oprettet af: Organisation
                <button data-order-by="'organizationName'" data-paging="pagination"></button>
            </th>
            <th>
                Oprettet af: Navn
                <button data-order-by="'objectOwner.name'" data-paging="pagination"></button>
            </th>
            <th>
                Projekt ID
                <button data-order-by="'itProjectId'" data-paging="pagination"></button>
            </th>
            <th>
                Type
                <button data-order-by="'itProjectType.name'" data-paging="pagination"></button>
            </th>
            <th>
                Synlighed
                <button data-order-by="'accessModifier'" data-paging="pagination"></button>
            </th>
            <th>
                Arkiv
                <button data-order-by="'isArchived'" data-paging="pagination"></button>
            </th>
            <th><!-- control --></th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="p in projects | filter : { show: true }">
            <!-- name + link -->
            <td>
                <a data-ui-sref="it-project.edit.status-project({id: p.id})">
                    {{ p.name ? p.name : 'intet navn' }}
                </a>
            </td>
            
            <!-- created by org -->
            <td>
                {{ p.organizationName }}
            </td>

            <!-- object owner -->
            <td>
                {{ p.objectOwnerName }}
            </td>

            <!-- human readable id -->
            <td>
                {{ p.itProjectId }}
            </td>
            
            <!-- type -->
            <td>
                {{ p.itProjectTypeName }}
            </td>

            <!-- access modifier -->
            <td>
                {{ p.accessModifier == 1 ? 'P' : '' }}
            </td>
            
            <!-- archived -->
            <td>
                {{ p.isArchived == 1 ? 'A' : '' }}
            </td>
            
            <!-- buttons -->
            <td class="text-right">
                <button class="btn btn-danger btn-xs" data-tooltip="Slet projektet" data-ng-if="p.hasWriteAccess" data-confirmed-click="p.delete()"
                              data-confirm-click="Er du sikker på at du vil slette projektet? Dette kan ikke fortrydes!">
                          <i class="glyphicon glyphicon-trash"></i>
                      </button>
                <button class="btn btn-info btn-xs" data-ng-click="p.clone()" data-tooltip="Klon projektet">
                    Klon
                </button>
            </td>
        </tr>
    </tbody>    
    <tfoot>
        <tr>
            <td colspan="9" class="text-center">
                <span data-pagination-buttons="pagination" data-pagination-total-count="totalCount"></span>
            </td>
        </tr>
    </tfoot>
</table>
