<div search-box data-paging="pagination"></div>
<div class="searchbox-wrapper">
    <a class="excel-icon" data-ng-href="{{csvUrl}}">
        <img src="../../Images/excel.png" alt="Hent excelark" width="25">
    </a>
</div>
<!--IT Projekt Oversigt-->
<table class="table table-striped">
    <thead>
        <tr>
            <!-- Name -->
            <th>
                IT Projekt
                <button data-order-by="'name'" data-paging="pagination"></button>
            </th>
            <!-- Responsible -->
            <th>
                Ansv. organisationsenhed
            </th>
            <!-- Role -->
            <th>
                <select data-ng-model="chosenRoleId" data-ng-init="chosenRoleId = 2" data-ng-options="r.id as r.name for r in projectRoles">
                </select>
            </th>
            <!-- ID -->
            <th>
                Projekt ID
                <button data-order-by="'ItProjectId'" data-paging="pagination"></button>
            </th>
            <!-- Type -->
            <th>
                Type
                <button data-order-by="'itProjectType.name'" data-paging="pagination"></button>
            </th>
            
            <!-- bool markers -->
            <th class="col-sm-0"></th>

            <!-- Phase -->
            <th>Fase
            </th>
            <!-- Status -->
            <th class="text-center">
                <select data-ng-model="chosenStatus" data-ng-init="chosenStatus = 'statusProject'">
                    <option value="statusProject">Status projekt</option>
                    <option value="goalStatus.status">Status mål</option>
                </select>
                <button data-order-by="chosenStatus" data-paging="pagination"></button>
            </th>
            <!-- Risk/ROI/BC -->
            <th class="text-right">
                <select data-ng-model="chosenEco" data-ng-init="chosenEco = 2">
                    <option value="0">Risiko</option>
                    <option value="1">ROI</option>
                    <option value="2">Økonomi</option>
                </select>
            </th>
            <!-- Priority -->
            <th class="text-right">
                <select data-ng-model="chosenPriority" data-ng-init="chosenPriority = 'priority'">
                    <option value="priority">Prioritet 1</option>
                    <option value="priorityPf">Prioritet 2</option>
                </select>
                <button data-order-by="chosenPriority" data-paging="pagination"></button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="p in projects | filter:{isArchived: false}">
            <!-- Name -->
            <td><a data-ui-sref="it-project.edit.status-project({id: p.id})">{{ p.name ? p.name : 'Unavngiven' }}</a></td>
            <!-- Responsible -->
            <td>{{ p.responsibleOrgUnitName }}</td>
            <!-- Role -->
            <td>{{ p.rights | filter:{roleId:chosenRoleId}:true | joinBy:', ':'user.fullName' }}</td>
            <!-- ID -->
            <td>{{ p.itProjectId }}</td>
            <!-- Type -->
            <td>{{ p.itProjectTypeName }}</td>
            <!-- Bool markers -->
            <td class="text-center text-muted">
                <span data-ng-if="p.isTransversal">(T)</span>
                <span data-ng-if="p.isStrategy">(S)</span>
            </td>
            <!-- Phase -->
            <td>{{ p.currentPhase.name }}</td>
            <!-- Status -->
            <td class="text-center" data-ng-switch="chosenStatus">
                <span data-square-traffic-light="p.statusProject" data-ng-switch-when="statusProject"></span>
                <span data-square-traffic-light="p.goalStatusStatus" data-ng-switch-when="goalStatus.status"></span>
            </td>
            <!-- Risk/RO/BC -->
            <td class="text-right">
                <span data-ng-if="chosenEco == 0">{{ p.averageRisk }}</span>
                <span data-ng-if="chosenEco == 1">{{ p.roi }}</span>
                <span data-ng-if="chosenEco == 2">{{ p.bc }}</span>
            </td>
            <td class="text-right" data-ng-switch="chosenPriority">
                <select data-ng-model="p.priority" data-autosave="api/itproject/{{p.id}}" data-field="priority" data-ng-disabled="p.isPriorityLocked || !p.canBeEdited" data-ng-switch-when="priority" data-ng-class="{'disabled-input': !p.canBeEdited}">
                    <option value="0">-- Vælg --</option>
                    <option value="3">Høj</option>
                    <option value="2">Mellem</option>
                    <option value="1">Lav</option>
                </select>

                <div data-ng-switch-when="priorityPf">
                    <div class="btn-group btn-group-sm" data-toggle="buttons">
                        <label class="btn btn-star" data-ng-class="{ 'unstarred': !p.isPriorityLocked }" data-ng-disabled="!p.canBeEdited" data-ng-click="p.isPriorityLocked = !p.isPriorityLocked">
                            <input type="checkbox" data-ng-model="p.isPriorityLocked" data-autosave="api/itproject/{{p.id}}" data-field="isPriorityLocked">
                            <i class="glyphicon glyphicon-lock"></i>
                        </label>
                    </div>

                    <select data-ng-model="p.priorityPf" data-autosave="api/itproject/{{p.id}}" data-field="priorityPf" data-ng-disabled="!p.canBeEdited" data-ng-class="{'disabled-input': !p.canBeEdited}">
                        <option value="0">-- Vælg --</option>
                        <option value="3">Høj</option>
                        <option value="2">Mellem</option>
                        <option value="1">Lav</option>
                    </select>
                </div>
            </td>
        </tr>
        
        <!-- "click to show inactive projects"-row -->
        <tr>
            <td colspan="10">
                <a data-ng-click="showInactive = !showInactive">
                    <i class="glyphicon" data-ng-class="{'glyphicon-chevron-right': !showInactive, 'glyphicon-chevron-down': showInactive}"></i>
                    Klik for at {{ showInactive && 'skjule' || 'vise' }} arkiverede IT projekter
                </a>
            </td>
        </tr>

        <tr data-ng-repeat="p in projects | filter:{isArchived: true}" data-ng-if="showInactive">
            <!-- Name -->
            <td><a data-ui-sref="it-project.edit.status-project({id: p.id})">{{ p.name ? p.name : 'Unavngiven' }}</a></td>
            <!-- Responsible -->
            <td>{{ p.responsibleOrgUnitName }}</td>
            <!-- Role -->
            <td>{{ p.roles | filter:{roleId:chosenRoleId} | joinBy:', ':'user.name' }}</td>
            <!-- ID -->
            <td>{{ chosenId == 0 ? p.itProjectId : p.parent.itProjectId }}</td>
            <!-- Type -->
            <td>{{ p.itProjectTypeName }}</td>
            <!-- Phase -->
            <td>{{ p.currentPhase.name }}</td>
            <!-- Status -->
            <td>
                <span data-square-traffic-light="p.statusProject" data-ng-if="chosenStatus == 0"></span>
                <span data-square-traffic-light="p.goalStatusStatus" data-ng-if="chosenStatus == 1"></span>
            </td>
            <!-- Risk/RO/BC -->
            <td>
                <span data-ng-if="chosenEco == 0">{{ p.averageRisk }}</span>
                <span data-ng-if="chosenEco == 1">{{ p.roi }}</span>
                <span data-ng-if="chosenEco == 2">{{ p.bc }}</span>
            </td>
            <td>
                <select data-ng-model="p.priority" data-autosave="api/itproject/{{p.id}}" data-field="priority" data-ng-disabled="p.isPriorityLocked" data-ng-if=" chosenpriority= =0">
                    <option value="0">-- Vælg --</option>
                    <option value="3">Høj</option>
                    <option value="2">Mellem</option>
                    <option value="1">Lav</option>
                </select>

                <div class="btn-group btn-group-sm" data-toggle="buttons" data-ng-if="chosenPriority == 1">
                    <label class="btn btn-star" data-ng-class="{ 'unstarred': p.isPriorityLocked }">
                        <input type="checkbox" data-ng-model="p.isPriorityLocked" data-autosave="api/itproject/{{p.id}}" data-field="isPriorityLocked" data-ng-disabled="!p.canBeEdited">
                        <i class="glyphicon glyphicon-lock"></i>
                    </label>
                </div>

                <select data-ng-model="p.priorityPf" data-autosave="api/itproject/{{p.id}}" data-field="priorityPf" data-ng-if="chosenPriority == 1">
                    <option value="0">-- Vælg --</option>
                    <option value="3">Høj</option>
                    <option value="2">Mellem</option>
                    <option value="1">Lav</option>
                </select>
            </td>
        </tr>
    </tbody>    
    <tfoot>
        <tr>
            <td colspan="10" class="text-center">
                <span data-pagination-buttons="pagination" data-pagination-total-count="totalCount"></span>
            </td>
        </tr>
    </tfoot>
</table>