<h3>Konfiguration af organisationen {{ organization.Name }}</h3>

<div data-tabset="">
    <div data-tab="">
        <div data-tab-heading="">
            IT Understøttelse
        </div>
        <div data-ng-include="'partials/local-config/support.html'"></div>
    </div>
    <div data-tab="">
        <div data-tab-heading="">
            IT Projekter
        </div>
        <div data-ng-include="'partials/local-config/project.html'"></div>
    </div>
    <div data-tab="">
        <div data-tab-heading="">
            IT Systemer
        </div>
        <div data-ng-include="'partials/local-config/system.html'"></div>
    </div>
    <div data-tab="">
        <div data-tab-heading="">
            IT Kontrakter
        </div>
        <div data-ng-include="'partials/local-config/contract.html'"></div>
    </div>
</div>