<div class="col-md-12">
    <div class="form-group row">
        <label class="col-md-2 control-label">
            Modulnavn
        </label>
        <div class="col-md-10">
            <a href="#" data-editable-select="project.chosenNameId" data-buttons="no" data-e-ng-options="name.Id as name.Name for name in project.moduleNames" data-onbeforesave="updateConfig($data, 'ItProjectModuleName_Id')">
                {{ project.moduleNames[project.chosenNameId - 1].Name; }}
            </a>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 control-label">
            Vejledning
        </label>
        <div class="col-md-10">
            <a href="#" data-editable-text="project.guideUrl" data-buttons="no" data-onbeforesave="updateConfig($data, 'ItProjectGuide')">
                {{ project.guideUrl || 'Ingen guide' }}
            </a>
        </div>
    </div>

    <div data-option-locale-list="" title="Referencer" data-locales-url="api/extReferenceTypeLocale" data-options-url="api/extReferenceType" data-org-id="orgId"></div>

    <div data-option-locale-list="" title="Projektfaser" data-locales-url="api/projectPhaseLocale" data-options-url="api/projectPhase" data-org-id="orgId"></div>

    <div data-option-list="" title="Projektkategorier" data-options-url="api/projectCategory"></div>
    <div data-suggest-new="" data-url="api/projectCategory"></div>

    <div data-option-list="" title="Roller" data-options-url="api/itProjectRole"></div>
    <div data-suggest-new-role="" data-url="api/itProjectRole"></div>

    <div class="form-group row">
        <label class="col-md-2 control-label">
            Portefølje
        </label>
        <div class="col-md-10">
            <div>
                <a href="#" data-editable-checkbox="project.showPortfolio" data-e-title="Medtag fanen 'Portefølje'?" data-onbeforesave="updateConfig($data, 'ShowPortfolio')" data-buttons="no">{{project.showPortfolio && "Medtager fanen 'Portefølje'" || "Medtager IKKE fanen 'Porteføjle'" }}
                </a>
            </div>

            <div>
                <a href="#" data-editable-checkbox="project.showBC" data-e-title="Medtag kolonnen 'BC'?" data-onbeforesave="updateConfig($data, 'ShowBC')" data-buttons="no">{{project.showBC && "Medtager kolonnen 'BC'" || "Medtager IKKE kolonnen 'BC'" }}
                </a>
            </div>
        </div>
    </div>
</div>
