<div class="form-group row" data-ng-init="open = false">
    <div class="col-md-10 col-md-offset-2">
        <div class="form-group">
            <div class="col-md-7">
                <a class="btn btn-xs btn-default" data-ng-click="open = !open">
                    {{open && "Skjul" || "Foreslå ny rolle"}}
                </a>
                <div data-ng-show="open" class="suggest-box">
                    <p class="help-block small">
                        Hvis du synes at der mangler et væsentlig element, kan du foreslå det her. 
                        Alle foreslag skal godkendes af en global administrator før de bliver tilgengængelige til brug.
                    </p>

                    <label class="control-label col-md-1">
                        Rolle: 
                    </label>

                    <div class="col-md-6">
                        <input type="text" data-ng-model="suggestion" class="form-control input-sm" />
                    </div>
                    
                    <label class="checkbox-inline small col-md-3">
                        <input type="checkbox" data-ng-model="writeAccess"/>
                        Skrive-rettighed
                    </label>
                    
                    <input type="submit" class="btn btn-success btn-sm col-md-2" value="Send foreslag" 
                           data-ng-disabled="!suggestion" data-ng-click="suggest()" />
                </div>
            </div>
        </div>
    </div>
</div>
