<div class="col-md-12">
    <div class="form-group row">
        <label class="col-md-2 control-label">
            Modulnavn
        </label>
        <div class="col-md-10">
            <a href="#" data-editable-select="support.chosenNameId" data-buttons="no" data-e-ng-options="name.Id as name.Name for name in support.moduleNames" data-onbeforesave="updateConfig($data, 'ItSupportModuleName_Id')">
                {{ support.moduleNames[support.chosenNameId - 1].Name; }}
            </a>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 control-label">
            Vejledning
        </label>
        <div class="col-md-10">
            <a href="#" data-editable-text="support.guideUrl" data-buttons="no" data-onbeforesave="updateConfig($data, 'ItSupportGuide')">
                {{ support.guideUrl || 'Ingen guide' }}
            </a>
        </div>
    </div>
    
    <div data-option-locale-list="" title="Referencer" data-locales-url="api/extReferenceTypeLocale" data-options-url="api/extReferenceType" data-org-id="orgId"></div>

    <div class="form-group row">
        <label class="col-md-2 control-label">
            Overblik
        </label>
        <div class="col-md-10">
            <div>
                <a href="#" data-editable-checkbox="support.showTabOverview" data-e-title="Medtag fanen 'Overblik'?" data-onbeforesave="updateConfig($data, 'ShowTabOverview')" data-buttons="no">
                    {{support.showTabOverview && "Medtager fanen 'Overblik'" || "Medtager IKKE fanen 'Overblik'" }}
                </a>
            </div>

            <div>
                <a href="#" data-editable-checkbox="support.showTechnology" data-e-title="Medtag kolonnen 'Teknologi'?" data-onbeforesave="updateConfig($data, 'ShowColumnTechnology')" data-buttons="no">
                    {{support.showTechnology && "Medtager kolonnen 'Teknologi'" || "Medtager IKKE kolonnen 'Teknologi'" }}
                </a>
            </div>

            <div>
                <a href="#" data-editable-checkbox="support.showUsage" data-e-title="Medtag kolonnen 'Anvendelse'?" data-onbeforesave="updateConfig($data, 'ShowColumnUsage')" data-buttons="no">
                    {{support.showUsage && "Medtager kolonnen 'Anvendelse'" || "Medtager IKKE kolonnen 'Anvendelse'" }}
                </a>
            </div>

            <div>
                <a href="#" data-editable-checkbox="support.showMandatory" data-e-title="Medtag kolonnen 'SKAL'?" data-onbeforesave="updateConfig($data, 'ShowColumnMandatory')" data-buttons="no">
                    {{support.showMandatory && "Medtager kolonnen 'SKAL'" || "Medtager IKKE kolonnen 'SKAL'" }}
                </a>
            </div>

        </div>
    </div>

    <div data-option-list="" title="Roller" data-options-url="api/organizationRole"></div>
    <div data-suggest-new-role="" data-url="api/organizationRole"></div>
    
</div>
