<div class="col-md-12">
    <div class="form-group row">
        <label class="col-md-2 control-label">
            Modulnavn
        </label>
        <div class="col-md-10">
            <a href="#" data-editable-select="system.chosenNameId" data-buttons="no" data-e-ng-options="name.Id as name.Name for name in system.moduleNames" data-onbeforesave="updateConfig($data, 'ItSystemModuleName_Id')">
                {{ system.moduleNames[system.chosenNameId - 1].Name; }}
            </a>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 control-label">
            Vejledning
        </label>
        <div class="col-md-10">
            <a href="#" data-editable-text="system.guideUrl" data-buttons="no" data-onbeforesave="updateConfig($data, 'ItSystemGuide')">
                {{ system.guideUrl || 'Ingen guide' }}
            </a>
        </div>
    </div>

    <div data-option-locale-list="" title="Referencer" data-locales-url="api/extReferenceTypeLocale" data-options-url="api/extReferenceType" data-org-id="orgId"></div>
    
    <div data-option-list="" title="Roller" data-options-url="api/itSystemRole"></div>
    <div data-suggest-new-role="" data-url="api/itSystemRole"></div>

    <div data-option-list="" title="Systemtyper" data-options-url="api/systemType"></div>
    <div data-suggest-new="" data-url="api/systemType"></div>

    <div data-option-list="" title="Snitfladetyper" data-options-url="api/interfaceType"></div>
    <div data-suggest-new="" data-url="api/interfaceType"></div>

    <div data-option-list="" title="Grænseflader" data-options-url="api/protocolType"></div>
    <div data-suggest-new="" data-url="api/protocolType"></div>

    <div data-option-list="" title="Metoder" data-options-url="api/method"></div>
    <div data-suggest-new="" data-url="api/method"></div>

    <div data-option-list="" title="Database" data-options-url="api/databasetype"></div>
    <div data-suggest-new="" data-url="api/database"></div>

    <div data-option-list="" title="Environment" data-options-url="api/environment"></div>
    <div data-suggest-new="" data-url="api/environment"></div>
</div>
