<form class="form-horizontal">
    
    <!-- show/hide-module -->
    <div class="form-group">
        <label class="col-md-2 control-label">
            Generelt
        </label>
        <div class="col-md-10">
            <div>
                <label class="control-label">
                    <input type="checkbox" data-ng-model="config.showItProjectModule" data-autosave="{{config.autosaveUrl}}" data-field="showItProjectModule" tabindex="1" />
                    Medtag dette modul
                </label>
            </div>
        </div>
    </div>

    <div data-option-list="" title="Projekttype" data-options-url="api/itProjectType"></div>
    <div data-suggest-new="" data-url="api/itProjectType"></div>
    
    <div data-option-list="" title="Måltyper" data-options-url="api/goalType"></div>
    <div data-suggest-new="" data-url="api/goalType"></div>

    <div data-option-list="" title="Roller" data-options-url="api/itProjectRole"></div>
    <div data-suggest-new-role="" data-url="api/itProjectRole"></div>
</form>
