<div class="col-md-12">
    
    <div class="form-group row">
        <label class="col-md-2 control-label">
            Modulnavn
        </label>
        <div class="col-md-10">
            <a href="#" data-editable-select="contract.chosenNameId" data-buttons="no" data-e-ng-options="name.id as name.name for name in contract.moduleNames" data-onbeforesave="updateConfig($data, 'itContractModuleNameId')">
                {{ contract.moduleNames[contract.chosenNameId - 1].name; }}
            </a>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 control-label">
            Vejledning
        </label>
        <div class="col-md-10">
            <a href="#" data-editable-text="contract.guideUrl" data-buttons="no" data-onbeforesave="updateConfig($data, 'itContractGuide')">
                {{ contract.guideUrl || 'Ingen guide' }}
            </a>
        </div>
    </div>
    
    <div data-option-locale-list="" title="Referencer" data-locales-url="api/extReferenceTypeLocale" data-options-url="api/extReferenceType" data-org-id="orgId"></div>
    
    <div data-option-list="" title="Kontrakttyper" data-options-url="api/contractType"></div>
    <div data-suggest-new="" data-url="api/contractType"></div>

    <div data-option-list="" title="Kontraktskabeloner" data-options-url="api/contractTemplate"></div>
    <div data-suggest-new="" data-url="api/contractTemplate"></div>

    <div data-option-list="" title="Indkøbsformer" data-options-url="api/purchaseForm"></div>
    <div data-suggest-new="" data-url="api/purchaseForm"></div>

    <div data-option-list="" title="Roller" data-options-url="api/itContractRole"></div>
    <div data-suggest-new-role="" data-url="api/itContractRole"></div>

    <div data-option-list="" title="Overtagelsesprøver" data-options-url="api/handoverTrial"></div>
    <div data-suggest-new="" data-url="api/handoverTrial"></div>

    <div data-option-list="" title="Betalingsmodeller" data-options-url="api/paymentModel"></div>
    <div data-suggest-new="" data-url="api/paymentModel"></div>

    <div data-option-list="" title="Aftaleelementer" data-options-url="api/agreementElement"></div>
    <div data-suggest-new="" data-url="api/agreementElement"></div>
    
</div>
