<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">Indstillinger for denne organisation</div>
        <div class="panel-body">
            <div class="form-group">
                <label>Navn</label>
                <input type="text" class="form-control" data-ng-model="orgName" data-autosave="{{ orgAutosaveUrl }}" data-field="name" />
            </div>

            <div class="form-group">
                <label>CVR</label>
                <input type="text" class="form-control" data-ng-model="orgCvr" data-autosave="{{ orgAutosaveUrl }}" data-field="cvr" />
            </div>

            <div class="form-group">
                <div>
                    <label class="radio-inline">
                        <input type="radio" data-ng-model="orgType" value="0" data-autosave="{{ orgAutosaveUrl }}" data-field="type">
                        Virksomhed
                    </label>
                    <label class="radio-inline">
                        <input type="radio" data-ng-model="orgType" value="1" data-autosave="{{ orgAutosaveUrl }}" data-field="type">
                        Kommune
                    </label>
                    <label class="radio-inline">
                        <input type="radio" data-ng-model="orgType" value="2" data-autosave="{{ orgAutosaveUrl }}" data-field="type">
                        Interessefælleskab
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<form class="form-horizontal">
    <div class="form-group">
        <label class="col-md-2 control-label">
            Overblik
        </label>
        <div class="col-md-10">
            <div>
                <label>
                    <input type="checkbox" data-ng-model="config.showTabOverview" data-autosave="{{config.autosaveUrl}}" data-field="showTabOverview" tabindex="1" />
                    Medtag fanen 'Overblik'
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" data-ng-model="config.showColumnTechnology" data-autosave="{{config.autosaveUrl}}" data-field="showColumnTechnology" tabindex="2" />
                    Medtag kolonnen 'Teknologi'
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" data-ng-model="config.showColumnUsage" data-autosave="{{config.autosaveUrl}}" data-field="showColumnUsage" tabindex="3" />
                    Medtag kolonnen 'Anvendelse'
                </label>
            </div>
            
            <!-- TODO this is not in use anymore
            <div>
                <label>
                    <input type="checkbox" data-ng-model="config.showColumnMandatory" data-autosave="{{config.autosaveUrl}}" data-field="showColumnMandatory" tabindex="4" />
                    Medtag kolonnen 'SKAL'
                </label>
            </div>-->

        </div>
    </div>

    <div data-option-list="" title="Roller" data-options-url="api/organizationRole"></div>
    <div data-suggest-new-role="" data-url="api/organizationRole"></div>

</form>
