<nav>
    <ul>
        <li data-ng-repeat="link in page.subnav | filter:{asButton:undefined}" data-ng-if="!link.showWhen || $state.includes(link.showWhen)">
            <a data-ui-sref="{{link.state}}" data-ng-class="{'btn-tab-active': $state.includes(link.state)}" class="btn btn-tab">{{link.text}}</a>
        </li>
        <li data-ng-repeat="link in page.subnav | filter:asButton">
            <a class="btn btn-success btn-sm" data-ui-sref="{{link.state}}">{{ link.text }}</a>
        </li>
    </ul>
</nav>