<div class="modal-header">
    <h3 class="modal-title">{{ ctrl.title }}</h3>
</div>

<form class="form-horizontal" role="form" name="form" data-ng-submit="ctrl.submit()">
    <div class="modal-body">
        <div class="form-group" ng-class="{ 'has-error': form.name.$touched && form.name.$invalid }">
            <label for="name" class="col-xs-3 control-label">
                Organisationens navn
            </label>
            <div class="col-xs-8">
                <input type="text" data-ng-model="ctrl.org.name" id="name" name="name" class="form-control" ng-required="true" ng-maxlength="50" autocomplete="false"
                       ng-minlength="1" data-disabled-on-busy autofocus>
                <div ng-messages="form.name.$error" ng-if="form.name.$touched" style="color:maroon" role="alert">
                    <div ng-message="required" style="margin:5px 0">Organisationen skal have et navn.</div>
                    <div ng-message="minlength" style="margin:5px 0">Det valgte navn er for kort.</div>
                    <div ng-message="maxlength" style="margin:5px 0">Det valgte navn er for lang.</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="cvr" class="col-xs-3 control-label">
                CVR nummer
            </label>
            <div class="col-xs-8">
                <input type="text" data-ng-model="ctrl.org.cvr" id="cvr" class="form-control" data-ng-required="false" data-ng-pattern="/[0-9]{8}/">
            </div>
        </div>
        <div class="form-group">
            <label for="foreignCvr" class="col-xs-3 control-label">
                Udenlandsk virksomhed
            </label>
            <div class="col-xs-8">
                <input type="text" data-ng-model="ctrl.org.foreignCvr" id="foreignCvr" class="form-control" data-ng-required="false">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-8 col-xs-offset-3" ng-init="ctrl.org.typeId=3">
                <label class="radio-inline">
                    <input type="radio" data-ng-model="ctrl.org.typeId" value="1"> Kommune
                </label>
                <label class="radio-inline">
                    <input type="radio" data-ng-model="ctrl.org.typeId" value="2"> Interessefællesskab
                </label>
                <label class="radio-inline">
                    <input type="radio" data-ng-model="ctrl.org.typeId" value="3"> Virksomhed
                </label>
                <label class="radio-inline">
                    <input type="radio" data-ng-model="ctrl.org.typeId" value="4"> Anden offentlig myndighed
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success" data-ng-disabled="form.$invalid || form.$pristine || ctrl.buttonDisabled" data-disabled-on-busy="">Gem</button>
        <button type="button" class="btn btn-warning" data-ng-click="ctrl.dismiss()" data-disabled-on-busy="">Annuller</button>
    </div>
</form>
