<div data-global-option-role-list="" dir-id="systemRoleId" title="Roller" state="config.system.edit-system-roles" data-options-url="odata/ItSystemRoles"  option-type="role"></div>
<div data-global-option-list="" dir-id="systemTypeId" title="Applikationstyper" state="config.system.edit-system-types" data-options-url="odata/ItSystemTypes" option-type="type"></div>
<div data-global-option-list="" dir-id="businessTypeId" title="Forretningstyper" state="config.system.edit-system-types" data-options-url="odata/BusinessTypes" option-type="type"></div>
<div data-global-option-list="" dir-id="archiveTypeId" title="Arkiveringstyper" state="config.system.edit-system-types" data-options-url="odata/ArchiveTypes" option-type="type"></div>
<div data-global-option-list="" dir-id="dataTypeId" title="Datatyper" state="config.system.edit-system-types" data-options-url="odata/DataTypes" option-type="type"></div>
<div data-global-option-list="" dir-id="frequencyTypeId" title="Frekvenser" state="config.system.edit-system-types" data-options-url="odata/FrequencyTypes" option-type="type"></div>
<div data-global-option-list="" dir-id="itInterfaceTypeId" title="Snitfladetyper" state="config.system.edit-system-types" data-options-url="odata/ItInterfaceTypes" option-type="type"></div>
<div data-global-option-list="" dir-id="interfaceTypeId" title="Grænseflader" state="config.system.edit-system-types" data-options-url="odata/InterfaceTypes" option-type="type"></div>
<div data-global-option-list="" dir-id="methodTypeId" title="Metoder" state="config.system.edit-system-types" data-options-url="odata/MethodTypes" option-type="type"></div>
<div data-global-option-list="" dir-id="sensitiveTypeId" title="Personfølsomme data" state="config.system.edit-system-types" data-options-url="odata/SensitiveDataTypes" option-type="type"></div>
<div data-global-option-list="" dir-id="tsaTypeId" title="TSA" state="config.system.edit-system-types" data-options-url="odata/TsaTypes" option-type="type"></div>

