﻿<div class="container">
    <h3>Regneark for kontraktindgåelse</h3>
    <p>
        Her kan du uploade et regneark som leverandører kan downloade på forsiden af KITOS. <br/>
        Filen der uploades her, bliver downloadet for brugeren som Kontrakt_Indgåelse_Skabelon.xslx, så sørg for at filen har det samme format.
    </p>
    <div class="form-group">
        <label>
            Upload ny skabelon
        </label>
        <input class="file form-control" type="file" file-model="myFile" />
    </div>
    <button class="btn btn-default" ng-click="uploadFile()">Upload</button>
    <br /><br /><br />
    <h3>Global config</h3>
    <div class="well">
        <!-- User startpage preferences -->
        <label class="col-xs-4 control-label" title="Her vælges den primære arbejdsenhed, som systemet så starter i når brugeren logger ind på sin konto">
            Kun Global Admin kan redigere rapporter
        </label>
        <label class="radio-inline">
            <input type="radio" data-ng-model="canGlobalAdminOnlyEditReports.value" name="inlineRadioOptions"
                   id="inlineRadioYes" value="true" data-ng-change="patchConfig(canGlobalAdminOnlyEditReports)"> Ja
        </label>
        <label class="radio-inline">
            <input type="radio" data-ng-model="canGlobalAdminOnlyEditReports.value" name="inlineRadioOptions"
                   id="inlineRadioNo" value="false" data-ng-change="patchConfig(canGlobalAdminOnlyEditReports)"> Nej
        </label>
    </div>
    <h3>KLE</h3>
    <div class="well">
        <label class="col-xs-12" style="padding-left: 5px" id="KLEStatusLabel">{{KLEUpdateAvailableLabel}}</label>
        <button class="btn btn-default" id="KLEChangesButton" ng-disabled="!KLEupdateReadyStep1" ng-click="GetKLEChanges()">Vis ændringer i KLE</button>
        <button class="btn btn-default" id="UpdateKLEButton" ng-disabled="!KLEupdateReadyStep2" ng-click="UpdateKLE()">Opdater KLE</button>
    </div>
 </div>