﻿<div class="container">
    <h3>Regneark for kontraktindgåelse</h3>
    <p>
        Her kan du uploade et regneark som leverandører kan downloade på forsiden af KITOS. <br/>
        Filen der uploades her, bliver downloadet for brugeren som Kontrakt_Indgåelse_Skabelon.xslx, så sørg for at filen har det samme format.
    </p>
    <div class="form-group">
        <label>
            Upload ny skabelon
        </label>
        <input class="file form-control" type="file" file-model="myFile" />
    </div>
    <button class="btn btn-default" ng-click="uploadFile()">Upload</button>
</div>