<div data-global-option-role-list="" title="Roller" data-options-url="odata/ItSystemRoles"></div>
<div data-global-option-list="" title="Applikationstyper" data-options-url="odata/ItSystemTypes"></div>
<div data-global-option-list="" title="Forretningstyper" data-options-url="odata/BusinessTypes"></div>
<div data-global-option-list="" title="Arkiveringstyper" data-options-url="odata/ArchiveTypes"></div>
<div data-global-option-list="" title="Datatyper" data-options-url="odata/DataTypes"></div>
<div data-global-option-list="" title="Frekvenser" data-options-url="odata/FrequencyTypes"></div>
<div data-global-option-list="" title="Snitfladetyper" data-options-url="odata/ItInterfaceTypes"></div>
<div data-global-option-list="" title="Grænseflader" data-options-url="odata/InterfaceTypes"></div>
<div data-global-option-list="" title="Metoder" data-options-url="odata/MethodTypes"></div>
<div data-global-option-list="" title="Personfølsomme data" data-options-url="odata/SensitiveDataTypes"></div>
<div data-global-option-list="" title="TSA" data-options-url="odata/TsaTypes"></div>
