<div class="modal-header">
    <div class="clearfix">
        <h3 class="modal-title pull-left">Organisationer hvor brugeren har rolle(r)</h3>
    </div>
</div>
<div class="modal-body">
    <table class="table table-condensed table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    Organisation
                </th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="orgName in orgNames">
                <td>
                    {{ orgName }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$dismiss()">Ok</button>
</div>
