<div class="container">
    <div class="row">
        <div class="col-xs-12 help-texts-top">
            <div class="form-group">
                <br/>
                <button class="btn btn-primary pull-right" ui-sref="global-admin.help-texts.create">Opret</button>
            </div>
        </div>
        <div class="col-xs-3" data-ng-if="helpTextsCtrl.selectedHelpText">
            <div class="form-group">
                <input type="text" data-ng-model="helpTextsCtrl.heltTextsSearch" placeholder="Søg" class="form-control" />
            </div>
            <div class="help-texts-list list-group">
                <a data-ng-repeat="helpText in helpTextsCtrl.helpTexts | filter: helpTextsCtrl.heltTextsSearch" data-ng-class="{active: helpTextsCtrl.selectedHelpText === helpText}" class="list-group-item" data-ng-click="helpTextsCtrl.selectHelpText(helpText)">
                    <strong>{{ helpText.Title }}</strong> <br/>
                    <i>{{ helpText.Key }}</i>
                </a>
            </div>
        </div>
        <div class="col-xs-9">
            <div data-ng-if="helpTextsCtrl.helpTexts.length">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="contract-name" class="control-label small">Titel</label>
                            <input type="text" data-ng-model="helpTextsCtrl.selectedHelpText.Title" placeholder="Titel" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="contract-name" class="control-label small">Key</label>
                            <input type="text" data-ng-model="helpTextsCtrl.selectedHelpText.Key" placeholder="Key" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea ui-tinymce="helpTextsCtrl.tinymceOptions" data-ng-model="helpTextsCtrl.selectedHelpText.Description"></textarea>
                </div>
                <div class="pull-right">
                    <button class="btn btn-primary" data-ng-click="helpTextsCtrl.delete()">Slet</button> <button class="btn btn-primary" data-ng-click="helpTextsCtrl.save()">Gem</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 well text-center" data-ng-hide="helpTextsCtrl.helpTexts.length">
            <h4>Ingen hjælpetekster oprettet.</h4>
        </div>
    </div>
</div>