<a class="btn btn-sm btn-success" data-ui-sref="global-admin.organizations.create">OPRET</a>
<div style="margin-top: 10px" search-box data-paging="orgCtrl.pagination"></div>

<table class="table">
    <thead>
        <tr>
            <th>Navn</th>
            <th>CVR</th>
            <th>Type</th>
            <th>Synlighed</th>
            <th><!-- CONTROL --></th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="org in orgCtrl.organizations">
            <td>{{ org.name }}</td>
            <td>{{ org.cvr }}</td>
            <td data-ng-switch="org.typeId">
                <span data-ng-switch-when="1">Kommune</span>
                <span data-ng-switch-when="2">Interessefælleskab</span>
                <span data-ng-switch-when="3">Virksomhed</span>
                <span data-ng-switch-when="4">Anden offentlig myndighed</span>
            </td>
            <td data-ng-switch="org.accessModifier">
                <span data-ng-switch-when="0">Lokal</span>
                <span data-ng-switch-when="1">Offentlig</span>
                <span data-ng-switch-when="2">Privat</span>
            </td>
            <td class="text-right">
                <a data-ui-sref="global-admin.organizations.edit({id: {{ org.id }}})" class="btn btn-link btn-sm"><i class="glyphicon glyphicon-pencil"></i></a>
                <a class="btn btn-link btn-sm text-danger"
                   data-confirmed-click="orgCtrl.delete(org.id)"
                   data-confirm-click="Er du sikker på at du vil slette?">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="8" class="text-center">
                <span data-pagination-buttons="orgCtrl.pagination" data-pagination-total-count="orgCtrl.totalCount"></span>
            </td>
        </tr>
    </tfoot>
</table>
