<div data-global-option-role-list="" dir-id="projectRoleId" title="Roller" state="global-admin.project.edit-project-roles" data-options-url="/odata/ItProjectRoles"  option-type="role"></div>
<div data-global-option-list="" dir-id="projectTypeId" title="Projekttyper" state="global-admin.project.edit-project-types" data-options-url="/odata/ItProjectTypes" option-type="type"></div>
<div data-global-option-list="" dir-id="goalTypeId" title="Måltyper" state="global-admin.project.edit-project-types" data-options-url="/odata/GoalTypes" option-type="type"></div>
