<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <br/><br/><br/>
            <div class="list-group">
                <a data-ng-repeat="helpText in helpTextsCtrl.helpTexts" data-ng-class="{active: helpTextsCtrl.selectedHelpText === helpText}" class="list-group-item" data-ng-click="helpTextsCtrl.selectHelpText(helpText)">
                    <strong>{{ helpText.Title }}</strong> <br/>
                    <i>{{ helpText.Key }}</i>
                </a>
            </div>
        </div>
        <div class="col-xs-9">
            <button class="btn btn-primary pull-right" ui-sref="global-admin.help-texts.create">Opret</button>
            <div data-ng-show="helpTextsCtrl.selectedHelpText">
                <h3 data-ng-bind="helpTextsCtrl.selectedHelpText.Title"></h3>
                <div class="form-group">
                    <textarea ui-tinymce="helpTextsCtrl.tinymceOptions" data-ng-model="helpTextsCtrl.selectedHelpText.Description"></textarea>
                </div>
                <div class="pull-right">
                    <button class="btn btn-primary" data-ng-click="helpTextsCtrl.delete()">Slet</button> <button class="btn btn-primary" data-ng-click="helpTextsCtrl.save()">Gem</button>
                </div>
                <help-text data-key="it_kontrakt"></help-text>
            </div>
        </div>
        <div class="col-xs-12 well text-center" data-ng-hide="helpTextsCtrl.selectedHelpText">
            <h4>Ingen hjælpetekster oprettet.</h4>
        </div>
    </div>
</div>