<div class="row form-group">
    <div class="col-xs-3">
        <input type="hidden" id="selectOrg" class="form-control input-sm"
               data-placeholder="Vælg organisation"
               data-ui-select2="ctrl.getOrganizationSelectOptions()"
               data-ng-model="ctrl.newOrg"
               data-ng-change="ctrl.newLocalAdmin()">
    </div>
    <div class="col-xs-9">
        <input id="selectUser" data-select-user="foo" data-user-model="ctrl.newUser" data-on-select="ctrl.newLocalAdmin()"/>
    </div>
</div>
<global-admin-local-admins-list data-local-admins="ctrl.localAdmins" data-callbacks="ctrl.callbacks" />
