<div class="modal-header">
    <h3 class="modal-title">{{::ctrl.title}}</h3>
</div>

<form class="form-horizontal" role="form" name="form" data-ng-submit="ctrl.submit()">
    <div class="modal-body">
        <div ng-if="!ctrl.conflictsDetected">
            Organisationen kan slettes uden tværgående konsekvenser.
        </div>
        <div ng-if="ctrl.conflictsDetected" id="consequencesOverview">
            <h2>Opsummering af konsekvenser ifm. sletning af organisationer i Kitos</h2>
            <div ng-if="ctrl.conflictsModel.contractsWhereSupplierWillBeRemoved.length > 0 || ctrl.conflictsModel.dprWhereOrganizationIsRemovedFromListOfDataProcessors.length > 0 || ctrl.conflictsModel.dprWhereOrganizationIsRemovedFromListOfSubDataProcessors.length > 0">
                For at sikre datakvaliteten i Kitos har Global admin mulighed for at slette en organisation (leverandør/databehandler/underdatabehandler) på trods af, at der måtte være kontrakter eller databehandler registreringer knyttet op på denne.
                <br />
                <br />
                Global admin har nu slettet organisationen <strong>"{{::ctrl.orgName}}"</strong>, hvorfor feltet på nedenstående kontrakter og/eller databehandlerregistreringer dermed nulstilles (blankes ud):
                <!--Additional spacing added for better compliancy with pasting into visual editors such as Word / Outlook-->
                <div ng-if="ctrl.isCopyingConsequencesToClipBoard">
                    <br />
                    <br />
                    <br />
                </div>
            </div>


            <!-- Contracts where the deleted org is set as supplier and deleting the org will reset the supplier -->
            <div class="delete-org-consequences-block" ng-if="ctrl.conflictsModel.contractsWhereSupplierWillBeRemoved.length > 0">
                <h4>Kontrakter hvor organisationen "{{::ctrl.orgName}}" er sat som "Leverandør", og hvor feltet dermed nulstilles:</h4>
                <div class="panel panel-default">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="col-xs-6">Kontrakt</th>
                                <th class="col-xs-6">Oprettet i (organisation)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="contract in ctrl.conflictsModel.contractsWhereSupplierWillBeRemoved">
                                <td class="col-xs-6">{{::contract.name}}</td>
                                <td class="col-xs-6">{{::contract.organizationName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--Additional spacing added for better compliancy with pasting into visual editors such as Word / Outlook-->
                <div ng-if="ctrl.isCopyingConsequencesToClipBoard">
                    <br />
                    <br />
                    <br />
                </div>
            </div>
            <!-- DPR conflicts on data processor-->
            <div class="delete-org-consequences-block" ng-if="ctrl.conflictsModel.dprWhereOrganizationIsRemovedFromListOfDataProcessors.length > 0">
                <h4>Registreringer i modulet "Databehandling", hvor organisationen "{{::ctrl.orgName}}" fjernes som databehandler:</h4>
                <div class="panel panel-default">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="col-xs-6">Databehandling</th>
                                <th class="col-xs-6">Oprettet i (organisation)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dpr in ctrl.conflictsModel.dprWhereOrganizationIsRemovedFromListOfDataProcessors">
                                <td class="col-xs-6">{{::dpr.name}}</td>
                                <td class="col-xs-6">{{::dpr.organizationName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--Additional spacing added for better compliancy with pasting into visual editors such as Word / Outlook-->
                <div ng-if="ctrl.isCopyingConsequencesToClipBoard">
                    <br />
                    <br />
                    <br />
                </div>
            </div>
            <div class="delete-org-consequences-block" ng-if="ctrl.conflictsModel.dprWhereOrganizationIsRemovedFromListOfSubDataProcessors.length > 0">
                <!-- DPR conflicts on sub data processor-->
                <h4>Registreringer i modulet "Databehandling", hvor organisationen "{{::ctrl.orgName}}" fjernes som underdatabehandler:</h4>
                <div class="panel panel-default">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="col-xs-6">Databehandling</th>
                                <th class="col-xs-6">Oprettet i (organisation)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dpr in ctrl.conflictsModel.dprWhereOrganizationIsRemovedFromListOfSubDataProcessors">
                                <td class="col-xs-6">{{::dpr.name}}</td>
                                <td class="col-xs-6">{{::dpr.organizationName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--Additional spacing added for better compliancy with pasting into visual editors such as Word / Outlook-->
                <div ng-if="ctrl.isCopyingConsequencesToClipBoard">
                    <br />
                    <br />
                    <br />
                </div>
            </div>

            <h2>Øvrige konsekvenser som information til Global Admin</h2>
            <!--Additional spacing added for better compliancy with pasting into visual editors such as Word / Outlook-->
            <div ng-if="ctrl.isCopyingConsequencesToClipBoard">
                <br />
                <br />
                <br />
            </div>
            <div class="delete-org-consequences-block" ng-if="ctrl.conflictsModel.systemsInOtherOrganizationsWhereRightsHolderWillBeRemoved.length > 0">
                <!-- Rights holder conflicts-->
                <h4>IT-Systemer i kataloget, hvor "{{::ctrl.orgName}}" er sat som "Rettighedshaver", og hvor feltet dermed nulstilles:</h4>
                <div class="panel panel-default">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="col-xs-6">IT-System (i kataloget)</th>
                                <th class="col-xs-6">Oprettet i (organisation)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="system in ctrl.conflictsModel.systemsInOtherOrganizationsWhereRightsHolderWillBeRemoved">
                                <td class="col-xs-6">{{::system.name}}</td>
                                <td class="col-xs-6">{{::system.organizationName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--Additional spacing added for better compliancy with pasting into visual editors such as Word / Outlook-->
                <div ng-if="ctrl.isCopyingConsequencesToClipBoard">
                    <br />
                    <br />
                    <br />
                </div>
            </div>

            <div class="delete-org-consequences-block" ng-if="ctrl.conflictsModel.systemsBeingMovedToDefaultOrg.systemsExposingInterfacesOutsideTheOrganization.length > 0">
                <!-- Systems moved to default org due to exposing interfaces from other organizations -->
                <h4>IT-Systemer som flyttes til "Fælles kommune", da de udstiller Snitflader oprettet i andre organisationer:</h4>
                <div class="panel panel-default">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="col-xs-4">IT-System (i kataloget)</th>
                                <th class="col-xs-4">Udstillet Snitflade</th>
                                <th class="col-xs-4">Oprettet i (organisation)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="0" ng-repeat-start="system in ctrl.conflictsModel.systemsBeingMovedToDefaultOrg.systemsExposingInterfacesOutsideTheOrganization" />
                            <tr ng-repeat="exposedInterface in system.exposedInterfaces">
                                <td class="col-xs-4">{{::system.name}}</td>
                                <td class="col-xs-4">{{::exposedInterface.name}}</td>
                                <td class="col-xs-4">{{::exposedInterface.organizationName}}</td>
                            </tr>
                            <tr ng-if="0" ng-repeat-end />
                        </tbody>
                    </table>
                </div>
                <!--Additional spacing added for better compliancy with pasting into visual editors such as Word / Outlook-->
                <div ng-if="ctrl.isCopyingConsequencesToClipBoard">
                    <br />
                    <br />
                    <br />
                </div>
            </div>


            <div class="delete-org-consequences-block" ng-if="ctrl.conflictsModel.systemsBeingMovedToDefaultOrg.systemsSetAsParentsToSystemsOutsideTheOrganization.length > 0">
                <!-- Systems moved to default org due to parent relationship to one or more it-systems in other orgs -->
                <h4>IT-Systemer som flyttes til "Fælles kommune", da de er sat som "Overordnet IT-System" på systemer oprettet i andre organisationer:</h4>
                <div class="panel panel-default">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="col-xs-4">IT-System (i kataloget)</th>
                                <th class="col-xs-4">Overordnet system for (IT-System)</th>
                                <th class="col-xs-4">Oprettet i (organisation)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="0" ng-repeat-start="system in ctrl.conflictsModel.systemsBeingMovedToDefaultOrg.systemsSetAsParentsToSystemsOutsideTheOrganization" />
                            <tr ng-repeat="child in system.children">
                                <td col-xs-4>{{::system.name}}</td>
                                <td col-xs-4>{{::child.name}}</td>
                                <td col-xs-4>{{::child.organizationName}}</td>
                            </tr>
                            <tr ng-if="0" ng-repeat-end />
                        </tbody>
                    </table>
                </div>
                <!--Additional spacing added for better compliancy with pasting into visual editors such as Word / Outlook-->
                <div ng-if="ctrl.isCopyingConsequencesToClipBoard">
                    <br />
                    <br />
                    <br />
                </div>
            </div>

            <div class="delete-org-consequences-block" ng-if="ctrl.conflictsModel.systemsBeingMovedToDefaultOrg.systemsUsedOutsideTheOrganization.length > 0">
                <!-- Systems moved to default org due to usage in other organizations -->
                <h4>IT-Systemer som flyttes til "Fælles kommune", da de stadig er er i anvendelse i andre organisationer:</h4>
                <div class="panel panel-default">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="col-xs-6">IT-System (i kataloget)</th>
                                <th class="col-xs-6">Anvendt i (organisationer)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="system in ctrl.conflictsModel.systemsBeingMovedToDefaultOrg.systemsUsedOutsideTheOrganization">
                                <td class="col-xs-6">{{::system.name}}</td>
                                <td class="col-xs-6">
                                    <ul ng-repeat="organization in system.organizations">
                                        <li>{{::organization}}</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--Additional spacing added for better compliancy with pasting into visual editors such as Word / Outlook-->
                <div ng-if="ctrl.isCopyingConsequencesToClipBoard">
                    <br />
                    <br />
                    <br />
                </div>
            </div>

            <div class="delete-org-consequences-block" ng-if="ctrl.conflictsModel.systemsBeingMovedToDefaultOrg.systemsWhereOrgIsArchiveSupplier.length > 0">
                <!-- Interfaces moved to default org since they are exposed on systems created in other organizations -->
                <h4>IT-Systemer hvor organisationen "{{::ctrl.orgName}}" er sat som "Arkiveringsleverandør", og hvor feltet dermed nulstilles:</h4>
                <div class="panel panel-default">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="col-xs-4">IT-System (i anvendelse)</th>
                                <th class="col-xs-4">Anvendt i (organisation)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="itSystem in ctrl.conflictsModel.systemsBeingMovedToDefaultOrg.systemsWhereOrgIsArchiveSupplier">
                                <td class="col-xs-4">{{::itSystem.name}}</td>
                                <td class="col-xs-4">{{::itSystem.organizationName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="delete-org-consequences-block" ng-if="ctrl.conflictsModel.interfacesBeingMovedToDefaultOrg.exposedOnSystemsInOtherOrganizations.length > 0">
                <!-- Interfaces moved to default org since they are exposed on systems created in other organizations -->
                <h4>Snitflader som flyttes til "Fælles kommune", da de er udstillet på IT-Systemer oprettet i andre organisationer:</h4>
                <div class="panel panel-default">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="col-xs-4">Snitflade</th>
                                <th class="col-xs-4">Udstillet på i (IT-System)</th>
                                <th class="col-xs-4">Oprettet i (organisation)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="itInterface in ctrl.conflictsModel.interfacesBeingMovedToDefaultOrg.exposedOnSystemsInOtherOrganizations">
                                <td class="col-xs-4">{{::itInterface.name}}</td>
                                <td class="col-xs-4">{{::itInterface.exposedOnSystem.name}}</td>
                                <td class="col-xs-4">{{::itInterface.exposedOnSystem.organizationName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-if="ctrl.conflictsDetected" type="button" class="btn pull-left" data-ng-click="ctrl.copyToClipBoard()" data-disabled-on-busy="">Kopier konsekvenser til udklipsholder</button>
        <div class="checkbox-inline" ng-if="ctrl.conflictsDetected">
            <label for="deleteOrgAcceptChkBox">
                <input id="deleteOrgAcceptChkBox" type="checkbox" ng-model="ctrl.consequencesAccepted" />
                Jeg forstår og accepterer ovenstående konsekvenser
            </label>
        </div>
        <button type="submit" class="btn btn-success" data-ng-disabled="!ctrl.consequencesAccepted" data-disabled-on-busy="" id="deleteOrgSubmit">Slet</button>
        <button type="button" class="btn btn-warning" data-ng-click="ctrl.dismiss()" data-disabled-on-busy="">Annuller</button>
    </div>
</form>
