<div class="modal-header">
    <h3>Opret hjælpetekst</h3>
</div>
<div class="modal-body">
    <form novalidate="novalidate" class="form-horizontal">
        <div class="form-group">
            <label for="title" class="col-xs-2 control-label">
                Titel
            </label>
            <div class="col-xs-8">
                <input type="text" name="title" id="title" data-ng-model="ctrl.vm.title" class="form-control" data-ng-required="true" autofocus data-ng-disabled="ctrl.busy">
            </div>
        </div>
        <div class="form-group">
            <label for="key" class="col-xs-2 control-label">
                Key
            </label>
            <div class="col-xs-8">
                <input type="text" name="key" id="key" data-ng-model="ctrl.vm.key" class="form-control" data-ng-required="true" data-ng-disabled="ctrl.busy" aria-describedby="helpBlock">
                <span id="helpBlock" class="help-block small">Anvendes til at implentere hjælpetekstmodaler, og må derfor ikke ændres, når den først er implementeret.</span>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" data-ng-click="ctrl.create()" data-ng-disabled="!ctrl.vm.title || !ctrl.vm.key || ctrl.busy" data-disabled-on-busy="">Opret hjælpetekst</button>
    <button class="btn btn-warning" data-ng-click="ctrl.cancel()" data-ng-disabled="ctrl.busy" data-disabled-on-busy="">Annuller</button>
</div>
