@if (Request.IsAuthenticated) {
    <text>
        Logget ind som @User.Identity.Name | 
        @using (Html.BeginForm("Logout", "Home", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log ud</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Log ind", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
