@if (Request.IsAuthenticated) {
        using (Html.BeginForm("Logout", "Authorize", FormMethod.Post, new { @class = "form-inline" })) {
            @Html.AntiForgeryToken()

            <div class="form-group small">
                @Html.ActionLink(User.Identity.Name, "UserPage", "Home", null, new {@class = "btn btn-xs btn-link"})
                <input type="submit" value="Log ud" class="btn btn-xs btn-link" />
            </div>
            
        }
} else {
    @Html.ActionLink("Log ind", "Login", "Authorize", null, new {@class = "btn btn-xs btn-link"})
    @Html.ActionLink("Glemt password?", "ForgotPassword", "Authorize", null, new {@class = "btn btn-xs btn-link"})
}
