<div class="object-section-container">
    <h4 data-element-type="dpaMainDetailHeader">{{vm.headerName}}</h4>
    <div class="panel panel-default">
        <div class="row">

            <div class="col-xs-6">
                <div class="form-group">
                    <!-- Oversight options -->
                    <label for="oversightTable" class="control-label small">Tilsynsmuligheder</label>
                    <table id="oversightTable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="element-selection-list_header--padding noRightBorder">
                                    <p class="small">Navn</p>
                                </th>
                                <th class="element-selection-list_header--padding noLeftBorder"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="oversigthOption in vm.oversigthOptions.selectedElements" data-element-type="data-processing_oversight_options">
                                <td>{{::oversigthOption.name }}<span ng-if="oversigthOption.expired"> (udgået)</span></td>
                                <td class="text-right noLeftBorder" style="width: 20px;">
                                    <button type="button"
                                            class="btn btn-danger btn-xs"
                                            data-confirmed-click="vm.oversigthOptions.removeItemRequested({{::oversigthOption}})"
                                            data-confirm-click="Er du sikker på at du vil slette tilknytningen?"
                                            ng-if="vm.oversigthOptions.allowRemoval">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="vm.oversigthOptions.allowAddition" class="element-selection-list_footer--padding">
                            <tr>
                                <td colspan="3" style="padding: 0">
                                    <single-select-select2 data-placeholder="Vælg Tilsynsmulighed"
                                                           id="oversight-option_select-new"
                                                           ng-model="vm.oversigthOptions.newItemSelectionConfig"
                                                           ng-disabled="!vm.oversigthOptions.allowAddition" />
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- Oversight Option Remark -->
                <div class="form-group">
                    <label for="oversightOptionRemark" class="control-label small">Bemærkning</label>
                    <remark-field id="oversightOptionRemark"
                                  rows="2"
                                  ng-model="vm.oversightOptionsRemark"
                                  ng-disabled="!vm.hasWriteAccess" />
                </div>
            </div>

            <div class="col-xs-6">
                <!--Oversight Interval  -->
                <div class="form-group">
                    <label for="oversightInterval" class="control-label small">Tilsynsinterval</label>
                    <single-select-select2 id="oversightInterval" ng-model="vm.oversightInterval" ng-disabled="!vm.hasWriteAccess" />
                </div>
                <!-- Oversight Interval Remark -->
                <div class="form-group">
                    <label for="oversightIntervalRemark" class="control-label small">Bemærkninger</label>
                    <remark-field id="oversightIntervalRemark"
                                  rows="2"
                                  ng-model="vm.oversightIntervalRemark"
                                  ng-disabled="!vm.hasWriteAccess" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="object-section-container"></div>