<div class="modal-header">
    <div class="clearfix">
        <h3 class="modal-title pull-left">{{ctrl.title}}</h3>
    </div>
</div>

<form name="createForm">
    <div class="modal-body relation">
        <div class="row">
            <div class="col-md-3">

            </div>
            <!--Exposing System-->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="sub-data-processor_select-new">Underdatabehandler *</label>
                    <single-select-select2 data-placeholder="Vælg Underdatabehandler"
                                           id="sub-data-processor_select-new"
                                           ng-model="ctrl.subDataProcessorsConfig" />
                    <div ng-if="ctrl.viewModel.cvrNumber">
                        <i>CVR: {{ctrl.viewModel.cvrNumber}}</i>
                    </div>
                </div>
                <div class="form-group">
                    <label for="basisForTransferConfig">Overførselsgrundlag</label>
                    <single-select-select2 data-placeholder="Vælg overførselsgrundlag" id="basisForTransferConfig" ng-model="ctrl.subDataProcessorBasisForTransferConfig" />
                </div>
                <div class="form-group">
                    <label for="transferToInsecureThirdCountries">Overførsel til usikkert 3. land</label>
                    <single-select-select2 id="transferToInsecureThirdCountries" ng-model="ctrl.subDataProcessorTransferToThirdCountriesConfig" />
                </div>
                <div class="form-group" ng-if="ctrl.viewModel.transferToInsecureThirdCountryId === ctrl.yesValue">
                    <label for="insecureThirdCountryConfig">Land der overføres til</label>
                    <single-select-select2 id="insecureThirdCountryConfig" ng-model="ctrl.subDataProcessorInsecureThirdCountriesConfig" />
                </div>
            </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" ng-click="ctrl.cancel()">Annuller</button>
                    <button id="save-sub-data-processor-btn" type="button" class="btn btn-primary" ng-click="ctrl.save()" ng-disabled="ctrl.isInvalid()">Gem</button>
        </div>
    </div>
</form>