<div class="object-section-container">
    <h4 data-element-type="dpaMainDetailHeader">{{vm.headerName}}</h4>
    <div class="panel panel-default">
        <div class="row">
            <div class="col-xs-6">
                <!--Tilsyn Interval  -->
                <div class="form-group">
                    <label for="oversightInterval" class="control-label small">Tilsynsinterval</label>
                    <single-select-select2 id="oversightInterval" ng-model="vm.oversightInterval" ng-disabled="!vm.hasWriteAccess" data-element-type="oversightInterval" />
                </div>
                <!-- Tilsyn Interval Bemærkning -->
                <div class="form-group">
                    <label for="oversightIntervalRemark" class="control-label small">Tilsynsinterval bemærkning</label>
                    <textarea id="oversightIntervalRemark" class="form-control input-sm" rows="2"
                              ng-disabled="!vm.hasWriteAccess"
                              ng-model="vm.oversightIntervalRemark"
                              data-element-type="oversightIntervalRemark"
                              ng-blur="vm.changeOversightIntervalRemark(vm.oversightIntervalRemark)"
                              data-field="oversightIntervalRemark">
                    </textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="object-section-container"></div>