<div class="modal-header">
    <div class="clearfix">
        <h3 class="modal-title pull-left">Opret tilsyn</h3>
    </div>
</div>
<form name="createForm">
    <div class="modal-body">
        <div class="row">

            <div class="form-group">
                <label class="control-label" for="date">Dato</label>
                <input id="date" 
                       type="text" 
                       name="date" 
                       placeholder="Dato" 
                       class="form-control" 
                       data-kendo-date-picker
                       data-k-options="modalvm.datepickerOptions" 
                       ng-model="modalvm.oversightDate" 
                       data-ng-disabled="!modalvm.hasWriteAccess" 
                       required>
            </div>

            <div class="form-group">
                <label class="control-label" for="remark">Bemærkning</label>
                <textarea class="form-control input-sm"
                          id="remark"
                          rows="2"
                          ng-disabled="!modalvm.hasWriteAccess"
                          ng-model="modalvm.oversightRemark">
                </textarea>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-warning" ng-click="$dismiss()">Annuller</button>
        <button type="submit" class="btn btn-primary" ng-click="modalvm.save()" data-ng-disabled="!modalvm.hasWriteAccess">Gem</button>
    </div>
</form>