<div class="object-section-container">
    <h4 data-element-type="dpaMainDetailHeader">{{vm.headerName}}</h4>
    <div class="panel panel-default">
        <div class="panel-heading">Registeringen er tilknyttet følgende kontrakter (tilknytningen oprettes under Kontraktmodulet):</div>
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>
                        IT Kontrakt
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="contract in vm.contracts">
                    <td>
                        <a data-ui-sref="it-contract.edit.main({id: contract.id})">
                            {{contract.name}}
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<div class="object-section-container"></div>