<div class="object-section-container">
    <h4 data-element-type="dpaMainDetailHeader">{{vm.headerName}}</h4>
    <div class="panel panel-default">
        <div class="row">
            <div class="col-xs-6">
                <!-- Name -->
                <div class="form-group">
                    <label for="dataProcessingRegistration-name" class="control-label small">Navn</label>
                    <input type="text" id="dataProcessingRegistration-name" class="form-control input-sm" required
                           data-ng-model="vm.dataProcessingRegistration.name"
                           data-element-type="dpaMainName"
                           data-field="name"
                           ng-blur="vm.changeName(vm.dataProcessingRegistration.name)"
                           data-ng-disabled="!vm.hasWriteAccess"
                           autofocus
                           maxlength="150">
                </div>


                <!-- Data responsible -->
                <div class="form-group">
                    <label for="dataResponsible" class="control-label small">Dataansvarlig</label>
                    <single-select-select2 id="dataResponsible"
                                           data-placeholder="Vælg dataansvarlig"
                                           ng-model="vm.dataResponsible"
                                           ng-disabled="!vm.hasWriteAccess" />
                </div>

                <!-- Data responsible Remark -->
                <div class="form-group">
                    <label for="dataResponsibleRemark" class="control-label small">Dataansvarlig bemærkninger</label>
                    <remark-field id="dataResponsibleRemark"
                                  rows="2"
                                  ng-model="vm.dataResponsibleRemark"
                                  ng-disabled="!vm.hasWriteAccess" />
                </div>


                <!-- Agreement concluded -->
                <div class="form-group">
                    <label for="agreementConcluded" class="control-label small">Databehandleraftale er indgået</label>
                    <single-select-select2 id="agreementConcluded" ng-model="vm.isAgreementConcluded" ng-disabled="!vm.hasWriteAccess" />
                </div>

                <div class="form-group" ng-if="vm.shouldShowAgreementConcludedAt">
                    <!-- Date of last control of the data processor -->
                    <div class="form-group">
                        <label for="agreementConcludedAt" class="control-label small">Dato for indgåelse af databehandleraftale</label>
                        <date-picker id="agreementConcludedAt"
                                     ng-model="vm.agreementConcludedAt"
                                     ng-disabled="!vm.hasWriteAccess" />
                    </div>
                </div>

                <div class="form-group">
                    <!-- Transfer to insecure third country -->
                    <label for="transferToInsecureThirdCountries" class="control-label small">Overførsel til usikkert 3. land</label>
                    <single-select-select2 id="transferToInsecureThirdCountries" ng-model="vm.transferToInsecureThirdCountries" ng-disabled="!vm.hasWriteAccess" />
                </div>
                <div class="form-group" ng-if="vm.enableSelectionOfInsecureThirdCountries">
                    <!-- Insecure third countries -->
                    <label for="insecureThirdCountriesTable" class="control-label small">Lande der overføres til</label>
                    <table id="insecureThirdCountriesTable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="element-selection-list_header--padding noRightBorder">
                                    <p class="small">Navn</p>
                                </th>
                                <th class="element-selection-list_header--padding noLeftBorder"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="country in vm.insecureThirdCountries.selectedElements" data-element-type="data-processing_insecure_third_countries">
                                <td>{{::country.name }}<span ng-if="country.expired"> (udgået)</span></td>
                                <td class="text-right noLeftBorder" style="width: 20px;">
                                    <button type="button"
                                            class="btn btn-danger btn-xs"
                                            data-confirmed-click="vm.insecureThirdCountries.removeItemRequested({{::country}})"
                                            data-confirm-click="Er du sikker på at du vil slette tilknytningen?"
                                            ng-if="vm.insecureThirdCountries.allowRemoval">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="vm.insecureThirdCountries.allowAddition" class="element-selection-list_footer--padding">
                            <tr>
                                <td colspan="2" style="padding: 0">
                                    <single-select-select2 data-placeholder="Vælg usikkert 3. land"
                                                           id="insecure-third-country_select-new"
                                                           ng-model="vm.insecureThirdCountries.newItemSelectionConfig"
                                                           ng-disabled="!vm.insecureThirdCountries.allowAddition" />
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- Basis for transfer -->
                <div class="form-group">
                    <label for="basisForTransfer" class="control-label small">Overførselsgrundlag</label>
                    <single-select-select2 data-placeholder="Vælg overførselsgrundlag" id="basisForTransfer" ng-model="vm.basisForTransfer" ng-disabled="!vm.hasWriteAccess" />
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <!-- Data processors -->
                    <label for="dpTable" class="control-label small">Databehandlere</label>
                    <table id="dpTable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="element-selection-list_header--padding">
                                    <p class="small">Navn</p>
                                </th>
                                <th class="element-selection-list_header--padding noRightBorder">
                                    <p class="small">CVR</p>
                                </th>
                                <th class="element-selection-list_header--padding noLeftBorder"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dataProcessor in vm.dataProcessors.selectedElements" data-element-type="data-processing_data-processors">
                                <td>{{::dataProcessor.name }}</td>
                                <td class="noRightBorder">{{::dataProcessor.cvrNumber }}</td>
                                <td class="text-right noLeftBorder" style="width: 20px;">
                                    <button type="button"
                                            class="btn btn-danger btn-xs"
                                            data-confirmed-click="vm.dataProcessors.removeItemRequested({{::dataProcessor}})"
                                            data-confirm-click="Er du sikker på at du vil slette tilknytningen?"
                                            ng-if="vm.dataProcessors.allowRemoval">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="vm.dataProcessors.allowAddition" class="element-selection-list_footer--padding">
                            <tr>
                                <td colspan="3" style="padding: 0">
                                    <single-select-select2 data-placeholder="Vælg Databehandler"
                                                           id="data-processor_select-new"
                                                           ng-model="vm.dataProcessors.newItemSelectionConfig"
                                                           ng-disabled="!vm.dataProcessors.allowAddition" />
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="form-group">
                    <!-- Sub Data processors State -->
                    <label for="hasSubDataProcessorsSelection" class="control-label small">Underdatabehandlere</label>
                    <single-select-select2 id="hasSubDataProcessorsSelection" ng-model="vm.hasSubDataProcessors" ng-disabled="!vm.hasWriteAccess" />

                </div>
                <div class="form-group" ng-if="vm.enableDataProcessorSelection">
                    <!-- Sub Data processors -->
                    <table id="subDpTable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="element-selection-list_header--padding">
                                    <p class="small">Navn</p>
                                </th>
                                <th class="element-selection-list_header--padding noRightBorder">
                                    <p class="small">CVR</p>
                                </th>
                                <th class="element-selection-list_header--padding noLeftBorder"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dataProcessor in vm.subDataProcessors.selectedElements" data-element-type="data-processing_sub-data-processors">
                                <td>{{::dataProcessor.name }}</td>
                                <td class="noRightBorder">{{::dataProcessor.cvrNumber }}</td>
                                <td class="text-right noLeftBorder" style="width: 20px;">
                                    <button type="button"
                                            class="btn btn-danger btn-xs"
                                            data-confirmed-click="vm.subDataProcessors.removeItemRequested({{::dataProcessor}})"
                                            data-confirm-click="Er du sikker på at du vil slette tilknytningen?"
                                            ng-if="vm.subDataProcessors.allowRemoval">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="vm.subDataProcessors.allowAddition" class="element-selection-list_footer--padding">
                            <tr>
                                <td colspan="3" style="padding: 0">
                                    <single-select-select2 data-placeholder="Vælg Underdatabehandler"
                                                           id="sub-data-processor_select-new"
                                                           ng-model="vm.subDataProcessors.newItemSelectionConfig"
                                                           ng-disabled="!vm.subDataProcessors.allowAddition" />
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="object-section-container"></div>