<div class="object-section-container">
    <h4>{{dataProcessing.name}}</h4>
    <div class="panel panel-default">
        <div class="row">
            <div class="col-xs-6">
                <!-- Name -->
                <div class="form-group">
                    <label for="dataProccessAgreement-name" class="control-label small">Databehandling</label>
                    <input type="text" id="dataProccessAgreement-name" class="form-control input-sm" required
                           data-ng-model="dataProcessing.name"
                           data-field="name"
                           data-autosave="{{autosaveUrl}}"
                           data-ng-disabled="!hasWriteAccess"
                           autofocus
                           maxlength="150">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="object-section-container"></div>