<div class="modal-header">
    <div class="clearfix">
        <h3 class="modal-title pull-left">{{::ctrl.title}}</h3>
        <help-text class="pull-right" data-key="dpr-sub-data-processor-modal.{{::ctrl.helpTextKey}}" data-default-title="{{::ctrl.title}}"></help-text>
    </div>
</div>

<div class="modal-body">
    <form name="createForm">
        <div class="row">
            <div class="col-md-3">

            </div>
            <!--Exposing System-->
            <div class="col-md-6">
                <div class="form-group">
                    <div ng-if="!ctrl.isEdit">
                        <label for="sub-data-processor_select-new">{{::ctrl.subDataProcessorFieldName}}</label>
                        <single-select-select2 data-placeholder="Vælg Underdatabehandler"
                                               id="sub-data-processor_select-new"
                                               ng-model="ctrl.subDataProcessorsConfig" />
                    </div>
                    <div ng-if="ctrl.isEdit">
                        <label for="sub-data-processor_select-edit">{{::ctrl.subDataProcessorFieldName}}</label>
                        <label type="text" disabled="disabled" id="sub-data-processor_select-edit" class="form-control input-sm">{{::ctrl.subDataProcessorName}}</label>
                    </div>
                    <span ng-if="ctrl.viewModel.cvrNumber" class="help-block small">
                        CVR: {{ctrl.viewModel.cvrNumber}}
                    </span>
                </div>
                <div class="form-group">
                    <label for="basisForTransferConfig">Overførselsgrundlag</label>
                    <single-select-select2 data-placeholder="Vælg overførselsgrundlag" id="basisForTransferConfig" ng-model="ctrl.subDataProcessorBasisForTransferConfig" />
                </div>
                <div class="form-group">
                    <label for="transferToInsecureThirdCountries">Overførsel til usikkert 3. land</label>
                    <single-select-select2 id="transferToInsecureThirdCountries" ng-model="ctrl.subDataProcessorTransferToThirdCountriesConfig" />
                </div>
                <div class="form-group" ng-if="ctrl.viewModel.transferToInsecureThirdCountryId === ctrl.yesValue">
                    <label for="insecureThirdCountryConfig">Land der overføres til</label>
                    <single-select-select2 id="insecureThirdCountryConfig" ng-model="ctrl.subDataProcessorInsecureThirdCountriesConfig" />
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="ctrl.close()">Annuller</button>
    <button id="save-sub-data-processor-btn" type="button" class="btn btn-primary" ng-click="ctrl.save()" ng-disabled="ctrl.isInvalid()">Gem</button>
</div>