<div class="modal-header">
    <div class="clearfix">
        <h3 class="modal-title pull-left">Opret ny reference</h3>
        <help-text class="pull-right" data-key="it_reference_create" data-default-title="Opret reference"></help-text>
    </div>
</div>
<form name="activityForm" novalidate="novalidate" class="form-horizontal" data-element-type="referenceCreatorForm" data-ng-submit="save()">
    <div class="modal-body">
        <div class="form-group">
            <label for="documentTitle" class="col-xs-4 control-label small">
                Dokumenttitel
            </label>
            <div class="col-xs-7">
                <input type="text" id="documentTitle" ng-model="reference.title" data-element-type="referenceDocTitle" class="form-control input-sm" required />
            </div>
        </div>
        <div class="form-group">
            <label for="dokomentID" class="col-xs-4 control-label small">
                Evt. DokumentID/sagsnr./Anden Reference
            </label>
            <div class="col-xs-7">
                <input type="text" id="DocumentId" ng-model="reference.referenceId" data-element-type="referenceDocId" class="form-inline form-control input-sm" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-4 control-label small">
                URL, hvis dokumenttitel skal virke som link
            </label>
            <div class="col-xs-7">
                <input type="text" id="documentURL" ng-model="reference.url" data-element-type="referenceDocUrl" class="form-control form-inline input-sm" aria-describedby="helpBlock" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" id="save" data-element-type="editSaveReference" class="btn btn-success" ng-click="vm.save()" data-ng-disabled="!((!!reference.externalReferenceId || !!reference.url) && !!reference.title)">Gem</button>
            <button type="button" id="cancel" class="btn btn-warning" ng-click="vm.cancel()">Annuller</button>
        </div>
    </div>
</form>
