<div class="object-section-container">
    <h4 data-element-type="dpaRolesDetailHeader">{{::vm.headerName}}</h4>
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-user"></i>
            Roller
        </div>
        <table class="full-width table org-role-table">
            <thead>
                <tr>
                    <th>
                        <button class="btn btn-link btn-header" ng-click="vm.sortAssignedRoles('roleName')">Rolle</button>
                    </th>
                    <th>
                        <button class="btn btn-link btn-header" ng-click="vm.sortAssignedRoles('userName')">Navn</button>
                    </th>
                    <th>
                        <button class="btn btn-link btn-header" ng-click="vm.sortAssignedRoles('userEmail')">Email</button>
                    </th>
                </tr>
            </thead>


            <!-- for each right -->
            <tbody ng-repeat="assignedRole in vm.assignedRoles | orderBy : rightSort : rightSortReverse" id="table-of-assigned-roles">
                <!-- show -->
                <tr ng-if="!assignedRole.isEditing">
                    <td>{{ assignedRole.role.name }} <a uib-tooltip="{{ assignedRole.role.note }}"><i class="fa fa-info-circle" aria-hidden="true"></i></a></td>
                    <td>{{ assignedRole.user.name }}</td>
                    <td>
                        {{ assignedRole.user.email }}
                        <div class="pull-right" ng-show="vm.hasWriteAccess">
                            <a ng-click="assignedRole.isEditing = true" class="btn btn-info btn-xs edit-right">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a class="btn btn-danger btn-xs delete-right"
                               data-confirmed-click="vm.removeRole(assignedRole)"
                               data-confirm-click="Er du sikker på at du vil slette?">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>

                <!-- edit -->
                <tr ng-if="assignedRole.isEditing">
                    <td>
                        <select class="form-control input-sm"
                                ui-select2
                                ng-model="assignedRole.newRoleIdAsString">
                            <option data-ng-repeat="role in ::vm.roles" value="{{role.id}}">
                                {{role.text}}
                            </option>
                        </select>
                    </td>
                    <td colspan="2" class="relative-position">
                        <!-- type="hidden" makes it start with a default value if the model already contains a value -->
                        <input type="hidden"
                               class="form-control input-sm"
                               ui-select2="assignedRole.editUserOptions"
                               ng-model="assignedRole.newUser" />
                        <div class="pull-outside-table">
                            <input type="submit"
                                   class="btn btn-success btn-sm"
                                   value="Gem"
                                   ng-click="vm.editRole(assignedRole)" />
                        </div>
                    </td>
                </tr>
            </tbody>

            <!-- add-new-right row -->
            <tbody ng-hide="!vm.hasWriteAccess">
                <tr>
                    <td>
                        <select id="add-role"
                                class="form-control input-sm"
                                ui-select2
                                ng-model="vm.selectedRoleIdAsString">
                            <option data-ng-repeat="role in ::vm.roles" value="{{role.id}}">
                                {{role.text}}
                            </option>
                        </select>
                    </td>
                    <td colspan="2" class="form-group">
                        <input id="add-user"
                               class="form-control input-sm"
                               ui-select2="::vm.userOptions"
                               placeholder="Vælg bruger"
                               ng-model="vm.selectedUser"
                               ng-change="vm.submitRole()">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>