<div class="object-section-container">
    <h4 data-element-type="dpaMainDetailHeader">{{vm.headerName}}</h4>
    <div class="panel panel-default">
        <div class="row">
            <div class="col-xs-6">
                <!-- Name -->
                <div class="form-group">
                    <label for="dataProcessingRegistration-name" class="control-label small">Navn</label>
                    <input type="text" id="dataProcessingRegistration-name" class="form-control input-sm" required
                           data-ng-model="vm.dataProcessingRegistration.name"
                           data-element-type="dpaMainName"
                           data-field="name"
                           ng-blur="vm.changeName(vm.dataProcessingRegistration.name)"
                           data-ng-disabled="!vm.hasWriteAccess"
                           autofocus
                           maxlength="150">
                </div>
                <!-- Agreement concluded -->
                <div class="form-group">
                    <label for="agreementConcluded" class="control-label small">Databehandleraftale er indgået</label>
                    <select class="form-control input-sm" id="agreementConcluded"
                            ui-select2="noSearchNoClearSelect2"
                            ng-model="vm.isAgreementConcluded.selectedElement"
                            ng-change="vm.isAgreementConcluded.elementSelected(vm.isAgreementConcluded.selectedElement)"
                            ng-disabled="!vm.hasWriteAccess">
                        <option hidden selected value />
                        <option ng-repeat="option in vm.isAgreementConcluded.select2Options" value="{{::option.optionalObjectContext}}" ng-bind-html="option.text" />
                    </select>
                </div>
                <div ng-if="vm.shouldShowAgreementConcludedAt">
                    <!-- Date of last control of the data processor -->
                    <div class="form-group">
                        <label for="agreementConcludedAt" class="control-label small">Dato for indgåelse af databehandleraftale</label>
                        <input type="text" id="agreementConcludedAt" class="form-control"
                               data-kendo-date-picker
                               data-k-options="vm.agreementConcludedAt.dateFormat"
                               ng-disabled="!vm.hasWriteAccess"
                               ng-model="vm.agreementConcludedAt.selectedDate"
                               ng-blur="vm.agreementConcludedAt.dateSelected(vm.agreementConcludedAt.selectedDate)"/>
                        <span id="helpBlock" class="help-block small">Eksempelvis "25-04-2017"</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <!-- Data processors -->
                    <label for="dpTable" class="control-label small">Databehandlere</label>
                    <table id="dpTable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="data-processors-table_header--padding">
                                    <p class="small">Navn</p>
                                </th>
                                <th class="data-processors-table_header--padding noRightBorder">
                                    <p class="small">CVR</p>
                                </th>
                                <th class="data-processors-table_header--padding noLeftBorder"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dataProcessor in vm.dataProcessors.selectedElements" data-element-type="data-processing_data-processors">
                                <td>{{::dataProcessor.name }}</td>
                                <td class="noRightBorder">{{::dataProcessor.cvrNumber }}</td>
                                <td class="text-right noLeftBorder" style="width: 20px;">
                                    <button type="button"
                                            class="btn btn-danger btn-xs"
                                            data-confirmed-click="vm.dataProcessors.removeItemRequested({{::dataProcessor}})"
                                            data-confirm-click="Er du sikker på at du vil slette tilknytningen?"
                                            ng-if="vm.dataProcessors.allowRemoval">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="vm.dataProcessors.allowAddition" class="data-processors-table_footer--padding">
                            <tr>
                                <td colspan="3" style="padding: 0">
                                    <input type="hidden"
                                           id="data-processor_select-new"
                                           class="form-control input-sm"
                                           data-ui-select2="vm.dataProcessors.select2Config"
                                           ng-model="vm.dataProcessors.newElementSelection"
                                           ng-change="vm.dataProcessors.newItemSelected(vm.dataProcessors.newElementSelection)"
                                           data-placeholder="Vælg Databehandler" />
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="form-group">
                    <!-- Sub Data processors State -->
                    <label for="subDpTable" class="control-label small">Underdatabehandlere</label>
                    <!-- TODO: Create singleSelectionDirective since tha makes perfect sense here! -->
                    <select id="hasSubDataProcessorsSelection"
                            class="form-control input-sm"
                            ui-select2="{minimumResultsForSearch: -1}"
                            data-ng-model="vm.hasSubDataProcessors.selectedElement"
                            data-ng-disabled="!vm.hasWriteAccess"
                            ng-change="vm.isAgreementConcluded.elementSelected(vm.isAgreementConcluded.selectedElement)">
                        <option hidden selected value />
                        <option ng-repeat="option in vm.hasSubDataProcessors.select2Options" value="{{::option.optionalObjectContext}}" ng-bind-html="option.text" />
                    </select>
                </div>
                <div class="form-group" ng-if="vm.enableDataProcessorSelection">
                    <!-- Sub Data processors -->
                    <table id="subDpTable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="data-processors-table_header--padding">
                                    <p class="small">Navn</p>
                                </th>
                                <th class="data-processors-table_header--padding noRightBorder">
                                    <p class="small">CVR</p>
                                </th>
                                <th class="data-processors-table_header--padding noLeftBorder"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dataProcessor in vm.subDataProcessors.selectedElements" data-element-type="data-processing_sub-data-processors">
                                <td>{{::dataProcessor.name }}</td>
                                <td class="noRightBorder">{{::dataProcessor.cvrNumber }}</td>
                                <td class="text-right noLeftBorder" style="width: 20px;">
                                    <button type="button"
                                            class="btn btn-danger btn-xs"
                                            data-confirmed-click="vm.subDataProcessors.removeItemRequested({{::dataProcessor}})"
                                            data-confirm-click="Er du sikker på at du vil slette tilknytningen?"
                                            ng-if="vm.subDataProcessors.allowRemoval">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="vm.subDataProcessors.allowAddition" class="data-processors-table_footer--padding">
                            <tr>
                                <td colspan="3" style="padding: 0">
                                    <input type="hidden"
                                           id="sub-data-processor_select-new"
                                           class="form-control input-sm"
                                           data-ui-select2="vm.subDataProcessors.select2Config"
                                           ng-model="vm.subDataProcessors.newElementSelection"
                                           ng-change="vm.subDataProcessors.newItemSelected(vm.subDataProcessors.newElementSelection)"
                                           data-placeholder="Vælg Underdatabehandler" />
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="object-section-container"></div>