<h1>MOX Test</h1>

<div><p>Nuværende token:</p> {{token}}</div>
<button type="button" class="btn btn-default" data-ng-click="newToken()">Opret/forny token</button>

<form role="form" data-ng-submit="submit()">
    <div class="form-group">
        <label for="file">Fil</label>
        <input type="file" id="file" name="file" class="form-control" data-file-model="file">
    </div>
    <div class="form-group">
        <label for="input">Input</label>
        <input type="text" id="input" name="input" class="form-control" data-ng-model="data.input">
    </div>
    <div class="form-group">
        <label for="parameter">Parameter</label>
        <input type="text" id="parameter" name="parameter" class="form-control" data-ng-model="data.parameter">
    </div>
    <div class="form-group">
        <label for="operation">Operation</label>
        <input type="text" id="operation" name="operation" class="form-control" data-ng-model="data.opertaion">
    </div>
    <div class="form-group">
        <label for="virkning">Virkning</label>
        <input type="datetime" id="virkning" name="virkning" class="form-control" data-ng-model="data.virkning">
    </div>
    <div class="form-group">
        <label for="url">URL <small>(der submittes til)</small></label>
        <input type="text" id="url" name="url" class="form-control" data-ng-model="url">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>