<div class="container-fluid">
    <div class="col-md-12">
        <form role="form" data-ng-submit="submit()">
            <div class="form-group">
                <label>Step 1 - Hent og udfyld ark:</label> <br />
                <a data-ng-href="{{tmplUrl}}" class="form-control text-primary"><span class="glyphicon glyphicon-file"></span> Hent excel-ark til import af organisationer.</a>
            </div>

            <div class="form-group">
                <label for="file">Step 2 - Upload udfyldt ark:</label>
                <input type="file" id="file" name="file" class="form-control" data-file-model="file">
            </div>
            <button type="submit" class="btn btn-default">Upload</button>
        </form>
    </div>
    <div data-ng-if="data.showMoxErrors" class="col-md-12">
        <p>
            <h4 class="text-danger">
                <i class="glyphicon glyphicon-info-sign"></i>
                Fejl ved import
            </h4>
            Der var {{data.errors.length}} fejl i den uploadede fil og derfor er intet blevet importeret. Ret fejlen(e) og prøv igen.
        </p>
        <ul class="list-group">
            <li class="list-group-item" data-ng-repeat="error in data.errors">
                <b>Faneblad {{error.sheetName}}, celle {{error.column}}{{error.row}}</b>: {{error.message}}
            </li>
        </ul>
    </div>
    <div data-ng-if="data.showGenericError" class="col-md-12">
        <p>
            <h4 class="text-danger">
                <i class="glyphicon glyphicon-info-sign"></i>
                Fejl ved import
            </h4>
            Der gik noget galt i forbindelse med importen. Intet er derfor blevet importeret og du kan uden problemer prøve igen.
        </p>
    </div>
</div>
