<!-- interface master sheet -->
<form role="form" class="container-fluid object-wrapper">
    <!-- Left menu -->
    <div class="col-xs-3 col-lg-2 left-menu-container">
        <div class="left-menu">
            <div class="header">
                <h3>Snitflade</h3>
            </div>
            <ul>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.interface-edit.main"><img src="/Content/img/Systemforside.svg"></img> Snitfladeforside</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.interface-edit.interface-details" data-element-type="interfaceDetailsLink"><img src="/Content/img/Snitfladedetaljer.svg"></img> Snitflade detaljer</a>
                </li>
                <!--<li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.interface-edit.advice"><img src="/Content/img/Advis.svg"></img> Advis</a>
                </li>-->
                <!--li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.interface-edit.references"><img src="/Content/img/References.svg"> Referencer</a>
                </!--li-->
            </ul>
        </div>
    </div>
    <div class="col-xs-9 col-lg-10 object-content">
        <ui-view />
    </div>
</form>