<!-- interface master sheet -->
<form role="form" class="container-fluid">
    <!-- Left menu -->
    <div class="col-md-2">
        <div class="left-menu">
            <div class="header">
                <h3>IT Projekt</h3>
            </div>
            <ul>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.interface-edit.main"><i class="fa fa-pencil"></i> Projektforside</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.interface-edit.interface-details"><i class="fa fa-pencil"></i> Snitflade detaljer</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-10">
        <ui-view />
    </div>
</form>