<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-xs-6">
            <div class="form-group">
                <!-- TSA -->
                <label for="interface-tsa" class="control-label col-xs-2 small">TSA</label>
                <div class="col-xs-4">
                    <select-option data-id="interface-tsa"
                                   data-placeholder="Vælg TSA"
                                   data-selected-text="{{ system.tsaName }}"
                                   data-ng-disabled="!hasWriteAccess"
                                   data-ng-model="system.tsaId"
                                   data-options="tsas"
                                   data-auto-save-url="{{ system.updateUrl }}"
                                   data-field="tsaId">
                    </select-option>
                </div>
                <!-- Interface type -->
                <label for="interface-type" class="control-label col-xs-2 small">Snitfladetype</label>
                <div class="col-xs-4">
                    <select-option data-id="interface-type"
                                   data-placeholder="Vælg snitfladetype"
                                   data-selected-text="{{ system.interfaceTypeName }}"
                                   data-ng-disabled="!hasWriteAccess"
                                   data-ng-model="system.interfaceTypeId"
                                   data-options="interfaceTypes"
                                   data-auto-save-url="{{ system.updateUrl }}"
                                   data-field="interfaceTypeId">
                    </select-option>
                </div>
            </div>

            <!-- Interface  -->
            <div class="form-group">
                <label for="interface-interface" class="control-label col-xs-2 small">Grænseflade</label>
                <div class="col-xs-4">
                    <select-option data-id="interface-interface"
                                   data-placeholder="Vælg grænseflade"
                                   data-selected-text="{{ system.interfaceName }}"
                                   data-ng-disabled="!hasWriteAccess"
                                   data-ng-model="system.interfaceId"
                                   data-options="interfaces"
                                   data-auto-save-url="{{ system.updateUrl }}"
                                   data-field="interfaceId">
                    </select-option>
                </div>
                <!-- MethodType -->
                <label for="interface-method" class="control-label col-xs-2 small">Metode</label>
                <div class="col-xs-4">
                    <select-option data-id="interface-method"
                                   data-placeholder="Vælg methode"
                                   data-selected-text="{{ system.methodName }}"
                                   data-ng-disabled="!hasWriteAccess"
                                   data-ng-model="system.methodId"
                                   data-options="methods"
                                   data-auto-save-url="{{ system.updateUrl }}"
                                   data-field="methodId">
                    </select-option>
                </div>
            </div>

            <div class="form-group">
                <!-- Exhibited by -->
                <label for="interface-exposed-by" class="control-label col-xs-2 small">Udstillet af</label>
                <div class="col-xs-4">
                    <input type="hidden" id="interface-exposed-by" class="form-control input-sm"
                           data-ui-select2="itSystemsSelectOptions"
                           data-placeholder="Vælg IT System"
                           data-ng-disabled="!hasWriteAccess"
                           data-ng-change="save()"
                           data-ng-model="exposedByObj">

                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th class="col-xs-6">Data</th>
                        <th class="col-xs-6">Datatype</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="dataRow in dataRows | filter:{show:true}">
                        <td>
                            <input type="text"
                                   class="form-control input-sm"
                                   data-ng-model="dataRow.data"
                                   data-ng-disabled="!hasWriteAccess"
                                   data-autosave="{{dataRow.updateUrl}}"
                                   data-field="data">
                        </td>
                        <td class="data-type-selector">
                            <select-option data-id="interface-data-type"
                                           data-placeholder="Vælg datatype"
                                           data-selected-text="{{ dataRow.dataTypeName }}"
                                           data-ng-disabled="!hasWriteAccess"
                                           data-ng-model="dataRow.dataTypeId"
                                           data-options="dataTypes"
                                           data-auto-save-url="{{ dataRow.updateUrl }}"
                                           data-field="dataTypeId">
                            </select-option>
                        </td>
                        <td class="text-right">
                            <button class="btn btn-danger btn-xs delete-data-row"
                                    data-ng-click="dataRow.delete()"
                                    data-ng-show="hasWriteAccess">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr data-ng-show="hasWriteAccess">
                        <td colspan="3" class="text-right">
                            <button id="add-data-row"
                                    class="btn btn-success btn-xs"
                                    data-ng-click="newDataRow()">
                                <i class="glyphicon glyphicon-plus"></i> Ny række
                            </button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
