<div class="object-section-container">
    <h4>{{formatInterfaceName(interface.name,interface.disabled)}}</h4>
    <div class="panel panel-default">
        <div class="row">
            <!-- Left side -->
            <div class="col-xs-4">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- Name -->
                        <div class="form-group">
                            <label for="interface-name" class="control-label small">Snitflade</label>
                            <input type="text" id="interface-name" data-element-type="InterfaceNameInput" class="form-control input-sm" required
                                   data-ng-disabled="!hasWriteAccess"
                                   data-autosave="{{interface.updateUrl}}"
                                   data-field="name"
                                   data-ng-model="interface.name">
                        </div>

                        <!-- ItInterfaceId -->
                        <div class="form-group">
                            <label for="interface-itInterfaceId" class="control-label small">Snitflade ID</label>
                            <input type="text" id="interface-itInterfaceId" data-element-type="InterfaceIdInput" class="form-control input-sm"
                                   data-ng-disabled="!hasWriteAccess"
                                   data-autosave="{{interface.updateUrl}}"
                                   data-field="itInterfaceId"
                                   data-ng-model="interface.itInterfaceId">
                        </div>

                        <!-- Version -->
                        <div class="form-group">
                            <label for="interface-version" class="control-label small">Version</label>
                            <input type="text" id="interface-version" data-element-type="InterfaceVersionInput" class="form-control input-sm"
                                   data-ng-disabled="!hasWriteAccess"
                                   data-ng-model="interface.version"
                                   data-autosave="{{interface.updateUrl}}"
                                   data-field="version">
                        </div>

                        <!-- Exhibited by -->
                        <div class="form-group">
                            <label for="interface-exposed-by" class="control-label small">Udstillet af</label>
                            <input type="hidden" id="interface-exposed-by" data-element-type="InterfaceExhibitInput" class="form-control input-sm"
                                   data-ui-select2="itSystemsSelectOptions"
                                   data-placeholder="Vælg IT System"
                                   data-ng-disabled="!hasWriteAccess"
                                   data-ng-change="save()"
                                   data-ng-model="exposedByObj">
                        </div>

                        <!-- UUID -->
                        <div class="form-group">
                            <label class="control-label small">UUID</label>
                            <input type="text" value="{{interface.uuid}}" class="form-control input-sm" disabled="disabled" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Middle -->
            <div class="col-xs-4">
                <div class="row">
                    <div class="col-xs-12">

                        <!-- Object owner -->
                        <div class="form-group">
                            <label class="control-label small">Oprettet af</label>
                            <input type="text" data-ng-disabled="true" class="form-control input-sm" value="{{interface.objectOwnerFullName}}" />
                        </div>

                        <!-- belongs to -->
                        <div class="form-group">
                            <label for="interface-belongsTo" class="control-label small">Rettighedshaver </label>
                            <input type="text" id="interface-belongsTo" value="{{interface.belongsToName}}" class="form-control input-sm" data-element-type="InterfaceBelongsToReadonly"  disabled="disabled" />
                        </div>

                        <!-- Access modifier -->
                        <div class="form-group">
                            <label for="interface-access" class="control-label small">Synlighed</label>
                            <input id="interface-access" class="form-control input-sm" data-element-type="InterfaceAccesAbilityInput"
                                   data-autosave="{{interface.updateUrl}}"
                                   data-field="accessModifier"
                                   data-ng-disabled="!hasWriteAccess"
                                   data-ng-model="interface.accessModifier"
                                   data-select-access-modifier="">
                        </div>

                        <!-- Interface  -->
                        <div class="form-group">
                            <label for="interface-interface" class="control-label small">Grænseflade</label>
                            <select2-option data-id="interface-interface" data-element-type="InterfaceInterfaceInput"
                                           data-placeholder="Vælg grænseflade"
                                           data-selected-text="{{ interface.interfaceName }}"
                                           data-ng-disabled="!hasWriteAccess"
                                           data-ng-model="interface.interfaceId"
                                           data-options="interfaces"
                                           data-auto-save-url="{{ interface.updateUrl }}"
                                           data-field="interfaceId">
                            </select2-option>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Right side -->
            <div class="col-xs-4">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- Description -->
                        <div class="form-group">
                            <label for="interface-description" class="control-label small">Beskrivelse</label>
                            <textarea id="interface-description" class="form-control input-sm" rows="7" data-element-type="InterfaceDescriptionInput"
                                      data-autosave="{{interface.updateUrl}}"
                                      data-field="description"
                                      data-ng-disabled="!hasWriteAccess"
                                      data-ng-model="interface.description"></textarea>
                        </div>
                        
                        <!-- Note -->
                        <div class="form-group">
                            <label for="interface-note" class="control-label small">Note</label>
                            <textarea id="interface-note" class="form-control input-sm" rows="4" data-element-type="InterfaceNoteInput"
                                      data-autosave="{{interface.updateUrl}}"
                                      data-field="note"
                                      data-ng-disabled="!hasWriteAccess"
                                      data-ng-model="interface.note"></textarea>
                        </div>

                        <!-- Further description -->
                        <div class="form-group">
                            <label for="interface-url" class="control-label small">Link til yderligere beskrivelse</label>
                            <div class="input-group">
                                <input type="text" id="interface-url" class="form-control input-sm" placeholder="http://" data-element-type="InterfaceDescriptionLinkInput"
                                       data-ng-blur="saveLink()"
                                       data-field="url"
                                       data-ng-disabled="!hasWriteAccess"
                                       data-ng-model="interface.url">
                                <span class="input-group-btn">
                                    <button ng-disabled="linkButtonDisabled" class="btn btn-sm btn-default" type="button" data-href-blank="interface.url">
                                        <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                                    </button>
                                </span>
                            </div>
                            <span class="help-block small">Skal starte med http://</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- data - datatype -->
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-6">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-xs-6">Data</th>
                                    <th class="col-xs-6">Datatype</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="dataRow in dataRows | filter:{show:true}">
                                    <td>
                                        <input type="text" data-element-type="InterfaceDataInput"
                                               class="form-control input-sm"
                                               data-ng-model="dataRow.data"
                                               data-ng-disabled="!hasWriteAccess"
                                               data-autosave="{{dataRow.updateUrl}}"
                                               data-field="data">
                                    </td>
                                    <td class="data-type-selector">
                                        <select2-option data-id="interface-data-type" data-element-type="InterfaceDataTypeInput"
                                                       data-placeholder="Vælg datatype"
                                                       data-selected-text="{{ dataRow.dataTypeName }}"
                                                       data-ng-disabled="!hasWriteAccess"
                                                       data-ng-model="dataRow.dataTypeId"
                                                       data-options="dataTypes"
                                                       data-auto-save-url="{{ dataRow.updateUrl }}"
                                                       data-field="dataTypeId">
                                        </select2-option>
                                    </td>
                                    <td class="text-right">
                                        <button class="btn btn-danger btn-xs delete-data-row"
                                                data-ng-click="dataRow.delete()"
                                                data-ng-show="hasWriteAccess">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr data-ng-show="hasWriteAccess">
                                    <td colspan="3" class="text-right">
                                        <button id="add-data-row" data-element-type="InterfaceNewRowButton"
                                                class="btn btn-success btn-xs"
                                                data-ng-click="newDataRow()">
                                            <i class="glyphicon glyphicon-plus"></i> Ny række
                                        </button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
