<!-- it system master sheet -->
<form role="form" class="container-fluid object-wrapper">
    <!-- Left menu -->
    <div class="col-sm-2 left-menu-container">
        <div class="left-menu">
            <div class="header">
                <h3>IT System</h3>
            </div>
            <ul>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.edit.main"><i class="fa fa-pencil"></i> Projektforside</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.edit.interfaces"><i class="fa fa-pencil"></i> Snitflader</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.edit.kle"><i class="fa fa-pencil"></i> KLE</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-10 object-content">
        <ui-view />
    </div>
</form>