<!-- it system master sheet -->
<div class="container-fluid object-wrapper">
    <!-- Left menu -->
    <div class="col-xs-3 col-lg-2 left-menu-container">
        <div class="left-menu">
            <div class="header">
                <h3>IT System</h3>
            </div>
            <ul>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.edit.main"><img src="/Content/img/Systemforside.svg"></img> Systemforside</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.edit.interfaces"><img src="/Content/img/Snitflader.svg"></img> Udstillede snitflader</a>
                </li>
                <li data-ui-sref-active="active" ng-if="showKLE">
                    <a data-ui-sref="it-system.edit.kle"><img src="/Content/img/KLE.svg"></img> KLE</a>
                </li>
                <li data-ui-sref-active="active" ng-if="showReference">
                    <a data-ui-sref="it-system.edit.references" data-element-type="ReferenceTabButton"><img src="/Content/img/References.svg"></img> Referencer</a>
                </li>

                <!-- TODO: Not to be deleted yet KITOSUDV-526-->
                <!--<li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.edit.access-control"><img src="/Content/img/Accesscontrol.svg"></img> Adgangsstyring</a>
                </li>-->

            </ul>
        </div>
    </div>
    <div class="col-xs-9 col-lg-10 object-content">
        <ui-view />
    </div>
</div>