<table class="table table-hover" ng-if="ctrl.model.rights.length > 0">
    <thead>
    <tr>
        <th class="col-xs-1">
            <input type="checkbox" ng-model="ctrl.model.selected" ng-checked="ctrl.model.selected" ng-change="ctrl.callbacks.selectOrDeselectGroup(ctrl.model.rights)" />
        </th>
        <th class="col-xs-3">{{ ::ctrl.roleTypeName }}</th>
        <th class="col-xs-3">Rolle</th>
        <th class="col-xs-4">Tildel til</th>
        <th class="col-xs-1">Slet</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="right in ctrl.model.rights">
        <td><input data-disabled-on-busy type="checkbox" ng-model="right.selected" ng-change="ctrl.callbacks.selectionChanged()" /></td>
        <td>{{right.right.businessObjectName}}</td>
        <td>{{right.right.roleName}}</td>
        <td ng-if="right.selected && ctrl.selectedUser">{{ctrl.selectedUser.Name}} {{ctrl.selectedUser.LastName}}</td>
        <td ng-if="!(right.selected && ctrl.selectedUser)"> </td>
        <td><button class="glyphicon glyphicon-trash" ng-click="ctrl.callbacks.delete(right)" data-disabled-on-busy></button></td>
    </tr>
    </tbody>
</table>