<!-- it contract master sheet -->
<div class="container-fluid object-wrapper">
    <!-- Left menu -->
    <div class="col-xs-3 col-lg-2 left-menu-container">
        <div class="left-menu">
            <div class="header">
                <h3>IT Kontrakt</h3>
            </div>
            <ul>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-contract.edit.main"><img src="/Content/img/Systemforside.svg"/> Kontraktforside</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-contract.edit.systems"><img src="/Content/img/ITsystemer.svg"/> IT Systemer</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-contract.edit.deadlines"><img src="/Content/img/Aftalefrister.svg"/> Aftalefrister</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-contract.edit.paymentmodel"><img src="/Content/img/Betalingsmodel.svg"/> Betalingsmodel</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-contract.edit.economy"><img src="/Content/img/Oekonomi.svg"/> Økonomi</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-contract.edit.roles"><img src="/Content/img/Kontraktroller.svg"/> Kontraktroller</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-contract.edit.hierarchy"><img src="/Content/img/Hierarki.svg"/> Hierarki</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-contract.edit.advice-generic({type: 'itContract'})"><img src="/Content/img/Advis.svg"/> Advis</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-contract.edit.references"><img src="/Content/img/References.svg"/> Referencer</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-9 col-lg-10 object-content">
        <ui-view />
    </div>
</div>