<div class="clearfix">
    <div class="form-group pull-right">
        <help-text data-key="it_contract_overview" data-default-title="Kontraktoverblik"></help-text>
    </div>
</div>

<div id="mainGrid" data-kendo-grid="contractOverviewVm.mainGrid" data-k-options="contractOverviewVm.mainGridOptions"></div>

<script type="text/x-kendo-template" id="role-selector">
    <select kendo-drop-down-list="contractOverviewVm.roleSelectorDropDownList" k-options="contractOverviewVm.roleSelectorOptions()"></select>
</script>
