<!-- it contract master sheet -->
<form role="form" class="container-fluid object-wrapper">
    <!-- Left menu -->
    <div class="col-xs-2 left-menu-container">
        <div class="left-menu">
            <div class="header">
                <h3>IT Kontrakt</h3>
            </div>
            <ul>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-contract.edit.main"><img src="/Content/img/Systemforside.svg"></img> Kontraktforside</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-contract.edit.systems"><img src="/Content/img/ITsystemer.svg"></img> IT Systemer</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-contract.edit.deadlines"><img src="/Content/img/Aftalefrister.svg"></img> Aftalefrister</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-contract.edit.paymentmodel"><img src="/Content/img/Betalingsmodel.svg"></img> Betalingsmodel</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-contract.edit.economy"><img src="/Content/img/Oekonomi.svg"></img> Økonomi</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-contract.edit.roles"><img src="/Content/img/Kontraktroller.svg"></img> Kontraktroller</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-contract.edit.hierarchy"><img src="/Content/img/Hierarki.svg"></img> Hierarki</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-contract.edit.advice-generic({type: 'itContract'})"><img src="/Content/img/Advis.svg"></img> Advis</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-contract.edit.references"><img src="/Content/img/References.svg"></img> Referencer</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-10 object-content">
        <ui-view />
    </div>
</form>