<div class="panel panel-default">
    <div class="panel-heading">
        <a id="expand_collapse_{{:: ctrl.customizationModel.root.key}}" class="task-fold" data-ng-click="ctrl.isOpen = !ctrl.isOpen">
            <i class="glyphicon small"
               data-ng-class="{'glyphicon-chevron-down': ctrl.isOpen, 'glyphicon-chevron-right': !ctrl.isOpen}"></i>
            {{:: ctrl.customizationModel.root.text}}
        </a>

        <span ng-if="ctrl.customizationModel.root.helpText" class="help-block small">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            {{:: ctrl.customizationModel.root.helpText}}
        </span>
    </div>
    <table class="full-width table" ng-show="ctrl.isOpen">
        <thead>
            <tr>
                <th width="30%">Faneblad</th>
                <th width="70%">Individuelle felter/grupper</th>
            </tr>
        </thead>
        <tbody>
            <!--Tabs-->
            <tr ng-repeat="tabConfig in ctrl.customizationModel.root.children">
                <td>
                    <label class="local-ui-customization-option">
                        <input id="{{::tabConfig.key}}" type="checkbox" ng-checked="tabConfig.available" ng-disabled="!tabConfig.editable" ng-click="ctrl.toggleSetting(tabConfig.key)" />
                        {{:: tabConfig.text}}
                        <span ng-if="tabConfig.helpText" class="help-block small">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            {{:: tabConfig.helpText}}
                        </span>
                        <span ng-if="tabConfig.subtreeIsComplete" class="help-block small">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            {{::ctrl.subtreeIsCompleteHelpText}}
                        </span>
                    </label>
                </td>
                <td ng-if="tabConfig.children.length == 0">
                    <span class="help-block small">
                        Tilpasning på feltniveau endnu ikke muligt
                    </span>
                </td>
                <td ng-if="tabConfig.children.length > 0">
                    <div ng-repeat="fieldConfig in tabConfig.children">
                        <label class="local-ui-customization-option">
                            <input id="{{::fieldConfig.key}}" type="checkbox" ng-checked="fieldConfig.available" ng-disabled="!fieldConfig.editable" ng-click="ctrl.toggleSetting(fieldConfig.key)" />
                            {{:: fieldConfig.text}}
                            <span ng-if="fieldConfig.helpText" class="help-block small">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                {{:: fieldConfig.helpText}}
                            </span>
                            <span ng-if="fieldConfig.subtreeIsComplete" class="help-block small">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                {{::ctrl.subtreeIsCompleteHelpText}}
                            </span>
                        </label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
