<ul data-ng-hide="subnavNotPositioned">
    <li data-ng-repeat="link in page.subnav" data-ng-if="!link.showWhen || $state.includes(link.showWhen)">
        <a data-ui-sref="{{link.state}}" data-ng-class="{'btn-tab-active': $state.includes(link.state) || $state.includes(link.substate)}">{{link.text}}</a>
    </li>
</ul>
<ul class="icons" data-ng-if="user.isAuth"> 
    <li><global-advis data-user="user" data-state-name="{{$state.current.name}}"></global-advis></li>
    <li class="disable-advis-link"><a><i class="fa fa-bar-chart"></i></a></li>
    <li><help-text data-no-button-layout="true" data-key="{{$state.current.name}}" data-default-title="{{$state.current.name}}"></help-text></li>
</ul>