<div class="col-xs-8 navbar-center">
    <ul class="nav navbar-nav">
        <li>
            <a data-ui-sref="organization.structure" data-ng-class="{'active': $state.includes('organization')}" data-element-type="organizationButton">Organisation</a>
        </li>
        <li data-ng-if="user.currentConfig.showItSystemModule">
            <a data-ui-sref="it-system.overview" data-ng-class="{'active': $state.includes('it-system')}" data-element-type="systemButton"><span ng-if="user.currentConfig.showItSystemPrefix">IT </span>Systemer</a>
        </li>
        <li data-ng-if="user.currentConfig.showItContractModule">
            <a data-ui-sref="it-contract.overview" data-ng-class="{'active': $state.includes('it-contract')}" data-element-type="contractButton"><span ng-if="user.currentConfig.showItContractPrefix">IT </span>Kontrakter</a>
        </li>
        <li data-ng-if="user.currentConfig.showDataProcessing">
            <a data-ui-sref="data-processing.overview" data-ng-class="{'active': $state.includes('data-processing')}" data-element-type="dataProcessingButton">Databehandling</a>
        </li>
    </ul>
</div>

<div class="navbar-right col-xs-2">
    <div class="dropdown-menu-group" uib-dropdown>
        <a id="dropdown-button" class="btn pull-right" uib-dropdown-toggle>
            <div class="names-container text-right">
                <div class="row">
                    <div class="col-xs-10">
                        {{ user.fullName | limitToDots:15 }}
                    </div>
                    <div class="col-xs-2">
                        <i class="fa fa-user"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10">
                        <i>{{ user.currentOrganizationName | limitToDots:15 }}</i>
                    </div>
                    <div class="col-xs-2">
                        <i class="fa fa-briefcase"></i>
                    </div>
                </div>
            </div>
        </a>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="dropdown-button">
            <li><a data-ui-sref="edit-user" data-ui-sref-active="active" data-element-type="myProfileAnchor">Min profil</a> </li>
            <li><a data-ng-if="user.isLocalAdmin" data-ui-sref="local-config.current-org" data-ui-sref-active="active" data-element-type="localAdminAnchor">Lokal admin</a></li>
            <li><a data-ng-if="user.isGlobalAdmin" data-ui-sref="global-admin.organizations" data-ui-sref-active="active" data-element-type="globalAdminAnchor">Global admin</a></li>
            <li><a data-ng-show="userHasOrgChoices" data-ng-click="changeOrganization()" data-element-type="changeOrganizationAnchor">Skift organisation</a></li>
            <li>
                <a href="/ui" data-element-type="newUIAnchor">
                    Prøv den nye brugerflade
                </a>
            </li>
            <li><a data-ng-click="logout()" data-element-type="logOutAnchor">Log ud</a></li>
        </ul>
    </div>
</div>
