@{
    ViewBag.Title = "Opret kommune";
}

<h2>Opret kommune</h2>
<p>
    Opret en ny kommune med tilhørende lokal administrator. 
</p>
<div class="col-md-7">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="municipality-name" class="col-md-3 control-label">
                Kommunens navn
            </label>
            <div class="col-md-8">
                <input type="text" id="municipality-name" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="municipality-name" class="col-md-3 control-label">
                Lokal admin email-addresse
            </label>
            <div class="col-md-8">
                <input type="email" id="local-admin-email" class="form-control"/>
            <p class="help-block">
                Vedkommende vil blive oprettet i systemet og få tilsendt et link til opsætning af password.
            </p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-3">
                <input id="add-municipality" class="btn btn-primary" type="button" value="Opret kommune"/>
            </div>
        </div>
    </form>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#add-municipality").click(function () {
                
                //creating municipality
                $.ajax({
                    type: "POST",
                    url: "/api/municipality",
                    data: {
                        "Name": $("#municipality-name").val()
                    }
                    
                }).fail(function (result) {
                    console.log("Couldn't create municipality: " + result);
                }).done(function(result) {
                    var municipality = result;

                    //creating user
                    $.ajax({
                        type: "POST",
                        url: "/api/user",
                        data: {
                            "Name": $("#local-admin-email").val(), //todo
                            "Email": $("#local-admin-email").val(),
                            "Municipality_Id": municipality.Id,
                            "Role_Id": 2
                        }
                    }).fail(function(result) {
                        console.log("Couldn't create user: " + result);
                    }).done(function(result) {
                        var user = result;

                        //creating password reset request
                        $.ajax({
                            type: "POST",
                            url: "/api/passwordresetrequest",
                            data: {
                                "User_Id": user.Id
                            }
                        }).done(function(result) {
                            console.log(result);
                        });

                    });
                });
            });
        });
    </script>
    }
