@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#digital" data-toggle="tab">IT Understøttelse</a></li>
  <li><input type="checkbox" id="show-itprojects"> <a href="#projekt" data-toggle="tab">IT Projekter</a></li>
  <li><input type="checkbox" id="show-itsystems"> <a href="#system" data-toggle="tab">IT Systemer</a></li>
  <li><input type="checkbox" id="show-itcontracts"> <a href="#kontrakt" data-toggle="tab">IT Kontrakter</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="digital">
        IT Understøttelse
    </div>
    <div class="tab-pane" id="projekt">
        <form class="form-horizontal" role="form">
            <div class="well">
                <h4>Generelt</h4>
                
                <div class="form-group">
                    <label for="input-project-navn" class="col-sm-2 control-label">Modulnavn</label>
                    <div class="col-sm-5">
                        <select class="form-control" id="input-project-navn"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="input-project-url" class="col-sm-2 control-label">IT Projekt vejledning</label>
                    <div class="col-sm-5">
                        <input type="url" name="ItProjectGuide" class="form-control" id="input-project-url" />
                    </div>
                </div>
            </div>
            
            <hr>

            <div class="well">
                <h4>Projektkategorier</h4>
                <div id="project-cat"></div>
            </div>
                        
            <hr>
            
            <div class="well">
                <h4>Portfølje</h4>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-5">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="ShowPortfolio" value="">
                                Medtag IKKE fanen 'Portfølje'
                            </label>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-5">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="ShowBC" value="">
                                Medtag kolonnen 'BC'
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <div class="tab-pane" id="system">
        <form class="form-horizontal" role="form">
            <div class="well">
                <h4>Generelt</h4>
                <div class="form-group">
                    <label for="input-system-url" class="col-sm-2 control-label">IT System vejledning</label>
                    <div class="col-sm-5">
                        <input type="url" name="ItSystemGuide" class="form-control" id="input-system-url" />
                    </div>
                </div>
            </div>
            
            <hr>
            
            <div class="well">
                <h4>Systemtype</h4>
                <div id="system-type"></div>
            </div>
            
            <div class="well">
                <h4>Snitfladetype</h4>
                <div id="interface-type"></div>
            </div>
            
            <div class="well">
                <h4>Grænseflade</h4>
                <div id="protocol-type"></div>
            </div>
            
            <div class="well">
                <h4>Metode</h4>
                <div id="method"></div>
            </div>
            
            <hr>

            <div class="well">
                <h4>Database</h4>
                <div id="database-type"></div>
            </div>
            
            <div class="well">
                <h4>Miljø</h4>
                <div id="environment"></div>
            </div>
        </form>
    </div>
    <div class="tab-pane" id="kontrakt">
        <form class="form-horizontal" role="form">
            <div class="well">
                <h4>Generelt</h4>
                <div class="form-group">
                    <label for="input-contract-url" class="col-sm-2 control-label">IT Kontrakt vejledning</label>
                    <div class="col-sm-5">
                        <input type="url" name="ItSystemGuide" class="form-control" id="input-contract-url" />
                    </div>
                </div>
            </div>
            
            <hr>
            
            <div class="well">
                <h4>Kontrakttype</h4>
                <div id="contract-type"></div>
            </div>
            
            <div class="well">
                <h4>kontraktskabalon</h4>
                <div id="contract-template"></div>
            </div>
            
            <div class="well">
                <h4>Indkøbsform</h4>
                <div id="purchase-form"></div>
            </div>
            
            <div class="well">
                <h4>Overtagelsesprøver</h4>
                <div id="contract-..."></div>
            </div>
            
            <div class="well">
                <h4>Betalignsmodeller</h4>
                <div id="payment-model"></div>
            </div>
            
            <div class="well">
                <h4>Aftaleelementer</h4>
                <div id="agreement-elements"></div>
            </div>
        </form>
    </div>
</div>

@section scripts
{
    <script>       
        function patch(url, value) {
            $.ajax({
                url: url,
                type: 'PATCH',
                data: JSON.stringify({ IsActive: value }),
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    console.log(data);
                }
            });
        }

        var textboxWithCheckboxTemplate = function(uri, target, i, title, note, itemid, isActive) {
            var id = target + i;

            var container = $('<div>', { 'class': 'form-group' });
            $('<label>', { 'for': id, 'class': 'col-sm-2 control-label', html: title }).appendTo(container);
            var container2 = $('<div>', { 'class': 'col-sm-5' }).appendTo(container);
            var inputGroup = $('<div>', { 'class': 'input-group' }).appendTo(container2);
            $('<input>', { id: id, type: 'text', name: 'test', 'class': 'form-control' }).appendTo(inputGroup);
            var span = $('<span>', { 'class': 'input-group-addon' }).appendTo(inputGroup);
            $('<input>', { type: 'checkbox', name: 'test', title: 'Medtag', checked: isActive }).change(function() {
                patch(uri + '/' + itemid, this.checked);
            }).appendTo(span);
            $('<p>', { 'class': 'help-block', html: note }).appendTo(container2);

            container.appendTo('#' + target);
        };

        var textboxTemplate = function (uri, target, i, title, note, itemid, isActive) {

        };
        
        var checkboxTemplate = function (uri, target, i, title, note, itemid, isActive) {
            var id = target + i;

            var container = $('<div>', { 'class': 'form-group' });
            var container2 = $('<div>', { 'class': 'col-sm-offset-2 col-sm-5' }).appendTo(container);
            var container3 = $('<div>', { 'class': 'checkbox' }).appendTo(container2);
            var label = $('<label>', { html: title }).appendTo(container3);
            $('<input>', { type: 'checkbox', title: 'Medtag', checked: isActive }).change(function () {
                patch(uri + '/' + itemid, this.checked);
            }).appendTo(label);
            $('<p>', { 'class': 'help-block', html: note }).appendTo(container2);

            container.appendTo('#' + target);
        };

        function make(uri, elementId, template) {
            $.getJSON(uri)
               .done(function (data) {
                   $.each(data, function (i, e) {
                       template(uri, elementId, i, e.Name, e.Note, e.Id, e.IsActive);
                   });
               })
               .fail(function (jqXHR, textStatus, err) {
                   console.log(jqXHR, textStatus, err);
               });
        }

        $(document).ready(function() {
            // project
            make('api/projectCategory', 'project-cat', checkboxTemplate);
            
            // system
            make('api/systemType', 'system-type', checkboxTemplate);
            make('api/interfaceType', 'interface-type', checkboxTemplate);
            make('api/protocolType', 'protocol-type', checkboxTemplate);
            make('api/method', 'method', checkboxTemplate);
            make('api/databaseType', 'database-type', checkboxTemplate);
            make('api/environment', 'environment', checkboxTemplate);
            
            // contract
            make('api/contractType', 'contract-type', checkboxTemplate);
            make('api/contractTemplate', 'contract-template', checkboxTemplate);
            make('api/purchaseForm', 'purchase-form', checkboxTemplate);
            make('api/paymentModel', 'payment-model', checkboxTemplate);
            make('api/paymentModel', 'payment-model', checkboxTemplate);
        });
    </script>
}
