<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="VirksomhedBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="VirksomhedBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:8080/service/Organisation/Virksomhed/5"
                binding="basicHttpBinding" bindingConfiguration="VirksomhedBinding"
                contract="ServiceReference.VirksomhedPortType" name="VirksomhedPort" />
        </client>
    </system.serviceModel>
</configuration>