<div class="object-section-container">
    <h4>{{ctrl.organization.name}}</h4>
    <div class="panel panel-default">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label small">CVR-nummer</label>
                    <input type="text"
                           data-ng-disabled="!ctrl.hasWriteAccess"
                           data-autosave="{{ctrl.updateOrgUrl}}"
                           class="form-control input-sm"
                           data-field="cvr"
                           data-ng-model="ctrl.organization.cvr"
                           data-placeholder="CVR-nummer" 
                           maxlength="10"/>
                </div>

                <div class="form-group">
                    <label for="system-name" class="control-label small">Adresse</label>
                    <input type="text"
                           data-ng-disabled="!ctrl.hasWriteAccess"
                           data-autosave="{{ctrl.updateOrgUrl}}"
                           class="form-control input-sm"
                           data-field="adress"
                           data-ng-model="ctrl.organization.adress"
                           data-placeholder="Adresse" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="system-name" class="control-label small">Telefonnummer</label>
                    <input type="text"
                           data-ng-disabled="!ctrl.hasWriteAccess"
                           data-autosave="{{ctrl.updateOrgUrl}}"
                           class="form-control input-sm"
                           data-field="phone"
                           data-ng-model="ctrl.organization.phone"
                           data-placeholder="Telefonnummer" />
                </div>

                <div class="form-group">
                    <label class="control-label small">E-mail</label>
                    <input type="text"
                           data-ng-disabled="!ctrl.hasWriteAccess"
                           data-autosave="{{ctrl.updateOrgUrl}}"
                           class="form-control input-sm"
                           data-field="email"
                           data-ng-model="ctrl.organization.email"
                           data-placeholder="E-mail" />
                </div>
            </div>
        </div>
    </div>
</div>
<!--Data responsible-->
<div class="object-section-container">
    <h4>Dataansvarlig</h4>
    <div class="panel panel-default">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label small">Navn</label>
                    <input type="text"
                           data-ng-disabled="!ctrl.hasWriteAccess"
                           data-autosave="{{ctrl.updatedataResponsibleUrl}}"
                           class="form-control input-sm"
                           data-field="name"
                           data-ng-model="ctrl.dataResponsible.name"
                           data-placeholder="Navn" />
                </div>
                <div class="form-group">
                    <label class="control-label small">CVR-nummer</label>
                    <input type="text"
                           data-ng-disabled="!ctrl.hasWriteAccess"
                           data-autosave="{{ctrl.updatedataResponsibleUrl}}"
                           class="form-control input-sm"
                           data-field="cvr"
                           data-ng-model="ctrl.dataResponsible.cvr"
                           data-placeholder="CVR-nummer" 
                           maxlength="10"/>
                </div>

                <div class="form-group">
                    <label for="system-name" class="control-label small">Adresse</label>
                    <input type="text"
                           data-ng-disabled="!ctrl.hasWriteAccess"
                           data-autosave="{{ctrl.updatedataResponsibleUrl}}"
                           class="form-control input-sm"
                           data-field="adress"
                           data-ng-model="ctrl.dataResponsible.adress"
                           data-placeholder="Adresse" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="system-name" class="control-label small">Telefonnummer</label>
                    <input type="text"
                           data-ng-disabled="!ctrl.hasWriteAccess"
                           data-autosave="{{ctrl.updatedataResponsibleUrl}}"
                           class="form-control input-sm"
                           data-field="phone"
                           data-ng-model="ctrl.dataResponsible.phone"
                           data-placeholder="Telefonnummer" />
                </div>

                <div class="form-group">
                    <label class="control-label small">E-mail</label>
                    <input type="text"
                           data-ng-disabled="!ctrl.hasWriteAccess"
                           data-autosave="{{ctrl.updatedataResponsibleUrl}}"
                           class="form-control input-sm"
                           data-field="email"
                           data-ng-model="ctrl.dataResponsible.email"
                           data-placeholder="E-mail" />
                </div>
            </div>
        </div>
    </div>
</div>

<!--Data protection advisor-->
<div class="object-section-container">
    <h4>Databeskyttelsesrådgiver</h4>
    <div class="panel panel-default">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label small">Navn</label>
                    <input type="text"
                           data-ng-disabled="!ctrl.hasWriteAccess"
                           data-autosave="{{ctrl.updatedataProtectionAdvisorUrl}}"
                           class="form-control input-sm"
                           data-field="name"
                           data-ng-model="ctrl.dataProtectionAdvisor.name"
                           data-placeholder="Navn" />
                </div>
                <div class="form-group">
                    <label class="control-label small">CVR-nummer</label>
                    <input type="text"
                           data-ng-disabled="!ctrl.hasWriteAccess"
                           data-autosave="{{ctrl.updatedataProtectionAdvisorUrl}}"
                           class="form-control input-sm"
                           data-field="cvr"
                           data-ng-model="ctrl.dataProtectionAdvisor.cvr"
                           data-placeholder="CVR-nummer" 
                           maxlength="10"/>
                </div>

                <div class="form-group">
                    <label for="system-name" class="control-label small">Adresse</label>
                    <input type="text"
                           data-ng-disabled="!ctrl.hasWriteAccess"
                           data-autosave="{{ctrl.updatedataProtectionAdvisorUrl}}"
                           class="form-control input-sm"
                           data-field="adress"
                           data-ng-model="ctrl.dataProtectionAdvisor.adress"
                           data-placeholder="Adresse" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="system-name" class="control-label small">Telefonnummer</label>
                    <input type="text"
                           data-ng-disabled="!ctrl.hasWriteAccess"
                           data-autosave="{{ctrl.updatedataProtectionAdvisorUrl}}"
                           class="form-control input-sm"
                           data-field="phone"
                           data-ng-model="ctrl.dataProtectionAdvisor.phone"
                           data-placeholder="Telefonnummer" />
                </div>
                <div class="form-group">
                    <label class="control-label small">E-mail</label>
                    <input type="text"
                           data-ng-disabled="!ctrl.hasWriteAccess"
                           data-autosave="{{ctrl.updatedataProtectionAdvisorUrl}}"
                           class="form-control input-sm"
                           data-field="email"
                           data-ng-model="ctrl.dataProtectionAdvisor.email"
                           data-placeholder="E-mail" />
                </div>
            </div>
        </div>
    </div>
</div>