<div class="modal-header">
    <div class="clearfix">
        <h3 class="modal-title pull-left">Opret {{vm.type}}</h3>
        <help-text class="pull-right" data-key="data_processing_agreement_create"></help-text>
    </div>
</div>
<form name="createForm" role="form" data-ng-submit="submit()" novalidate>
    <div class="modal-body">
        <div class="form-group has-feedback" data-show-errors>
            <label class="control-label" for="name">Navn</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="navn" required data-ng-model="formData.name" data-unique="{{vm.checkAvailableUrl}}" maxlength="150">
            <span class="glyphicon form-control-feedback" data-ng-class="{ 'glyphicon-remove': createForm.name.$invalid && createForm.name.$dirty, 'glyphicon-ok': createForm.name.$valid }"></span>
            <span class="help-block" data-ng-show="createForm.name.$error.required">Navn er påkrævet!</span>
            <span class="help-block" data-ng-show="createForm.name.$error.available">Navnet er brugt!</span>
            <span class="help-block" data-ng-show="createForm.name.$error.lookup">Der skete en fejl ved tjek om navnet er ledig!</span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="vm.saveAndProceed()" data-ng-disabled="createForm.$invalid">Gem, og gå til {{vm.type}}</button>
        <button type="submit" class="btn btn-primary" ng-click="vm.save()" data-ng-disabled="createForm.$invalid">Gem</button>
        <button type="button" class="btn btn-warning" ng-click="$dismiss()">Annuller</button>
    </div>
</form>
