<!-- it project master sheet -->
<div class="container-fluid object-wrapper">
    <!-- Left menu -->
    <div class="col-xs-3 col-lg-2 left-menu-container">
        <div class="left-menu">
            <div class="header">
                <h3>Databehandleraftale</h3>
            </div>
            <ul>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="data-processing.edit-agreement.main"><img src="/Content/img/Systemforside.svg"></img> Forside</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="data-processing.edit-agreement.it-systems"><img src="/Content/img/ITsystemer.svg"></img> IT Systemer</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="data-processing.edit-agreement.roles"><img src="/Content/img/Systemroller.svg"></img> Databehandlingsroller</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-9 col-lg-10 object-content">
        <ui-view />
    </div>
</div>