<div class="container-fluid object-wrapper">
    <!-- Left menu -->
    <div class="col-xs-3 col-lg-2 left-menu-container">
        <div class="left-menu">
            <div class="header">
                <h3>Databehandling</h3>
            </div>
            <ul>
                <li data-ui-sref-active="active" ng-if="vm.isFrontPageEnabled">
                    <a data-ui-sref="data-processing.edit-registration.main"><img alt="forside" src="/Content/img/Systemforside.svg" /> Forside</a>
                </li>
                <li data-ui-sref-active="active" ng-if="vm.isItSystemsEnabled">
                    <a data-ui-sref="data-processing.edit-registration.it-systems"><img alt="systemer" src="/Content/img/ITsystemer.svg" /> IT Systemer</a>
                </li>
                <li data-ui-sref-active="active" ng-if="vm.isItContractsEnabled">
                    <a data-ui-sref="data-processing.edit-registration.contracts"><img alt="kontrakter" src="/Content/img/Kontrakter.svg" /> IT Kontrakter</a>
                </li>
                <li data-ui-sref-active="active" ng-if="vm.isOversightEnabled">
                    <a data-ui-sref="data-processing.edit-registration.oversight"><img alt="tilsyn" src="/Content/img/Status-projekt.svg" /> Tilsyn</a>
                </li>
                <li data-ui-sref-active="active" ng-if="vm.isRolesEnabled">
                    <a data-ui-sref="data-processing.edit-registration.roles"><img alt="roller" src="/Content/img/Systemroller.svg" /> Databehandlingsroller</a>
                </li>
                <li data-ui-sref-active="active" ng-if="vm.isNotificationsEnabled">
                    <a data-ui-sref="data-processing.edit-registration.advice"><img alt="advis" src="/Content/img/Advis.svg" /> Advis</a>
                </li>
                <li data-ui-sref-active="active" ng-if="vm.isExternalReferencesEnabled">
                    <a data-ui-sref="data-processing.edit-registration.reference"><img alt="referencer" src="/Content/img/References.svg" /> Referencer</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-9 col-lg-10 object-content">
        <ui-view />
    </div>
</div>