<div class="object-section-container">
    <h4>{{advicename.name}}</h4>
    <div class="panel panel-default">
        <div class="row">
            <div class="col-xs-10">
                <div id="mainGrid" kendo-grid="mainGrid" k-options="mainGridOptions"></div>
            </div>

            <div class="col-xs-2">
                <div id="detailGrid" kendo-grid="detailGrid" k-options="detailGridOptions"></div>
            </div>
        </div>
        <input type="hidden" id="number" name="number" />
    </div>
</div>















