<div class="modal-header">
    <div class="clearfix">
        <h3 class="modal-title pull-left">Opret Advis</h3>
        <help-text class="pull-right" data-key="advis_create" data-default-title="Opret advis"></help-text>
    </div>
</div>

<form name="createForm">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <!--Modtager(e)-->
                <div class="form-group" data-ng-show="{{showRoleFields}}">
                    <select2-multiple-option id="agreement-elements"
                                             label="Til modtager via rolle"
                                             placeholder="Vælg rolle(r)"
                                             options="recieverRoles"
                                             selected="selectedReceivers"
                                             ng-disabled="!hasWriteAccess">
                    </select2-multiple-option>
                </div>
                <!--id: "@",
                label: "@",
                placeholder: "@",
                options: "=",
                selectedIds: "=ngModel",
                selected: "=",
                disabled: "=ngDisabled",
                required: "@"-->

                <!--<div class="form-group" data-ng-show="{{showRoleFields}}">
                    <label for="contract-note" class="control-label">Til modtager via rolle</label>
                    <select-multiple-recievers data-id="agreement-elements"
                                               placeholder="Vælg rolle(r)"
                                               data-ng-model="selectedRecievers"
                                               data-roles="recieverRoles"
                                               data-field="elemId"
                                               data-ng-disabled="!hasWriteAccess">
                    </select-multiple-recievers>
                </div>-->

                <div class="form-group">
                    <label for="contract-note" class="control-label">Til modtager via email</label>
                    <input id="toExternal" type="email" name="toExternal" data-ng-disabled="!hasWriteAccess" placeholder="Skriv email" class="form-control" data-ng-model="externalTo">

                </div>

                <!--CC('ere)-->
                <div class="form-group" data-ng-show="{{showRoleFields}}">
                    <label for="contract-note" class="control-label">CC modtager via rolle</label>
                    <select-multiple-recievers data-id="agreement-elements"
                                               data-placeholder="Vælg rolle(r)"
                                               data-ng-model="selectedCC"
                                               data-roles="recieverRoles"
                                               data-users="recieverUsers"
                                               data-field="elemId"
                                               data-ng-disabled="!hasWriteAccess">
                    </select-multiple-recievers>
                </div>
                <div class="form-group">
                    <div>
                        <label for="contract-note" class="control-label">CC modtager via email</label>
                        <input id="cc" type="text" placeholder="Skriv email" class="form-control" data-ng-disabled="!hasWriteAccess" data-ng-model="externalCC">
                    </div>
                </div>

            </div>

            <div class="col-md-6">

                <div class="form-group">
                    <label for="advisType" class="control-label">Type af afsendelse </label>
                    <select class="form-control" data-id="advisType" data-ng-disabled="!hasWriteAccess"
                            data-ng-model="advisType">
                        <option value="clear" selected> </option>
                        <option value="once">Straks</option>
                        <option value="Day">Gentagelse</option>
                    </select>
                </div>


                <div class="form-group has-feedback" ng-show="advisType == 'Day'">
                    <!--Navn-->
                    <label class="control-label" for="name">Navn</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Navn" data-ng-model="name" data-ng-disabled="!hasWriteAccess">
                </div>

                <div class="form-group" ng-show="advisType == 'Day'">
                    <label for="contract-supplier" class="control-label">Gentagemønster </label>
                    <select class="form-control" data-id="sensitive" data-ng-disabled="!hasWriteAccess"
                            data-ng-model="repitionPattern" >
                        <option value="Hour">Time</option>
                        <option value="Day">Dag</option>
                        <option value="Week">Uge</option>
                        <option value="Month">Måned</option>
                        <option value="Quarter">Kvartal</option>
                        <option value="Semiannual">Halvårlig</option>
                        <option value="Year">År</option>
                    </select>
                </div>

                <!--Dato-->
                <div class="form-group" ng-show="advisType == 'Day'">
                    <label class="control-label" for="date">Fra dato</label>
                    <input id="date" type="text" name="date" placeholder="Dato" class="form-control" data-kendo-date-picker
                           data-k-options="datepickerOptions" data-ng-model="startDate" ng-change='checkErrStart(startDate,stopDate)' data-ng-disabled="!hasWriteAccess">
                    <span>{{startDateErrMessage}}</span>
                </div>

                <!--Dato-->
                <div class="form-group" ng-show="advisType == 'Day'">
                    <label class="control-label" for="stopDate">Til Dato</label>
                    <input id="date" type="text" name="stopDate" placeholder="Stop dato" class="form-control" data-kendo-date-picker
                           data-k-options="datepickerOptions" data-ng-model="stopDate" ng-change='checkErrEnd(startDate,stopDate)' data-ng-disabled="!hasWriteAccess">
                    <span>{{stopDateErrMessage}}</span>
                    <span>{{errMessage}}</span>
                </div>

            </div>
            <div class="col-md-12">
                <div class="form-group has-feedback" data-show-errors>
                    <!--Emne-->
                    <label class="control-label" for="name">Emne <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Emne" required data-ng-model="subject" data-ng-disabled="!hasWriteAccess">
                </div>
            </div>
        </div>
        <!--Email body-->
        <div class="form-group">
            <label for="contract-note" class="control-label">Email body</label>
            <textarea ui-tinymce="tinymceOptions" data-ng-model="emailBody"></textarea>

        </div>
    </div>

        <div class="modal-footer">
            <!--Send Advis-->

                <button type="submit" class="pull-left btn btn-primary" ng-click="send()" ng-hide="hideSend" data-ng-disabled="!((externalTo || selectedRecievers.length > 0) && subject && !hasWriteAccess)">Send</button>

                <button type="button" class="btn btn-warning" ng-click="$dismiss()">Annuller</button>
            <button type="submit" class="btn btn-primary" ng-click="save()" data-ng-disabled="!((externalTo || selectedRecievers.length > 0) && subject && repitionPattern && stopDate &&  startDate && checkErrStart(startDate,stopDate) && checkErrEnd(startDate,stopDate) && !hasWriteAccess)">Gem</button>
            <input type="hidden" ng-model="hiddenForjob"/>
        </div>
</form>
