<div class="modal-header">
    <div class="clearfix">
        <h3 class="modal-title pull-left">{{advisName}}</h3>
        <help-text class="pull-right" data-key="advis_create" data-default-title="Opret advis"></help-text>
    </div>
</div>

<form name="createForm">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">

                <!--Modtager(e)-->
                <div class="form-group">
                    <select2-multiple-option id="role-receivers"
                                             label="Til modtager via rolle"
                                             placeholder="Vælg rolle(r)"
                                             options="receiverRoles"
                                             selected="preSelectedReceivers"
                                             ng-model="selectedReceivers"
                                             ng-disabled="!isEditable('ToRole')">
                    </select2-multiple-option>
                </div>

                <div class="form-group">
                    <label for="toExternal" class="control-label small">Til modtager via email</label>
                    <input id="toExternal" type="text" data-ng-disabled="!isEditable('ToEmail')" placeholder="Skriv email" class="form-control input-sm" data-ng-model="externalTo" ng-pattern="multipleEmailValidationRegex" data-element-type="adviceEmailToInput">
                </div>

                <!--CC('ere)-->
                <div class="form-group">
                    <select2-multiple-option id="role-ccs"
                                             label="CC modtager via rolle"
                                             placeholder="Vælg rolle(r)"
                                             options="receiverRoles"
                                             selected="preSelectedCCs"
                                             ng-model="selectedCCs"
                                             ng-disabled="!isEditable('CcRole')">
                    </select2-multiple-option>
                </div>

                <div class="form-group">
                    <div>
                        <label for="cc" class="control-label small">CC modtager via email</label>
                        <input id="cc" type="text" placeholder="Skriv email" class="form-control input-sm" data-ng-disabled="!isEditable('CcEmail')" data-ng-model="externalCC" data-element-type="adviceEmailCCToInput">
                    </div>
                </div>
            </div>

            <!--Afsendelsestype-->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="advisType" class="control-label small">Afsendelsestype <span class="text-danger">*</span></label>
                    <select-simple data-id="advisType"
                                   data-options="adviceTypeOptions"
                                   data-ng-model="adviceTypeData"
                                   data-ng-disabled="!isEditable()">
                    </select-simple>
                </div>

                    <!--Navn-->
                <div class="form-group has-feedback" ng-show="adviceTypeData.id == '1'">
                    <label class="control-label small" for="name">Navn</label>
                    <input type="text" class="form-control input-sm" name="name" id="name" placeholder="Navn" data-ng-model="name" data-ng-disabled="!isEditable('Name')">
                </div>

                <div class="form-group" ng-show="adviceTypeData.id == '1'">
                    <label for="adviceRepetition" class="control-label small">Gentagelse <span class="text-danger">*</span></label>
                    <select-simple data-id="adviceRepetition"
                                   data-options="adviceRepetitionOptions"
                                   data-ng-model="adviceRepetitionData"
                                   data-ng-disabled="!isEditable()">
                    </select-simple>
                </div>

                <!--Dato-->
                <div class="form-group" ng-show="adviceTypeData.id == '1'">
                    <label class="control-label small" for="fromDate">Fra dato <span class="text-danger">*</span></label>
                    <input id="fromDate" type="text" name="fromDate" placeholder="Dato" class="form-control input-sm" data-kendo-date-picker
                           data-k-options="datepickerOptions" data-ng-model="startDate" ng-change='checkDates(startDate,stopDate)' data-ng-disabled="!isEditable()" data-element-type="adviceStartDate">
                    <span>{{startDateErrMessage}}</span>
                </div>

                <!--Dato-->
                <div class="form-group" ng-show="adviceTypeData.id == '1'">
                    <label class="control-label small" for="toDate">Til dato</label>
                    <input id="toDate" type="text" name="toDate" placeholder="Stop dato" class="form-control input-sm" data-kendo-date-picker
                           data-k-options="datepickerOptions" data-ng-model="stopDate" ng-change='checkDates(startDate,stopDate)' data-ng-disabled="!isEditable('StopDate')" data-element-type="adviceEndDate">
                    <span>{{stopDateErrMessage}}</span>
                </div>
            </div>

            <!--Emne-->
            <div class="col-md-12">
                <div class="form-group has-feedback" data-show-errors>
                    <label class="control-label" for="name">Emne <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="subject" id="subject" data-element-type="adviceSubject" placeholder="Emne" required data-ng-model="subject" data-ng-disabled="!isEditable('Subject')">
                </div>
            </div>
        </div>

        <!--Email body-->
        <div class="form-group">
            <label for="contract-note" class="control-label">Email tekst</label>
            <textarea ui-tinymce="tinymceOptions" data-ng-model="emailBody" data-ng-disabled="!isEditable()"></textarea>
        </div>
    </div>

    <div class="modal-footer">
        <!--Send Advis-->
        <button type="button" class="btn btn-warning" ng-click="$dismiss()">Annuller</button>
        <button type="submit" class="btn btn-primary" ng-click="save()" data-element-type="adviceSaveButton" data-ng-disabled="hasInputErrors()">Gem</button>
        <button type="button" class="pull-left btn btn-primary" ng-click="deactivate()" data-ng-disabled="!isEditable('Deactivate')" ng-if="showDeactivate">Deaktiver</button>
    </div>
</form>