<div class="modal-header">
    <div class="clearfix">
        <h3 class="modal-title pull-left">Opret Advis</h3>
        <help-text class="pull-right" data-key="advis_create" data-default-title="Opret advis"></help-text>
    </div>
</div>

<form name="createForm">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <!--Modtager(e)-->
                <div class="form-group" data-ng-show="{{showRoleFields}}">
                    <label for="contract-note" class="control-label">Til</label>
                    <select-multiple-recievers data-id="agreement-elements"
                                               placeholder="Vælg modtagere"
                                               data-ng-model="selectedRecievers"
                                               data-roles="recieverRoles"
                                               data-field="elemId"
                                               data-ng-disabled="!hasWriteAccess">
                    </select-multiple-recievers>
                </div>

                <div class="form-group" data-ng-show="{{showRoleFields}}">
                    <a ng-model="collapsed" ng-click="collapsed = !collapsed"><div ng-show="!collapsed">Tilføj Email adresse manuelt</div><div ng-show="collapsed">Minimer</div></a>
                    <div ng-show="collapsed">
                        <input id="toExternal" type="email" name="toExternal" data-ng-disabled="hasWriteAccess" placeholder="eksempel@1234.dk" class="form-control" data-ng-model="externalTo">

                    </div>
                </div>

                <div class="form-group" data-ng-hide="{{showRoleFields}}">
                    <a ng-model="collapsed" ng-click="collapsed = !collapsed"><div ng-show="collapsed">Tilføj Email adresse manuelt</div><div ng-show="!collapsed">Minimer</div></a>
                    <div ng-show="!collapsed">
                        <input id="toExternal" type="email" name="toExternal" data-ng-disabled="hasWriteAccess" placeholder="eksempel@1234.dk" class="form-control" data-ng-model="externalTo">

                    </div>
                </div>

                <!--CC('ere)-->
                <div class="form-group" data-ng-show="{{showRoleFields}}">
                    <label for="contract-note" class="control-label small">CC</label>
                    <select-multiple-recievers data-id="agreement-elements"
                                               data-placeholder="Vælg CC"
                                               data-ng-model="selectedCC"
                                               data-roles="recieverRoles"
                                               data-users="recieverUsers"
                                               data-field="elemId"
                                               data-ng-disabled="!hasWriteAccess">
                    </select-multiple-recievers>
                </div>
                <div class="form-group">
                    <a ng-model="CCcollapsed" ng-click="CCcollapsed = !CCcollapsed"><div ng-show="CCcollapsed">Tilføj Email adresse manuelt</div><div ng-show="!CCcollapsed">Minimer</div></a>
                    <div ng-show="!CCcollapsed">
                        <input id="cc" type="text" placeholder="separer flere adresser med ," class="form-control" data-ng-disabled="hasWriteAccess" data-ng-model="externalCC">
                    </div>
                </div>

                <div class="form-group has-feedback" data-show-errors>
                    <!--Emne-->
                    <label class="control-label" for="name">Emne <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Emne" required data-ng-model="subject" data-ng-disabled="hasWriteAccess">
                    <!--span class="glyphicon form-control-feedback" data-ng-class="{ 'glyphicon-remove': createForm.subject.$invalid && createForm.subject.$dirty, 'glyphicon-ok': createForm.subject.$valid }"></!--span-->

                </div>



            </div>
            <div class="col-md-6">
                <div class="form-group has-feedback" data-show-errors>
                    <!--Navn-->
                    <label class="control-label" for="name">Navn</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Navn" data-ng-model="name" data-ng-disabled="hasWriteAccess">
                    <!--span class="glyphicon form-control-feedback" data-ng-class="{ 'glyphicon-remove': createForm.Name.$invalid && createForm.Name.$dirty, 'glyphicon-ok': createForm.Name.$valid }"></!--span-->

                </div>
                <div class="form-group">
                    <label for="contract-supplier" class="control-label">Gentagemønster </label>
                    <select class="form-control" data-id="sensitive" data-ng-disabled="hasWriteAccess"
                            data-ng-model="repitionPattern">
                        <option value="Hour">Time</option>
                        <option value="Day">Dag</option>
                        <option value="Week">Uge</option>
                        <option value="Month">Måned</option>
                        <option value="Year">År</option>
                    </select>
                </div>

                <!--Dato-->
                <div class="form-group">
                    <label class="control-label" for="date">Fra dato</label>
                    <input id="date" type="text" name="date" placeholder="Dato" class="form-control" data-kendo-date-picker
                           data-k-options="datepickerOptions" data-ng-model="startDate" ng-change='checkErrStart(startDate,stopDate)' data-ng-disabled="hasWriteAccess">
                    <span>{{startDateErrMessage}}</span>
                </div>

                <!--Dato-->
                <div class="form-group">
                    <label class="control-label" for="stopDate">Til Dato</label>
                    <input id="date" type="text" name="stopDate" placeholder="Stop dato" class="form-control" data-kendo-date-picker
                           data-k-options="datepickerOptions" data-ng-model="stopDate" ng-change='checkErrEnd(startDate,stopDate)' data-ng-disabled="hasWriteAccess">
                    <span>{{stopDateErrMessage}}</span>
                    <span>{{errMessage}}</span>
                </div>

            </div>

        </div>
        <!--Email body-->
        <div class="form-group">
            <label for="contract-note" class="control-label">Email body</label>
            <textarea ui-tinymce="tinymceOptions" data-ng-model="emailBody"></textarea>

        </div>
    </div>

        <div class="modal-footer">
            <!--Send Advis-->

                <button type="submit" class="pull-left btn btn-primary" ng-click="send()" ng-hide="hideSend" data-ng-disabled="!((externalTo || selectedRecievers.length > 0) && subject && !hasWriteAccess)">Send</button>

            <button type="button" class="btn btn-warning" ng-click="$dismiss()">Anuller</button>
            <button type="submit" class="btn btn-primary" ng-click="save()" data-ng-disabled="!((externalTo || selectedRecievers.length > 0) && subject && repitionPattern && stopDate &&  startDate && checkErrStart(startDate,stopDate) && checkErrEnd(startDate,stopDate) && !hasWriteAccess)">Gem</button>
            <input type="hidden" ng-model="hiddenForjob"/>
        </div>
</form>
