<!-- it system usage master sheet -->
<form role="form" class="container-fluid object-wrapper">
    <!-- Left menu -->
    <div class="col-xs-3 col-lg-2 left-menu-container">
        <div class="left-menu">
            <div class="header">
                <h3>IT System</h3>
            </div>
            <ul>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.usage.main"><img src="/Content/img/Systemforside.svg"></img> Systemforside</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.usage.interfaces"><img src="/Content/img/Snitflader.svg"></img> Udstillede snitflader</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.usage.relation"><img src="/Content/img/ITsystemer.svg"></img> Relationer</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.usage.contracts"><img src="/Content/img/Kontrakter.svg"></img> Kontrakter</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.usage.hierarchy"><img src="/Content/img/Hierarki.svg"></img> Hierarki</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.usage.roles"><img src="/Content/img/Systemroller.svg"></img> Systemroller</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.usage.wishes"><img src="/Content/img/Aendringsoenske.svg"></img> Ændringsønske</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.usage.org"><img src="/Content/img/Organisation.svg"></img> Organisation</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.usage.kle"><img src="/Content/img/KLE.svg"></img> Lokale KLE</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.usage.proj"><img src="/Content/img/ITprojekter.svg"></img> IT Projekter</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.usage.advice"><img src="/Content/img/Advis.svg"></img> Advis</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.usage.references"><img src="/Content/img/References.svg"></img> Lokale referencer</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.usage.access-control"><img src="/Content/img/Accesscontrol.svg"></img> Adgangsstyring</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.usage.archiving"><img src="/Content/img/Arkiv.svg"></img> Arkivering</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.usage.GDPR"><img src="/Content/img/folder-lock.svg"></img> GDPR</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-9 col-lg-10 object-content">
        <ui-view />
    </div>
</form>