<!-- it system usage master sheet -->
<form role="form" class="container-fluid">
    <!-- Left menu -->
    <div class="col-md-2">
        <div class="left-menu">
            <div class="header">
                <h3>IT System</h3>
            </div>
            <ul>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.usage.main"><i class="fa fa-pencil"></i> Projektforside</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.usage.interfaces"><i class="fa fa-pencil"></i> Snitflader</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.usage.contracts"><i class="fa fa-pencil"></i> Kontrakter</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.usage.hierarchy"><i class="fa fa-pencil"></i> Hierarki</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.usage.roles"><i class="fa fa-pencil"></i> Systemroller</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.usage.wishes"><i class="fa fa-pencil"></i> Ændringsønske</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.usage.org"><i class="fa fa-pencil"></i> Organisation</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.usage.kle"><i class="fa fa-pencil"></i> KLE</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="it-system.usage.proj"><i class="fa fa-pencil"></i> IT Projekter</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-10">
        <ui-view />
    </div>
</form>