<form class="form-horizontal fix-label-padding">
    <div class="row">
        <label class="col-xs-2 control-label" for="maingroup">Hovedgruppe:</label>
        <div class="col-xs-4">
            <select id="maingroup" class="form-control input-sm" data-ui-select2="{allowClear:true}" data-placeholder="Vælg hovedgruppe" data-ng-disabled="!hasWriteAccess" data-ng-model="selectedMaingroup" data-ng-change="maingroupChanged()">
                <option value=""></option>
                <option data-ng-repeat="task in maingroups" value="{{task.id}}">{{task.taskKey}} {{task.description}}</option>
            </select>
        </div>
       
        <label class="col-xs-1 control-label" for="group">Gruppe:</label>
        <div class="col-xs-4">
            <select id="group" class="form-control input-sm" data-ui-select2="{allowClear:true}" data-placeholder="Vælg gruppe" data-ng-model="selectedSubgroup" data-ng-disabled="!selectedMaingroup" data-ng-change="groupChanged()">
                <option value=""></option>
                <option data-ng-repeat="task in groups" value="{{task.id}}">{{task.taskKey}} {{task.description}}</option>
            </select>
        </div>
    </div>
</form>
